openapi: 3.2.0
info:
  description: The Enhanced Currency Conversion Calculator is a subscription-based service that provides access to Mastercard's daily currency conversion rates and historical currency conversion rates. Additionally, the API provides electronic access to European Central Bank (ECB) reference rates that European Economic Area (EEA) issuing customers may require for the purposes of compliance with EU Regulation 2019 / 518.
  version: 1.0.0
  title: Mastercard Enhanced Currency Conversion Calculator Rates API
  contact:
    name: API Support
    url: https://developer.mastercard.com/support
    email: apisupport@mastercard.com
servers:
- url: https://sandbox.api.mastercard.com/enhanced/settlement/currencyrate/subscribed
  description: Sandbox server
- url: https://api.mastercard.com/enhanced/settlement/currencyrate/subscribed
  description: Production server
tags:
- name: Rates
paths:
  /rate-statuses:
    get:
      tags:
      - Rates
      summary: isEcbMcRateIssued
      operationId: isEcbMcRateIssuedUsingGET
      description: Helps determine if the present days Mastercard and ECB conversion rates are available. Refer the Support section for more information on the Mastercard and ECB rate publication schedule.
      parameters:
      - name: request_date
        in: query
        description: Rate issued date (YYYY-mm-dd)
        required: false
        schema:
          type: string
        example: '2023-02-27'
      responses:
        '200':
          description: Rates status is successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnhancedSettlementRateIssuedWrapper'
        '400':
          description: Date format is invalid (Expected date format yyyy-MM-DD).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                BadRequestResponse:
                  $ref: '#/components/examples/BadRequestResponse'
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UnauthorizedResponse:
                  $ref: '#/components/examples/UnauthorizedResponse'
        '403':
          description: 'Mastercard and ECB rates are not accessible for selected date '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RateIssuedForbiddenResponse:
                  $ref: '#/components/examples/RateIssuedForbiddenResponse'
        '404':
          description: Rates are not available for selected date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RateIssuedNotFoundResponse:
                  $ref: '#/components/examples/RateIssuedNotFoundResponse'
components:
  examples:
    RateIssuedNotFoundResponse:
      value:
        Errors:
          Error:
          - Source: Enhanced Currency Conversion Calculator
            ReasonCode: NOT_FOUND
            Description: Data not available
            Recoverable: false
            Details: Rate issuance for future date not supported.
    RateIssuedForbiddenResponse:
      value:
        Errors:
          Error:
          - Source: Enhanced Currency Conversion Calculator
            ReasonCode: FORBIDDEN
            Description: Data is not accesssible
            Recoverable: false
            Details: Rate issuance for requested date not supported - Please use a date within the last 365 days inclusive of current day.
    BadRequestResponse:
      value:
        Errors:
          Error:
          - Source: Enhanced Currency Conversion Calculator
            ReasonCode: BAD_REQUEST
            Description: Invalid input
            Recoverable: false
            Details: Date format is invalid (Expected date format yyyy-MM-dd)
    UnauthorizedResponse:
      value:
        Errors:
          Error:
          - Source: Enhanced Currency Conversion Calculator
            ReasonCode: UNAUTHORIZED
            Description: Invalid Client ID
            Recoverable: false
            Details: You do not have access to this service. Please visit the Enhanced Currency Conversion Calculator page for details.
  schemas:
    ErrorResponse:
      type: object
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    Errors:
      type: object
      required:
      - Error
      properties:
        Error:
          type: array
          description: if an errorhas occurred
          items:
            $ref: '#/components/schemas/EcbError'
    EnhancedSettlementRateIssuedWrapper:
      type: object
      properties:
        name:
          type: string
          description: The name of the service being requested
          example: mastercard-and-ecb-rate-status-service
        description:
          type: string
          description: The description of the API being called
          example: Determine if mastercard and ecb conversion rates are issued for the given date
        requestDate:
          type: string
          description: The date and time the API is being called in GMT
          example: '2019-11-17T00:00:00.000Z'
        data:
          $ref: '#/components/schemas/EnhancedSettlementRateIssued'
    EcbMcRateIssued:
      type: object
      properties:
        message:
          type: string
          description: User friendly message (if applicable)
          example: Rate issuance for requested date not supported.  Resubmit for a non-weekend or non-holiday date.
        reasonCode:
          type: string
          description: User friendly reason code (if applicable)
          example: NOT_AVAILABLE
        status:
          type: string
          description: Provides rate status as yes/No
          example: 'yes'
    EnhancedSettlementRateIssued:
      type: object
      properties:
        rateDate:
          type: string
          description: The date of the requested rates
          example: '2021-02-16T00:00:00.000Z'
        mastercardRateIssued:
          $ref: '#/components/schemas/EcbMcRateIssued'
        ecbRateIssued:
          $ref: '#/components/schemas/EcbMcRateIssued'
    EcbError:
      type: object
      properties:
        Description:
          type: string
          description: Short description of the ReasonCode field.
          example: Not Found
        Details:
          type: string
          description: Where appropriate, indicates detailed information about data received and calculated during request processing, to help the user with diagnosing errors.
          example: Mastercard and ECB rates are not available for this date. Resubmit for a date within the last 365 days inclusive of current day.
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during transaction processing. For example, INVALID_SIGNATURE is used when the request signature does not match the expected one.
          example: NOT_FOUND
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome. For example, if the request contains an invalid   signature, retrying will never result in a success. However, if the error is related to some unexpected timeout with the service, retrying the call could result in a successful response.
          example: false
        Source:
          type: string
          description: The name of the application that generated this error
          example: Gateway
