openapi: 3.2.0
info:
  title: Mastercard Users API
  version: '1.0'
  description: 'Operations tagged Users across 4 of this provider''s published API definitions: mastercard-authentication-consent-openapi.yml, mastercard-id-for-trust-providers-openapi.yml, mastercard-in-control-for-mobile-payments-openapi.yml, mastercard-user-account-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mtf.api.identity.mastercard.co.in/aes
  description: India MTF server
- url: https://mtf.api.identity.mastercard.com/aes
  description: Global MTF server
- url: https://api.identity.mastercard.co.in/aes
  description: India Production server
- url: https://api.identity.mastercard.com/aes
  description: Global Production server
- url: https://api.mastercard.com/idservice
  description: Production server (uses USA live data).
- url: https://sandbox.api.mastercard.com/idservice
  description: Sandbox server (testing USA environment).
- url: https://api.mastercard.com.au/idservice
  description: Production server  (uses AUS live data).
- url: https://sandbox.api.mastercard.com.au/idservice
  description: Sandbox server (testing AUS environment).
- url: https://apiedge.mastercard.com/commercial
  description: Production Server
- url: https://mtf.apiedge.mastercard.com/commercial
  description: Sandbox Server
- url: https://sandbox.api.mastercard.com/loyalty/mrs
  description: Sandbox server
- url: https://api.mastercard.com/loyalty/mrs
  description: Production server
tags:
- name: Users
paths:
  /user-consents/{user_consent_id}:
    delete:
      operationId: revokeUserConsentById
      summary: Revoke user consent using an identifier
      description: A merchant/PSP can use this API to revoke the user consent for a user consent identifier (user_consent_id). Once the user consent is revoked (deleted), it will not be available via Retrieve User-Consent request.
      tags:
      - Users
      responses:
        '204':
          $ref: '#/components/responses/DeleteConsentsSuccess'
        '400':
          $ref: '#/components/responses/DeleteConsentsBadRequestError'
        '401':
          $ref: '#/components/responses/UnAuthorizedMerchantError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
      parameters:
      - $ref: '#/components/parameters/user_consent_id'
    get:
      operationId: getUserConsentById
      summary: Retrieve user consent by an identifier
      description: Retrieve the user consent by an identifier. A Merchants/PSP can use this API to check whether the user consent for the user_consent_id exist or not.
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/user_consent_id'
      responses:
        '200':
          $ref: '#/components/responses/GetConsentsSuccess'
        '400':
          $ref: '#/components/responses/GetConsentsBadRequestError'
        '401':
          $ref: '#/components/responses/UnAuthorizedMerchantError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
    servers:
    - url: https://mtf.api.identity.mastercard.co.in/aes
      description: India MTF server
    - url: https://mtf.api.identity.mastercard.com/aes
      description: Global MTF server
    - url: https://api.identity.mastercard.co.in/aes
      description: India Production server
    - url: https://api.identity.mastercard.com/aes
      description: Global Production server
  /user-profiles/identity-searches:
    post:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/IdentitySearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: "Retrieve decrypted identities along with rotated PDS to present the user\nwith the registered identity in the TP app. Does not require a minimum authentication standard.   \n**This API is mandatory.**\n"
      summary: View an Identity
      operationId: retrieveIdentities
      parameters:
      - $ref: '#/components/parameters/XUserIdentityParameter'
      - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/IdentitySearchRequest'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /user-profiles:
    post:
      tags:
      - Users
      responses:
        '201':
          $ref: '#/components/responses/UserProfilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
      description: "- This endpoint registers a user profile using the given\n`user profile ID`.\n\n- An error will be returned if the user profile already exists.   \n**This API is mandatory.**\n"
      summary: Create a new user.
      operationId: createUserProfile
      requestBody:
        $ref: '#/components/requestBodies/UserProfilesRequest'
    delete:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/UserProfilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: "Enable TP app to mark user account as deleted on Mastercard ID Network. Requires GPA authentication.   \n**This API is mandatory.**\n"
      summary: Delete an Identity.
      operationId: deleteUserProfile
      parameters:
      - $ref: '#/components/parameters/UserProfileIdParameter'
      - $ref: '#/components/parameters/UserConsentParameter'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /user-profiles/identity-attribute-deletions:
    post:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/IdentityAttributeDeletionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: "Delete an identity attribute from a PDS and update the affected assurance levels. Requires GPA authentication.   \n**This API is mandatory.**\n"
      summary: Delete Document.
      operationId: deleteIdentityAttribute
      parameters:
      - $ref: '#/components/parameters/XUserIdentityParameter'
      - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/IdentityAttributeDeletionsRequest'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /user-account-activity-searches:
    post:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/UserAccountActivitySearchesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: 'Retrieve decrypted user activities and present them to the user in the

        TP app. Does not require a minimum authentication standard.

        **This API is mandatory.**

        '
      summary: View identity lifecycle activities which have occurred in a time period.
      operationId: retrieveUserActivities
      parameters:
      - $ref: '#/components/parameters/XUserIdentityParameter'
      - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/UserAccountActivitySearchRequest'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /claims/user-data-extractions:
    post:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/RPClaimsDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorClaimSharing'
        '404':
          $ref: '#/components/responses/NotFoundErrorClaimSharing'
      description: 'Returns the user information from the PDS that is requested by the

        Relying Party based on the ARID. Does not require a minimum authentication standard.

        **This API is mandatory.**

        '
      summary: Share an Identity with an External RP - Provide the PDS to enable ID for TP to determine if these satisfy an RPs scope request.
      operationId: extractClaimsUserData
      parameters:
      - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/RPClaimsDataRequestData'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /claims/user-consents:
    post:
      tags:
      - Users
      responses:
        '200':
          $ref: '#/components/responses/UserConsentResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorClaimSharing'
        '404':
          $ref: '#/components/responses/NotFoundErrorClaimSharing'
      description: "Inform the Trust Party about the user consent. If the consent is given,\nthe identity attributes will be shared with Relying Party. Does not require a minimum authentication standard. \n**This API is mandatory.**\n"
      summary: Share an Identity with an External RP - Provide consent to share the identity attributes which satisfy an RPs scope request.
      operationId: getUserConsentStatus
      requestBody:
        $ref: '#/components/requestBodies/UserConsentRequest'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /users:
    post:
      tags:
      - Users
      summary: Register a new user
      description: This endpoint allows users to register a new user
      operationId: Users
      requestBody:
        $ref: '#/components/requestBodies/User'
      responses:
        '201':
          $ref: '#/components/responses/ResourceIdentifier'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    put:
      tags:
      - Users
      summary: 'Updates personal information for currently enrolled users (cardholders), including their name, contact information, security question, and more.

        '
      description: Updates the existing user's demographic information.
      operationId: updateUser
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        '200':
          $ref: '#/components/responses/UserUpdateResponse'
        '400':
          $ref: '#/components/responses/ErrorsResponse'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{user_guid}/virtual-card-accounts:
    get:
      tags:
      - Users
      summary: Retrieve a list of all virtual cards linked to a user
      description: This endpoint allows users to retrieve a list of all virtual cards linked to a user
      operationId: findVcnCardsByUser
      parameters:
      - $ref: '#/components/parameters/userGUID'
      responses:
        '200':
          $ref: '#/components/responses/VirtualCards'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    post:
      parameters:
      - $ref: '#/components/parameters/userGUID'
      tags:
      - Users
      summary: Register a virtual card linked to a user
      description: This endpoint allows users to register a virtual card linked to a user
      operationId: createVirtualCardWithControls
      requestBody:
        $ref: '#/components/requestBodies/NewVirtualCard'
      responses:
        '201':
          $ref: '#/components/responses/ResourceCreated'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{user_guid}/virtual-card-accounts/{account_guid}:
    get:
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      tags:
      - Users
      summary: Retrieve virtual card account details linked to a user
      description: This endpoint allows users to retrieve virtual card account details linked to a user
      operationId: findVcnCardByUser
      responses:
        '200':
          $ref: '#/components/responses/VirtualCard'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    put:
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      tags:
      - Users
      summary: Update virtual card account details linked to a user
      description: This endpoint allows users to update virtual card account details linked to a user
      operationId: updateUserCardAndControls
      requestBody:
        $ref: '#/components/requestBodies/UpdatedVirtualCard'
      responses:
        '200':
          $ref: '#/components/responses/OKResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    delete:
      tags:
      - Users
      summary: Delete a virtual card account linked to a user
      description: This endpoint allows users to delete a virtual card account linked to a user
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      operationId: deleteUserVirtualCard
      responses:
        '204':
          $ref: '#/components/responses/NOContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{user_guid}:
    get:
      tags:
      - Users
      summary: Retrieve user details
      description: This endpoint allows users to retrieve details of a particular user
      operationId: getUserById
      parameters:
      - $ref: '#/components/parameters/userGUID'
      responses:
        '200':
          $ref: '#/components/responses/User'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    put:
      tags:
      - Users
      summary: Update a user
      description: This endpoint allows users to update details of a particular user
      operationId: updateUserById
      parameters:
      - $ref: '#/components/parameters/userGUID'
      requestBody:
        $ref: '#/components/requestBodies/User'
      responses:
        '200':
          $ref: '#/components/responses/OKResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    delete:
      tags:
      - Users
      summary: Delete a user
      description: This endpoint allows users to delete a particular user
      parameters:
      - $ref: '#/components/parameters/userGUID'
      operationId: deleteUser
      responses:
        '204':
          $ref: '#/components/responses/NOContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{user_guid}/virtual-card-accounts/{account_guid}/tokens:
    post:
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      tags:
      - Users
      summary: Register a token linked to a user and a virtual card
      description: This endpoint allows users to register a token linked to a user and a virtual card
      operationId: TokenCreate
      requestBody:
        $ref: '#/components/requestBodies/NewToken'
      responses:
        '201':
          $ref: '#/components/responses/ResourceCreated'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{user_guid}/virtual-card-accounts/{account_guid}/tokens/{token_guid}:
    get:
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      - $ref: '#/components/parameters/tokenGUID'
      tags:
      - Users
      summary: Retrieve token details linked to a user and a virtual card
      description: This endpoint allows users to retrieve token details linked to a user and a virtual card
      operationId: getTokenById
      responses:
        '200':
          $ref: '#/components/responses/Token'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    put:
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      - $ref: '#/components/parameters/tokenGUID'
      summary: Update a token linked to a user and a virtual card
      description: This endpoint allows users to update a token linked to a user and a virtual card
      operationId: updateTokenById
      requestBody:
        $ref: '#/components/requestBodies/UpdatedToken'
      responses:
        '200':
          $ref: '#/components/responses/OKResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    delete:
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/userGUID'
      - $ref: '#/components/parameters/accountGUID'
      - $ref: '#/components/parameters/tokenGUID'
      summary: Delete a token linked to a user and a virtual card
      description: This endpoint allows users to delete a token linked to a user and a virtual card
      operationId: deleteTokenById
      responses:
        '204':
          $ref: '#/components/responses/NOContentResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError_2'
    servers:
    - url: https://apiedge.mastercard.com/commercial
      description: Production Server
    - url: https://mtf.apiedge.mastercard.com/commercial
      description: Sandbox Server
  /users/{id}/verifications:
    post:
      tags:
      - Users
      summary: Verifies user
      description: Verify user based on answers to the security questions.
      operationId: verifyUser
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/VerifyUsersIdType'
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/VerifyUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/VerifyUserResponse'
        '400':
          $ref: '#/components/responses/ErrorsResponse'
    servers:
    - url: https://sandbox.api.mastercard.com/loyalty/mrs
      description: Sandbox server
    - url: https://api.mastercard.com/loyalty/mrs
      description: Production server
  /users/{id}:
    get:
      tags:
      - Users
      summary: 'Retrieves a cardholder''s information, including their name, address, communication preferences, and more.

        Users are unique cardholders, as compared to Accounts that are unique cards. Each User can have multiple Accounts.'
      description: Retrieves Cardholder information.
      operationId: getUser
      parameters:
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/UsersIdType'
      - $ref: '#/components/parameters/IncludeVerificationDetails'
      - $ref: '#/components/parameters/Language'
      responses:
        '200':
          $ref: '#/components/responses/UserDetailsResponse'
        '400':
          $ref: '#/components/responses/ErrorsResponse'
    servers:
    - url: https://sandbox.api.mastercard.com/loyalty/mrs
      description: Sandbox server
    - url: https://api.mastercard.com/loyalty/mrs
      description: Production server
components:
  parameters:
    user_consent_id:
      in: path
      name: user_consent_id
      required: true
      schema:
        type: string
        minLength: 36
        maxLength: 36
      description: User Consent Identifier
      example: 2c0743c0-fe6a-41a6-88c4-2c94786fb9c2
    XEncryptedPayload:
      in: header
      name: X-Encrypted-Payload
      type: boolean
      description: 'An indicator that the request is encrypted or indicates that the client is able to receive an encrypted response. If not set, the payload will be treated as plaintext.

        '
      example: true
      schema: null
    UserProfileIdParameter:
      name: user_profile_id
      in: query
      description: UUID identifying the user, which the TP App generates using the MIDS Core SDK.
      example: ee13a7ec-5a5a-4618-a55d-5e1ed016ccd5
      required: true
      schema:
        type: string
        pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
    XUserIdentityParameter:
      in: header
      name: X-User-Identity
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      description: 'JWT token for session validation. Returned as response header in previous API calls with key X-User-Identity.

        '
      schema:
        type: string
    UserConsentParameter:
      name: user_consent
      in: query
      description: Confirmation provided by the TP that the user has consented that the ID-Network can have access to their identity for the purposes of the API call. Should be ACCEPT, a forbidden exception will be thrown if it is any other value.
      example: ACCEPT
      required: true
      schema:
        type: string
        pattern: ^(ACCEPT|DECLINE|REVOKE|EXPIRE)$
    accountGUID:
      name: account_guid
      in: path
      description: The globally unique identifier of the card being queried
      required: true
      schema:
        $ref: '#/components/schemas/ResourceIdentifier'
      example: 8f242496-b71a-11eb-8529-0242ac130003
    tokenGUID:
      name: token_guid
      in: path
      description: The globally unique identifier of the token being queried
      required: true
      schema:
        $ref: '#/components/schemas/ResourceIdentifier'
      example: 8f242496-b71a-11eb-8529-0242ac130003
    userGUID:
      name: user_guid
      in: path
      description: The globally unique identifier of the user being queried
      required: true
      schema:
        $ref: '#/components/schemas/ResourceIdentifier'
      example: 8f242496-b71a-11eb-8529-0242ac130003
    UserId:
      name: id
      in: path
      description: The unique identifier for the given user.
      required: true
      schema:
        type: string
      example: '268810378058708149455458707247'
    VerifyUsersIdType:
      name: user_id_type
      in: query
      description: Determines the type of user or account identification. Supported identifiers are RANAC or RANCU.
      required: true
      schema:
        type: string
      example: RANCU
    IncludeVerificationDetails:
      name: include_verification_details
      in: query
      description: Cardholder verification details are included in the response if true.
      required: false
      schema:
        type: boolean
      example: true
    Language:
      name: language
      in: query
      description: Cardholder verification details are returned in the language requested.
      required: false
      schema:
        type: string
      example: en_US
    UsersIdType:
      name: user_id_type
      in: query
      description: Determines the type of user or account identification. Supported identifiers are RANAC or RANCU.
      required: false
      schema:
        type: string
      example: RANCU
  schemas:
    Error:
      type: object
      required:
      - Source
      - ReasonCode
      - Recoverable
      properties:
        Source:
          type: string
          description: The application that generated this error. <br>Possible values = GATEWAY/AUTHENTICATION_CONSENT_SERVICE
          example: AUTHENTICATION_CONSENT_SERVICE
          minLength: 1
          maxLength: 50
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during transaction processing
          example: resource.not.found
          minLength: 1
          maxLength: 100
        Description:
          type: string
          description: Description of the 'ReasonCode' field with additional details
          example: The requested resource does not exist
          minLength: 0
          maxLength: 500
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying with same value could change the outcome. For example, if the request contains an invalid signature, retrying will never result in a success. However, if the error is related to some unexpected timeout with the service, retrying the call could result in a successful response.
          example: false
        Details:
          type: string
          description: Could be null, present for backwards compatibility or extra information
          example: The provided acctNumber did not pass the Mod10 validation
          minLength: 0
          maxLength: 500
    ErrorResponse:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          properties:
            Error:
              $ref: '#/components/schemas/Errors'
    Errors:
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/Error'
    UserConsent:
      type: object
      description: The user consent resource
      required:
      - userConsentId
      - consentLanguageId
      - consentedDate
      properties:
        userConsentId:
          type: string
          description: User consent Identifier, generated at the time of store consent API to track the user consents.
          example: 2c0743c0-fe6a-41a6-88c4-2c94786fb9c2
          minLength: 36
          maxLength: 36
        consentLanguageId:
          type: string
          description: Unique Id for a specific consent language text. This Id will be available through GET consent-languages API.
          example: 75c4f996-1910-420f-b82b-fcc3e5196b99
          minLength: 36
          maxLength: 36
        consentedDate:
          type: string
          format: YYYYMMDDHHMMSS
          description: Consented date (in UTC) at which the user is consented.
          example: '20200223000001'
          minLength: 14
          maxLength: 14
    ErrorResponse_2:
      required:
      - Errors
      type: object
      description: The error response model used by all the API endpoints.
      properties:
        Errors:
          required:
          - Error
          type: object
          description: The error response model used by all the API endpoints.
          properties:
            Error:
              type: array
              description: A list of Error objects.
              minItems: 1
              items:
                type: object
                properties:
                  Source:
                    type: string
                    description: The source of the problem. That is where the error occurred.
                    example: mids
                  ReasonCode:
                    type: string
                    description: A code defining the error, as defined in documentation.
                    example: USER_PROFILE_ID_NOT_FOUND
                  Description:
                    type: string
                    description: A description of this specific occurrence of the Reason code.
                    example: The provided user profile ID does not exist.
                  Recoverable:
                    type: boolean
                    description: Whether or not retrying this request could result in a successful response.
                    example: false
                  Details:
                    type: string
                    description: More details of this specific error. This is an optional field and is sometimes used to give a more comprehensive description of the error that has occurred, when required.
                    example: User X was not found
                  redirectUri:
                    type: string
                    description: TP will use this URI to redirect to RP.
                    pattern: ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
                    example: https://sample-rp-redirect-uri.com/?error=invalid_scope&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w&ARID=1234&error_description=claim_not_satisfied
    GovtIdImage:
      oneOf:
      - $ref: '#/components/schemas/PassportImage'
      - $ref: '#/components/schemas/DriverLicenseImage'
    ClientIdentities:
      required:
      - attributes
      type: object
      properties:
        rotatedPds:
          type: string
          description: A rotated PDS is created and returned when the encryption key expires and a new key is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
        attributes:
          $ref: '#/components/schemas/IdentityAttributesByName'
    ClaimsData:
      type: object
      properties:
        dataMatch:
          type: string
          description: The overall data match the status result of the claim sharing request. Possible values are FULL or PARTIAL.
          minLength: 4
          maxLength: 7
          example: FULL
        claimsAttributes:
          type: object
          description: An object that represents the claims data.
          example:
            claims:
              legalName: John
            dataMatch: FULL
          additionalProperties:
            $ref: '#/components/schemas/Scopes'
    CountryCode:
      type: string
      description: The country code of the country where the transaction originates from.
      pattern: ^[a-zA-Z]{2}$
      example: US
    IdentitySearch:
      required:
      - pds
      - scopedFields
      - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent_2'
        scopedFields:
          type: array
          description: 'Array of enums representing the identity attributes which the TP is requesting access to.

            The acceptable values are any/all of: ''all'', ''legalName'', ''email'', ''phone'', ''dateOfBirth'', ''driverLicense'', ''passport'', ''address''

            '
          minItems: 1
          items:
            enum:
            - all - legalName - email - phone - dateOfBirth - selfie - address - ageOver - ageUnder - city - postalCode - subDivision - govtId - govtIdDetails - govtIdImage - passportIdentity - passportDetails - passportImage - driverLicenseIdentity - driverLicenseCardNumber - driverLicenseDetails - driverLicenseImage - driverLicenseIssuingState - visaMatched - cpf - rgNumber - cnh - mothersName - fathersName
            type: string
            example: all
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    IdentityAttributeDeletions:
      required:
      - pds
      - attributeName
      - userConsent
      - attributeId
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent_2'
        attributeName:
          type: string
          description: The name of the attribute to be deleted.
          enum:
          - PASSPORT
          - DRIVER_LICENSE
          example: PASSPORT
        attributeId:
          type: string
          description: The identifier of the attribute being queried. This can be retrieved from a call to either the authentication-decisions API, or the user-profiles/identity-searches API.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 1
          example: cf11bb8d-b1b1-49c7-90ed-c63134cd1008
        sdkAuditEvents:
          type: array
          description: Array of objects containing a record of any auditable steps occurring between the App and the SDK. A call must be made by the TP App from the MIDS Audit SDK prior to all API calls, with any audit events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    AuditEventsItem:
      type: object
      properties:
        dateTime:
          type: string
          description: Date and time at which the event is created.
          minLength: 1
          maxLength: 29
          example: '2020-01-28T13:16:01.714-05:00'
        softwareVersion:
          type: string
          description: Software version.
          minLength: 1
          maxLength: 30
          example: 1.0.0
        userProfileId:
          type: string
          description: UUID identifying the user, which the TP App generates using the MIDS Core SDK.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: df52649e-4096-456a-bca0-751ee470009f
        sessionId:
          type: string
          description: UUID which uniquely identifies a set of transactions being executed within the same authentication session.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: 123ae1aa-6744-433e-879d-7da48d631234
        transactionGroupId:
          type: string
          description: UUID which uniquely identifies a set of transactions being executed within a single use-case.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: 28eae1aa-6744-433e-879d-7da48d63e89a
        logRequestFlow:
          type: string
          description: Log Request Flow.
          minLength: 1
          maxLength: 255
          example: CoreSDK-TP
        logEvent:
          type: string
          description: Log Event.
          minLength: 0
          maxLength: 255
          example: ID Enrollment
        logEventType:
          type: string
          description: Log Event Type.
          minLength: 1
          maxLength: 255
          example: User Profile Creation
        osVersion:
          type: string
          description: OS version.
          minLength: 1
          maxLength: 255
          example: Android 5.0
        deviceMake:
          type: string
          description: Device make.
          minLength: 1
          maxLength: 255
          example: Samsung S10
        type:
          type: string
          description: Type of the event.
          minLength: 1
          maxLength: 255
          example: audit
        audit:
          type: object
          description: Represents the audit event.
          properties:
            privacyPolicy:
              type: string
              description: Version user confirmed.
              minLength: 1
              maxLength: 20
              example: 1.0.0
            userBiometricConsent:
              type: string
              description: User consent to capture details.
              enum:
              - 'TRUE'
              - 'FALSE'
              - NA
              minLength: 4
              maxLength: 5
              example: 'TRUE'
            event:
              type: string
              description: Event.
              minLength: 1
              maxLength: 255
              example: Document Scan
            eventType:
              type: string
              description: EventType.
              minLength: 1
              maxLength: 255
              example: Enrollment
            result:
              type: string
              description: API Call result.
              enum:
              - 'TRUE'
              - 'FALSE'
              - FAIL
              minLength: 4
              maxLength: 5
              example: 'TRUE'
            eventGeneratedSource:
              type: string
              description: Event generated source.
              minLength: 1
              maxLength: 50
              example: CoreSDK
            owner:
              type: string
              description: Owner.
              minLength: 2
              maxLength: 4
              example: TP
            requestDetails:
              type: object
              description: Request Details.
              example: Request URL
            responseDetails:
              type: object
              description: Response Details.
              example: Response Data
    UserAccountActivityItemContents:
      required:
      - value
      properties:
        attributeName:
          type: string
          description: Name of the updated attribute.
          minLength: 1
          maxLength: 255
          example: legalName
        previousValue:
          type: string
          description: Value before the update.
          minLength: 1
          maxLength: 255
          example: John Doe
        value:
          type: string
          description: Value after the update.
          minLength: 1
          maxLength: 255
          example: John Dow
        source:
          type: string
          description: The source document for the update.
          minLength: 1
          maxLength: 29
          example: passport
    IdentityAttributesByName:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IdentityAttributesById'
      description: Identity attributes keyed by IdentitySearch.scopedFields enum.
      minLength: 1
      example:
        dateOfBirth:
          e95b7c68-ebcb-4a88-9978-c33d78cde128:
            value: '1980-01-01'
            lastVerifiedDate: '2022-04-04T02:49:27.915Z'
    DriverLicenseImage:
      type: object
      description: Driver License Images.
      properties:
        front:
          type: string
          description: Value.
          minLength: 1
          example: U29tZSBTdHJpbmc=
        back:
          type: string
          description: Value.
          minLength: 1
          example: YGS75JHSljhs86K=
    Cnh:
      allOf:
      - $ref: '#/components/schemas/DriverLicenseCardNumber'
    AddressData:
      type: object
      properties:
        addressLine1:
          type: string
          description: Address line 1.
          minLength: 1
          maxLength: 255
          example: 36271 GrandRiver Ave
        addressLine2:
          type: string
          description: Address line 2.
          minLength: 1
          maxLength: 255
          example: Building no 2
        addressZipCode:
          type: string
          description: Zip code.
          minLength: 1
          maxLength: 255
          example: 48335
        addressCity:
          type: string
          description: City.
          minLength: 1
          maxLength: 255
          example: Farmington
        addressSubdivision:
          type: string
          description: Subdivision of the user address, possible values include county, state, province, and municipality.
          minLength: 2
          maxLength: 2
          example: MO
        addressCountry:
          type: string
          description: Country provided in the address from the scanned document.
          minLength: 1
          maxLength: 255
          example: USA
    Cpf:
      type: string
      description: CPF Number. This will only be available when the Brazilian DL is scanned.
      minLength: 1
      maxLength: 255
      example: 12345
    Locale:
      type: string
      description: IETF BCP 47 code which identifies the language to be used in any dialogs being shown to the user during the flow.  The default value is "en-US".
      pattern: ^[a-z]{2}-[a-zA-Z]{2}$
      example: en-US
    UserAccountActivities:
      required:
      - userAccountActivities
      properties:
        userAccountActivities:
          type: array
          description: User account activity items.
          items:
            $ref: '#/components/schemas/UserAccountActivityItems'
        rotatedPds:
          type: string
          description: A rotated PDS is created and returned when the encryption key expires and a new one is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    DriverLicenseCardNumber:
      type: string
      description: Document number.
      minLength: 1
      maxLength: 255
      example: 7435675436
    Address:
      required:
      - lastVerifiedDate
      allOf:
      - $ref: '#/components/schemas/AddressData'
      - type: object
        properties:
          value:
            type: string
            description: Formatted address.
            minLength: 1
            maxLength: 255
            example: 36271 GrandRiver Ave Building no 2 48335 Farmington MI USA
          lastVerifiedDate:
            type: string
            description: Last verified date and time.
            format: date-time
            example: '2021-02-19T10:55:58.165Z'
    DriverLicenseIdentity:
      type: object
      properties:
        lastName:
          type: string
          description: Last name.
          minLength: 1
          maxLength: 255
          example: Doe
        firstName:
          type: string
          description: First name.
          minLength: 1
          maxLength: 255
          example: John
        dateOfBirth:
          type: string
          description: Date of birth.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
    Selfie:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          example: U29tZSBTdHJpbmc=
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    IdentityAttributesById:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IdentityAttribute'
      description: Identity attributes are keyed by attribute IDs.
      minLength: 1
    UserAccountActivitySearch:
      required:
      - pds
      - startIndex
      - endIndex
      - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        startIndex:
          type: integer
          description: Start index of the user account activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 3
        endIndex:
          type: integer
          description: End index of the user account activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        userConsent:
          $ref: '#/components/schemas/UserConsent_2'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    GovtId:
      oneOf:
      - $ref: '#/components/schemas/PassportIdentity'
      - $ref: '#/components/schemas/DriverLicenseIdentity'
    DateOfBirth:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: '1996-07-10T00:00:00.000Z'
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    Scopes:
      type: object
      description: An object that represents a list of requested scopes and values.
      properties:
        claims:
          type: object
          description: The keys will be the scopes that come as part of the request and the data structure will be the data object named after the key.
          example:
            legalName: John
          additionalProperties:
            type: string
        dataMatch:
          description: The data match the status result of the individual scope.
          type: string
          minLength: 4
          maxLength: 7
          example: FULL
    TpAuditMetadata:
      required:
      - sessionId
      - transactionGroupId
      type: object
      description: Object containing metadata related to the request.
      properties:
        sessionId:
          type: string
          description: UUID which uniquely identifies a set of transactions being executed within the same authentication session.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: be3ad617-04ad-43e1-a438-79425b6511b6
        transactionGroupId:
          type: string
          description: UUID which uniquely identifies a set of transactions being executed within a single use-case.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: be3ad617-04ad-43e1-a438-79425b6511b6
    UserConsent_2:
      enum:
      - ACCEPT
      - DECLINE
      - REVOKE
      - EXPIRE
      type: string
      description: Confirmation provided by the TP that the user has consented that the ID-Network can have access to their identity for the purposes of the API call. Should be ACCEPT, a forbidden exception will be thrown if it is any other value.
      pattern: ^(ACCEPT|DECLINE|REVOKE|EXPIRE)$
      minLength: 6
      maxLength: 7
      example: ACCEPT
    RPClaimsUserData:
      required:
      - transactionId
      - rpName
      - rpLogoUrl
      - claimsData
      type: object
      properties:
        transactionId:
          type: string
          description: A random 128-bit. UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        rpName:
          type: string
          description: The display name of the RP.
          minLength: 1
          maxLength: 255
          example: RP Name
        rpLogoUrl:
          type: string
          description: The URL of the logo of the RP.
          pattern: ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
          minLength: 1
          example: https://www.rpsite.com/logo.jpg
        claimsData:
          $ref: '#/components/schemas/ClaimsData'
        redirectUri:
          type: string
          description: TP will use this URI to redirect to RP.
          pattern: ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
          minLength: 1
          example: https://sample-rp-redirect-uri.com/?error=invalid_scope&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w&ARID=1234&error_description=claim_not_satisfied
        rotatedPds:
          type: string
          description: A rotated PDS is created and returned when the encryption key expires and a new key is generated.
          minLength: 1
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          example: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    SdkVersion:
      type: string
      description: Mastercard SDK version integrated with TP App, it is a constant extracted from MIDS SDK Configurations (generated while bundling SDK artifacts). If the TP app supports split PDS, this attribute MUST be specified.
      pattern: ^[0-9]{1,5}\.[0-9]{1,5}\.[0-9]{1,5}$
      minLength: 5
      maxLength: 255
      example: 2.3.0
    VisaMatched:
      type: boolean
      description: Flag indicating if the documentDetails are to be checked against a visa for a particular country.
      example: false
    PDS:
      type: string
      description: Encrypted Personal Device Storage (PDS) which hosts the users identity attributes. The PDS can be retrieved from the MIDS Core SDK, please refer to the SDK guide for details on how to retrieve this.
      pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
      minLength: 1
      example: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    PassportImage:
      type: object
      description: Passport License Images.
      properties:
        front:
          type: string
          description: Value.
          minLength: 1
          example: JH65ghKHG76KS=
    IdentityAttributeDeleted:
      required:
      - pds
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
    RPClaimsUserConsent:
      required:
      - arid
      - userConsent
      - pds
      type: object
      properties:
        arid:
          $ref: '#/components/schemas/ARID'
        userConsent:
          type: string
          enum:
          - ACCEPT
          - DECLINE
          pattern: ^(ACCEPT|DECLINE)$
          description: Confirmation provided by the TP that the user has consented that the ID-Network can have access to their identity for the purposes of the API call. Should be ACCEPT, a forbidden exception will be thrown if it is any other value.
          example: ACCEPT
        pds:
          $ref: '#/components/schemas/PDS'
        sdkAuditEvents:
          type: array
          description: Array of objects containing a record of any auditable steps occurring between the App and the SDK. A call must be made by the TP App from the MIDS Audit SDK prior to all API calls, with any audit events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
        locale:
          $ref: '#/components/schemas/Locale'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    IdentityAttribute:
      allOf:
      - {}
      - oneOf:
        - $ref: '#/components/schemas/Address'
        - $ref: '#/components/schemas/DateOfBirth'
        - $ref: '#/components/schemas/Email'
        - $ref: '#/components/schemas/FathersName'
        - $ref: '#/components/schemas/MothersName'
        - $ref: '#/components/schemas/LegalName'
        - $ref: '#/components/schemas/Phone'
        - $ref: '#/components/schemas/Selfie'
        - $ref: '#/components/schemas/MobileIdEligibility'
        - $ref: '#/components/schemas/GovtId'
        - $ref: '#/components/schemas/GovtIdDetails'
        - $ref: '#/components/schemas/GovtIdImage'
        - $ref: '#/components/schemas/PassportIdentity'
        - $ref: '#/components/schemas/PassportDetails'
        - $ref: '#/components/schemas/PassportImage'
        - $ref: '#/components/schemas/DriverLicenseIdentity'
        - $ref: '#/components/schemas/DriverLicenseCardNumber'
        - $ref: '#/components/schemas/DriverLicenseDetails'
        - $ref: '#/components/schemas/DriverLicenseImage'
        - $ref: '#/components/schemas/VisaMatched'
        - $ref: '#/components/schemas/Cnh'
        - $ref: '#/components/schemas/Cpf'
        - $ref: '#/components/schemas/Rg'
    FathersName:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: Josh Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    RPClaimsUserConsentData:
      required:
      - flow
      - pds
      - rpSpecificIdentifier
      - redirectUri
      type: object
      properties:
        flow:
          type: string
          description: The user navigation flow for the RP Claim Sharing process.
          minLength: 1
          maxLength: 20
          example: APP2APP
        pds:
          $ref: '#/components/schemas/PDS'
        rpSpecificIdentifier:
          type: string
          description: The field rpSpecificIdentifier refers to a unique value for the Relying Party to identify the user for future reporting.
          minLength: 64
          maxLength: 64
          example: 46eb72430ffeca3daf31360264fa0424ba4facfdcb69c6f43e73063f290a75a8
        redirectUri:
          type: string
          description: TP will use this URI to redirect to RP.
          pattern: ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
          minLength: 1
          example: https://sample-rp-redirect-uri.com/?error=invalid_scope&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w&ARID=1234&error_description=claim_not_satisfied
    MothersName:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: Jane Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    Email:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: person@mastercard.com
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    UserProfile:
      required:
      - countryCode
      - userProfileId
      type: object
      properties:
        userProfileId:
          type: string
          description: UUID identifying the user, which the TP App generates using the MIDS Core SDK.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: c908bc7c-9917-48fd-b862-d901a0880fef
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sdkAuditEvents:
          type: array
          description: Array of objects containing a record of any auditable steps occurring between the App and the SDK. A call must be made by the TP App from the MIDS Audit SDK prior to all API calls, with any audit events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    ARID:
      type: string
      description: A unique identifier for any activity being executed arising out of a Claim Share request. This value is passed as a parameter in the URL redirecting a User to the TP Flow during a Claim Share.
      format: uuid
      pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
      minLength: 36
      maxLength: 36
      example: a15fa6de-b199-11eb-8529-0242ac130003
    Phone:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: 11234567890
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    PassportDetails:
      type: object
      properties:
        expiryDate:
          type: string
          description: Expiry date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        issuingCountry:
          type: string
          description: Country code.
          minLength: 1
          maxLength: 255
          example: USA
        passportNumber:
          type: string
          description: Passport number.
          minLength: 1
          maxLength: 255
          example: 1234567890
    GovtIdDetails:
      oneOf:
      - $ref: '#/components/schemas/PassportDetails'
      - $ref: '#/components/schemas/DriverLicenseDetails'
    MobileIdEligibility:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: boolean
          description: Value of whether user is eligible for mobile id enrollment.
          example: true
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    PassportIdentity:
      type: object
      properties:
        lastName:
          type: string
          description: Last name.
          minLength: 1
          maxLength: 255
          example: Doe
        firstName:
          type: string
          description: First name.
          minLength: 1
          maxLength: 255
          example: John
        dateOfBirth:
          type: string
          description: Date of birth.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
    RPClaimsUserDetails:
      required:
      - arid
      - pds
      type: object
      properties:
        arid:
          $ref: '#/components/schemas/ARID'
        pds:
          $ref: '#/components/schemas/PDS'
        sdkAuditEvents:
          type: array
          description: Array of objects containing a record of any auditable steps occurring between the App and the SDK. A call must be made by the TP App from the MIDS Audit SDK prior to all API calls, with any audit events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
        locale:
          $ref: '#/components/schemas/Locale'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
    UserAccountActivityItems:
      required:
      - action
      - createdDate
      properties:
        action:
          type: string
          description: Type of the activity, possible values - ["ID Created", "Details Updated", "Add Drivers License", "Add Passport", "Add Health Card", "ID Backup", "ID Restore", "Attribute Deleted"].
          minLength: 1
          maxLength: 24
          example: ID Created
        createdDate:
          type: string
          description: Date of the event.
          minLength: 1
          maxLength: 29
          example: '2020-01-28T13:16:01.714-05:00'
        values:
          type: array
          description: Details of the activity.
          items:
            $ref: '#/components/schemas/UserAccountActivityItemContents'
    Rg:
      type: string
      description: RG Number. This will only be available when the Brazilian DL is scanned.
      minLength: 1
      maxLength: 255
      example: 12345
    LegalName:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: John Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    DriverLicenseDetails:
      properties:
        expiryDate:
          type: string
          description: Expiry date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        issuingCountry:
          type: string
          description: Country code.
          minLength: 1
          maxLength: 255
          example: USA
        documentNumber:
          type: string
          description: Passport number.
          minLength: 1
          maxLength: 255
          example: 1234567890
    CurfewControl:
      required:
      - days
      - fromTime
      - negate
      - toTime
      type: object
      properties:
        fromTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The start time from which authorizations will be allowed
          example: 08:20
        toTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The end time at which authorizations will be allowed
          example: '11:00'
        timeZone:
          type: string
          description: Time zone of the from and to times
          example: UTC
        days:
          maxItems: 7
          minItems: 1
          type: array
          description: Days of week. Valid values are SUNDAY, MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, and SATURDAY
          example: SUNDAY
          pattern: ^(SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY)$
          items:
            type: string
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: Curfew Control
    ResourceIdentifier:
      description: A UUID which uniquely identifies a resource
      type: string
      format: uuid
      example: c63de020-a446-11eb-bcbc-0242ac130002
    TransactionLimitControl:
      required:
      - amount
      - negate
      type: object
      properties:
        amount:
          minimum: 0
          type: number
          description: The limit that will apply on a per transaction basis
          example: 12
          format: float
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The TransactionLimit control provides the ability to limit individual transaction authorizations to a maximum amount
    ErrorWrapper:
      type: object
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors_2'
    Token:
      allOf:
      - $ref: '#/components/schemas/Card'
      properties:
        accountGuid:
          type: string
          format: uuid
          description: The globally unique identifier of the token
          example: 123e4567-e89b-12d3-a456-426614174000
        tokenUniqueRef:
          type: string
          maxLength: 64
          description: The unique reference identifier of the token
          example: DE9JOVYK6FVSO8I32DLDPHGTC9NZ7SLKPVLMDQ0RRGK3WYD2
        paymentAppInstanceId:
          type: string
          maxLength: 64
          description: The unique app device identifier
          example: '128652974320250630'
        status:
          type: string
          pattern: ^(ACTIVE|SUSPENDED)$
          description: Token Status. Valid values are ACTIVE and SUSPENDED
          example: ACTIVE
    UpdateVirtualCardAccount:
      type: object
      required:
      - expiry
      allOf:
      - $ref: '#/components/schemas/VcnUserDetail'
      - $ref: '#/components/schemas/UpdateVCN'
      - properties:
          realCardBillingCurrencyCode:
            pattern: ^[0-9]{3}$
            type: string
            description: Currency code of the RCN
            example: '825'
          rules:
            $ref: '#/components/schemas/Controls'
    Error_2:
      type: object
      properties:
        Source:
          type: string
          example: source
          description: Source of error
        ReasonCode:
          type: string
          description: A unique constant identifying the error
          example: '123'
        Description:
          type: string
          example: Error desc
          description: Short description of the error
        Recoverable:
          type: boolean
          example: true
          description: Is recoverable error
        Details:
          type: string
          example: Detail information
          description: Optional detailed description of the issue
    Errors_2:
      type: object
      required:
      - Error
      properties:
        Error:
          $ref: '#/components/schemas/ErrorList'
    UserDetail:
      type: object
      required:
      - firstName
      - lastName
      - phone
      - email
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: .*\S.*
          description: First Name of User
          example: Emerson
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: .*\S.*
          description: Last Name of User
          example: Bloggs
        phone:
          type: string
          minLength: 4
          maxLength: 16
          description: Phone number of User
          example: '+12345678910111'
        email:
          type: string
          minLength: 1
          maxLength: 300
          description: Email address of User
          example: emersonbloggs@gmail.com
    ErrorList:
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/Error_2'
    Control:
      type: object
      required:
      - action
      - alias
      description: In Control Rule
      properties:
        action:
          minLength: 1
          maxLength: 1
          type: string
          description: control rule actions. Valid values are A (Approve), D (Decline), W (Warn), P (Promo) and F (Forced)
          example: A
        alias:
          type: string
          description: control rule alias name. alias should be unique
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          example: DAILY LIMIT
        transactionLimits:
          type: array
          description: transaction limit controls provides the ability to limit individual transaction authorizations to a maximum amount
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TransactionLimitControl'
        geographies:
          type: array
          description: geography controls provides the ability to control where a card is physically used
          uniqueItems: true
          items:
            $ref: '#/components/schemas/GeographyControl'
        velocities:
          type: array
          description: velocity controls can limit the frequency, and the total cumulative amount of authorizations performed on the cardholders account within a specified time period
          items:
            $ref: '#/components/schemas/VelocityControl'
        validityPeriods:
          type: array
          description: validity period controls
          items:
            $ref: '#/components/schemas/ValidityPeriodControl'
        amountRanges:
          type: array
          description: amount range controls
          items:
            $ref: '#/components/schemas/AmountRangeControl'
        merchantIds:
          type: array
          description: merchant id controls
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MerchantIdControl'
        ageingVelocities:
          type: array
          description: ageing velocity controls
          items:
            $ref: '#/components/schemas/AgeingVelocityControl'
        curfews:
          type: array
          description: curfew controls allows you to limit authorization activity on a card to a certain time period during set days. You can also set the time zone for this control
          items:
            $ref: '#/components/schemas/CurfewControl'
        timeOfDays:
          type: array
          description: time of day controls provides the ability to limit authorization activity to defined time periods for each day
          items:
            $ref: '#/components/schemas/TimeOfDayControl'
        merchantCategories:
          type: array
          description: merchant category controls
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MccControl'
    ValidityPeriodControl:
      required:
      - from
      - negate
      - to
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: The start date from which the control is valid, in ISO 8601 extended format "YYYY-MM-DDThh:mm:ss[.sss]Z", where [.sss] is optional and can be 1 to 3 digits
          example: '2020-10-26T00:00:00Z'
        to:
          type: string
          format: date-time
          description: The end date till which the control is valid, in ISO 8601 extended format "YYYY-MM-DDThh:mm:ss[.sss]Z", where [.sss] is optional and can be 1 to 3 digits
          example: '2020-11-06T23:59:59Z'
        strictPreAuthCheck:
          type: boolean
          description: Defines if strict pre-auth check needs to be applied
          default: false
          example: true
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The ValidityPeriod control provides the ability to limit authorization activity to a defined time period
    TimeOfDayControl:
      required:
      - negate
      - timeZone
      - times
      type: object
      properties:
        times:
          maxItems: 7
          minItems: 1
          type: array
          description: Times of day
          items:
            $ref: '#/components/schemas/TimeOfDay'
        timeZone:
          type: string
          description: Time zone of the from and to times
          example: UTC
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The TimeOfDayControl provides the ability to limit authorization activity to defined time periods for each day
    Vcn:
      allOf:
      - $ref: '#/components/schemas/Card'
      - properties:
          accountGuid:
            type: string
            format: uuid
            description: The globally unique identifier of the virtual card account
            example: 123e4567-e89b-12d3-a456-426614174000
          description:
            type: string
            example: This is the description of what the VCN will be used for
            description: The description of what the VCN will be used for
    MerchantIdControl:
      required:
      - acquirerId
      - acceptorId
      - negate
      type: object
      properties:
        acceptorId:
          minLength: 15
          maxLength: 15
          type: string
          description: The Merchant Id
          example: '123456789012345'
        acquirerId:
          minLength: 1
          maxLength: 10
          pattern: .*\S.*
          type: string
          description: The Acquiring Institution ID Code which identifies the acquiring institution (for example, merchant bank) or its agent
          example: '123456'
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The Merchant ID control provides the ability to limit authorizations to particular merchants
    UpdateVCN:
      type: object
      properties:
        expiry:
          minLength: 7
          maxLength: 7
          type: string
          pattern: ^20[2-9][0-9]-(0[1-9]|1[012])$
          description: Expiry date in yyyy-MM format
          example: 2021-11
        description:
          type: string
          example: This is the description of what the VCN will be used for
          description: The description of what the VCN will be used for
    Card:
      type: object
      required:
      - accountNumber
      - expiry
      properties:
        accountNumber:
          type: string
          minLength: 12
          maxLength: 19
          pattern: ^[0-9]+
          example: '1234567891234567'
          description: Card Account Number
        expiry:
          minLength: 7
          maxLength: 7
          type: string
          pattern: ^20[2-9][0-9]-(0[1-9]|1[012])$
          description: Card expiry date in yyyy-MM format
          example: 2021-11
    VelocityControl:
      required:
      - period
      - negate
      type: object
      properties:
        maxTrans:
          minimum: 1
          type: integer
          description: Maximum number of transactions allowed
          format: int32
          example: 12
        cumulativeLimit:
          minimum: 0
          type: number
          description: Maximum allowed cumulative amount
          example: 1200
          format: float
        period:
          minLength: 5
          maxLength: 10
          type: string
          description: Velocity period. Valid values are DAILY, WEEKLY, QUARTERLY, CONTINUOUS, MONTHLY, and YEARLY
          example: DAILY
          pattern: ^(DAILY|WEEKLY|QUARTERLY|CONTINUOUS|MONTHLY|YEARLY)
        availableBalance:
          minimum: 0
          type: number
          description: The cumulative spend available for the velocity control for the specified period
          example: 1200
          format: float
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT
          pattern: ^(BASE|MERCHANT)
          example: MERCHANT
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: Mastercard supported International Organization for Standardization (ISO) 4217 currency codes
          example: '825'
        endDate:
          type: string
          format: date-time
          description: End date until which the control is valid, in ISO 8601 extended format "YYYY-MM-DDThh:mm:ss[.sss]Z", where [.sss] is optional and can be 1 to 3 digits
          example: '2020-10-06T11:09:42.10Z'
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The VelocityControl can limit the frequency, and the total cumulative amount of authorizations performed on the cardholders account within a specified time period
    AmountRangeControl:
      required:
      - currencyType
      - maxAmount
      - minAmount
      - negate
      type: object
      properties:
        minAmount:
          minimum: 0
          type: number
          description: Minimum allowed amount
          format: float
          example: 1000
        maxAmount:
          minimum: 0
          type: number
          description: Maximum allowed amount
          format: float
          example: 10000
        strictPreAuthCheck:
          type: boolean
          description: Defines if strict pre-auth check needs to be applied
          default: false
          example: true
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT
          example: MERCHANT
          pattern: ^(BASE|MERCHANT)
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: Mastercard supported International Organization for Standardization (ISO) 4217 currency codes
          example: '825'
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The exact amount range control will approve a transaction only if the requested amount is equal or greater than MinAmount and less than or equal to MaxAmount. In other words, if Min Amount <= Amount <= Max Amount
    MccControl:
      required:
      - mccs
      - negate
      type: object
      properties:
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
        mccs:
          minItems: 1
          type: array
          description: List of merchant category codes
          example:
          - '1234'
          - '5678'
          items:
            type: string
            example: '1234'
          uniqueItems: true
      description: The Card Acceptor Business Codes (MCC) control can control the type of purchases for which a card is used
    TokenUpdate:
      allOf:
      - $ref: '#/components/schemas/Card'
      properties:
        status:
          type: string
          pattern: ^(ACTIVE|SUSPENDED)$
          description: Token Status. Valid values are ACTIVE and SUSPENDED
          example: ACTIVE
    Controls:
      type: array
      description: In Control Card Controls
      items:
        $ref: '#/components/schemas/Control'
    TimeOfDay:
      required:
      - day
      - fromTime
      - toTime
      type: object
      properties:
        day:
          minLength: 6
          maxLength: 9
          type: string
          example: SUNDAY
          description: Days of week. Valid values are SUNDAY, MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, and SATURDAY
          pattern: ^(SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY)
        fromTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The start time from which authorizations will be allowed
          example: 08:21
        toTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The end time from which authorizations will be allowed
          example: '12:00'
    AgeingVelocityControl:
      required:
      - authorizationHoldDays
      - cumulativeLimit
      - timeZone
      - negate
      type: object
      properties:
        authorizationHoldDays:
          type: integer
          minimum: 0
          maximum: 9999
          description: Number of days an authorization holds before ageing off
          format: int32
          example: 1234
        cumulativeLimit:
          minimum: 0
          type: number
          description: Maximum allowed cumulative amount
          example: 1000
          format: float
        timeZone:
          type: string
          description: Time zone that is used for age-off calculations
          example: UTC-06:00
        availableBalance:
          minimum: 0
          type: number
          description: The cumulative spend available for the velocity control for the specified period
          example: 1000
          format: float
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT
          example: MERCHANT
          pattern: ^(BASE|MERCHANT)
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: Mastercard supported International Organization for Standardization (ISO) 4217 currency codes
          example: '825'
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The AgingVelocityControl provides the requester with the ability to set a notional credit line through the CumulativeControl. This control keeps track of the current remaining available credit and approves a transaction only if the requested amount is less than or equal to the remaining available credit
    GeographyControl:
      required:
      - countryCodes
      - negate
      type: object
      properties:
        countryCodes:
          minItems: 1
          type: array
          description: Country codes to be included in the rule
          items:
            type: string
          example:
          - '840'
        negate:
          type: boolean
          description: Defines if the rules should be negated
          example: false
      description: The GeographicControl provides the ability to control where a card is physically used
    VirtualCardAccount:
      type: object
      required:
      - realCardAccountGuid
      - accountGuid
      allOf:
      - $ref: '#/components/schemas/VcnUserDetail'
      - $ref: '#/components/schemas/Vcn'
      - properties:
          realCardAccountGuid:
            type: string
            format: uuid
            description: The globally unique identifier of the real card account
            example: 123e4567-e89b-12d3-a456-426614174000
          realCardBillingCurrencyCode:
            pattern: ^[0-9]{3}$
            type: string
            description: Currency code of the RCN
            example: '825'
          rules:
            $ref: '#/components/schemas/Controls'
    VcnUserDetail:
      type: object
      required:
      - firstName
      - lastName
      - phone
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          description: First Name of User
          example: Emerson
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          description: Last Name of User
          example: Bloggs
        phone:
          type: string
          minLength: 4
          maxLength: 16
          description: Phone number of User
          example: '+13556434378'
    UserVerificationDetails:
      type: object
      properties:
        code:
          type: string
          description: User verification question. Supported question codes are VALID_CUST_SSN_LAST_4, VALID_CUST_BIRTHDATE, VALID_CUST_MOTHERS_MAIDEN_NAME, VALID_CUST_POSTAL_CODE, VALID_CUST_GENERIC_IDENTIFIER_SW, VALID_CUST_GENERIC_IDENTIFIER_TXT - VALID_CUST_SSN_LAST_4  Verify the user SSN value. - VALID_CUST_BIRTHDATE  Verify the user Birthdate. - VALID_CUST_MOTHERS_MAIDEN_NAME  Verify the user Mothers Maiden Name. - VALID_CUST_POSTAL_CODE  Verify the user Postal code. - VALID_CUST_GENERIC_IDENTIFIER_SW/VALID_CUST_GENERIC_IDENTIFIER_TXT  Verify the user Generic Identifier description.
          example: VALID_CUST_POSTAL_CODE
        answer:
          type: string
          description: Answer to the User verification question
          example: '638001'
    VerificationDetails:
      type: object
      properties:
        question:
          type: string
          description: Verification question description.
          example: Zip Code
        code:
          type: string
          description: Verification question code
          example: VALID_CUST_POSTAL_CODE
        answer:
          type: string
          description: Answer to the Verification question
          example: '1234'
    UserDetails:
      type: object
      properties:
        companyIca:
          type: integer
          description: The unique identifier of the company.
          format: int64
          example: 611532
        userId:
          type: string
          description: A system generated unique User identifier such as random customer number.
          example: '282947573008198049562610279575'
        userIdType:
          type: string
          description: User identifier type. Supported identifier is RANCU.
          example: RANCU
        namePrefix:
          type: string
          description: User's name prefix.
          example: R
        firstName:
          type: string
          description: User's first name.
          example: John
        middleName:
          type: string
          description: User's middle name.
          example: Robert
        lastName:
          type: string
          description: User's last name.
          example: Smith
        motherMaidenName:
          type: string
          description: User's mother maiden name.
          example: Jennifer
        authorizedUser1:
          type: string
          description: First authorized user in primary cardholder's account.
          example: testUser1
        authorizedUser2:
          type: string
          description: Second authorized user in primary cardholder's account.
          example: testUser2
        birthDate:
          type: string
          description: User's Date of Birth.
          example: Mon Mar 10 19:00:00 CDT 1975
        nationalIdentifier:
          type: string
          description: National Identifier of the User.
          example: 324-56-7574
        businessPhoneNumber:
          type: string
          description: Valid business phone number used by the User.
          example: +1(0)1234567890
        mobilePhoneNumber:
          type: string
          description: Valid mobile phone number used by the User.
          example: +1(0)1234567891
        homePhoneNumber:
          type: string
          description: Valid home phone number used by the User.
          example: +1(0)1234567891
        faxPhoneNumber:
          type: string
          description: Valid fax phone number used by the User.
          example: +1(0)1234567891
        emailAddress:
          type: string
          description: Valid email address used by the User.
          example: abc@example.com
        vip:
          type: boolean
          description: Allows the user to hold VIP status, default value is false.
          example: true
        employee:
          type: boolean
          description: Allows the user to hold EMPLOYEE status, default value is false.
          example: false
        acceptEmails:
          type: boolean
          description: Specifies if the account holder can be contacted via email, default value is false.
          example: false
        acceptSms:
          type: boolean
          description: Specifies if the account holder can be contacted via SMS, default value is false.
          example: false
        acceptPromotionalInfo:
          type: boolean
          description: Specifies if the account holder is interested in receiving promotional information, the default value is false.
          example: true
        acceptTracking:
          type: boolean
          description: Specifies whether or not a particular customer has accepted tracking.
          example: true
        genericIdentification:
          type: string
          description: Answer to the user's verification question.
          example: Duster
        genericIdentificationDescription:
          type: string
          description: The user's custom verification question.
          example: Pet's name
        userDefined1:
          maxLength: 40
          minLength: 0
          type: string
          description: User Defined Field 1
          example: UDF 1 Example
        userDefined2:
          maxLength: 40
          minLength: 0
          type: string
          description: User Defined Field 2
          example: UDF 2 Example
        userDefined3:
          maxLength: 40
          minLength: 0
          type: string
          description: User Defined Field 3
          example: UDF 3 Example
        userDefined4:
          maxLength: 40
          minLength: 0
          type: string
          description: User Defined Field 4
          example: UDF 4 Example
        pcloUser:
          $ref: '#/components/schemas/PCLOUser'
        preferredLanguage:
          type: string
          description: Customer's preferred language.
          example: en_US
        address:
          $ref: '#/components/schemas/UserAddress'
        verificationDetails:
          type: array
          description: Cardholder verification details.
          items:
            $ref: '#/components/schemas/VerificationDetails'
    VerifyUser:
      required:
      - userVerificationDetails
      type: object
      properties:
        userVerificationDetails:
          type: array
          description: User Verification Details
          items:
            $ref: '#/components/schemas/UserVerificationDetails'
    Errors_3:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: Error Details
          items:
            $ref: '#/components/schemas/ErrorItem'
    VerifiedUser:
      type: object
      properties:
        message:
          type: string
          description: result
          example: Successfully verified user
    EnrolledUser:
      type: object
      properties:
        userId:
          type: string
          description: Unique identifier of the user.
          example: '282947573008198049562610279575'
        userIdType:
          type: string
          description: Identifier type for the given user.
          example: RANCU
        accountId:
          type: string
          description: The unique identifier for the given account.
          example: '609330255453162553303101469598'
        accountIdType:
          type: string
          description: Identifier type for the given account.
          example: RANAC
    ErrorsWrapper:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors_3'
    PCLOUser:
      type: object
      description: This object should only be used by Personal Card Linked Offers (PCLO) users. This object  will define the users communications preferences for PCLO.
      properties:
        pcloAcceptPromotionalOffers:
          type: boolean
          description: Specifies if the PCLO user would like to receive information about special promotional offers.
          example: false
        pcloAcceptEmails:
          type: boolean
          description: Specifies if the PCLO user allows contact via email for promotional purposes.
          example: false
        pcloAcceptSms:
          type: boolean
          description: Specifies if the PCLO user allows contact to their mobile phone for promotional purposes.
          example: false
    UserAddress:
      type: object
      description: This object will define the users default shipping/mailing address.
      properties:
        addressLine1:
          maxLength: 80
          minLength: 0
          type: string
          description: Address Line 1 of the User's address.
          example: 10 Upper Bank Street
        addressLine2:
          maxLength: 80
          minLength: 0
          type: string
          description: Address Line 2 of the User's address.
          example: Chesterfield
        addressLine3:
          maxLength: 80
          minLength: 0
          type: string
          description: Address Line 3 of the User's address.
          example: Canary Wharf
        addressLine4:
          maxLength: 80
          minLength: 0
          type: string
          description: Address Line 4 of the User's address.
          example: Tower Hamlets
        city:
          maxLength: 30
          minLength: 0
          type: string
          description: City name as per User's address.
          example: London
        countryCode:
          maxLength: 3
          minLength: 2
          type: string
          description: This value should be the 3-character ISO Country Code for the user.
          example: ENG
        postalCode:
          maxLength: 14
          minLength: 0
          type: string
          description: Postal Code as per User's address.
          example: '63368'
        stateProvinceCode:
          maxLength: 3
          minLength: 2
          type: string
          description: State Code as per User's address.
          example: JS
    AccountBase:
      required:
      - accountId
      - accountIdType
      - productCode
      - programIdentifier
      - status
      type: object
      description: This object will define the users initial account that is being enrolled  at the same time as the user.
      properties:
        accountId:
          maxLength: 30
          minLength: 0
          type: string
          description: The unique identifier for the given account.
          example: '5330333671236516'
        accountIdType:
          type: string
          description: Identifier type for the given account. Supported identifier is BAN.
          example: BAN
        status:
          type: string
          description: Status of the user's account. Valid values are GOOD_STANDING and NEW.
          example: NEW
          enum:
          - NEW
          - GOOD_STANDING
        productCode:
          maxLength: 20
          minLength: 0
          type: string
          description: The account's associated reward product identifier as defined by the client and configured during the implementation of the program.
          example: FIDOCASHBACK
        programIdentifier:
          maxLength: 40
          minLength: 0
          type: string
          description: Program identifier for the program in which the cardholder is enrolled. Program ID is created by Mastercard Rewards System.
          example: PGM42051
        openDate:
[...]
