openapi: 3.2.0
info:
  title: Mastercard Ethoca Merchant Self Services Guid API
  description: The Ethoca Merchant Self Services API lets you enter your merchant details for your organization, including for all of your submerchants. Using the Merchant Self Services API helps you onboard and integrate your company and all of your submerchants as quickly as possible.
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: 1.6.0
servers:
- url: https://api.ethocaweb.com/ethoca/merchant-self-services
  description: Production server (uses live data)
- url: https://sandbox.api.ethocaweb.com/ethoca/merchant-self-services
  description: Sandbox server (testing environment)
tags:
- name: Guid
paths:
  /merchants/{guid}/logos:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    - $ref: '#/components/parameters/MerchantGuidParam'
    put:
      tags:
      - Guid
      summary: Mastercard Update a Logo for an Existing Merchant.
      description: Returns status and messages (if any validation failures) related to the logo of a sub-merchant.
      operationId: updateMerchantLogoByGuid
      requestBody:
        $ref: '#/components/requestBodies/MerchantLogoBody'
      responses:
        '200':
          $ref: '#/components/responses/LogoSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Guid
      summary: Mastercard Create a Logo for an Existing Merchant.
      description: Returns status and messages (if any validation failures) related to the logo of a sub-merchant.
      operationId: createMerchantLogo
      requestBody:
        $ref: '#/components/requestBodies/MerchantLogoBody'
      responses:
        '200':
          $ref: '#/components/responses/LogoSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Guid
      summary: Mastercard Delete a Logo for an Existing Merchant.
      description: Returns 204 status code if logo deleted successfully.
      operationId: deleteLogoByMerchantGuid
      responses:
        '204':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Guid
      summary: Mastercard Get the Logo for an Existing Merchant.
      description: Returns base64 encoded image, status and messages (if any validation failures) related to the logo of a sub-merchant.
      operationId: getLogoByMerchantGuid
      responses:
        '200':
          $ref: '#/components/responses/LogoSuccessWithImage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}:
    put:
      tags:
      - Guid
      summary: Mastercard Update a Sub-merchant.
      description: Returns sub-merchant object with status.
      operationId: updateSubMerchant
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/IfMatch'
      - $ref: '#/components/parameters/MerchantGuidParam'
      requestBody:
        $ref: '#/components/requestBodies/SubMerchantBody'
      responses:
        '200':
          $ref: '#/components/responses/SubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Guid
      summary: Mastercard Get Sub-merchant by Guid.
      description: Returns sub-merchant object with status.
      operationId: getSubMerchantByGuid
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      responses:
        '200':
          $ref: '#/components/responses/SubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}/states:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    - $ref: '#/components/parameters/MerchantGuidParam'
    put:
      tags:
      - Guid
      summary: Mastercard Activate/deactivate a Sub-merchant.
      description: "Returns 204 if merchant is activated/deactivated successfully. It takes a state attribute with two possible values:\n\n  - INACTIVE\n    - For LIVE and LOCKED_FOR_EDIT merchants, this endpoint changes the merchant to INACTIVE status.\n    - For CONFIGURATION merchants, it physically deletes the merchant, rather than deactivating it.\n\n  - ACTIVE\n    - Reactivates an INACTIVE merchant by placing it in CONFIGURATION status. From there, the flow follows the onboarding process where the merchant is in CONFIGURATION status and its attributes\nare available for editing."
      operationId: changeSubMerchantState
      requestBody:
        $ref: '#/components/requestBodies/ChangeSubMerchantStateBody'
      responses:
        '204':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}/locations:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    - $ref: '#/components/parameters/MerchantGuidParam'
    post:
      tags:
      - Guid
      summary: Mastercard Add a Unique Set of Sub-merchant's Locations
      description: Creates locations under an existing sub-merchant
      operationId: addLocations
      requestBody:
        $ref: '#/components/requestBodies/LocationsBulkRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/LocationsBulkSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      parameters:
      - $ref: '#/components/parameters/ClarityOffsetParam'
      - $ref: '#/components/parameters/ClarityPageNumberParam'
      - $ref: '#/components/parameters/ClaritySortDirectionParam'
      - $ref: '#/components/parameters/ClaritySortFieldParam'
      - $ref: '#/components/parameters/LocationSearchTextQueryParam'
      summary: Mastercard Get Sub-merchant's Locations
      description: Returns sub-merchant's locations with pagination metadata
      operationId: getAllLocations
      tags:
      - Guid
      responses:
        '200':
          $ref: '#/components/responses/PageableLocationsSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}/locations/{location_id}:
    get:
      summary: Mastercard Get Location by Id
      description: Returns location object
      operationId: getLocationById
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      tags:
      - Guid
      responses:
        '200':
          $ref: '#/components/responses/LocationSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Mastercard Update an Existing Location
      description: Updates a location object
      operationId: updateLocation
      tags:
      - Guid
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/LocationBody'
      responses:
        '200':
          $ref: '#/components/responses/LocationSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mastercard Delete an Existing Location
      description: Returns 204 status code if Location deleted successfully
      operationId: deleteLocation
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      tags:
      - Guid
      responses:
        '204':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error Response object
    CountryCode:
      title: Country Code
      maxLength: 3
      minLength: 3
      type:
      - string
      - 'null'
      description: The [ISO 3166-1](https://www.iso.org/obp/ui/#search) alpha-3 compliant country code.
      example: CAN
    ResponseHeader:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int64
          description: Total number of records found
          minimum: 0
          maximum: 999999999
          example: 500
        totalPages:
          type: integer
          description: Total number of pages based on limit
          minimum: 0
          maximum: 999999999
          example: 10
        currentPage:
          type: integer
          description: The current page number
          minimum: 1
          maximum: 999999999
          example: 2
        responseTime:
          $ref: '#/components/schemas/ResponseTime'
    LocationCount:
      title: Merchant Location count
      type: integer
      default: 0
      example: 15
      minimum: 0
      maximum: 9999999
    CardAcceptor:
      title: Merchant Card Acceptor
      maxLength: 50
      minLength: 1
      type: string
      description: Merchant Card Acceptor
      example: ETHOCA NINJA GAMES
    ImageBase64Encoded:
      title: Image Base 64 Encoded
      type: string
      description: Base 64 encoded image (JPG or PNG)
      minLength: 0
      maxLength: 999999999
      example: /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAAQABADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD638d/8HA2uah8em0jwP4L0W+8JxXZt459QmlW6vo1PMoKnbGCASAVY4xn0r6L+F//AAUzn8XatY3Op6HZ22h37AFoXYzWoJxkk8NjvgCvmXx1/wAG/wD4s0X4+HU/A3izw7D4RkuzPEuoiUXVjExOYtqqVkwCQDuXPGcV9JfCz/gmbf8AhTVrGz1TWbCbQ7BgWMAbzroA5IwQAue/JxnvX4TxVPjz63R/slO3Nr8HL/29fXltb8etj+puKKfhUsBR/spxvya6z59vtX0579vP7Nj/2Q==
    CardTypes:
      title: Card Types
      type: array
      minItems: 1
      maxItems: 4
      uniqueItems: true
      description: A list of all of the card types that are accepted as a form of payment.
      items:
        type: string
        description: Type of card used for a transaction
        example: AMEX
        enum:
        - AMEX
        - DISCOVER
        - MC
        - VISA
    Locale:
      required:
      - merchantDescription
      - code
      - defaultLocale
      type: object
      properties:
        code:
          title: Code
          type: string
          description: The locale where the merchant anticipates their business to be located; often referred to as the Accept-Language in HTTP headers.
          example: EN_CA
          enum:
          - EN_US
          - EN_CA
          - EN_GB
          - ES_MX
          - ES_ES
          - ES_US
          - FR_CA
          - FR_FR
          - PT_BR
          - PT_PT
          - HE_IL
        merchantDescription:
          title: Merchant Description
          maxLength: 4000
          minLength: 1
          type: string
          description: Description of the primary merchant tied to the transaction and responsible for providing the products or services (description of the business, what they do, markets, etc.). Used to help cardholder understand business responsible for the charge.
          example: An airline that no longer exists.
        defaultLocale:
          title: Default Locale
          type: boolean
          description: This indicates whether or not this locale will be used as the default locale for displaying information to the customer.
          example: true
      description: Merchant Locale details
    TermsConditionsConsent:
      title: Terms & conditions consent
      type: object
      required:
      - date
      - firstName
      - lastName
      - jobTitle
      - email
      - countryCode
      - consentUuid
      - consentVersion
      properties:
        date:
          type: string
          description: Date stamp in which the sub-merchant provided his consent on the terms and conditions. Date must be in [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          format: date-time
          example: '2021-10-18T13:56:47.123+00:00'
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          description: First name of person that gave consent
          example: John
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          description: Last name of person that gave consent
          example: Doe
        jobTitle:
          type: string
          minLength: 1
          maxLength: 100
          description: Job title of person that gave consent
          example: Manager
        email:
          $ref: '#/components/schemas/Email'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        consentUuid:
          type: string
          minLength: 1
          maxLength: 50
          description: Universally Unique Identifier (UUID) of the consent that the user consented to
          example: 3d94ab7b-fe1c-4f7d-ad4c-93c1eb6d29c3
        consentVersion:
          type: string
          minLength: 1
          maxLength: 8
          description: Version of the consent that the user consented to
          example: '1.0'
    UserId:
      title: User Id
      maxLength: 300
      minLength: 1
      type: string
      description: The user id of the submitter/technical contact.
      example: princess.diana
    FirstPartyTrustEnrollmentResource:
      title: First Party Trust Enrollment Resource
      type: object
      required:
      - enrollmentType
      properties:
        enrollmentType:
          minLength: 1
          maxLength: 50
          type: string
          description: Type of First Party Trust Enrollment
          example: CLARITY
    FirstPartyTrustEnrollmentType:
      title: First Party Trust Enrollment Types
      type: string
      description: Type of First Party Trust Enrollment
      example: CLARITY
      enum:
      - CLARITY
      - ISSM
    Address:
      title: Address
      description: Address entity associated to merchant's location and legal address.
      required:
      - countryCode
      allOf:
      - $ref: '#/components/schemas/ShortAddress'
      - properties:
          website:
            title: Website
            maxLength: 500
            minLength: 1
            type:
            - string
            - 'null'
            description: URL for merchant's website
            example: https://merchantwebsite.example.com
          email:
            $ref: '#/components/schemas/Email'
          phone:
            title: Phone
            maxLength: 30
            minLength: 3
            type:
            - string
            - 'null'
            description: Phone number of the merchant's office
            example: 1-234-567-9999
    MerchantName:
      title: Merchant's Name
      maxLength: 200
      minLength: 3
      type: string
      description: Merchant's partial or full name.
      example: Merchant 1
    ClarityResponseHeader:
      allOf:
      - $ref: '#/components/schemas/ResponseHeader'
      - type: object
        properties:
          currentPage:
            type: integer
            description: Current page
            minimum: 0
            maximum: 999999999
            example: 2
    LocationWithoutCardAcceptors:
      type: object
      required:
      - countryCode
      allOf:
      - $ref: '#/components/schemas/Address'
      - properties:
          website:
            title: Website
            maxLength: 100
            minLength: 1
            type:
            - string
            - 'null'
            description: URL for merchant's customer service focused information.
            example: https://merchantwebsite.example.com/customerservice.html
          email:
            $ref: '#/components/schemas/ShortEmail'
          contactWebsite:
            title: Contact Website
            maxLength: 100
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant's contact website.
            example: https://merchantwebsite.example.com/contactus.html
          displayAddressToCardHolder:
            title: Display Address To Card Holder
            type:
            - boolean
            - 'null'
            description: Set true to display this location's address to card holder
            example: true
          displayPhoneToCardHolder:
            title: Display Phone To Card Holder
            type:
            - boolean
            - 'null'
            description: Set true to display this location's phone number to card holder
            example: true
          refundPolicy:
            title: Refund Policy
            maxLength: 1500
            minLength: 1
            type:
            - string
            - 'null'
            description: Entire merchant refund policy, formatted for text display
            example: Complete merchant refund policy
          terms:
            title: Terms and Conditions
            maxLength: 2000
            minLength: 1
            type:
            - string
            - 'null'
            description: Entire merchant Terms & Conditions, formatted for text display
            example: Entire merchant Terms & Conditions
          customerServiceInstructions:
            title: Customer Service Information
            maxLength: 500
            minLength: 1
            type:
            - string
            - 'null'
            description: Free form text displayed to issuer that can be sent to the cardholder. Can be specific to transaction.
            example: Include Transaction ID in all communications.
          additionalInfo:
            title: Additional Info
            maxLength: 1500
            minLength: 1
            type:
            - string
            - 'null'
            description: Additional information that a merchant would want a customer or Issuer to know in regards to a transaction.
            example: Customers can contact merchants for a refund 24 hours a day.
          termsWebsite:
            title: Merchant Terms Website
            maxLength: 255
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant terms website URL
            example: https://merchantwebsite.example.com/terms.html
          refundPolicyWebsite:
            title: Merchant Refund Policy Website
            maxLength: 255
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant refund policy website URL
            example: https://merchantwebsite.example.com/refunds.html
          defaultLocation:
            title: Default Location
            type: boolean
            description: true if this is a default location of a merchant
            example: true
          cardAcceptorLocation:
            title: Card Acceptor Location
            maxLength: 150
            minLength: 1
            type:
            - string
            - 'null'
            description: Card Acceptor Location
            example: Pan American Airlines Canada
          cardAcceptorLocationType:
            title: Card Acceptor Location Type
            type:
            - string
            - 'null'
            description: Types of card acceptor location - ONLINE, PHONE, CARD_PRESENT
            example: CARD_PRESENT
            enum:
            - ONLINE
            - PHONE
            - CARD_PRESENT
        description: Merchant location details
    SubMerchant:
      description: Schema for a sub-merchant
      allOf:
      - $ref: '#/components/schemas/Merchant'
      - type: object
        required:
        - subMerchantIdentifier
        properties:
          subMerchantIdentifier:
            $ref: '#/components/schemas/SubMerchantIdentifier'
          searchFields:
            $ref: '#/components/schemas/SearchFields'
    SearchFieldsResource:
      title: Search Fields Response
      type:
      - array
      - 'null'
      description: Search Field
      items:
        $ref: '#/components/schemas/SearchFieldResource'
    Error:
      type: object
      properties:
        Source:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
          description: Source of the error
          example: Service
        ReasonCode:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
          description: A unique constant identifying the error
          example: format.invalid
        Description:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
          description: Short description of the error
          example: Short description of the error
        Recoverable:
          type:
          - boolean
          - 'null'
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          example: false
          default: false
        Details:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
          description: Optional detailed description of the issue
          example: Detailed description of the error
      description: Error object
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
      description: Errors object
    CardTypesResource:
      title: Card Types Response
      type: array
      uniqueItems: true
      description: A list of all of the card types that are accepted as a form of payment.
      items:
        type: string
        description: Type of card used for a transaction
        example: AMEX
    LogoResource:
      type: object
      required:
      - status
      properties:
        status:
          title: Status
          maxLength: 100
          minLength: 1
          type: string
          description: Status of the logo
          example: ACTIVE
        messages:
          title: Messages
          type:
          - array
          - 'null'
          description: List of validation messages for a logo.
          items:
            maxLength: 200
            minLength: 1
            type: string
            example: Logo under review
          example: []
      description: Schema for a sub-merchant logo status
    ResourceId:
      type:
      - string
      - 'null'
      minLength: 1
      maxLength: 40
      description: Unique identifier of resource
      example: Mxyz123
    Merchant:
      description: Base merchant request schema
      required:
      - merchantType
      - locales
      - businessType
      allOf:
      - $ref: '#/components/schemas/BaseMerchant'
      - type: object
        properties:
          merchantType:
            title: Merchant Type
            type: string
            description: 'Type of a merchant. Allowed Values -

              + SUB_MERCHANT -

              + DIRECT -

              + GATEWAY - '
            example: SUB_MERCHANT
            enum:
            - SUB_MERCHANT
            - DIRECT
            - GATEWAY
          locales:
            title: Merchant Locales
            minItems: 1
            maxItems: 10
            uniqueItems: true
            type: array
            description: Merchant Locales
            items:
              $ref: '#/components/schemas/Locale'
          locations:
            title: Merchant Locations
            minItems: 0
            maxItems: 50
            uniqueItems: true
            type:
            - array
            - 'null'
            description: Merchant Locations
            deprecated: true
            items:
              $ref: '#/components/schemas/Location'
          contentTypes:
            title: Content Types
            uniqueItems: true
            type:
            - array
            - 'null'
            description: An indicator as to the type of products and services you offer.
            example:
            - ADULT_LANGUAGE
            items:
              type: string
              enum:
              - ADULT_LANGUAGE
              - ADULT_PRODUCTS
              - ADULT_SERVICES
              - GAMBLING
              - ONLINE_DATING
              - OTHER
          crm:
            $ref: '#/components/schemas/Crm'
          businessType:
            title: Merchant Business Type
            type: string
            description: Business type describes the legal structure under which the business operates
            example: BUSINESS_CORPORATION
            enum:
            - SOLE_PROPRIETORSHIP
            - BUSINESS_CORPORATION
            - OTHER
          firstPartyTrustEnrollments:
            title: First Party Trust Enrollments
            description: A list of First Party Trust Enrollments
            type:
            - array
            - 'null'
            minLength: 0
            maxLength: 2
            uniqueItems: true
            items:
              $ref: '#/components/schemas/FirstPartyTrustEnrollment'
    MerchantLogo:
      required:
      - imageBase64Encoded
      type: object
      properties:
        imageBase64Encoded:
          $ref: '#/components/schemas/ImageBase64Encoded'
      description: logo request schema for merchants
    MerchantGuid:
      title: Merchant GUID
      maxLength: 16
      minLength: 11
      type: string
      description: Consumer Clarity internal merchant's GUID
      example: jK2dA5aybhQQBq6C
    LocationWithoutCardAcceptorsResource:
      type: object
      allOf:
      - $ref: '#/components/schemas/LocationWithoutCardAcceptors'
      - properties:
          id:
            $ref: '#/components/schemas/ResourceId'
          cardAcceptorLocationType:
            title: Card Acceptor Location Type
            type:
            - string
            - 'null'
            description: Types of card acceptor location - ONLINE, PHONE, CARD_PRESENT
            example: ONLINE
    ShortEmail:
      title: Email Address
      maxLength: 100
      minLength: 1
      type:
      - string
      - 'null'
      description: Email address
      example: john.doe@example.com
      format: email
    ResponseTime:
      type: string
      description: Total response time in ms
      minLength: 0
      maxLength: 10
      example: 300 ms
    LocationsBulk:
      type: object
      required:
      - locations
      properties:
        locations:
          minItems: 1
          maxItems: 25
          type: array
          uniqueItems: true
          description: Set of Merchant Locations
          items:
            $ref: '#/components/schemas/LocationWithoutCardAcceptors'
          example: []
    CardAcceptors:
      title: Merchant Card Acceptors
      maxItems: 1500
      type:
      - array
      - 'null'
      uniqueItems: true
      description: List of merchant card acceptors
      items:
        $ref: '#/components/schemas/CardAcceptor'
    SanctionScreening:
      title: Sanction Screening
      type: object
      required:
      - taxId
      - publiclyTraded
      - doBusinessWithSanctionedGeographies
      properties:
        taxId:
          title: Tax Identification
          description: Known as VAT Number in the US and GST in Canada.
          example: 123456789AB1234
          type: string
          minLength: 1
          maxLength: 30
        formerLegalNames:
          title: List of Former Legal Names
          description: The merchant's former legal names
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MerchantName'
          example: []
        doBusinessWithSanctionedGeographies:
          title: Business With Sanctioned Geographies Indicator
          description: 'Indicates whether the merchant does business with sanctioned geographies.

            If it is true, then sanctionedGeographies property can''t be empty.

            '
          type: boolean
          example: false
        sanctionedGeographies:
          title: List of Sanctioned Geographies
          description: 'List of sanctioned geographies that the merchant is doing business with. It

            can''t be empty if the doBusinessWithSanctionedGeographies property is true

            '
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            title: Sanctioned Geography
            type: string
            minLength: 1
            maxLength: 60
            description: Sanctioned geography
            example: Iran
          example: []
        publiclyTraded:
          title: Merchant Publicly Traded Indicator
          description: Indicates whether a merchant is publicly traded.
          type: boolean
          example: false
        tickerSymbol:
          title: Merchant's Stock Symbol
          description: Publicly traded merchant's stock symbol. It's mandatory if the isPubliclyTraded attribute is true.
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 10
          example: NFLX
        beneficialOwners:
          type:
          - array
          - 'null'
          title: List of Beneficial Owners
          description: Required only if publiclyTraded property is false and legalEntities property is empty.
          uniqueItems: true
          items:
            $ref: '#/components/schemas/BeneficialOwner'
          example: []
        legalEntities:
          type:
          - array
          - 'null'
          title: List of Legal Entities
          description: Required only if publiclyTraded property is false and beneficialOwners property is empty.
          uniqueItems: true
          items:
            $ref: '#/components/schemas/LegalEntity'
          example: []
    SearchField:
      type: object
      required:
      - searchFieldCards
      properties:
        searchParameter:
          title: Merchant API Search parameter
          type:
          - string
          - 'null'
          description: Merchant api search parameter
          example: ACQUIRER_REFERENCE_NUMBER
          enum:
          - PAYMENT_TYPE
          - TRANSACTION_IDENTIFIER_VALUE
          - ACQUIRER_REFERENCE_NUMBER
          - TRANSACTION_DATE
          - CARD_FIRST_SIX
          - CARD_LAST_FOUR
          - ISSUER_AUTHORIZATION_CODE
          - TRANSACTION_AMOUNT
          - TRANSACTION_CURRENCY_CODE
        required:
          title: Required
          type:
          - boolean
          - 'null'
          description: If the search field is required
          example: true
        searchFieldCards:
          $ref: '#/components/schemas/CardTypes'
      description: Schema for a Search Field
    Location:
      type: object
      required:
      - countryCode
      - defaultLocation
      allOf:
      - $ref: '#/components/schemas/LocationWithoutCardAcceptors'
      - properties:
          cardAcceptorNames:
            $ref: '#/components/schemas/CardAcceptors'
    SecondName:
      title: Second Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's second name
      example: Andrew
    LastName:
      title: Last Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's last name
      example: Fox
    SubMerchantState:
      required:
      - state
      properties:
        state:
          type: string
          description: State of the Sub-Merchant
          example: ACTIVE
          enum:
          - ACTIVE
          - INACTIVE
        inactivationReason:
          title: Reason for Inactivation
          type: string
          description: Reason for Inactivation. Required when state is INACTIVE.
          example: My business is closing
          minLength: 1
          maxLength: 250
    LogoImageResource:
      allOf:
      - $ref: '#/components/schemas/LogoResource'
      - type: object
        properties:
          imageBase64Encoded:
            $ref: '#/components/schemas/ImageBase64Encoded'
      description: Schema for a sub-merchant logo including image binary
    EntityName:
      title: Entity Legal/Business Name
      maxLength: 100
      minLength: 1
      type:
      - string
      - 'null'
      description: The entity's legal or business name.
      example: Walmart
    PercentOwnership:
      title: Percent Ownership
      minLength: 1
      maxLength: 5
      pattern: ^(100(\.00?)?|[1-9]\d?(\.\d{1,2})?|0\.\d{1,2})$
      type:
      - string
      - 'null'
      description: Percent Ownership.
      example: '25.50'
    SubMerchantResource:
      description: Sub-Merchant Response
      allOf:
      - $ref: '#/components/schemas/MerchantResource'
      - type: object
        properties:
          subMerchantIdentifier:
            $ref: '#/components/schemas/SubMerchantIdentifier'
          searchFields:
            $ref: '#/components/schemas/SearchFieldsResource'
          locationCount:
            $ref: '#/components/schemas/LocationCount'
    LocationResource:
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/Location'
      - type: object
        properties:
          id:
            $ref: '#/components/schemas/ResourceId'
          rejectedCardAcceptorNames:
            $ref: '#/components/schemas/CardAcceptors'
          cardAcceptorLocationType:
            title: Card Acceptor Location Type
            type:
            - string
            - 'null'
            description: Types of card acceptor location - ONLINE, PHONE, CARD_PRESENT
            example: ONLINE
    Email:
      title: Email Address
      maxLength: 254
      minLength: 1
      type:
      - string
      - 'null'
      description: Email address
      example: john.doe@example.com
      format: email
    MerchantResource:
      description: Base merchant response schema
      required:
      - merchantType
      - locales
      - businessType
      allOf:
      - $ref: '#/components/schemas/BaseMerchant'
      - type: object
        properties:
          merchantType:
            title: Merchant Type
            type: string
            description: 'Type of a merchant. Allowed Values -

              + SUB_MERCHANT -

              + DIRECT -

              + GATEWAY - '
            example: SUB_MERCHANT
            minLength: 1
            maxLength: 50
          guid:
            $ref: '#/components/schemas/MerchantGuid'
          status:
            title: Status
            maxLength: 20
            minLength: 4
            type: string
            description: '* CONFIGURATION - This status indicates that this merchant record is being modified. Any changes applied to a record with this status are NOT visible in production. There is no guarantee that the data is either valid or consistent.

              * TESTING - This status indicates that the merchant is being tested. The data for a record with this status is NOT visible in production and data modifications are not permitted.

              * LIVE - This status indicates that the merchant record is visible in production. The data has been validated and is used for transaction lookups. Data modifications are not permitted.

              * INACTIVE - This status indicates that this merchant record is NOT visible in production. Data modifications are not permitted.

              * LOCKED_FOR_EDIT - This status indicates that this merchant record is locked for modification by the customer success team. Data modifications are not permitted.'
            example: LIVE
          locales:
            title: Merchant Locale Details
            minItems: 1
            maxItems: 10
            uniqueItems: true
            type: array
            description: Merchant Locale Details
            items:
              $ref: '#/components/schemas/LocaleResource'
          locations:
            title: Merchant Location Details
            minItems: 0
            maxItems: 50
            uniqueItems: true
            type:
            - array
            - 'null'
            description: Merchant Location details
            deprecated: true
            items:
              $ref: '#/components/schemas/LocationResource'
          contentTypes:
            title: Content Types
            uniqueItems: true
            type:
            - array
            - 'null'
            description: An indicator as to the type of products and services you offer.
            example:
            - ADULT_LANGUAGE
            items:
              type: string
          validationStatus:
            $ref: '#/components/schemas/ValidationStatus'
          crm:
            $ref: '#/components/schemas/CrmResource'
          businessType:
            title: Merchant Business Type
            type: string
            description: Business type describes the legal structure under which the business operates
            minLength: 1
            maxLength: 25
            example: BUSINESS_CORPORATION
          firstPartyTrustEnrollments:
            title: First Party Trust Enrollments
            description: A list of First Party Trust Enrollments
            type:
            - array
            - 'null'
            uniqueItems: true
            minLength: 0
            maxLength: 2
            items:
              $ref: '#/components/schemas/FirstPartyTrustEnrollmentResource'
    CrmResource:
      title: Customer Relationship Management Response
      description: Customer Relationship Management Response
      allOf:
      - $ref: '#/components/schemas/Crm'
      - type: object
        properties:
          sanctionScreeningStatus:
            title: Sanction Screening Status
            maxLength: 11
            minLength: 6
            type: string
            description: Indicates merchant's sanction screening status
            example: APPROVED
            default: DENIED
          billingAccountCreated:
            type: boolean
            description: Indicates whether a sub-merchant billing account has been set up in SalesForce
            example: true
            default: false
          salesforceAccountNumber:
            $ref: '#/components/schemas/SalesforceAccountNumber'
    PageableLocationsResource:
      title: Pageable locations resource
      description: Pageable locations resource with pagination metadata
      properties:
        data:
          type: array
          description: List of Location resources
          items:
            $ref: '#/components/schemas/LocationWithoutCardAcceptorsResource'
          example: []
        metadata:
          $ref: '#/components/schemas/ClarityResponseHeader'
    BeneficialOwner:
      title: Beneficial Owner
      description: Individual owning the merchant.
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/FirstName'
        secondName:
          $ref: '#/components/schemas/SecondName'
        lastName:
          $ref: '#/components/schemas/LastName'
        address:
          $ref: '#/components/schemas/ShortAddress'
        birthCountry:
          $ref: '#/components/schemas/CountryCode'
        birthDate:
          title: Beneficial Owner Birth Date
          description: Beneficial owner birth date. Date must be in a [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          type:
          - string
          - 'null'
          format: date
          example: '1977-05-23T00:00:00.000Z'
        percentOwnership:
          $ref: '#/components/schemas/PercentOwnership'
    FirstName:
      title: First Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's first name
      example: Michael
    ShortAddress:
      title: Address
      description: Address.
      properties:
        addressLine1:
          title: Address Line 1
          maxLength: 250
          minLength: 1
          type:
          - string
          - 'null'
          description: The street detail for the address.
          example: 223 Blythwood Rd
        addressLine2:
          title: Address Line 2
          maxLength: 250
          minLength: 1
          type:
          - string
          - 'null'
          description: The secondary street detail for the address.
          example: Suite 123
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        regionCode:
          title: Region code
          maxLength: 3
          minLength: 1
          type:
          - string
          - 'null'
          description: Region where merchant's legal office is located
          example: 'ON'
        city:
          title: City
          maxLength: 100
          minLength: 1
          type:
          - string
          - 'null'
          description: City where merchant's legal office is located
          example: Toronto
        postalCode:
          title: Postal Code
          maxLength: 50
          minLength: 1
          type:
          - string
          - 'null'
          description: The zip/postal detail for the merchant's legal address
          example: M4N1A7
    Etag:
      title: Entity Tag
      maxLength: 100
      minLength: 1
      type: string
      description: Etag is a response header which is an identifier for a specific version of a resource.
      example: '"842DFBC17F921E7716642B9164F3B22B"'
    LocationsBulkResource:
      title: Locations resource
      description: List of locations resource
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/BulkOperationResource'
          example: []
    SearchFieldResource:
      type: object
      properties:
        searchParameter:
          title: Search Parameter
          type:
          - string
          - 'null'
          maxLength: 28
          minLength: 12
          description: Merchant api search parameter
          example: cardAcceptorName
        required:
          title: Required
          type:
          - boolean
          - 'null'
          description: Set true if this search parameter is mandatory
          example: true
        searchFieldCards:
          $ref: '#/components/schemas/CardTypesResource'
      description: Merchant Api Search Field
    ValidationStatus:
      type:
      - object
      - 'null'
      description: Status of created Merchant
      properties:
        messages:
          title: Messages
          type:
          - array
          - 'null'
          description: List of validation messages for a merchant.
          items:
            $ref: '#/components/schemas/Error'
          example: []
        contactUs:
          title: Contact-us message
          type:
          - string
          - 'null'
          maxLength: 500
          minLength: 1
          description: Ethoca's CX team contact
          example: Please reach out to Mastercard/Ethoca customer success team for any questions or concerns.
    LegalAddress:
      title: Legal Address
      description: Legal address of the merchant.
      required:
      - addressLine1
      - countryCode
      - city
      - regionCode
      - postalCode
      - phone
      allOf:
      - $ref: '#/components/schemas/Address'
      - type: object
        properties:
          phone:
            title: Phone
            maxLength: 30
            minLength: 3
            type: string
            description: Phone number of the merchant's office
            example: 1-234-567-9991
    FirstPartyTrustEnrollment:
      title: First Party Trust Enrollment
      type: object
      required:
      - enrollmentType
      properties:
        enrollmentType:
          $ref: '#/components/schemas/FirstPartyTrustEnrollmentType'
    PrimaryContact:
      title: Primary Contact
      description: Primary contact details of the merchant
      required:
      - jobTitle
      - firstName
      - lastName
      - email
      properties:
        jobTitle:
          title: Job Title
          type: string
          minLength: 1
          maxLength: 100
          description: Job title of the primary contact
          example: Manager
        firstName:
          title: First Name
          type: string
          minLength: 1
          maxLength: 50
          description: First name of the primary contact
          example: John
        lastName:
          title: Last Name
          type: string
          minLength: 1
          maxLength: 50
          description: Last name of the primary contact
          example: Doe
        email:
          $ref: '#/components/schemas/ShortEmail'
        phone:
          title: Phone
          maxLength: 30
          minLength: 3
          type:
          - string
          - 'null'
          description: Phone number for primary contact
          example: 1-234-567-8901
    LocaleResource:
      allOf:
      - $ref: '#/components/schemas/Locale'
      - type: object
        properties:
          code:
            title: Code
            type: string
            description: The locale where the merchant anticipates their business to be located; often referred to as the Accept-Language in HTTP headers.
            example: EN_CA
    SubMerchantIdentifier:
      title: Sub-Merchant Identifier
      maxLength: 100
      minLength: 1
      type: string
      description: The alphanumeric ID of the sub-merchant associated with the purchase details. Required for channel partner.
      example: GHF5F67DFSD468GJJXH78
    LegalEntity:
      title: Legal Entity
      description: Legal entity owning the merchant.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/EntityName'
        dba:
          $ref: '#/components/schemas/EntityName'
        address:
          $ref: '#/components/schemas/ShortAddress'
        percentOwnership:
          $ref: '#/components/schemas/PercentOwnership'
        governmentOwned:
          title: Government Owned
          description: Indicates whether the legal entity is owned by a Government
          type:
          - boolean
          - 'null'
          example: false
    Crm:
      title: Customer Relationship Management
      type:
      - object
      - 'null'
      description: Customer Relationship Management
      properties:
        termsConditionsConsent:
          $ref: '#/components/schemas/TermsConditionsConsent'
        sanctionScreening:
          $ref: '#/components/schemas/SanctionScreening'
        paymentConfirmation:
          title: Payment Confirmation
          type: boolean
          description: Confirmation of payment account setup
          example: true
          default: false
    SearchFields:
      title: Search Fields
      type:
      - array
      - 'null'
      description: 'SearchFields is an array of SearchField objects. The following validations apply:

        * If the searchFields array contains both TRANSACTION_AMOUNT and TRANSACTION_CURRENCY_CODE searchParameters, then the value of the "searchFieldCards" and "required" properties must be same for both items

        * If the searchFields array contains the TRANSACTION_AMOUNT searchParameter, then it must also contain the TRANSACTION_CURRENCY_CODE searchParameter (and vice versa)'
      items:
        $ref: '#/components/schemas/SearchField'
    SalesforceAccountNumber:
      title: Sales Force Account Number
      maxLength: 100
      minLength: 1
      type: string
      description: Unique identifier for a merchant in sales force system.
      example: TY12SS33ERYUIOPDDSS34XX
    BaseMerchant:
      type: object
      description: Base merchant model schema
      required:
      - name
      - industryCode
      - primaryContact
      - legalAddress
      properties:
        name:
          title: Name
          maxLength: 60
          minLength: 1
          type: string
          description: Name of the merchant that the item was purchased from.
          example: Pan American Airlines
        categoryCode:
          title: Merchant Category Code
          maxLength: 4
          minLength: 4
          pattern: ^[0-9]*$
          type:
          - string
          - 'null'
          description: A four-digit number listed in ISO 18245 for retail financial services. MCC is used to classify the business by the type of goods or services it provides.
          example: '3002'
        orderAvailabilityDateTime:
          title: Order Availability Date
          type:
          - string
          - 'null'
          description: The earliest date an Issuer can search for orders (i.e. the date an Issuer cannot search before). Date-Time must be in [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          example: '2021-10-18T13:56:47.123+00:00'
          format: date-time
        orderHistoryMonths:
          title: Order History in Months
          maximum: 12
          minimum: 1
          type:
          - integer
          - 'null'
          description: The number of months worth of data you have made available to search on.
          format: int32
          example: 5
        orderLatencyDays:
          title: Order Latency in Days
          maximum: 365
          minimum: 0
          type:
          - integer
          - 'null'
          description: 'The numbers of days that need to elapse between an authorization for a purchase and when the purchase can be searched on. '
          format: int32
          example: 5
        industryCode:
          title: Industry Code
          maxLength: 3
          minLength: 3
          type: string
          description: Industry Code is used to classify the business by the type of industry.
          example: ACC
        primaryContact:
          $ref: '#/components/schemas/PrimaryContact'
        legalAddress:
          $ref: '#/components/schemas/LegalAddress'
    BulkOperationResource:
      title: Bulk post resource
      description: Resource with responseCode and details
      type: object
      required:
      - status
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        errors:
          type:
          - array
          - 'null'
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
        status:
          title: Response Status
          type: string
          description: The status of resource - PENDING, PASS, FAILED
          example: PENDING
  responses:
    SubMerchantSuccess:
      description: Successful Operation
      headers:
        Etag:
          required: true
          schema:
            $ref: '#/components/schemas/Etag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubMerchantResource'
    LocationsBulkSuccess:
      description: Locations response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationsBulkResource'
    PreconditionFailed:
      description: Pre Condition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PreConditionFailed:
              $ref: '#/components/examples/PreconditionFailed'
    SuccessWithoutBody:
      description: Successful Operation
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ResourceNotFound:
              $ref: '#/components/examples/ResourceNotFound'
            EntityNotFound:
              $ref: '#/components/examples/EntityNotFound'
            AlertsEntityNotFound:
              $ref: '#/components/examples/AlertsEntityNotFound'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidData:
              $ref: '#/components/examples/InvalidData'
            AlertsInvalidData:
              $ref: '#/components/examples/AlertsInvalidData'
            InvalidParameterSet:
              $ref: '#/components/examples/InvalidParameterSet'
            FormatInvalid:
              $ref: '#/components/examples/FormatInvalid'
            AlertsFormatInvalid:
              $ref: '#/components/examples/AlertsFormatInvalid'
            MissingRequiredHeader:
              $ref: '#/components/examples/MissingRequiredHeader'
    Default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ServerError:
              $ref: '#/components/examples/ServerError'
    PageableLocationsSuccess:
      description: Pageable locations resource with pagination metadata
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PageableLocationsResource'
    PreconditionRequired:
      description: Pre Condition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PreConditionFailed:
              $ref: '#/components/examples/PreconditionRequired'
    LogoSuccess:
      description: Successful Operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LogoResource'
    LocationSuccess:
      description: Location response
      headers:
        Etag:
          required: true
          schema:
            $ref: '#/components/schemas/Etag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationWithoutCardAcceptorsResource'
    LogoSuccessWithImage:
      description: Successful Operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LogoImageResource'
  examples:
    InvalidParameterSet:
      summary: Invalid Parameter Set Error Response
      description: If request body is malformed or missing, then InvalidParameterSet error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: invalid.parameter.set
            Description: request body is malformed
            Recoverable: false
            Details: ''
    MissingRequiredHeader:
      summary: Missing Required Header Error Response
      description: If a required request header is missing or null, then MissingRequiredHeader error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: Submitter-First-Name
            Recoverable: false
            Details: ''
    ServerError:
      summary: Server Error Response
      description: If an unexpected internal server error occurs, then ServerError response is returned to the caller with HTTP Status code 500.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: server.error
            Description: Internal Server Error
            Recoverable: false
            Details: ''
    PreconditionRequired:
      summary: Precondition Required for the request
      description: If the request doesn't contain the If-Match header, a PreconditionRequired error response is returned to the caller with HTTP Status code 428.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: If-Match,
            Recoverable: false
            Details: ''
    AlertsEntityNotFound:
      summary: Entity Not Found Error Response For Alerts
      description: If a requested entity(e.g. Sub-Merchant or Card Acceptor ID or Card Acceptor Name) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: subMerchantId'
            Description: Sub-Merchant 99ca4b15-72a6-41dd-8127-573d4b07669c not found
            Recoverable: false
            Details: ''
    PreconditionFailed:
      summary: Precondition Failed for the request
      description: If the Etag value sent in the If-Match header doesn't match with the hash of the merchant saved in the system, a PreconditionFailed error response is returned to the caller with HTTP Status code 412.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: If-Match'
            Description: Merchant has been modified by another user. Please refresh the merchant data and try again
            Recoverable: false
            Details: ''
    EntityNotFound:
      summary: Entity Not Found Error Response For Consumer Clarity
      description: If a requested entity(e.g. Merchant or Logo) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: GUID'
            Description: Merchant 1E37M8VSX1D28QYX not found
            Recoverable: false
            Details: ''
    FormatInvalid:
      summary: Format Invalid Error Response For Consumer Clarity
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: format.invalid
            Description: orderHistoryMonths
            Recoverable: false
            Details: ''
    InvalidData:
      summary: Invalid Data Error Response For Consumer Clarity
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantType'
            Description: must not be blank
            Recoverable: false
            Details: ''
    AlertsInvalidData:
      summary: Invalid Data Field Error Response For Alerts
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: name'
            Description: size must be between 3 and 200
            Recoverable: false
            Details: ''
    AlertsFormatInvalid:
      summary: Format Invalid Error Response For Alerts
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantCategoryCode'
            Description: must match \"^[0-9]*$\"
            Recoverable: false
            Details: ''
    ResourceNotFound:
      summary: Resource Not Found Error Response
      description: If request URI doesn't match with any available endpoints, then ResourceNotFound error response is returned the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: resource.not.found
            Description: Not Found
            Recoverable: false
            Details: /merchant-self-services/sub-merchantTs/
  requestBodies:
    LocationBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationWithoutCardAcceptors'
    ChangeSubMerchantStateBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubMerchantState'
          examples:
            inactivation:
              value:
                state: INACTIVE
                inactivationReason: My business is closing
            activation:
              value:
                state: ACTIVE
    SubMerchantBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubMerchant'
    MerchantLogoBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MerchantLogo'
    LocationsBulkRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LocationsBulk'
  parameters:
    LocationIdParam:
      name: location_id
      in: path
      required: true
      example: Mxyz123
      description: Unique identifier of location
      schema:
        $ref: '#/components/schemas/ResourceId'
    UserIdParam:
      name: User-Id
      in: header
      required: true
      example: princess.diana
      description: The user id of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/UserId'
    SubmitterLastNameParam:
      name: Submitter-Last-Name
      in: header
      required: true
      example: Princess
      description: The last name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/LastName'
    ClaritySortFieldParam:
      name: sort_field
      in: query
      required: false
      description: Field to Sort data in response
      schema:
        type: string
        default: modifiedDateTime
        maxLength: 100
      example: modifiedDateTime
    ClarityOffsetParam:
      name: offset
      in: query
      required: false
      description: The number of items to skip before starting to collect the result set
      schema:
        type: integer
        default: 50
        minimum: 0
        example: 0
    SubmitterFirstNameParam:
      name: Submitter-First-Name
      in: header
      required: true
      example: Diana
      description: The first name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/FirstName'
    LocationSearchTextQueryParam:
      name: search_text
      in: query
      required: false
      description: Input field used as wild search in region/city/country like regex %search_text%
      schema:
        type: string
        maxLength: 100
      example: Toronto
    MerchantGuidParam:
      name: guid
      in: path
      required: true
      description: Consumer Clarity internal merchant's GUID
      example: jK2dA5aybhQQBq6C
      schema:
        $ref: '#/components/schemas/MerchantGuid'
    ClarityPageNumberParam:
      name: page_number
      in: query
      required: false
      description: current page number
      schema:
        type: integer
        default: 0
        minimum: 0
      example: 2
    IfMatch:
      name: If-Match
      in: header
      required: true
      example: '"842DFBC17F921E7716642B9164F3B22B"'
      description: If-Match is a request header which makes the request conditional. Client must send the corresponding value from the latest Etag response header received for this merchant.
      schema:
        $ref: '#/components/schemas/Etag'
    ClaritySortDirectionParam:
      name: sort_direction
      in: query
      required: false
      description: Direction to sort the data using sort_field in response
      schema:
        type: string
        default: DESC
        enum:
        - ASC
        - DESC
        example: ASC
