swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Supported  Parameters API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Supported  Parameters
paths:
  /supported-currencies:
    get:
      tags:
      - Supported  Parameters
      summary: Mastercard Provide Supported Currencies
      description: This service provides list of currencies supported by the application. While sending a transaction amount in Amount object, 'currencyCode' should be from one of the supported currencies. It is recommended to cache this list and use it for checking before sending transactions for footprint calculation.<br><br>Generally this list doesn't change that often but it is recommended to refresh this data every 24-hours.
      operationId: GetSupportedCurrencies
      responses:
        '200':
          $ref: '#/components/responses/MCSupportedCurrencies'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /supported-merchant-categories:
    get:
      tags:
      - Supported  Parameters
      summary: Mastercard Provide Supported Mccs
      description: This service provides list of merchant category codes supported by the application. While sending a transaction data in Transaction object, 'mcc' should be from one of the supported merchant categories. It is recommended to cache this list and use it for checking before sending transactions for footprint calculation.<br><br>Generally this list doesn't change that often but it is recommended to refresh this data every 24-hours.
      operationId: GetSupportedMerchantCategories
      responses:
        '200':
          $ref: '#/components/responses/MCSupportedMerchantCategories'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MCSupportedCurrencies:
      title: SupportedCurrencies
      type: object
      description: The response object that contains a list of supported curencies.
      required:
      - currencies
      properties:
        currencies:
          minItems: 1
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/MCCurrency'
          example: []
    MCCurrency:
      title: Currency
      type: object
      description: This object represents one currency code information.
      required:
      - currencyCode
      properties:
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
    MCMerchantCategory:
      title: MerchantCategory
      type: object
      description: This object represents one merchant category information.
      required:
      - mcc
      properties:
        mcc:
          type: string
          maxLength: 4
          minLength: 1
          pattern: ^\d{1,4}
          description: Merchant category code of a payment transaction that uniquely defines a merchant business.
          example: 3997
    MCSupportedMerchantCategories:
      title: SupportedMerchantCategories
      type: object
      description: The response object that contains a list of supported merchant categories.
      required:
      - merchantCategories
      properties:
        merchantCategories:
          minItems: 1
          maxItems: 5000
          type: array
          items:
            $ref: '#/components/schemas/MCMerchantCategory'
          example: []
    CurrencyCode:
      type: string
      description: Currency code as per ISO 4217
      minLength: 3
      maxLength: 3
      pattern: ^[A-Za-z]{3}$
      example: USD
  examples:
    MCSupportedCurrencies:
      value:
        currencies:
        - currencyCode: SEK
        - currencyCode: USD
        - currencyCode: EUR
        - currencyCode: GBP
    MCSupportedMerchantCategories:
      value:
        merchantCategories:
        - mcc: 3860
        - mcc: 3861
        - mcc: 3620
        - mcc: 3862
        - mcc: 3621
        - mcc: 3863
        - mcc: 5800
  responses:
    MCSupportedCurrencies:
      description: This response code is returned when a request is accepted and successfuly processed. A corresponding response will be returned for the API caller.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCSupportedCurrencies'
          examples:
            MCSupportedCurrencies:
              $ref: '#/components/examples/MCSupportedCurrencies'
    MCSupportedMerchantCategories:
      description: This response code is returned when a request is accepted and successfuly processed. A corresponding response will be returned for the API caller.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCSupportedMerchantCategories'
          examples:
            MCSupportedMerchantCategories:
              $ref: '#/components/examples/MCSupportedMerchantCategories'
