swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Member API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Member
paths:
  /alerts/merchants/{member_id}/acquirer-reference-ids:
    post:
      tags:
      - Member
      summary: Mastercard Create Acquirer Reference Id Config.
      description: Create an acquirer reference id configuration.
      operationId: createAlertsAcquirerReferenceIdConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsAcquirerReferenceIdConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsMerchantIdentifierSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Member
      summary: Mastercard Update Acquirer Reference Id Config.
      description: Update an acquirer reference id configuration.
      operationId: updateAlertsAcquirerReferenceIdConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/MerchantIdentifierConfigIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsAcquirerReferenceIdConfigUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsMerchantIdentifierSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Member
      summary: Mastercard Get Acquirer Reference Id Configs.
      description: Get the acquirer reference id configs filtered by acquirer reference id and card scheme.
      operationId: getAlertsAcquirerReferenceIdConfigs
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/AcquirerReferenceIdParam'
      - $ref: '#/components/parameters/CardSchemeParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/PageNumberParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsPageableAcquirerReferenceIdConfigs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Member
      summary: Mastercard Delete Acquirer Reference Id Config.
      description: Delete an acquirer reference id configuration.
      operationId: deleteAlertsAcquirerReferenceIdConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/MerchantIdentifierConfigIdParam'
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts/merchants/{member_id}/sub-merchants:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    - $ref: '#/components/parameters/MemberIdParam'
    post:
      tags:
      - Member
      summary: Mastercard Create a Sub-merchant.
      description: Returns created sub-merchant details.
      operationId: createAlertsSubMerchant
      requestBody:
        $ref: '#/components/requestBodies/AlertsSubMerchantCreateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsSubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Member
      summary: Mastercard Get a List of Sub-merchants.
      description: Returns sub-merchants matching multiple criteria.
      operationId: getAlertsSubMerchants
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/MerchantNameParam'
      - $ref: '#/components/parameters/MerchantStatusParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/PageNumberParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsPageableSubMerchants'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts/merchants/{member_id}/sub-merchants/{sub_merchant_id}:
    put:
      tags:
      - Member
      summary: Mastercard Update a Sub-merchant.
      description: Returns updated sub-merchant details.
      operationId: updateAlertsSubMerchantDetails
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsSubMerchantDetailsUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsSubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Member
      summary: Mastercard Get a Sub-merchant.
      description: Returns sub-merchant details with matching ID.
      operationId: getAlertsSubMerchantByGuid
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsSubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts/merchants/{member_id}/sub-merchants/{sub_merchant_id}/status-changes:
    put:
      tags:
      - Member
      summary: Mastercard Change Sub-merchant Status.
      description: Returns sub-merchant details with updated status.
      operationId: updateAlertsSubMerchantStatus
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsSubMerchantStatusUpdateRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsSubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts/merchants/{member_id}/sub-merchants/{sub_merchant_id}/card-acceptor-ids:
    post:
      tags:
      - Member
      summary: Mastercard Create Sub-merchant Card Acceptor Id Config.
      description: Returns created sub-merchant card acceptor id config details.
      operationId: createAlertsCardAcceptorIdConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsCardAcceptorIdConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsMerchantIdentifierSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Member
      summary: Mastercard Get Sub-merchant Card Acceptor Id Configs.
      description: Returns sub-merchant card acceptor id config details.
      operationId: getAlertsCardAcceptorIdConfigs
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/AcquirerReferenceIdParam'
      - $ref: '#/components/parameters/CardAcceptorIdParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/PageNumberParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsCardAcceptorIdConfigs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Member
      summary: Mastercard Delete Sub-merchant Card Acceptor Id Config.
      description: Returns 200 if sub-merchant card acceptor id configs gets deleted.
      operationId: deleteAlertsCardAcceptorIdConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/MerchantIdentifierConfigIdParam'
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alerts/merchants/{member_id}/sub-merchants/{sub_merchant_id}/card-acceptor-names:
    post:
      tags:
      - Member
      summary: Mastercard Create Sub-merchant Card Acceptor Name Config.
      description: Returns created sub-merchant card acceptor name config details.
      operationId: createAlertsCardAcceptorNameConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsCardAcceptorNameConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsMerchantIdentifierSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Member
      summary: Mastercard Get Sub-merchant Card Acceptor Name Configs.
      description: Returns sub-merchant card acceptor name config details.
      operationId: getAlertsCardAcceptorNameConfigs
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/CardAcceptorNameParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/PageNumberParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsCardAcceptorNameConfigs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Member
      summary: Mastercard Delete Sub-merchant Card Acceptor Name Config.
      description: Returns 200 if sub-merchant card acceptor name configs gets deleted.
      operationId: deleteAlertsCardAcceptorNameConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/MerchantIdentifierConfigIdParam'
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  requestBodies:
    AlertsAcquirerReferenceIdConfigUpdateRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsAcquirerReferenceIdConfigUpdate'
          examples:
            AlertsAcquirerReferenceIdConfigUpdate:
              $ref: '#/components/examples/AlertsAcquirerReferenceIdConfigUpdate'
    AlertsCardAcceptorNameConfigRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfig'
          examples:
            AlertsCardAcceptorNameConfig:
              $ref: '#/components/examples/AlertsCardAcceptorNameConfig'
    AlertsCardAcceptorIdConfigRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorIdConfig'
          examples:
            AlertsCardAcceptorIdConfig:
              $ref: '#/components/examples/AlertsCardAcceptorIdConfig'
    AlertsSubMerchantStatusUpdateRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsSubMerchantStatusUpdate'
          examples:
            AlertsSubMerchantStatusUpdateRequestBody:
              $ref: '#/components/examples/AlertsSubMerchantStatusUpdate'
    AlertsSubMerchantCreateRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsSubMerchantCreate'
    AlertsSubMerchantDetailsUpdateRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsSubMerchantDetailsUpdate'
    AlertsAcquirerReferenceIdConfigRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsAcquirerReferenceIdConfig'
          examples:
            AlertsAcquirerReferenceIdConfig:
              $ref: '#/components/examples/AlertsAcquirerReferenceIdConfig'
  schemas:
    AlertsCardAcceptorNameConfig:
      description: Card acceptor name configuration
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
        cardAcceptorName:
          $ref: '#/components/schemas/CardAcceptorName'
        cardAcceptorCity:
          $ref: '#/components/schemas/CardAcceptorCity'
        cardAcceptorRegion:
          $ref: '#/components/schemas/CardAcceptorRegion'
        cardAcceptorCountry:
          $ref: '#/components/schemas/CardAcceptorCountry'
      required:
      - cardAcceptorName
    User:
      description: Username for the user creating or modifying a resource
      type: string
      minLength: 0
      maxLength: 200
      example: John Doe
    AlertsSubMerchantResource:
      description: Response containing a specific sub-merchant with details
      type: object
      properties:
        subMerchantId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantType:
          $ref: '#/components/schemas/MerchantType'
        status:
          $ref: '#/components/schemas/MerchantStatus'
        parentMemberId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        merchantCategoryCode:
          $ref: '#/components/schemas/MerchantCategoryCode'
        createdBy:
          $ref: '#/components/schemas/CreatedOrModifiedBy'
        modifiedBy:
          $ref: '#/components/schemas/CreatedOrModifiedBy'
        statusUpdateTs:
          $ref: '#/components/schemas/Timestamp'
    AcquirerReferenceId:
      title: Acquirer Reference ID (ARID)
      description: The acquirer BINs that a partner currently services under their portfolio. This is represented by Mastercard DE 31 - Subfield 2 (Clearing), DE 32 (Authorization), or Visa Field 32.
      type: string
      minLength: 6
      maxLength: 6
      pattern: ^[\d]+$
      example: '123456'
    AlertsAcquirerReferenceIdConfig:
      description: Acquirer reference id configuration
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
        acquirerReferenceId:
          $ref: '#/components/schemas/AcquirerReferenceId'
        cardScheme:
          $ref: '#/components/schemas/CardScheme'
        binOnlyMatch:
          $ref: '#/components/schemas/BinOnlyMatch'
      required:
      - acquirerReferenceId
      - cardScheme
    CardAcceptorRegion:
      title: Card Acceptor's Region
      description: A sub-element of the merchant descriptor indicating either the state, province, or region of the merchant as it appears on the cardholder's statement. Value is not case-sensitive and can accept 2 or 3 character ISO state and province code.
      type: string
      minLength: 1
      maxLength: 3
      example: 019
    MerchantStatus:
      title: Merchant's Status
      type: string
      description: Merchant Status must be one of - ACTIVATED, DEACTIVATED
      minLength: 1
      maxLength: 50
      example: ACTIVATED
    AlertsCardAcceptorIdConfig:
      description: Map of acquirer reference id and the corresponding card acceptor id
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
        acquirerReferenceId:
          $ref: '#/components/schemas/AcquirerReferenceId'
        cardAcceptorId:
          $ref: '#/components/schemas/CardAcceptorId'
      required:
      - acquirerReferenceId
      - cardAcceptorId
    AlertsSubMerchantCreate:
      description: Request used to create sub-merchants
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantCategoryCode:
          $ref: '#/components/schemas/MerchantCategoryCode'
      required:
      - name
      - merchantCategoryCode
    LastName:
      title: Last Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's last name
      example: Fox
      nullable: true
    ResponseTime:
      type: string
      description: Total response time in ms
      minLength: 0
      maxLength: 10
      example: 300 ms
    AlertsMerchantConfigId:
      title: Unique identifier for merchants identifier (such as acquirer reference id, card acceptor id or name) configuration
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants configuration
      type: string
      format: uuid
      example: 88ca4b15-72a6-41dd-8127-573d4b07558c
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error Response object
    AlertsMerchantIdentifierConfigIdOnly:
      description: Merchant identifier configuration Id (referring to card acceptor id or name configuration)
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
      description: Errors object
    CardAcceptorCountry:
      title: Card Acceptor's Country
      description: A sub-element of the merchant descriptor indicating the country of the merchant as it appears on the cardholder's statement. Value is not case-sensitive and can accept 2 or 3 character ISO country code.
      type: string
      minLength: 1
      maxLength: 3
      example: CAN
    CreatedOrModifiedBy:
      description: Timestamp and user responsible for creation or modification of the resource
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        user:
          $ref: '#/components/schemas/User'
    AlertsAcquirerReferenceIdConfigs:
      description: Acquirer reference id configurations
      type: array
      items:
        $ref: '#/components/schemas/AlertsAcquirerReferenceIdConfig'
    UserId:
      title: User Id
      maxLength: 300
      minLength: 1
      type: string
      description: The user id of the submitter/technical contact.
      example: princess.diana
    CardScheme:
      description: Name of card scheme may be one of - MASTERCARD, VISA or any other supported schemes
      type: string
      minLength: 1
      maxLength: 20
      example: MASTERCARD
    AlertsMerchantMemberId:
      title: Unique identifier for merchants
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants
      type: string
      format: uuid
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
    AlertsSubMerchantStatusUpdate:
      description: Request used to update sub-merchant status
      type: object
      properties:
        status:
          $ref: '#/components/schemas/MerchantStatus'
      required:
      - status
    CardAcceptorName:
      title: Card Acceptor's Name
      description: A sub-element of the merchant descriptor that contains the merchant's name or doing business as name as it appears on the cardholder's billing statement.
      type: string
      minLength: 1
      maxLength: 200
      example: Acceptor 1
    FirstName:
      title: First Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's first name
      example: Michael
      nullable: true
    AlertsCardAcceptorNameConfigs:
      description: Card acceptor name configurations for a merchant
      type: object
      properties:
        responseHeader:
          $ref: '#/components/schemas/ResponseHeader'
        configs:
          type: array
          items:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfig'
          example: []
    CardAcceptorCity:
      title: Card Acceptor's City
      description: A sub-element of the merchant descriptor indicating the merchant city/location as it appears on the cardholder's billing statement.
      type: string
      minLength: 1
      maxLength: 80
      example: Toronto
    MerchantCategoryCode:
      title: Merchant Category Code
      description: A four-digit number listed in ISO 18245 for retail financial services. MCC is used to classify the business by the type of goods or services it provides.
      type: string
      maxLength: 4
      minLength: 0
      pattern: ^[0-9]*$
      example: '3002'
    MerchantType:
      title: Merchant's Type
      description: Merchant Type must be one of - PARTNER, ACQUIRER, SUBMERCHANT
      type: string
      minLength: 1
      maxLength: 50
      example: SUBMERCHANT
    Timestamp:
      description: Timestamp of the creation or modification of the resource
      type: string
      minLength: 0
      maxLength: 50
      format: date-time
      example: '2023-04-28T10:30:00.000Z'
    MerchantName:
      title: Merchant's Name
      maxLength: 200
      minLength: 3
      type: string
      description: Merchant's partial or full name.
      example: Merchant 1
    AlertsPageableAcquirerReferenceIdConfigs:
      description: Pageable response containing acquirer reference id configurations
      type: object
      properties:
        responseHeader:
          $ref: '#/components/schemas/ResponseHeader'
        configs:
          $ref: '#/components/schemas/AlertsAcquirerReferenceIdConfigs'
    AlertsPageableSubMerchantResource:
      description: Pageable response containing sub-merchants with their details
      type: object
      properties:
        responseHeader:
          $ref: '#/components/schemas/ResponseHeader'
        subMerchants:
          type: array
          description: List of sub-merchants with all details
          items:
            $ref: '#/components/schemas/AlertsSubMerchantResource'
          example: []
    AlertsAcquirerReferenceIdConfigUpdate:
      description: Acquirer reference id configuration for update
      type: object
      properties:
        binOnlyMatch:
          $ref: '#/components/schemas/BinOnlyMatch'
      required:
      - binOnlyMatch
    BinOnlyMatch:
      description: Indicates whether to use only acquirer reference ID (Acquirer BIN) for merchant matching
      type: boolean
      default: false
      example: true
    AlertsSubMerchantDetailsUpdate:
      description: Request used to update sub-merchant details
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantCategoryCode:
          $ref: '#/components/schemas/MerchantCategoryCode'
      required:
      - name
      - merchantCategoryCode
    CardAcceptorId:
      title: Card Acceptor's ID (CAID)
      description: Identifies the card acceptor ID assigned by the acquirer. This ID must represent a unique identifier for each merchant name/location within the acquirer BIN. This is represented by Mastercard DE 42 and Visa Field 42.
      type: string
      minLength: 1
      maxLength: 15
      example: card_acceptor1
    ResponseHeader:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int64
          description: Total number of records found
          minimum: 0
          maximum: 999999999
          example: 500
        totalPages:
          type: integer
          description: Total number of pages based on limit
          minimum: 0
          maximum: 999999999
          example: 10
        currentPage:
          type: integer
          description: The current page number
          minimum: 1
          maximum: 999999999
          example: 2
        responseTime:
          $ref: '#/components/schemas/ResponseTime'
    AlertsCardAcceptorIdConfigs:
      description: Card acceptor id configurations for a merchant
      type: object
      properties:
        responseHeader:
          $ref: '#/components/schemas/ResponseHeader'
        configs:
          type: array
          items:
            $ref: '#/components/schemas/AlertsCardAcceptorIdConfig'
          example: []
    Error:
      type: object
      properties:
        Source:
          maxLength: 100
          minLength: 0
          type: string
          description: Source of the error
          example: Service
          nullable: true
        ReasonCode:
          maxLength: 100
          minLength: 0
          type: string
          description: A unique constant identifying the error
          example: format.invalid
          nullable: true
        Description:
          maxLength: 1000
          minLength: 0
          type: string
          description: Short description of the error
          example: Short description of the error
          nullable: true
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          example: false
          default: false
          nullable: true
        Details:
          maxLength: 1000
          minLength: 0
          type: string
          description: Optional detailed description of the issue
          example: Detailed description of the error
          nullable: true
      description: Error object
  examples:
    MissingRequiredHeader:
      summary: Missing Required Header Error Response
      description: If a required request header is missing or null, then MissingRequiredHeader error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: Submitter-First-Name
            Recoverable: false
            Details: ''
    AlertsPageableSubMerchants:
      summary: Pageable list of Sub-Merchants
      value:
        responseHeader:
          totalRecords: 500
          totalPages: 10
          currentPage: 2
          responseTime: 300 ms
        subMerchants:
        - subMerchantId: 99ca4b15-72a6-41dd-8127-573d4b07669c
          name: Merchant 1
          merchantType: SUBMERCHANT
          status: ACTIVATED
          parentMemberId: 99ca4b15-72a6-41dd-8127-573d4b07669c
          merchantCategoryCode: '3002'
          createdBy:
            timestamp: '2023-04-28T10:30:00.000Z'
            user: John Doe
          modifiedBy:
            timestamp: '2023-04-28T10:30:00.000Z'
            user: John Doe
          statusUpdateTs: '2023-04-28T10:30:00.000Z'
        - subMerchantId: 22ca4b15-72a6-41dd-8127-573d4b07662c
          name: Merchant 2
          merchantType: SUBMERCHANT
          status: ACTIVATED
          parentMemberId: 99ca4b15-72a6-41dd-8127-573d4b07669c
          merchantCategoryCode: '3003'
          createdBy:
            timestamp: '2023-02-02T10:30:00.000Z'
            user: John Doe
          modifiedBy:
            timestamp: '2023-02-02T10:30:00.000Z'
            user: John Doe
          statusUpdateTs: '2023-02-02T10:30:00.000Z'
    AlertsAcquirerReferenceIdConfigUpdate:
      summary: Alerts Acquirer Reference Id Configuration for Update
      value:
        binOnlyMatch: true
    FormatInvalid:
      summary: Format Invalid Error Response For Consumer Clarity
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: format.invalid
            Description: orderHistoryMonths
            Recoverable: false
            Details: ''
    AlertsCardAcceptorIdConfigs:
      summary: Alerts Card Acceptor ID Configurations
      value:
        responseHeader:
          totalRecords: 500
          totalPages: 10
          currentPage: 2
          responseTime: 300 ms
        configs:
        - merchantIdentifierConfigId: 11ca4b15-72a6-41dd-8127-573d4b07511c
          acquirerReferenceId: '123456'
          cardAcceptorId: card_acceptorA
        - merchantIdentifierConfigId: 22ca4b15-72a6-41dd-8127-573d4b07522c
          acquirerReferenceId: '876543'
          cardAcceptorId: card_acceptorB
    EntityNotFound:
      summary: Entity Not Found Error Response For Consumer Clarity
      description: If a requested entity(e.g. Merchant or Logo) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: GUID'
            Description: Merchant 1E37M8VSX1D28QYX not found
            Recoverable: false
            Details: ''
    AlertsSubMerchantActivated:
      summary: Alerts Merchant - Activated
      value:
        subMerchantId: 99ca4b15-72a6-41dd-8127-573d4b07669c
        name: Merchant 1
        merchantType: SUBMERCHANT
        status: ACTIVATED
        parentMemberId: 99ca4b15-72a6-41dd-8127-573d4b07669c
        merchantCategoryCode: '3002'
        createdBy:
          timestamp: '2023-04-28T10:30:00.000Z'
          user: princess.diana
        modifiedBy:
          timestamp: '2023-04-28T10:30:00.000Z'
          user: princess.diana
        statusUpdateTs: '2023-04-28T10:30:00.000Z'
    AlertsInvalidData:
      summary: Invalid Data Field Error Response For Alerts
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: name'
            Description: size must be between 3 and 200
            Recoverable: false
            Details: ''
    AlertsCardAcceptorIdConfig:
      summary: Alerts Card Acceptor ID Configuration
      value:
        acquirerReferenceId: '123456'
        cardAcceptorId: card_acceptorA
    AlertsAcquirerReferenceIdConfig:
      summary: Alerts Acquirer Reference Id Configuration
      value:
        cardScheme: MASTERCARD
        acquirerReferenceId: '123456'
        binOnlyMatch: true
    AlertsEntityNotFound:
      summary: Entity Not Found Error Response For Alerts
      description: If a requested entity(e.g. Sub-Merchant or Card Acceptor ID or Card Acceptor Name) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: subMerchantId'
            Description: Sub-Merchant 99ca4b15-72a6-41dd-8127-573d4b07669c not found
            Recoverable: false
            Details: ''
    ResourceNotFound:
      summary: Resource Not Found Error Response
      description: If request URI doesn't match with any available endpoints, then ResourceNotFound error response is returned the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: resource.not.found
            Description: Not Found
            Recoverable: false
            Details: /merchant-self-services/sub-merchantTs/
    AlertsCardAcceptorNameConfig:
      summary: Alerts Card Acceptor Name Configuration
      value:
        cardAcceptorName: card_acceptor1
        cardAcceptorCity: Toronto
        cardAcceptorRegion: 019
        cardAcceptorCountry: CAN
    ServerError:
      summary: Server Error Response
      description: If an unexpected internal server error occurs, then ServerError response is returned to the caller with HTTP Status code 500.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: server.error
            Description: Internal Server Error
            Recoverable: false
            Details: ''
    PermissionDenied:
      summary: Permission Denied Error Response
      description: If the client id in the request doesn't correspond to any member in the system, then PermissionDenied error response is returned to the caller with HTTP Status code 401.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: permission.denied
            Description: Member does not have permission to perform any operation
            Recoverable: false
            Details: ''
    ForbiddenOperation:
      summary: Member does not have permission to add/update/delete a resource
      description: If the merchant tries operate on a resource that is not related to them or if they are not allowed perform a specific operation on their resource, then ForbiddenOperation error response is returned to the caller with HTTP Status code 403.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: operation.not.allowed
            Description: Member is not allowed to perform a specific operation on a particular resource
            Recoverable: false
            Details: ''
    AlertsSubMerchantDeactivated:
      summary: Alerts Merchant - Deactivated
      value:
        subMerchantId: 99ca4b15-72a6-41dd-8127-573d4b07669c
        name: Merchant 1
        merchantType: SUBMERCHANT
        status: DEACTIVATED
        parentMemberId: 99ca4b15-72a6-41dd-8127-573d4b07669c
        merchantCategoryCode: '3002'
        createdBy:
          timestamp: '2023-04-28T10:30:00.000Z'
          user: princess.diana
        modifiedBy:
          timestamp: '2023-04-30T10:30:00.000Z'
          user: princess.diana
        statusUpdateTs: '2023-04-30T10:30:00.000Z'
    ValidationFailed:
      summary: Validation of the request failed
      description: If the fields in the request did not pass the validation, a ValidationFailed error response is returned to the caller with HTTP Status code 422.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: validation.failed
            Description: Validation of the request fields failed
            Recoverable: false
            Details: ''
    AlertsMerchantIdentifierConfigIdOnly:
      summary: Alerts Merchant Identifier Configuration ID
      value:
        merchantIdentifierConfigId: 88ca4b15-72a6-41dd-8127-573d4b07875c
    AlertsSubMerchantStatusUpdate:
      summary: Alert Merchant Status Update
      value:
        status: DEACTIVATED
    AlertsCardAcceptorNameConfigs:
      summary: Alerts Card Acceptor Name Configurations
      value:
        responseHeader:
          totalRecords: 500
          totalPages: 10
          currentPage: 2
          responseTime: 300 ms
        configs:
        - merchantIdentifierConfigId: 33ca4b15-72a6-41dd-8127-573d4b07533c
          cardAcceptorName: card_acceptor1
          cardAcceptorCity: Toronto
          cardAcceptorRegion: 019
          cardAcceptorCountry: CAN
        - merchantIdentifierConfigId: 44ca4b15-72a6-41dd-8127-573d4b07544c
          cardAcceptorName: card_acceptor2
          cardAcceptorCity: Ottawa
          cardAcceptorRegion: 019
          cardAcceptorCountry: CAN
    AlertsFormatInvalid:
      summary: Format Invalid Error Response For Alerts
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantCategoryCode'
            Description: must match \"^[0-9]*$\"
            Recoverable: false
            Details: ''
    InvalidParameterSet:
      summary: Invalid Parameter Set Error Response
      description: If request body is malformed or missing, then InvalidParameterSet error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: invalid.parameter.set
            Description: request body is malformed
            Recoverable: false
            Details: ''
    InvalidData:
      summary: Invalid Data Error Response For Consumer Clarity
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantType'
            Description: must not be blank
            Recoverable: false
            Details: ''
  parameters:
    OffsetParam:
      name: offset
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        default: 25
        maximum: 25
      example: 25
    MemberIdParam:
      name: member_id
      in: path
      required: true
      description: Merchant member ID (parent of the sub-merchant)
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
      schema:
        $ref: '#/components/schemas/AlertsMerchantMemberId'
    UserIdParam:
      name: User-Id
      in: header
      required: true
      example: princess.diana
      description: The user id of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/UserId'
    CardAcceptorIdParam:
      name: card_acceptor_id
      in: query
      required: false
      description: Identifies the card acceptor ID assigned by the acquirer. This ID must represent a unique identifier for each merchant name/location within the acquirer BIN.
      schema:
        $ref: '#/components/schemas/CardAcceptorId'
      example: card_acceptor1
    MerchantIdentifierConfigIdParam:
      name: merchant_identifier_config_id
      in: query
      required: true
      description: The Configuration ID for acquirer reference ID or card acceptor ID or card acceptor name configurations.
      schema:
        $ref: '#/components/schemas/AlertsMerchantConfigId'
      example: 88ca4b15-72a6-41dd-8127-573d4b07875c
    MerchantNameParam:
      name: name
      in: query
      required: true
      description: The name of the merchant
      example: Merchant 1
      schema:
        $ref: '#/components/schemas/MerchantName'
    SubmitterFirstNameParam:
      name: Submitter-First-Name
      in: header
      required: true
      example: Diana
      description: The first name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/FirstName'
    CardSchemeParam:
      name: card_scheme
      description: Name of card scheme may be one of - MASTERCARD, VISA or any other supported schemes
      in: query
      schema:
        $ref: '#/components/schemas/CardScheme'
      example: MASTERCARD
    SubmitterLastNameParam:
      name: Submitter-Last-Name
      in: header
      required: true
      example: Princess
      description: The last name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/LastName'
    SubMerchantIdParam:
      name: sub_merchant_id
      in: path
      required: true
      description: Sub-merchant member ID
      example: cc2cac41-d127-4c06-9646-c0f2ad76c444
      schema:
        $ref: '#/components/schemas/AlertsMerchantMemberId'
    MerchantStatusParam:
      name: status
      in: query
      required: false
      description: The status of the merchant
      example: ACTIVATED
      schema:
        $ref: '#/components/schemas/MerchantStatus'
    CardAcceptorNameParam:
      name: card_acceptor_name
      in: query
      required: false
      description: A sub-element of the merchant descriptor that contains the merchant's name or doing business as name as it appears on the cardholder's billing statement.
      schema:
        $ref: '#/components/schemas/CardAcceptorName'
      example: Acceptor 1
    AcquirerReferenceIdParam:
      name: acquirer_reference_id
      in: query
      required: false
      description: BIN that a partner currently services under their portfolio.
      schema:
        $ref: '#/components/schemas/AcquirerReferenceId'
      example: '123456'
    PageNumberParam:
      name: page_number
      in: query
      required: false
      description: Current page number
      schema:
        type: integer
        default: 1
        minimum: 1
      example: 1
  responses:
    ForbiddenOperation:
      description: Forbidden Operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ForbiddenOperation:
              $ref: '#/components/examples/ForbiddenOperation'
    AlertsPageableSubMerchants:
      description: Pageable list of sub-merchants with all details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsPageableSubMerchantResource'
          examples:
            AlertsPageableSubMerchants:
              $ref: '#/components/examples/AlertsPageableSubMerchants'
    AlertsMerchantIdentifierSuccess:
      description: Sub-merchant identifiers for either card acceptor id or card acceptor name configuration
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsMerchantIdentifierConfigIdOnly'
          examples:
            AlertsMerchantIdentifierConfigIdOnly:
              $ref: '#/components/examples/AlertsMerchantIdentifierConfigIdOnly'
    ValidationFailed:
      description: Validation Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ValidationFailed:
              $ref: '#/components/examples/ValidationFailed'
    AlertsPageableAcquirerReferenceIdConfigs:
      description: Pageable list of acquirer reference id configurations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsPageableAcquirerReferenceIdConfigs'
    SuccessWithoutBody:
      description: Successful Operation
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PermissionDenied:
              $ref: '#/components/examples/PermissionDenied'
    AlertsCardAcceptorNameConfigs:
      description: Sub-merchant card acceptor name configurations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfigs'
          examples:
            AlertsCardAcceptorNameConfigs:
              $ref: '#/components/examples/AlertsCardAcceptorNameConfigs'
    Default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ServerError:
              $ref: '#/components/examples/ServerError'
    AlertsCardAcceptorIdConfigs:
      description: Sub-merchant card acceptor id configurations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorIdConfigs'
          examples:
            AlertsCardAcceptorIdConfigs:
              $ref: '#/components/examples/AlertsCardAcceptorIdConfigs'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ResourceNotFound:
              $ref: '#/components/examples/ResourceNotFound'
            EntityNotFound:
              $ref: '#/components/examples/EntityNotFound'
            AlertsEntityNotFound:
              $ref: '#/components/examples/AlertsEntityNotFound'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidData:
              $ref: '#/components/examples/InvalidData'
            AlertsInvalidData:
              $ref: '#/components/examples/AlertsInvalidData'
            InvalidParameterSet:
              $ref: '#/components/examples/InvalidParameterSet'
            FormatInvalid:
              $ref: '#/components/examples/FormatInvalid'
            AlertsFormatInvalid:
              $ref: '#/components/examples/AlertsFormatInvalid'
            MissingRequiredHeader:
              $ref: '#/components/examples/MissingRequiredHeader'
    AlertsSubMerchantSuccess:
      description: Sub-merchant with all details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsSubMerchantResource'
          examples:
            AlertsSubMerchantActivated:
              $ref: '#/components/examples/AlertsSubMerchantActivated'
            AlertsSubMerchantDeactivated:
              $ref: '#/components/examples/AlertsSubMerchantDeactivated'
