openapi: 3.2.0
info:
  title: Mastercard Merchants API
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: '1.0'
  description: 'Operations tagged Merchants across 4 of this provider''s published API definitions: mastercard-carbon-calculator-api-openapi.yml, mastercard-ethoca-merchant-self-services-openapi.yml, mastercard-installments-openapi.yml, mastercard-merchant-locations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.api.mastercard.com/carbon
  description: Sandbox
- url: https://api.mastercard.com/carbon
  description: Production
- url: https://api.ethocaweb.com/ethoca/merchant-self-services
  description: Production server (uses live data)
- url: https://sandbox.api.ethocaweb.com/ethoca/merchant-self-services
  description: Sandbox server (testing environment)
- url: https://sandbox.api.mastercard.com/installments
  description: Sandbox
- url: https://api.mastercard.com/installments
  description: Production
- url: https://api.mastercard.com/locations/merchants
  description: Production server
- url: https://sandbox.api.mastercard.com/locations/merchants
  description: Sandbox server
tags:
- name: Merchants
paths:
  /supported-merchant-categories:
    get:
      tags:
      - Merchants
      summary: Provide Supported MCCs
      description: Provides a list of merchant category codes supported by the application. While sending transaction data in the Transaction object, 'mcc' should be from one of the supported merchant categories. It is recommended to cache this list and use it for checking before sending transactions for footprint calculation. Generally this list doesn't change that often, but it is recommended to refresh this data every 24-hours.
      operationId: GetSupportedMerchantCategories
      responses:
        '200':
          $ref: '#/components/responses/SupportedMerchantCategories'
    servers:
    - url: https://sandbox.api.mastercard.com/carbon
      description: Sandbox
    - url: https://api.mastercard.com/carbon
      description: Production
  /sub-merchants:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    post:
      tags:
      - Merchants
      summary: Mastercard Create a Sub-merchant.
      description: Returns sub-merchant object with status.
      operationId: createSubMerchant
      requestBody:
        $ref: '#/components/requestBodies/SubMerchantBody'
      responses:
        '200':
          $ref: '#/components/responses/SubMerchantSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.ethocaweb.com/ethoca/merchant-self-services
      description: Production server (uses live data)
    - url: https://sandbox.api.ethocaweb.com/ethoca/merchant-self-services
      description: Sandbox server (testing environment)
  /alerts/merchants/org-profiles:
    get:
      tags:
      - Merchants
      summary: Mastercard Get Details of Organization Profiles.
      description: Returns organization profile details containing member name, id and type.
      operationId: getAlertsOrgProfiles
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsOrgProfilesSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.ethocaweb.com/ethoca/merchant-self-services
      description: Production server (uses live data)
    - url: https://sandbox.api.ethocaweb.com/ethoca/merchant-self-services
      description: Sandbox server (testing environment)
  /merchants/participations:
    post:
      tags:
      - Merchants
      summary: Allows a registered partner to create or update merchant participation details
      description: 'This endpoint enables registered partners to manage merchant participation details, indicating whether a merchant has opted into or out of Buy Now Pay Later. A unique MAID-based merchant is identified by a combination of acquirerICA, merchantLegalName, and countryCode. <br><br> It facilitates the creation of a merchant with participation and allows updates to existing participation information, such as adding more MIDs, toggling opt-in flags, modifying address fields, and updating wallet information. <br><br> Additionally, this API supports the submission of MAID-based merchant participation,Identification of existing MID based merchants relies on acquirerICA, merchantLegalName, and countryCode and MAID based merchants relies merchantLegalName, and countryCode <br><br> If a merchant already exists, the provided MIDs will be appended to the current set.Once a MAID is entered into the system, it becomes immutable. Certain fields, namely duns cannot be modified; they must either be null, empty, or match existing values, or a 400 bad request error will be thrown. This API also allows for updating MAID base participation submitted by other acquirers. <br><br> Various markets can utilize this API to submit MAID or MID participation. For further information, please contact the Product team. <br><br> Upon successful validation and acceptance of a request, the API returns the request ID in the ''request_id'' response header, and processing occurs asynchronously. Use the GET /merchants/participation endpoint to monitor request status via the request ID. When initiating participation requests, ensure that the total payload size remains under 700 KB to avoid errors. <br><br> The field `nonMerchantNegotiatedParticipation` will be deprecated. It is recommended to utilize the `optIn` flag instead. In cases where both fields are provided, the `optIn` field will take precedence over `nonMerchantNegotiatedParticipation`. <br><br> We have introduced a new field called `merchantGroup` which is optional for other market but mandatory for markets like Australia. <br><br> Please see the table below for market/operation wise field validation: <table> <tr> <td>Market</td> <td>Mandatory In Add Operation</td> <td>Mandatory In Update Operation</td> </tr> <tr> <td>MID Market</td> <td><b>merchantLegalName</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>dbaNames</b>, <b>mids</b>, <b>optIn(or nonMerchantNegotiatedParticipation for previously onboarded customers to API)</b>  </td> <td><b>merchantLegalName</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>optIn(or nonMerchantNegotiatedParticipation for previously onboarded customers to API)</b></td> </tr> <tr> <td>Australia MID Market</td> <td><b>merchantLegalName</b>, <b>merchantGroup</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>dbaNames</b>, <b>mids</b>, <b>optIn</b>  </td> <td><b>merchantLegalName</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>optIn</b></td> </tr> <tr> <td>MAID Market</td> <td><b>merchantLegalName</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>dbaNames</b>, <b>maid</b>, <b>maidType</b>, <b>optIn</b>  </td> <td><b>merchantLegalName</b>, <b>countryCode</b>, <b>acquirerICA</b>, <b>maid</b>, <b>maidType</b>, <b>optIn</b> </td> </tr> </table>

        '
      operationId: postMerchantParticipations
      requestBody:
        $ref: '#/components/requestBodies/MerchantParticipations'
      responses:
        '202':
          $ref: '#/components/responses/MerchantParticipationReference'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/AccountNotRegisteredError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '406':
          $ref: '#/components/responses/NotAcceptableHeader'
    get:
      tags:
      - Merchants
      summary: Provides status of merchant participation updates
      description: 'Allows registered partners to fetch a list of merchants with participation details whose participation request is completed successfully. If query parameter ''request_id'' is supplied then the response will be limited to only those merchant objects with any status (PENDING, COMPLETED) that were part of that particular request. <br><br> For details on mandatory fields in response, please consult the description section of the POST: /merchants/participations endpoint. <br><br> In case of request failed error response contain `requestEndpoint`, `requestId`, `httpErrorStatusCode`, `errors.source`, `errors.reasonCode`, `errors.description` and `errors.recoverable` mandatory fields. <br><br> For previously onboarded customers to API both `nonMerchantNegotiatedParticipation` and  `optIn` will be visible. The field `nonMerchantNegotiatedParticipation` will be deprecated. <br><br> For previously onboarded customers to API both `acceptorIds` and  `maids` will be visible. The field `acceptorIds` will be deprecated.

        '
      operationId: getMerchantParticipations
      parameters:
      - $ref: '#/components/parameters/request_id'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/Merchants'
        '400':
          $ref: '#/components/responses/InvalidRequestIdError'
        '401':
          $ref: '#/components/responses/AccountNotRegisteredError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
        '406':
          $ref: '#/components/responses/NotAcceptableHeader'
    servers:
    - url: https://sandbox.api.mastercard.com/installments
      description: Sandbox
    - url: https://api.mastercard.com/installments
      description: Production
  /merchants/searches:
    post:
      tags:
      - Merchants
      summary: Allows registered partners to search merchant participation information.
      description: 'Allows registered partners to search merchant objects, enabled for Acquirers and Installment Payment Providers (IPP). <br><br> Additionally, customers can search MAID merchant based on maid. <br><br> At least one parameter is required in the request. <br><br> For previously onboarded customers to API both `nonMerchantNegotiatedParticipation` and  `optIn` will be visible. The field `nonMerchantNegotiatedParticipation` will be deprecated. <br><br> For previously onboarded customers to API both `acceptorIds` and  `maids` will be visible. The field `acceptorIds` will be deprecated.

        '
      operationId: postMerchantSearches
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      requestBody:
        $ref: '#/components/requestBodies/MerchantSearchParameters'
      responses:
        '200':
          $ref: '#/components/responses/MerchantSearches'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/AccountNotRegisteredError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '406':
          $ref: '#/components/responses/NotAcceptableHeader'
    servers:
    - url: https://sandbox.api.mastercard.com/installments
      description: Sandbox
    - url: https://api.mastercard.com/installments
      description: Production
  /merchants/mids/searches:
    post:
      tags:
      - Merchants
      summary: Allows registered partners (Acquirers only) to search only specific merchant participation information.
      description: 'Allows registered partners to search mids for a given merchant. A combination of `merchantLegalName`, `countryCode`, and `acquirerICA` is required in the request. <br><br> For previously onboarded customers to API both `nonMerchantNegotiatedParticipation` and  `optIn` will be visible. The field `nonMerchantNegotiatedParticipation` will be deprecated.

        '
      operationId: postMerchantMidSearches
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      requestBody:
        $ref: '#/components/requestBodies/MerchantMidSearchParameters'
      responses:
        '200':
          $ref: '#/components/responses/MidDetailsPage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/AccountNotRegisteredError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '406':
          $ref: '#/components/responses/NotAcceptableHeader'
    servers:
    - url: https://sandbox.api.mastercard.com/installments
      description: Sandbox
    - url: https://api.mastercard.com/installments
      description: Production
  /searches:
    post:
      tags:
      - Merchants
      summary: Mastercard Get a List of Merchant Details
      description: Returns detailed information on merchants based on the provided query parameters
      operationId: getMerchants
      parameters:
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/DistanceParam'
      - $ref: '#/components/parameters/DistanceUnitParam'
      requestBody:
        $ref: '#/components/requestBodies/MerchantSearch'
      responses:
        '200':
          $ref: '#/components/responses/Merchants_2'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.mastercard.com/locations/merchants
      description: Production server
    - url: https://sandbox.api.mastercard.com/locations/merchants
      description: Sandbox server
components:
  schemas:
    SupportedMerchantCategories:
      title: SupportedMerchantCategories
      type: array
      description: List of supported merchant categories.
      minItems: 1
      maxItems: 5000
      items:
        $ref: '#/components/schemas/MerchantCategory'
    MerchantCategory:
      title: MerchantCategory
      type: object
      description: Information for a supported merchant category.
      required:
      - mcc
      - category
      properties:
        mcc:
          type: string
          maxLength: 4
          minLength: 1
          pattern: ^\d{1,4}
          description: Merchant category code of a payment transaction that uniquely defines a merchant business.
          example: '3862'
        category:
          $ref: '#/components/schemas/Category'
    X-MC-Correlation-ID:
      type: string
      example: X-MC-Correlation-ID:5e4b7f904d2820f688c67ef9fc0035
    Category:
      title: Category
      type: object
      description: User understandable information about an MCC categorization.
      properties:
        mainCategory:
          title: mainCategory
          type: string
          description: Main category to which an MCC belongs.
          minLength: 5
          maxLength: 100
          pattern: ^[\w\-\_\&\,]+[\w\-\_\&\,\ ]{5,100}
          example: Shopping
        subCategory:
          title: subCategory
          type: string
          description: Sub-category of a category to which an MCC belongs.
          minLength: 5
          maxLength: 100
          pattern: ^[\w\-\_\&\,]+[\w\-\_\&\,\ ]{5,100}
          example: Department Store
        sector:
          title: sector
          type: string
          description: Sector of a category to which an MCC belongs.
          minLength: 5
          maxLength: 100
          pattern: ^[\w\-\_\&\,]+[\w\-\_\&\,\ ]{5,100}
          example: Specialty Retail & Services
        sectorCode:
          title: sectorCode
          type: string
          description: Unique code assigned to each sector.
          minLength: 3
          maxLength: 3
          pattern: ^\d{3}
          example: '302'
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error Response object
    CountryCode:
      title: Country Code
      maxLength: 3
      minLength: 3
      type:
      - string
      - 'null'
      description: The [ISO 3166-1](https://www.iso.org/obp/ui/#search) alpha-3 compliant country code.
      example: CAN
    LocationCount:
      title: Merchant Location count
      type: integer
      default: 0
      example: 15
      minimum: 0
      maximum: 9999999
    CardAcceptor:
      title: Merchant Card Acceptor
      maxLength: 50
      minLength: 1
      type: string
      description: Merchant Card Acceptor
      example: ETHOCA NINJA GAMES
    CardTypes:
      title: Card Types
      type: array
      minItems: 1
      maxItems: 4
      uniqueItems: true
      description: A list of all of the card types that are accepted as a form of payment.
      items:
        type: string
        description: Type of card used for a transaction
        example: AMEX
        enum:
        - AMEX
        - DISCOVER
        - MC
        - VISA
    Locale:
      required:
      - merchantDescription
      - code
      - defaultLocale
      type: object
      properties:
        code:
          title: Code
          type: string
          description: The locale where the merchant anticipates their business to be located; often referred to as the Accept-Language in HTTP headers.
          example: EN_CA
          enum:
          - EN_US
          - EN_CA
          - EN_GB
          - ES_MX
          - ES_ES
          - ES_US
          - FR_CA
          - FR_FR
          - PT_BR
          - PT_PT
          - HE_IL
        merchantDescription:
          title: Merchant Description
          maxLength: 4000
          minLength: 1
          type: string
          description: Description of the primary merchant tied to the transaction and responsible for providing the products or services (description of the business, what they do, markets, etc.). Used to help cardholder understand business responsible for the charge.
          example: An airline that no longer exists.
        defaultLocale:
          title: Default Locale
          type: boolean
          description: This indicates whether or not this locale will be used as the default locale for displaying information to the customer.
          example: true
      description: Merchant Locale details
    TermsConditionsConsent:
      title: Terms & conditions consent
      type: object
      required:
      - date
      - firstName
      - lastName
      - jobTitle
      - email
      - countryCode
      - consentUuid
      - consentVersion
      properties:
        date:
          type: string
          description: Date stamp in which the sub-merchant provided his consent on the terms and conditions. Date must be in [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          format: date-time
          example: '2021-10-18T13:56:47.123+00:00'
        firstName:
          type: string
          minLength: 1
          maxLength: 50
          description: First name of person that gave consent
          example: John
        lastName:
          type: string
          minLength: 1
          maxLength: 50
          description: Last name of person that gave consent
          example: Doe
        jobTitle:
          type: string
          minLength: 1
          maxLength: 100
          description: Job title of person that gave consent
          example: Manager
        email:
          $ref: '#/components/schemas/Email'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        consentUuid:
          type: string
          minLength: 1
          maxLength: 50
          description: Universally Unique Identifier (UUID) of the consent that the user consented to
          example: 3d94ab7b-fe1c-4f7d-ad4c-93c1eb6d29c3
        consentVersion:
          type: string
          minLength: 1
          maxLength: 8
          description: Version of the consent that the user consented to
          example: '1.0'
    UserId:
      title: User Id
      maxLength: 300
      minLength: 1
      type: string
      description: The user id of the submitter/technical contact.
      example: princess.diana
    FirstPartyTrustEnrollmentResource:
      title: First Party Trust Enrollment Resource
      type: object
      required:
      - enrollmentType
      properties:
        enrollmentType:
          minLength: 1
          maxLength: 50
          type: string
          description: Type of First Party Trust Enrollment
          example: CLARITY
    FirstPartyTrustEnrollmentType:
      title: First Party Trust Enrollment Types
      type: string
      description: Type of First Party Trust Enrollment
      example: CLARITY
      enum:
      - CLARITY
      - ISSM
    Address:
      title: Address
      description: Address entity associated to merchant's location and legal address.
      required:
      - countryCode
      allOf:
      - $ref: '#/components/schemas/ShortAddress'
      - properties:
          website:
            title: Website
            maxLength: 500
            minLength: 1
            type:
            - string
            - 'null'
            description: URL for merchant's website
            example: https://merchantwebsite.example.com
          email:
            $ref: '#/components/schemas/Email'
          phone:
            title: Phone
            maxLength: 30
            minLength: 3
            type:
            - string
            - 'null'
            description: Phone number of the merchant's office
            example: 1-234-567-9999
    MerchantName:
      title: Merchant's Name
      maxLength: 200
      minLength: 3
      type: string
      description: Merchant's partial or full name.
      example: Merchant 1
    LocationWithoutCardAcceptors:
      type: object
      required:
      - countryCode
      allOf:
      - $ref: '#/components/schemas/Address'
      - properties:
          website:
            title: Website
            maxLength: 100
            minLength: 1
            type:
            - string
            - 'null'
            description: URL for merchant's customer service focused information.
            example: https://merchantwebsite.example.com/customerservice.html
          email:
            $ref: '#/components/schemas/ShortEmail'
          contactWebsite:
            title: Contact Website
            maxLength: 100
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant's contact website.
            example: https://merchantwebsite.example.com/contactus.html
          displayAddressToCardHolder:
            title: Display Address To Card Holder
            type:
            - boolean
            - 'null'
            description: Set true to display this location's address to card holder
            example: true
          displayPhoneToCardHolder:
            title: Display Phone To Card Holder
            type:
            - boolean
            - 'null'
            description: Set true to display this location's phone number to card holder
            example: true
          refundPolicy:
            title: Refund Policy
            maxLength: 1500
            minLength: 1
            type:
            - string
            - 'null'
            description: Entire merchant refund policy, formatted for text display
            example: Complete merchant refund policy
          terms:
            title: Terms and Conditions
            maxLength: 2000
            minLength: 1
            type:
            - string
            - 'null'
            description: Entire merchant Terms & Conditions, formatted for text display
            example: Entire merchant Terms & Conditions
          customerServiceInstructions:
            title: Customer Service Information
            maxLength: 500
            minLength: 1
            type:
            - string
            - 'null'
            description: Free form text displayed to issuer that can be sent to the cardholder. Can be specific to transaction.
            example: Include Transaction ID in all communications.
          additionalInfo:
            title: Additional Info
            maxLength: 1500
            minLength: 1
            type:
            - string
            - 'null'
            description: Additional information that a merchant would want a customer or Issuer to know in regards to a transaction.
            example: Customers can contact merchants for a refund 24 hours a day.
          termsWebsite:
            title: Merchant Terms Website
            maxLength: 255
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant terms website URL
            example: https://merchantwebsite.example.com/terms.html
          refundPolicyWebsite:
            title: Merchant Refund Policy Website
            maxLength: 255
            minLength: 1
            type:
            - string
            - 'null'
            description: Merchant refund policy website URL
            example: https://merchantwebsite.example.com/refunds.html
          defaultLocation:
            title: Default Location
            type: boolean
            description: true if this is a default location of a merchant
            example: true
          cardAcceptorLocation:
            title: Card Acceptor Location
            maxLength: 150
            minLength: 1
            type:
            - string
            - 'null'
            description: Card Acceptor Location
            example: Pan American Airlines Canada
          cardAcceptorLocationType:
            title: Card Acceptor Location Type
            type:
            - string
            - 'null'
            description: Types of card acceptor location - ONLINE, PHONE, CARD_PRESENT
            example: CARD_PRESENT
            enum:
            - ONLINE
            - PHONE
            - CARD_PRESENT
        description: Merchant location details
    SubMerchant:
      description: Schema for a sub-merchant
      allOf:
      - $ref: '#/components/schemas/Merchant'
      - type: object
        required:
        - subMerchantIdentifier
        properties:
          subMerchantIdentifier:
            $ref: '#/components/schemas/SubMerchantIdentifier'
          searchFields:
            $ref: '#/components/schemas/SearchFields'
    SearchFieldsResource:
      title: Search Fields Response
      type:
      - array
      - 'null'
      description: Search Field
      items:
        $ref: '#/components/schemas/SearchFieldResource'
    Error:
      type: object
      properties:
        Source:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
          description: Source of the error
          example: Service
        ReasonCode:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
          description: A unique constant identifying the error
          example: format.invalid
        Description:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
          description: Short description of the error
          example: Short description of the error
        Recoverable:
          type:
          - boolean
          - 'null'
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          example: false
          default: false
        Details:
          maxLength: 1000
          minLength: 0
          type:
          - string
          - 'null'
          description: Optional detailed description of the issue
          example: Detailed description of the error
      description: Error object
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
      description: Errors object
    CardTypesResource:
      title: Card Types Response
      type: array
      uniqueItems: true
      description: A list of all of the card types that are accepted as a form of payment.
      items:
        type: string
        description: Type of card used for a transaction
        example: AMEX
    ResourceId:
      type:
      - string
      - 'null'
      minLength: 1
      maxLength: 40
      description: Unique identifier of resource
      example: Mxyz123
    Merchant:
      description: Base merchant request schema
      required:
      - merchantType
      - locales
      - businessType
      allOf:
      - $ref: '#/components/schemas/BaseMerchant'
      - type: object
        properties:
          merchantType:
            title: Merchant Type
            type: string
            description: 'Type of a merchant. Allowed Values -

              + SUB_MERCHANT -

              + DIRECT -

              + GATEWAY - '
            example: SUB_MERCHANT
            enum:
            - SUB_MERCHANT
            - DIRECT
            - GATEWAY
          locales:
            title: Merchant Locales
            minItems: 1
            maxItems: 10
            uniqueItems: true
            type: array
            description: Merchant Locales
            items:
              $ref: '#/components/schemas/Locale'
          locations:
            title: Merchant Locations
            minItems: 0
            maxItems: 50
            uniqueItems: true
            type:
            - array
            - 'null'
            description: Merchant Locations
            deprecated: true
            items:
              $ref: '#/components/schemas/Location'
          contentTypes:
            title: Content Types
            uniqueItems: true
            type:
            - array
            - 'null'
            description: An indicator as to the type of products and services you offer.
            example:
            - ADULT_LANGUAGE
            items:
              type: string
              enum:
              - ADULT_LANGUAGE
              - ADULT_PRODUCTS
              - ADULT_SERVICES
              - GAMBLING
              - ONLINE_DATING
              - OTHER
          crm:
            $ref: '#/components/schemas/Crm'
          businessType:
            title: Merchant Business Type
            type: string
            description: Business type describes the legal structure under which the business operates
            example: BUSINESS_CORPORATION
            enum:
            - SOLE_PROPRIETORSHIP
            - BUSINESS_CORPORATION
            - OTHER
          firstPartyTrustEnrollments:
            title: First Party Trust Enrollments
            description: A list of First Party Trust Enrollments
            type:
            - array
            - 'null'
            minLength: 0
            maxLength: 2
            uniqueItems: true
            items:
              $ref: '#/components/schemas/FirstPartyTrustEnrollment'
    AlertsMerchantMemberId:
      title: Unique identifier for merchants
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants
      type: string
      format: uuid
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
    MerchantGuid:
      title: Merchant GUID
      maxLength: 16
      minLength: 11
      type: string
      description: Consumer Clarity internal merchant's GUID
      example: jK2dA5aybhQQBq6C
    ShortEmail:
      title: Email Address
      maxLength: 100
      minLength: 1
      type:
      - string
      - 'null'
      description: Email address
      example: john.doe@example.com
      format: email
    CardAcceptors:
      title: Merchant Card Acceptors
      maxItems: 1500
      type:
      - array
      - 'null'
      uniqueItems: true
      description: List of merchant card acceptors
      items:
        $ref: '#/components/schemas/CardAcceptor'
    AlertsSubOrgProfile:
      description: Sub organization member details containing member name, id and type
      type: object
      properties:
        memberId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantType:
          $ref: '#/components/schemas/MerchantType'
        status:
          $ref: '#/components/schemas/MerchantStatus'
    SanctionScreening:
      title: Sanction Screening
      type: object
      required:
      - taxId
      - publiclyTraded
      - doBusinessWithSanctionedGeographies
      properties:
        taxId:
          title: Tax Identification
          description: Known as VAT Number in the US and GST in Canada.
          example: 123456789AB1234
          type: string
          minLength: 1
          maxLength: 30
        formerLegalNames:
          title: List of Former Legal Names
          description: The merchant's former legal names
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MerchantName'
          example: []
        doBusinessWithSanctionedGeographies:
          title: Business With Sanctioned Geographies Indicator
          description: 'Indicates whether the merchant does business with sanctioned geographies.

            If it is true, then sanctionedGeographies property can''t be empty.

            '
          type: boolean
          example: false
        sanctionedGeographies:
          title: List of Sanctioned Geographies
          description: 'List of sanctioned geographies that the merchant is doing business with. It

            can''t be empty if the doBusinessWithSanctionedGeographies property is true

            '
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            title: Sanctioned Geography
            type: string
            minLength: 1
            maxLength: 60
            description: Sanctioned geography
            example: Iran
          example: []
        publiclyTraded:
          title: Merchant Publicly Traded Indicator
          description: Indicates whether a merchant is publicly traded.
          type: boolean
          example: false
        tickerSymbol:
          title: Merchant's Stock Symbol
          description: Publicly traded merchant's stock symbol. It's mandatory if the isPubliclyTraded attribute is true.
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 10
          example: NFLX
        beneficialOwners:
          type:
          - array
          - 'null'
          title: List of Beneficial Owners
          description: Required only if publiclyTraded property is false and legalEntities property is empty.
          uniqueItems: true
          items:
            $ref: '#/components/schemas/BeneficialOwner'
          example: []
        legalEntities:
          type:
          - array
          - 'null'
          title: List of Legal Entities
          description: Required only if publiclyTraded property is false and beneficialOwners property is empty.
          uniqueItems: true
          items:
            $ref: '#/components/schemas/LegalEntity'
          example: []
    SearchField:
      type: object
      required:
      - searchFieldCards
      properties:
        searchParameter:
          title: Merchant API Search parameter
          type:
          - string
          - 'null'
          description: Merchant api search parameter
          example: ACQUIRER_REFERENCE_NUMBER
          enum:
          - PAYMENT_TYPE
          - TRANSACTION_IDENTIFIER_VALUE
          - ACQUIRER_REFERENCE_NUMBER
          - TRANSACTION_DATE
          - CARD_FIRST_SIX
          - CARD_LAST_FOUR
          - ISSUER_AUTHORIZATION_CODE
          - TRANSACTION_AMOUNT
          - TRANSACTION_CURRENCY_CODE
        required:
          title: Required
          type:
          - boolean
          - 'null'
          description: If the search field is required
          example: true
        searchFieldCards:
          $ref: '#/components/schemas/CardTypes'
      description: Schema for a Search Field
    Location:
      type: object
      required:
      - countryCode
      - defaultLocation
      allOf:
      - $ref: '#/components/schemas/LocationWithoutCardAcceptors'
      - properties:
          cardAcceptorNames:
            $ref: '#/components/schemas/CardAcceptors'
    MerchantStatus:
      title: Merchant's Status
      type: string
      description: Merchant Status must be one of - ACTIVATED, DEACTIVATED
      minLength: 1
      maxLength: 50
      example: ACTIVATED
    SecondName:
      title: Second Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's second name
      example: Andrew
    LastName:
      title: Last Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's last name
      example: Fox
    EntityName:
      title: Entity Legal/Business Name
      maxLength: 100
      minLength: 1
      type:
      - string
      - 'null'
      description: The entity's legal or business name.
      example: Walmart
    PercentOwnership:
      title: Percent Ownership
      minLength: 1
      maxLength: 5
      pattern: ^(100(\.00?)?|[1-9]\d?(\.\d{1,2})?|0\.\d{1,2})$
      type:
      - string
      - 'null'
      description: Percent Ownership.
      example: '25.50'
    SubMerchantResource:
      description: Sub-Merchant Response
      allOf:
      - $ref: '#/components/schemas/MerchantResource'
      - type: object
        properties:
          subMerchantIdentifier:
            $ref: '#/components/schemas/SubMerchantIdentifier'
          searchFields:
            $ref: '#/components/schemas/SearchFieldsResource'
          locationCount:
            $ref: '#/components/schemas/LocationCount'
    LocationResource:
      deprecated: true
      allOf:
      - $ref: '#/components/schemas/Location'
      - type: object
        properties:
          id:
            $ref: '#/components/schemas/ResourceId'
          rejectedCardAcceptorNames:
            $ref: '#/components/schemas/CardAcceptors'
          cardAcceptorLocationType:
            title: Card Acceptor Location Type
            type:
            - string
            - 'null'
            description: Types of card acceptor location - ONLINE, PHONE, CARD_PRESENT
            example: ONLINE
    Email:
      title: Email Address
      maxLength: 254
      minLength: 1
      type:
      - string
      - 'null'
      description: Email address
      example: john.doe@example.com
      format: email
    MerchantResource:
      description: Base merchant response schema
      required:
      - merchantType
      - locales
      - businessType
      allOf:
      - $ref: '#/components/schemas/BaseMerchant'
      - type: object
        properties:
          merchantType:
            title: Merchant Type
            type: string
            description: 'Type of a merchant. Allowed Values -

              + SUB_MERCHANT -

              + DIRECT -

              + GATEWAY - '
            example: SUB_MERCHANT
            minLength: 1
            maxLength: 50
          guid:
            $ref: '#/components/schemas/MerchantGuid'
          status:
            title: Status
            maxLength: 20
            minLength: 4
            type: string
            description: '* CONFIGURATION - This status indicates that this merchant record is being modified. Any changes applied to a record with this status are NOT visible in production. There is no guarantee that the data is either valid or consistent.

              * TESTING - This status indicates that the merchant is being tested. The data for a record with this status is NOT visible in production and data modifications are not permitted.

              * LIVE - This status indicates that the merchant record is visible in production. The data has been validated and is used for transaction lookups. Data modifications are not permitted.

              * INACTIVE - This status indicates that this merchant record is NOT visible in production. Data modifications are not permitted.

              * LOCKED_FOR_EDIT - This status indicates that this merchant record is locked for modification by the customer success team. Data modifications are not permitted.'
            example: LIVE
          locales:
            title: Merchant Locale Details
            minItems: 1
            maxItems: 10
            uniqueItems: true
            type: array
            description: Merchant Locale Details
            items:
              $ref: '#/components/schemas/LocaleResource'
          locations:
            title: Merchant Location Details
            minItems: 0
            maxItems: 50
            uniqueItems: true
            type:
            - array
            - 'null'
            description: Merchant Location details
            deprecated: true
            items:
              $ref: '#/components/schemas/LocationResource'
          contentTypes:
            title: Content Types
            uniqueItems: true
            type:
            - array
            - 'null'
            description: An indicator as to the type of products and services you offer.
            example:
            - ADULT_LANGUAGE
            items:
              type: string
          validationStatus:
            $ref: '#/components/schemas/ValidationStatus'
          crm:
            $ref: '#/components/schemas/CrmResource'
          businessType:
            title: Merchant Business Type
            type: string
            description: Business type describes the legal structure under which the business operates
            minLength: 1
            maxLength: 25
            example: BUSINESS_CORPORATION
          firstPartyTrustEnrollments:
            title: First Party Trust Enrollments
            description: A list of First Party Trust Enrollments
            type:
            - array
            - 'null'
            uniqueItems: true
            minLength: 0
            maxLength: 2
            items:
              $ref: '#/components/schemas/FirstPartyTrustEnrollmentResource'
    CrmResource:
      title: Customer Relationship Management Response
      description: Customer Relationship Management Response
      allOf:
      - $ref: '#/components/schemas/Crm'
      - type: object
        properties:
          sanctionScreeningStatus:
            title: Sanction Screening Status
            maxLength: 11
            minLength: 6
            type: string
            description: Indicates merchant's sanction screening status
            example: APPROVED
            default: DENIED
          billingAccountCreated:
            type: boolean
            description: Indicates whether a sub-merchant billing account has been set up in SalesForce
            example: true
            default: false
          salesforceAccountNumber:
            $ref: '#/components/schemas/SalesforceAccountNumber'
    MerchantType:
      title: Merchant's Type
      description: Merchant Type must be one of - PARTNER, ACQUIRER, SUBMERCHANT
      type: string
      minLength: 1
      maxLength: 50
      example: SUBMERCHANT
    BeneficialOwner:
      title: Beneficial Owner
      description: Individual owning the merchant.
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/FirstName'
        secondName:
          $ref: '#/components/schemas/SecondName'
        lastName:
          $ref: '#/components/schemas/LastName'
        address:
          $ref: '#/components/schemas/ShortAddress'
        birthCountry:
          $ref: '#/components/schemas/CountryCode'
        birthDate:
          title: Beneficial Owner Birth Date
          description: Beneficial owner birth date. Date must be in a [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          type:
          - string
          - 'null'
          format: date
          example: '1977-05-23T00:00:00.000Z'
        percentOwnership:
          $ref: '#/components/schemas/PercentOwnership'
    FirstName:
      title: First Name
      maxLength: 30
      minLength: 1
      type:
      - string
      - 'null'
      description: The individual's first name
      example: Michael
    ShortAddress:
      title: Address
      description: Address.
      properties:
        addressLine1:
          title: Address Line 1
          maxLength: 250
          minLength: 1
          type:
          - string
          - 'null'
          description: The street detail for the address.
          example: 223 Blythwood Rd
        addressLine2:
          title: Address Line 2
          maxLength: 250
          minLength: 1
          type:
          - string
          - 'null'
          description: The secondary street detail for the address.
          example: Suite 123
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        regionCode:
          title: Region code
          maxLength: 3
          minLength: 1
          type:
          - string
          - 'null'
          description: Region where merchant's legal office is located
          example: 'ON'
        city:
          title: City
          maxLength: 100
          minLength: 1
          type:
          - string
          - 'null'
          description: City where merchant's legal office is located
          example: Toronto
        postalCode:
          title: Postal Code
          maxLength: 50
          minLength: 1
          type:
          - string
          - 'null'
          description: The zip/postal detail for the merchant's legal address
          example: M4N1A7
    Etag:
      title: Entity Tag
      maxLength: 100
      minLength: 1
      type: string
      description: Etag is a response header which is an identifier for a specific version of a resource.
      example: '"842DFBC17F921E7716642B9164F3B22B"'
    SearchFieldResource:
      type: object
      properties:
        searchParameter:
          title: Search Parameter
          type:
          - string
          - 'null'
          maxLength: 28
          minLength: 12
          description: Merchant api search parameter
          example: cardAcceptorName
        required:
          title: Required
          type:
          - boolean
          - 'null'
          description: Set true if this search parameter is mandatory
          example: true
        searchFieldCards:
          $ref: '#/components/schemas/CardTypesResource'
      description: Merchant Api Search Field
    AlertsOrgProfile:
      description: Details of organization profiles containing member name, id and type
      type: object
      properties:
        memberId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantType:
          $ref: '#/components/schemas/MerchantType'
        status:
          $ref: '#/components/schemas/MerchantStatus'
        subOrgProfiles:
          type: array
          items:
            $ref: '#/components/schemas/AlertsSubOrgProfile'
          example: []
    ValidationStatus:
      type:
      - object
      - 'null'
      description: Status of created Merchant
      properties:
        messages:
          title: Messages
          type:
          - array
          - 'null'
          description: List of validation messages for a merchant.
          items:
            $ref: '#/components/schemas/Error'
          example: []
        contactUs:
          title: Contact-us message
          type:
          - string
          - 'null'
          maxLength: 500
          minLength: 1
          description: Ethoca's CX team contact
          example: Please reach out to Mastercard/Ethoca customer success team for any questions or concerns.
    LegalAddress:
      title: Legal Address
      description: Legal address of the merchant.
      required:
      - addressLine1
      - countryCode
      - city
      - regionCode
      - postalCode
      - phone
      allOf:
      - $ref: '#/components/schemas/Address'
      - type: object
        properties:
          phone:
            title: Phone
            maxLength: 30
            minLength: 3
            type: string
            description: Phone number of the merchant's office
            example: 1-234-567-9991
    FirstPartyTrustEnrollment:
      title: First Party Trust Enrollment
      type: object
      required:
      - enrollmentType
      properties:
        enrollmentType:
          $ref: '#/components/schemas/FirstPartyTrustEnrollmentType'
    PrimaryContact:
      title: Primary Contact
      description: Primary contact details of the merchant
      required:
      - jobTitle
      - firstName
      - lastName
      - email
      properties:
        jobTitle:
          title: Job Title
          type: string
          minLength: 1
          maxLength: 100
          description: Job title of the primary contact
          example: Manager
        firstName:
          title: First Name
          type: string
          minLength: 1
          maxLength: 50
          description: First name of the primary contact
          example: John
        lastName:
          title: Last Name
          type: string
          minLength: 1
          maxLength: 50
          description: Last name of the primary contact
          example: Doe
        email:
          $ref: '#/components/schemas/ShortEmail'
        phone:
          title: Phone
          maxLength: 30
          minLength: 3
          type:
          - string
          - 'null'
          description: Phone number for primary contact
          example: 1-234-567-8901
    LocaleResource:
      allOf:
      - $ref: '#/components/schemas/Locale'
      - type: object
        properties:
          code:
            title: Code
            type: string
            description: The locale where the merchant anticipates their business to be located; often referred to as the Accept-Language in HTTP headers.
            example: EN_CA
    SubMerchantIdentifier:
      title: Sub-Merchant Identifier
      maxLength: 100
      minLength: 1
      type: string
      description: The alphanumeric ID of the sub-merchant associated with the purchase details. Required for channel partner.
      example: GHF5F67DFSD468GJJXH78
    LegalEntity:
      title: Legal Entity
      description: Legal entity owning the merchant.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/EntityName'
        dba:
          $ref: '#/components/schemas/EntityName'
        address:
          $ref: '#/components/schemas/ShortAddress'
        percentOwnership:
          $ref: '#/components/schemas/PercentOwnership'
        governmentOwned:
          title: Government Owned
          description: Indicates whether the legal entity is owned by a Government
          type:
          - boolean
          - 'null'
          example: false
    Crm:
      title: Customer Relationship Management
      type:
      - object
      - 'null'
      description: Customer Relationship Management
      properties:
        termsConditionsConsent:
          $ref: '#/components/schemas/TermsConditionsConsent'
        sanctionScreening:
          $ref: '#/components/schemas/SanctionScreening'
        paymentConfirmation:
          title: Payment Confirmation
          type: boolean
          description: Confirmation of payment account setup
          example: true
          default: false
    SalesforceAccountNumber:
      title: Sales Force Account Number
      maxLength: 100
      minLength: 1
      type: string
      description: Unique identifier for a merchant in sales force system.
      example: TY12SS33ERYUIOPDDSS34XX
    SearchFields:
      title: Search Fields
      type:
      - array
      - 'null'
      description: 'SearchFields is an array of SearchField objects. The following validations apply:

        * If the searchFields array contains both TRANSACTION_AMOUNT and TRANSACTION_CURRENCY_CODE searchParameters, then the value of the "searchFieldCards" and "required" properties must be same for both items

        * If the searchFields array contains the TRANSACTION_AMOUNT searchParameter, then it must also contain the TRANSACTION_CURRENCY_CODE searchParameter (and vice versa)'
      items:
        $ref: '#/components/schemas/SearchField'
    BaseMerchant:
      type: object
      description: Base merchant model schema
      required:
      - name
      - industryCode
      - primaryContact
      - legalAddress
      properties:
        name:
          title: Name
          maxLength: 60
          minLength: 1
          type: string
          description: Name of the merchant that the item was purchased from.
          example: Pan American Airlines
        categoryCode:
          title: Merchant Category Code
          maxLength: 4
          minLength: 4
          pattern: ^[0-9]*$
          type:
          - string
          - 'null'
          description: A four-digit number listed in ISO 18245 for retail financial services. MCC is used to classify the business by the type of goods or services it provides.
          example: '3002'
        orderAvailabilityDateTime:
          title: Order Availability Date
          type:
          - string
          - 'null'
          description: The earliest date an Issuer can search for orders (i.e. the date an Issuer cannot search before). Date-Time must be in [ISO 8601 format](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6)
          example: '2021-10-18T13:56:47.123+00:00'
          format: date-time
        orderHistoryMonths:
          title: Order History in Months
          maximum: 12
          minimum: 1
          type:
          - integer
          - 'null'
          description: The number of months worth of data you have made available to search on.
          format: int32
          example: 5
        orderLatencyDays:
          title: Order Latency in Days
          maximum: 365
          minimum: 0
          type:
          - integer
          - 'null'
          description: 'The numbers of days that need to elapse between an authorization for a purchase and when the purchase can be searched on. '
          format: int32
          example: 5
        industryCode:
          title: Industry Code
          maxLength: 3
          minLength: 3
          type: string
          description: Industry Code is used to classify the business by the type of industry.
          example: ACC
        primaryContact:
          $ref: '#/components/schemas/PrimaryContact'
        legalAddress:
          $ref: '#/components/schemas/LegalAddress'
    status:
      type: string
      minLength: 1
      maxLength: 10
      pattern: ^(?:PENDING|COMPLETED|ERROR)$
      description: Status of request
      example: COMPLETED
    ErrorWrapper:
      title: ErrorWrapper
      type: object
      description: The error response object which gets returned in case of any error.
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors_2'
    submitterICA:
      type: string
      pattern: ^(?!,)(( \| )?(?:[\d]{6}|[\d]{9}|[\d]{11})\b)*$
      description: ICA(s) of partner(s) institution(s) who submitted this merchant participation.
      example: '14689425761'
    dbaName:
      type: string
      minLength: 1
      maxLength: 256
      description: Trade name used by merchant to conduct business and is known to the consumer.
      example: ACME
    searchMaidType:
      title: maidType
      type: string
      description: Flag to identify provided MAID type. This is mandatory for participation requests with MAID.
      example: EXT
    MidDetail:
      type: object
      description: Contains mid with status.
      required:
      - mid
      - status
      properties:
        mid:
          $ref: '#/components/schemas/mid'
        status:
          $ref: '#/components/schemas/status'
        errorReason:
          $ref: '#/components/schemas/errorReason'
    count:
      type: integer
      description: The number of items in this batch (the size of the item array).
      example: 2
    walletMerchantId:
      type: string
      minLength: 1
      maxLength: 300
      description: One or more wallet merchant IDs separated by the pipe symbol.
      example: 235346356234 | 125346356236 | 125446356237
    errors:
      title: errors
      type: array
      minItems: 1
      description: Error object which contains a list of error objects.
      required:
      - error
      items:
        $ref: '#/components/schemas/Error_2'
    walletId:
      type: integer
      minimum: 1
      maximum: 3
      description: Indicates the wallet, 1 for ApplePay, 2 for GooglePay, and 3 for SamsungPay.
      example: 1
    Address_2:
      title: Address
      type: object
      description: The address of the merchant.
      properties:
        addressLine1:
          type: string
          minLength: 1
          maxLength: 300
          description: Legally registered address of the merchant
          example: 600 WEST
        addressLine2:
          type: string
          minLength: 1
          maxLength: 300
          description: Second address for the merchant
          example: SECTOR 5
        addressLine3:
          type: string
          minLength: 1
          maxLength: 300
          description: Third address line
          example: SUITE 775
        city:
          type: string
          minLength: 1
          maxLength: 30
          description: Legally registered address city. The City field is mandatory when adding a merchant but not when updating a merchant.
          example: St Peters
        state:
          type: string
          minLength: 2
          maxLength: 3
          description: Legally registered address state or province. Refer to (https://www.iso.org/obp/ui/#search) for ISO 3166-2 code values.
          example: QLD
        postalCode:
          type: string
          minLength: 1
          maxLength: 20
          description: Legally registered address postal code. Provide a postal code to submit MID-based merchants via API if the country has a postal code.
          example: 85001
    requestEndpoint:
      type: string
      minLength: 25
      maxLength: 25
      description: original request endpoint
      example: /merchants/participations
    mids:
      type: array
      minItems: 1
      maxItems: 5000
      description: Merchant IDs assigned by the acquirer.
      items:
        $ref: '#/components/schemas/mid'
    requestId:
      type: integer
      format: int64
      minimum: 0
      maximum: 9223372036854776000
      description: The request ID is obtained by calling POST /merchants/participations API.
      example: 7223372036854776000
    MerchantSearches:
      type: array
      minItems: 1
      maxItems: 100
      description: List of Merchant objects
      items:
        $ref: '#/components/schemas/MerchantSearch'
    Error_2:
      title: Error
      type: object
      description: Error object which contains details about the Error.
      required:
      - Source
      - ReasonCode
      - Description
      - Recoverable
      properties:
        Source:
          type: string
          description: The application name that generated this error.
          minLength: 1
          maxLength: 100
          example: Mastercard Installments APIs
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during request processing.
          minLength: 1
          maxLength: 100
          example: invalid.request.parameter
        Description:
          type: string
          description: Short description of the ReasonCode field.
          minLength: 10
          maxLength: 1000
          example: One of the request parameters is invalid, try again with the correct request.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: (Optional) Where appropriate, indicates detailed information about data received and calculated during request processing, to help the user with diagnosing errors.
          minLength: 0
          maxLength: 5000
          example: paymentCardId size must be between 36 and 36
    Errors_2:
      title: Errors
      type: object
      description: Error object which returns the list of Error objects.
      required:
      - Error
      properties:
        Error:
          $ref: '#/components/schemas/ErrorList'
    nonMerchantNegotiatedParticipation:
      type: string
      maxLength: 1
      minLength: 1
      pattern: ^(?:Y|N)$
      description: Merchant opt-in or opt-out preference for non-merchant negotiated product codes, such as, SPP, SPS, SBJ, and SBK.
      example: Y
      deprecated: true
    maidType:
      type: string
      description: Flag to identify provided MAID type. This is mandatory for participation requests with MAID.
      enum:
      - GRP
      - EXT
      example: GRP
    dbaNames:
      type: array
      minItems: 1
      maxItems: 1000
      items:
        $ref: '#/components/schemas/dbaName'
    MidDetails:
      type: array
      minItems: 1
      maxItems: 1000
      description: API will return a list of wallet name, wallet acceptance, and wallet merchant id.
      items:
        $ref: '#/components/schemas/MidDetail'
    acceptorId:
      type: string
      maxLength: 20
      description: Mastercard assigned ID.
      example: '531567'
    Merchant_2:
      title: Merchant
      type: object
      description: Merchant object
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        merchantGroup:
          $ref: '#/components/schemas/merchantGroup'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        submitterICA:
          $ref: '#/components/schemas/submitterICA'
        dbaNames:
          $ref: '#/components/schemas/dbaNames'
        maids:
          $ref: '#/components/schemas/maids'
        maidType:
          $ref: '#/components/schemas/searchMaidType'
        acceptorIds:
          $ref: '#/components/schemas/acceptorIds'
        nonMerchantNegotiatedParticipation:
          $ref: '#/components/schemas/nonMerchantNegotiatedParticipation'
        optIn:
          $ref: '#/components/schemas/optIn'
        status:
          $ref: '#/components/schemas/status'
        errorReason:
          $ref: '#/components/schemas/errorReason'
        duns:
          $ref: '#/components/schemas/duns'
        websiteUrl:
          $ref: '#/components/schemas/websiteUrl'
        wallets:
          $ref: '#/components/schemas/wallets'
        address:
          $ref: '#/components/schemas/Address_2'
        requestEndpoint:
          $ref: '#/components/schemas/requestEndpoint'
        requestId:
          $ref: '#/components/schemas/requestId'
        httpErrorStatusCode:
          $ref: '#/components/schemas/httpErrorStatusCode'
        errors:
          $ref: '#/components/schemas/errors'
    websiteUrl:
      type: string
      minLength: 1
      maxLength: 100
      pattern: ^(https?|ftp|file)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]
      description: The URL of the merchant website.
      example: https://www.acme-company.com
    limit:
      description: The number of items you asked the list to be limited to.
      type: integer
      example: 2
    MerchantMidSearchParameters:
      title: MerchantMidSearchParameters
      type: object
      description: Parameters to search mid for a given merchant.
      required:
      - merchantLegalName
      - countryCode
      - acquirerICA
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        mid:
          $ref: '#/components/schemas/mid'
        status:
          $ref: '#/components/schemas/status'
    MerchantSearchParameters:
      title: MerchantSearchParameters
      type: object
      description: Parameters to search merchant objects. At least one parameter is required in the request.
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        merchantParticipationStatus:
          $ref: '#/components/schemas/merchantParticipationStatus'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        maid:
          $ref: '#/components/schemas/maid'
    total:
      description: The total number of items in the collection.
      type: integer
      example: 5
    MerchantSearch:
      title: Merchant
      type: object
      description: Merchant object
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        submitterICA:
          $ref: '#/components/schemas/submitterICA'
        dbaNames:
          $ref: '#/components/schemas/dbaNames'
        maids:
          $ref: '#/components/schemas/maids'
        maidType:
          $ref: '#/components/schemas/searchMaidType'
        nonMerchantNegotiatedParticipation:
          $ref: '#/components/schemas/nonMerchantNegotiatedParticipation'
        optIn:
          $ref: '#/components/schemas/optIn'
        status:
          $ref: '#/components/schemas/status'
        duns:
          $ref: '#/components/schemas/duns'
        websiteUrl:
          $ref: '#/components/schemas/websiteUrl'
        wallets:
          $ref: '#/components/schemas/wallets'
        errorReason:
          $ref: '#/components/schemas/errorReason'
        address:
          $ref: '#/components/schemas/Address_2'
        merchantGroup:
          $ref: '#/components/schemas/merchantGroup'
    countryCode:
      type: string
      minLength: 3
      maxLength: 3
      pattern: ^[A-Za-z]{3}$
      description: Legally registered country code of merchant. Refer to (https://www.iso.org/obp/ui/#search) for ISO 3166 alpha 3 code values.
      example: USA
    optIn:
      type: string
      maxLength: 1
      minLength: 1
      pattern: ^(?:Y|N)$
      description: Merchant opt-in or opt-out preference for non-merchant negotiated product codes, such as, SPP, SPS, SBJ, and SBK or GCS.
      example: Y
    walletAcceptance:
      type: string
      maxLength: 1
      minLength: 1
      pattern: ^(?:Y|N)$
      description: States whether the merchant accepts the wallet or not.
      example: Y
    duns:
      type: string
      minLength: 1
      maxLength: 9
      description: A unique identifier assigned by Dun and Bradstreet is used to identify a business.
      example: '879847426'
    wallets:
      title: wallets
      type: array
      minItems: 1
      maxItems: 3
      description: Merchant wallets.
      items:
        $ref: '#/components/schemas/wallet'
    MidDetailsPage:
      title: MidDetailsPage
      type: object
      description: Contains mids of a merchant.
      required:
      - merchantLegalName
      - acquirerICA
      - countryCode
      - optIn
      - mids
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        merchantGroup:
          $ref: '#/components/schemas/merchantGroup'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        nonMerchantNegotiatedParticipation:
          $ref: '#/components/schemas/nonMerchantNegotiatedParticipation'
        optIn:
          $ref: '#/components/schemas/optIn'
        mids:
          $ref: '#/components/schemas/MidDetails'
    acceptorIds:
      type: array
      minItems: 1
      description: MAID IDs assigned by Mastercard.
      items:
        $ref: '#/components/schemas/acceptorId'
      deprecated: true
    MerchantParticipations:
      title: MerchantParticipations
      type: array
      minItems: 1
      maxItems: 30
      description: List of merchant participation reference objects.
      items:
        $ref: '#/components/schemas/MerchantParticipation'
    MerchantParticipation:
      title: MerchantParticipation
      type: object
      description: Merchant participation reference
      required:
      - merchantLegalName
      - countryCode
      - acquirerICA
      properties:
        merchantLegalName:
          $ref: '#/components/schemas/merchantLegalName'
        merchantGroup:
          $ref: '#/components/schemas/merchantGroup'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        acquirerICA:
          $ref: '#/components/schemas/acquirerICA'
        dbaNames:
          $ref: '#/components/schemas/dbaNames'
        mids:
          $ref: '#/components/schemas/mids'
        maid:
          $ref: '#/components/schemas/maid'
        maidType:
          $ref: '#/components/schemas/maidType'
        nonMerchantNegotiatedParticipation:
          $ref: '#/components/schemas/nonMerchantNegotiatedParticipation'
        optIn:
          $ref: '#/components/schemas/optIn'
        duns:
          $ref: '#/components/schemas/duns'
        websiteUrl:
          $ref: '#/components/schemas/websiteUrl'
        wallets:
          $ref: '#/components/schemas/wallets'
        address:
          $ref: '#/components/schemas/Address_2'
    offset:
      description: The number of items you asked for at the start of the list to be offset from.
      type: integer
      example: 1
    merchantParticipationStatus:
      type: string
      minLength: 1
      maxLength: 10
      pattern: ^(?:PENDING|COMPLETED|ERROR)$
      description: Status of request
      example: COMPLETED
    maid:
      type: string
      pattern: ^[A-Za-z0-9]{1,6}
      description: Mastercard Assigned ID (MAID) as specified in Customer Interface Specification for ISO data element DE48 SE32.
      example: '321765'
    merchantGroup:
      type: string
      pattern: ^[A-Z0-9]{1,2}$
      description: Merchant Group. An identifier used to determine the merchant category type to qualify for the right MAID (MAID is assigned internally by Mastercard). It is imperative for a country such as Australia, For others it is optional.
      example: A1
    errorReason:
      type: string
      minLength: 1
      maxLength: 30
      pattern: ^(?:INVALID_ACQUIRER_ICA|UNKNOWN)$
      description: Reason for error.
      example: INVALID_ACQUIRER_ICA
    mid:
      type: string
      pattern: ^[A-Za-z0-9]{1,15}
      description: Merchant ID assigned by the acquirer.
      example: '235157567121214'
    ErrorList:
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/Error_2'
    maids:
      type: array
      minItems: 1
      maxItems: 2
      description: Mastercard Assigned ID (MAID). Adding a MAID based merchant object requires the mandatory provision of `maids`, while updating a merchant does not necessitate it.
      items:
        $ref: '#/components/schemas/maid'
    merchantLegalName:
      type: string
      minLength: 1
      maxLength: 300
      description: Legally registered name of the merchant.
      pattern: ^.{1,300}
      example: Wallmart
    httpErrorStatusCode:
      type: integer
      minimum: 400
      maximum: 599
      description: HTTP error code of original POST /merchants/participations API.
      example: 400
    Merchants:
      type: array
      minItems: 1
      maxItems: 100
      description: List of Merchant objects
      items:
        $ref: '#/components/schemas/Merchant_2'
    wallet:
      title: wallet
      type: object
      description: Contains merchant wallet information.
      required:
      - walletId
      - walletAcceptance
      properties:
        walletId:
          $ref: '#/components/schemas/walletId'
        walletAcceptance:
          $ref: '#/components/schemas/walletAcceptance'
        walletMerchantId:
          $ref: '#/components/schemas/walletMerchantId'
    acquirerICA:
      type: string
      pattern: ^(?:[0-9]{6}|[0-9]{9}|[0-9]{11})$
      description: ICA of acquirer which will be part of auth transaction. Insert leading zeros to ensure that the acquirerICA is either 6, 9, or 11 characters in length.
      example: 00689425761
    Merchants_2:
      title: Merchants
      type: object
      properties:
        count:
          type: integer
          format: int32
          description: The number of items in the retrieved data set
          example: 10
        limit:
          type: integer
          format: int32
          description: The number of items requested to be retrieved
          example: 10
        offset:
          type: integer
          format: int32
          description: The page offset used for the query
          example: 1
        total:
          type: integer
          format: int32
          description: The total number of merchants available to be retrieved
          example: 210
        merchants:
          type: array
          description: The list of merchants retrieved
          items:
            $ref: '#/components/schemas/Merchant_3'
          example: []
    Error_3:
      description: Details of the error condition such as the source of the error, reason code for the error, if the error is recoverable, and details about the error
      required:
      - Description
      - ReasonCode
      - Recoverable
      - Source
      type: object
      properties:
        Source:
          description: The application that generated this error
          type: string
          minLength: 0
          maxLength: 150
          example: latitude
        ReasonCode:
          description: A unique constant identifying the error case encountered during transaction processing
          type: string
          minLength: 0
          maxLength: 150
          example: INVALID_INPUT_VALUE
        Description:
          description: Short description of the ReasonCode field
          type: string
          minLength: 0
          maxLength: 150
          example: Latitude is missing, invalid, or could not be determined from address fields.
        Recoverable:
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          type: boolean
          example: 'false'
        Details:
          description: Description of the issue
          example: Latitude is missing, invalid, or could not be determined from address fields.
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 150
    ErrorResponse_2:
      description: Only returned in the event of an error condition
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors_3'
    Errors_3:
      description: Only returned in the event of an error condition
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          description: An error object
          example:
          - Error:
              Source: latitude
              ReasonCode: INVALID_INPUT_VALUE
              Description: Latitude is missing, invalid, or could not be determined from address fields.
              Recoverable: false
              Details: null
      example:
        Errors:
        - Error:
            Source: latitude
            ReasonCode: INVALID_INPUT_VALUE
            Description: Latitude is missing, invalid, or could not be determined from address fields.
            Recoverable: false
            Details: null
    MerchantSearch_2:
      title: MerchantSearch
      description: Merchant Search Request Info
      type: object
      properties:
        addressLine1:
          type: string
          description: Line 1 of the street address for the merchant location. Usually includes the street number and name. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.
          example: 4033 Veterans Memorial Pkwy
        addressLine2:
          type: string
          description: Line 2 of the street address usually an apartment number or suite number. This parameter is used rarely and is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.
          example: Apt 1
        city:
          type: string
          description: The name of the city for a merchant location. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.
          example: SAINT PETERS
        countryCode:
          type: string
          description: Any two digit country code for a Merchant location. Valid values are two digit alpha country code. This parameter is ignored if latitude and longitude are provided. This parameter is required if any other address information is provided including AddressLine1 AddressLine2 City PostalCode or CountrySubdivision.
          example: USA
        countrySubdivisionCode:
          type: string
          description: The state or province for a merchant location (only supported for US and Canada locations). This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.
          example: MO
        latitude:
          type: string
          description: The latitude of a merchant location. If latitude is provided longitude must also be provided.
          example: '38.795089'
        longitude:
          type: string
          description: The longitude of a merchant location. If longitude is provided latitude must also be provided.
          example: '-90.572346'
        merchantCategory:
          type: string
          description: Category Id of the merchant location. See the Categories resource for a list of valid categories.  Input may be a comma delimited list of category ids.
          example: '0'
        merchantType:
          type: string
          description: Type of merchant location. Options are 'paypass' 'repower' 'easysavings' and 'cashback'.
          example: easysavings
        offerMerchantId:
          type: string
          description: Unique identifier that represents the merchant sponsor of an offer. Any valid merchant ID.
          example: '1143109'
        postalCode:
          type: string
          description: The zip code or postal code for a Merchant location. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.
          example: '63376'
    Merchant_3:
      title: Merchant
      description: Merchant detail information
      type: object
      properties:
        addressLine1:
          type: string
          description: Line 1 of the street address for the merchant location. Usually includes the street number and name.
          example: 1 Oak Street
        addressLine2:
          type: string
          description: Line 2 of the street address usually an apartment number or suite number.
          example: Apt 1
        cashbackMaximumAmount:
          type: string
          description: Maximum cashback amount permitted at the location.
          example: '40'
        category:
          type: string
          description: The Merchant Category
          example: 10 - Grocery Stores & Supermarkets
        countryCode:
          type: string
          description: Two digit alpha country code as defined in ISO
          example: US
        countryName:
          type: string
          description: Name of the country.
          example: United States
        countrySubdivisionCode:
          type: string
          description: Code of the state or province for a merchant location.
          example: MO
        countrySubdivisionName:
          type: string
          description: Name of the state or province for a merchant location.
          example: Missouri
        city:
          type: string
          description: The name of the city for a merchant location.
          example: OFallon
        distance:
          type: number
          description: This is the numerical value for the distance from the provided location to the selected merchant.
          format: double
          example: 1.75723000000001
        distanceUnit:
          type: string
          description: This is the unit of measure value for the distance from the provided location to the selected merchant. Options are KM and MILE.
          example: MILE
        easySavingsMerchantOfferId:
          type: string
          description: Merchant's Easy Savings Offer Id
          example: '1143109'
        geocodingResult:
          type: string
          description: GeocodingResult for the merchant
          example: S8HPNTSCZA
        id:
          type: integer
          description: Numerical merchant identifier.
          format: int32
          example: 1505451132
        isPayPassConcession:
          type: boolean
          description: Boolean value which indicates if the concession area is equipped with a PayPass card reader.
          example: true
        isPayPassPharmacy:
          type: boolean
          description: Boolean value which indicates if the pharmacy is equipped with a PayPass card reader.
          example: true
        isPayPassFuelPump:
          type: boolean
          description: Boolean value which indicates if the fuel pump is equipped with a PayPass card reader.
          example: true
        isPayPassTollBooth:
          type: boolean
          description: Boolean value which indicates if the toll booth is equipped with a PayPass card reader.
          example: true
        isPayPassDriveThrough:
          type: boolean
          description: Boolean value which indicates if the drive thru is equipped with a PayPass card reader.
          example: true
        isPayPassRegister:
          type: boolean
          description: Boolean value which indicates if the register is equipped with a PayPass card reader.
          example: true
        isPayPassTicketing:
          type: boolean
          description: Boolean value which indicates if the ticketing area is equipped with a PayPass card reader.
          example: true
        isPayPassVendingMachine:
          type: boolean
          description: Boolean value which indicates if the vending machine is equipped with a PayPass card reader.
          example: true
        isRepowerByCardSwipeSupported:
          type: boolean
          description: Boolean value which indicates if the repower card load type at this merchant supports Card Swipe.
          example: true
        isRepowerByMoneyPakSupported:
          type: boolean
          description: Boolean value which indicates if the repower card load type at this merchant supports MoneyPak.
          example: true
        latitude:
          type: string
          description: The latitude of the merchant
          example: '38.670337'
        locationName:
          type: string
          description: The name of the merchant
          example: QUIK TRIP STORE 1
        longitude:
          type: string
          description: The longitude of the merchant.
          example: '-90.443727'
        phoneNumber:
          type: string
          description: Merchant's phone number
          example: '8165442210'
        postalCode:
          type: string
          description: The postal code of the Merchant location.
          example: '63366'
        websiteUrl:
          type: string
          description: Merchant's website URL address
          example: www.mcdondalds.com
  headers:
    X-MC-Correlation-ID:
      description: This id is unique per request and is used to co-relate a request to its response. Customers must share this id while raising any incident for this API.
      schema:
        $ref: '#/components/schemas/X-MC-Correlation-ID'
  responses:
    SupportedMerchantCategories:
      description: This response code is returned when a request is accepted and successfully processed. A corresponding response will be returned for the API caller.
      headers:
        X-MC-Correlation-ID:
          $ref: '#/components/headers/X-MC-Correlation-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SupportedMerchantCategories'
          examples:
            SupportedMerchantCategories:
              $ref: '#/components/examples/SupportedMerchantCategories'
    SubMerchantSuccess:
      description: Successful Operation
      headers:
        Etag:
          required: true
          schema:
            $ref: '#/components/schemas/Etag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubMerchantResource'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ResourceNotFound:
              $ref: '#/components/examples/ResourceNotFound'
            EntityNotFound:
              $ref: '#/components/examples/EntityNotFound'
            AlertsEntityNotFound:
              $ref: '#/components/examples/AlertsEntityNotFound'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidData:
              $ref: '#/components/examples/InvalidData'
            AlertsInvalidData:
              $ref: '#/components/examples/AlertsInvalidData'
            InvalidParameterSet:
              $ref: '#/components/examples/InvalidParameterSet'
            FormatInvalid:
              $ref: '#/components/examples/FormatInvalid'
            AlertsFormatInvalid:
              $ref: '#/components/examples/AlertsFormatInvalid'
            MissingRequiredHeader:
              $ref: '#/components/examples/MissingRequiredHeader'
    Default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ServerError:
              $ref: '#/components/examples/ServerError'
    AlertsOrgProfilesSuccess:
      description: Details of organization profiles for members such as Partners and Acquirers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsOrgProfile'
          examples:
            AlertsOrgProfilePartner:
              $ref: '#/components/examples/AlertsOrgProfilePartner'
            AlertsOrgProfileAcquirer:
              $ref: '#/components/examples/AlertsOrgProfileAcquirer'
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PermissionDenied:
              $ref: '#/components/examples/PermissionDenied'
    NotAcceptableHeader:
      description: This response code is returned when a user enters anything except application/json in the Accept header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            NotAcceptableHeader:
              $ref: '#/components/examples/NotAcceptableHeader'
    AccountNotRegisteredError:
      description: This response code is returned when the server cannot find the account used to call this API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            AccountNotRegisteredError:
              $ref: '#/components/examples/AccountNotRegisteredError'
    BadRequestError:
      description: This response code is returned when a request is invalid, or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            InvalidCardProductError:
              $ref: '#/components/examples/InvalidCardProductError'
            InvalidFieldFormat:
              $ref: '#/components/examples/InvalidFieldFormat'
            InvalidFieldLength:
              $ref: '#/components/examples/InvalidFieldLength'
            InvalidFieldValue:
              $ref: '#/components/examples/InvalidFieldValue'
            MissingRequiredField:
              $ref: '#/components/examples/MissingRequiredField'
    MerchantParticipationReference:
      description: Returns "Location" response header which contains the relative URL to get the status of this request.
      headers:
        Location:
          schema:
            type: string
            description: Unique id generated for this request.
            example: merchants/participations?request_id=7223372036854776000
    ForbiddenError:
      description: This response code is returned when API or resource access is not approved for the client.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            ForbiddenError:
              $ref: '#/components/examples/ForbiddenError'
    ResourceNotFoundError:
      description: This response code is returned when the request resource is not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            ForbiddenError:
              $ref: '#/components/examples/ResourceNotFoundError'
    MidDetailsPage:
      description: The response object that contains the mids of a merchant.
      headers:
        Count:
          schema:
            $ref: '#/components/schemas/count'
        Offset:
          schema:
            $ref: '#/components/schemas/offset'
        Limit:
          schema:
            $ref: '#/components/schemas/limit'
        Total:
          schema:
            $ref: '#/components/schemas/total'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MidDetailsPage'
          examples:
            Mid Details Page:
              $ref: '#/components/examples/MidDetailsPage'
            Mid Details for Australia:
              $ref: '#/components/examples/EncryptedMidDetailsPageForAus'
    MerchantSearches:
      description: The response object that contains the list of merchant objects.
      headers:
        Count:
          schema:
            $ref: '#/components/schemas/count'
        Offset:
          schema:
            $ref: '#/components/schemas/offset'
        Limit:
          schema:
            $ref: '#/components/schemas/limit'
        Total:
          schema:
            $ref: '#/components/schemas/total'
        Request-Status:
          schema:
            $ref: '#/components/schemas/status'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MerchantSearches'
          examples:
            MID Merchant Participations:
              $ref: '#/components/examples/Merchants-Search'
            MAID Merchant Participations:
              $ref: '#/components/examples/MaidMerchants-Searches'
            MID Merchant Participations For Australia:
              $ref: '#/components/examples/Merchants-Searches-Australia'
    Merchants:
      description: The response object that contains the list of merchant objects.
      headers:
        Count:
          schema:
            $ref: '#/components/schemas/count'
        Offset:
          schema:
            $ref: '#/components/schemas/offset'
        Limit:
          schema:
            $ref: '#/components/schemas/limit'
        Total:
          schema:
            $ref: '#/components/schemas/total'
        Request-Status:
          schema:
            $ref: '#/components/schemas/status'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Merchants'
          examples:
            MID Merchant Participations:
              $ref: '#/components/examples/Merchants'
            MAID Merchant Participations:
              $ref: '#/components/examples/MaidMerchants'
            MID Merchant Participations For Australia:
              $ref: '#/components/examples/Merchants-Australia'
            RequestError:
              $ref: '#/components/examples/RequestError'
    InvalidRequestIdError:
      description: This response code is returned when a request is invalid, or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            InvalidRequestIdError:
              $ref: '#/components/examples/InvalidRequestIdError'
    ForbiddenError_2:
      description: Insufficient permissions for interacting with the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: PERMISSION_DENIED
                Description: You don't seem authorized to do that
                Recoverable: false
                Details: Reading merchant information requires read-only permissions
    UnauthorizedError:
      description: Authentication information was missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: UNAUTHORIZED
                Description: We couldn't recognize you
                Recoverable: false
                Details: Full authentication is required to access this resource
    Merchants_2:
      description: List of Merchant details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Merchants_2'
    BadRequestError_2:
      description: Something was wrong with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
          example:
            Errors:
            - Error:
                Source: latitude
                ReasonCode: INVALID_INPUT_VALUE
                Description: Latitude is missing, invalid, or could not be determined from address fields.
                Recoverable: false
                Details: null
  examples:
    SupportedMerchantCategories:
      value:
      - mcc: 10
        category:
          mainCategory: Shopping
          subCategory: Department Store
          sector: Department Stores
          sectorCode: '201'
      - mcc: 11
        category:
          mainCategory: Shopping
          subCategory: Clothes & Fashion
          sector: Variety Stores
          sectorCode: '305'
      - mcc: 12
        category:
          mainCategory: Food & Beverages
          subCategory: Groceries
          sector: Grocery Stores & Supermarkets
          sectorCode: '101'
      - mcc: 3860
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 3861
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 3620
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 3862
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 3621
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 3863
        category:
          mainCategory: Leisure & Entertainment
          subCategory: Hotels & Vacation
          sector: Hotels, Motels & Resorts
          sectorCode: '604'
      - mcc: 5800
        category:
          mainCategory: Shopping
          subCategory: Department Store
          sector: Specialty Retail & Services
          sectorCode: '302'
    InvalidParameterSet:
      summary: Invalid Parameter Set Error Response
      description: If request body is malformed or missing, then InvalidParameterSet error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: invalid.parameter.set
            Description: request body is malformed
            Recoverable: false
            Details: ''
    MissingRequiredHeader:
      summary: Missing Required Header Error Response
      description: If a required request header is missing or null, then MissingRequiredHeader error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: Submitter-First-Name
            Recoverable: false
            Details: ''
    ServerError:
      summary: Server Error Response
      description: If an unexpected internal server error occurs, then ServerError response is returned to the caller with HTTP Status code 500.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: server.error
            Description: Internal Server Error
            Recoverable: false
            Details: ''
    AlertsEntityNotFound:
      summary: Entity Not Found Error Response For Alerts
[...]
