openapi: 3.2.0
info:
  title: Mastercard Data API
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: '1.0'
  description: 'Operations tagged Data across 3 of this provider''s published API definitions: mastercard-id-for-trust-providers-openapi.yml, mastercard-id-verification-openapi.yml, mastercard-loyalty-insurance-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mastercard.com/idservice
  description: Production server (uses USA live data).
- url: https://sandbox.api.mastercard.com/idservice
  description: Sandbox server (testing USA environment).
- url: https://api.mastercard.com.au/idservice
  description: Production server  (uses AUS live data).
- url: https://sandbox.api.mastercard.com.au/idservice
  description: Sandbox server (testing AUS environment).
- url: https://api.mastercard.com.au/idverify
  description: Production server (uses live data)
- url: https://sandbox.api.mastercard.com.au/idverify
  description: Sandbox server (testing environment)
- url: https://api.mastercard.com/loyalty/insurance
  description: Production server
- url: https://sandbox.api.mastercard.com/loyalty/insurance
  description: Sandbox server
tags:
- name: Data
paths:
  /tp-data-shares:
    post:
      summary: Add an Independently Validated Phone Number.
      tags:
      - Data
      responses:
        '200':
          $ref: '#/components/responses/TPDataShareSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: "Used for a TP to share a User's Identity Attributes. Does not require a minimum authentication standard.   \n**This API is optional.**\n"
      operationId: updatePdsData
      parameters:
      - $ref: '#/components/parameters/XUserIdentityParameter'
      - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/TpDataShareRequest'
    servers:
    - url: https://api.mastercard.com/idservice
      description: Production server (uses USA live data).
    - url: https://sandbox.api.mastercard.com/idservice
      description: Sandbox server (testing USA environment).
    - url: https://api.mastercard.com.au/idservice
      description: Production server  (uses AUS live data).
    - url: https://sandbox.api.mastercard.com.au/idservice
      description: Sandbox server (testing AUS environment).
  /data-extractions/access-tokens:
    post:
      x-mastercard-api-encrypted: true
      tags:
      - Data
      responses:
        '200':
          $ref: '#/components/responses/AccessTokenSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
      description: Return a provider token to be passed to the MIDS Liveness SDK module.
      summary: The provider token is retrieved by country code and SDK version
      operationId: retrieveDataExtractionAccessToken
      requestBody:
        $ref: '#/components/requestBodies/AccessTokenRequest'
      parameters:
      - $ref: '#/components/parameters/EncryptedPayloadParameter'
    servers:
    - url: https://api.mastercard.com.au/idverify
      description: Production server (uses live data)
    - url: https://sandbox.api.mastercard.com.au/idverify
      description: Sandbox server (testing environment)
  /data-extractions/facematch:
    post:
      summary: Verifies the details of a selfie with an identity verification provider
      tags:
      - Data
      responses:
        '200':
          $ref: '#/components/responses/FacematchResult'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
      description: Returns the Status of the Source Verification that has been processed by a trusted IVP.
      operationId: facematchVerification
      parameters:
      - $ref: '#/components/parameters/EncryptedPayloadParameter'
      requestBody:
        $ref: '#/components/requestBodies/SelfieVerificationRequest'
    servers:
    - url: https://api.mastercard.com.au/idverify
      description: Production server (uses live data)
    - url: https://sandbox.api.mastercard.com.au/idverify
      description: Sandbox server (testing environment)
  /data-extractions/scans/{scan_id}:
    get:
      x-mastercard-api-encrypted: true
      summary: Returns the status of the document verification.
      tags:
      - Data
      responses:
        '200':
          $ref: '#/components/responses/DataExtractionSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError_2'
        '403':
          $ref: '#/components/responses/ForbiddenError_2'
        '404':
          $ref: '#/components/responses/NotFoundError_2'
      description: Returns the status of the document verification as it's being processed by the vendor.
      operationId: extractScannedDocumentData
      parameters:
      - $ref: '#/components/parameters/ScanIdParameter'
      - $ref: '#/components/parameters/UserConsentParameter'
      - $ref: '#/components/parameters/RetrieveSelfieParameter'
      - $ref: '#/components/parameters/RetrieveDocumentImagesParameter'
      - $ref: '#/components/parameters/RetrieveFacemapParameter'
      - $ref: '#/components/parameters/DocumentTypeParameter'
      - $ref: '#/components/parameters/CountryParameter'
      - $ref: '#/components/parameters/EncryptedPayloadParameter'
    servers:
    - url: https://api.mastercard.com.au/idverify
      description: Production server (uses live data)
    - url: https://sandbox.api.mastercard.com.au/idverify
      description: Sandbox server (testing environment)
  /user-data-tokens:
    post:
      tags:
      - Data
      summary: Mastercard Create a User Data Token Which Is Used in the Redirection Url That Redirects the Cardholder to the Website for Submitting a New Claim.
      description: Create a user data token for submitting claim.
      operationId: createUserToken
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/UserDataClaim'
      responses:
        '200':
          $ref: '#/components/responses/UserDataToken'
        '400':
          $ref: '#/components/responses/UserBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.mastercard.com/loyalty/insurance
      description: Production server
    - url: https://sandbox.api.mastercard.com/loyalty/insurance
      description: Sandbox server
components:
  schemas:
    Address:
      required:
      - lastVerifiedDate
      allOf:
      - $ref: '#/components/schemas/AddressData'
      - type: object
        properties:
          value:
            type: string
            description: Formatted address.
            minLength: 1
            maxLength: 255
            example: 36271 GrandRiver Ave Building no 2 48335 Farmington MI USA
          lastVerifiedDate:
            type: string
            description: Last verified date and time.
            format: date-time
            example: '2021-02-19T10:55:58.165Z'
    ErrorResponse:
      required:
      - Errors
      type: object
      description: The error response model used by all the API endpoints.
      properties:
        Errors:
          required:
          - Error
          type: object
          description: The error response model used by all the API endpoints.
          properties:
            Error:
              type: array
              description: A list of Error objects.
              minItems: 1
              items:
                type: object
                properties:
                  Source:
                    type: string
                    description: The source of the problem. That is where the error occurred.
                    example: mids
                  ReasonCode:
                    type: string
                    description: A code defining the error, as defined in documentation.
                    example: USER_PROFILE_ID_NOT_FOUND
                  Description:
                    type: string
                    description: A description of this specific occurrence of the Reason code.
                    example: The provided user profile ID does not exist.
                  Recoverable:
                    type: boolean
                    description: Whether or not retrying this request could result in a successful response.
                    example: false
                  Details:
                    type: string
                    description: More details of this specific error. This is an optional field and is sometimes used to give a more comprehensive description of the error that has occurred, when required.
                    example: User X was not found
                  redirectUri:
                    type: string
                    description: TP will use this URI to redirect to RP.
                    pattern: ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
                    example: https://sample-rp-redirect-uri.com/?error=invalid_scope&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w&ARID=1234&error_description=claim_not_satisfied
    PDS:
      type: string
      description: Encrypted Personal Device Storage (PDS) which hosts the users identity attributes. The PDS can be retrieved from the MIDS Core SDK, please refer to the SDK guide for details on how to retrieve this.
      pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
      minLength: 1
      example: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    Phone:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: 11234567890
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    UserConsent:
      enum:
      - ACCEPT
      - DECLINE
      - REVOKE
      - EXPIRE
      type: string
      description: Confirmation provided by the TP that the user has consented that the ID-Network can have access to their identity for the purposes of the API call. Should be ACCEPT, a forbidden exception will be thrown if it is any other value.
      pattern: ^(ACCEPT|DECLINE|REVOKE|EXPIRE)$
      minLength: 6
      maxLength: 7
      example: ACCEPT
    AddressData:
      type: object
      properties:
        addressLine1:
          type: string
          description: Address line 1.
          minLength: 1
          maxLength: 255
          example: 36271 GrandRiver Ave
        addressLine2:
          type: string
          description: Address line 2.
          minLength: 1
          maxLength: 255
          example: Building no 2
        addressZipCode:
          type: string
          description: Zip code.
          minLength: 1
          maxLength: 255
          example: 48335
        addressCity:
          type: string
          description: City.
          minLength: 1
          maxLength: 255
          example: Farmington
        addressSubdivision:
          type: string
          description: Subdivision of the user address, possible values include county, state, province, and municipality.
          minLength: 2
          maxLength: 2
          example: MO
        addressCountry:
          type: string
          description: Country provided in the address from the scanned document.
          minLength: 1
          maxLength: 255
          example: USA
    TPDataShareSuccessData:
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
    Email:
      required:
      - lastVerifiedDate
      - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: person@mastercard.com
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    TpDataShare:
      required:
      - pds
      - userConsent
      - userProfileId
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        userProfileId:
          type: string
          description: UUID identifying the user, which the TP App generates using the MIDS Core SDK.
          pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        address:
          $ref: '#/components/schemas/Address'
        email:
          $ref: '#/components/schemas/Email'
        phone:
          $ref: '#/components/schemas/Phone'
    ApiError:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    SelfieVerificationRequest:
      required:
      - accountId
      - selfie
      - channelType
      - livenessType
      type: object
      properties:
        accountId:
          description: User account ID
          example: 14c01794-926a-426f-ad72-c45f8fbf78a4
          type: string
        selfie:
          description: Base 64 selfie
          example: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          type: string
        livenessType:
          type: string
          example: GPA
          description: liveness type, GPA takes longer and provides more accuracy, LA is faster
          enum:
          - GPA
          - LA
        channelType:
          type: string
          example: WEB
          description: the platform of enrollment process
          enum:
          - WEB
          - SDK
    FacematchSourceVerificationResult:
      required:
      - verificationResult
      - accountId
      - workflowId
      type: object
      properties:
        verificationResult:
          type: string
          example: DOCUMENT_VERIFIED
          description: 'Verification Results, following: DOCUMENT_VERIFIED - Document matches with the IVP registered document, DOCUMENT_NOT_VERIFIED - Document does not match with any of the IVP registered document, DOCUMENT_INVALID - Document is invalid or not electronically captured'
        workflowId:
          description: The workflowId is the identifier for the scan on the identity verification provider used by ID Verification.
          type: string
          example: 5226539e-78e7-45ac-a924-072d1301c24c
          minLength: 36
          maxLength: 36
        accountId:
          description: The accountId is an identifier for the client's account on the identity verification provider used by ID Verification.
          type: string
          example: 14c01794-926a-426f-ad72-c45f8fbf78a4
          minLength: 36
          maxLength: 36
    Error:
      type: object
      properties:
        Source:
          type: string
          description: Source of where the error occured.
          example: mids
        ReasonCode:
          type: string
          description: Code of the error.
          example: USER_PROFILE_ID_NOT_FOUND
        Description:
          type: string
          description: The cause of the error
          example: The provided userProfileId does not exist
        Recoverable:
          type: boolean
          description: Indiciates if the error can be recovered from.
          example: false
        Details:
          type: string
          description: Contains information about the error.
          example: IOException Occured
    Errors:
      description: List of Errors.
      example:
        $ref: '#/components/examples/NotFoundExample_2'
      required:
      - Error
      type: object
      properties:
        Error:
          $ref: '#/components/schemas/ErrorList'
    ErrorList:
      description: Error Details.
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/Error'
    RetrieveAccessToken:
      required:
      - countryCode
      - channelType
      type: object
      properties:
        countryCode:
          type: string
          example: US
          pattern: ^[a-zA-Z]{2}$
          description: The ISO 3166-1 alpha2 code which corresponds to the country from where the request to ID is originating from.
        channelType:
          type: string
          example: WEB
          description: The platform where the request is generated from.
          enum:
          - WEB
          - SDK
          minLength: 3
          maxLength: 3
        sdkVersion:
          type: string
          example: 1.0.0
          pattern: ^[0-9]{1,5}\.[0-9]{1,5}\.[0-9]{1,5}$
          description: The SDK's version that the application is using. Required if the channelType is `SDK`.
        livenessType:
          type: string
          example: GPA
          description: The preferred liveness type to be applied; Liveness Assurance (LA) or Genuine Presence Assurance (GPA), where GPA provides LA capability and also additional checks that ensure the user is genuinely present.
          enum:
          - GPA
          - LA
          minLength: 2
          maxLength: 3
        successUrl:
          type: string
          example: https://www.rp.com/success
          description: The URL to be redirected to if the token request is successful. Must be present if the channelType is WEB.
          pattern: ^((https):\/\/)([-\w.])+(:[0-9]+)?\/?(\/[-.\w]*)*((\?|\&)([^=]+)\=([^&]*))*$
        errorUrl:
          type: string
          example: https://www.rp.com/error
          description: The URL to be redirected to if the token request is not successful. Must be present if the channelType is WEB.
          pattern: ^((https):\/\/)([-\w.])+(:[0-9]+)?\/?(\/[-.\w]*)*((\?|\&)([^=]+)\=([^&]*))*$
        locale:
          description: The IETF BCP 47 value which determines the language variant to be applied in the subsequent scanning dialogs accessed via the token.
          type: string
          default: en-US
          example: en-GB
          pattern: ^[a-z]{2}-[a-zA-Z]{2}$
        document:
          type: object
          description: An optional object which allows the Relying Party to limit the country and type of document which can be submitted, by not displaying a document selection screen within the user journey. If only one of the document type or issuing country fields is populated, then the associated dialog option on the document selection screen will continue be displayed.
          properties:
            issuingCountry:
              type: string
              example: USA
              pattern: ^[A-Z]{3}$
              description: Element used to restrict the issuing country of the document that can be uploaded by the user. Inclusion of a value for this element will result in the issuing country option being removed from the Document Selection screen. If a value is also included for the documentType element, then the Document Selection screen will not be displayed at all. The value submitted needs to comply to the ISO 3166-1 Alpha 3 standard.
            documentType:
              type: string
              example: DRIVING_LICENSE
              description: Element used to restrict the type of document that can be uploaded by the user. Inclusion of a value for this element will result in the document type option being removed from the Document Selection screen. If a value is also included for the issuingCountry element, then the Document Selection screen will not be displayed at all. The value submitted must be one of the following enum values.
              enum:
              - DRIVING_LICENSE
              - ID_CARD
              - PASSPORT
        workflowDefinition:
          type: String
          example: DOCUMENT_EXTRACTION_FACEMATCH_LIVENESS
          description: 'Value which indicates the capabilities which are to be executed within the flow: <br/> <ul> <li> Document Extraction  Verifies a document is genuine and provides an extract of the details contained in that document.</li> <li> Document Extraction, Facematch and Liveness  Verifies a document is genuine, provides an extract of the details contained in that document, and verifies the user is live and is the subject of that document.</li> <li> Facematch  Matches a user to a previously verified document.</li> </ul> If no value is supplied then the full document extraction, liveness and face matching capability will be enacted by default.'
          enum:
          - DOCUMENT_EXTRACTION
          - DOCUMENT_EXTRACTION_FACEMATCH_LIVENESS
          - FACEMATCH
        accountId:
          type: string
          example: 14c01794-926a-426f-ad72-c45f8fbf78a4
          pattern: ^[a-zA-Z][0-9][-]{*}$
          description: Required only when the FACEMATCH enum is specified in the workflowDefinition field.<br/> The accountId value returned to the client in a previous access token call for the document which is to form the basis for the face-match.
        workflowId:
          type: string
          example: 5226539e-78e7-45ac-a924-072d1301c24c
          pattern: ^[a-zA-Z][0-9][-]{*}$
          description: Required only when the FACEMATCH enum is specified in the workflowDefinition field.<br/> The workflowId value returned to the client in a previous access token call for the document which is to form the basis for the face-match.
    DocumentVerificationExtractedDataDocumentData:
      description: Document Data.
      required:
      - dateOfBirth
      - documentNumber
      - documentStatus
      - documentType
      - expiryDate
      - firstName
      - gender
      - issuingCountry
      - issuingDate
      - lastName
      type: object
      properties:
        documentNumber:
          description: Document Number.
          example: N1234567
          type: string
          minLength: 1
          maxLength: 255
        documentStatus:
          description: Document Status. SUCCESS OR PENDING.
          example: SUCCESS
          type: string
          minLength: 1
          maxLength: 7
        documentType:
          description: Document Type. PASSPORT OR DRIVER_LICENSE OR ID_CARD.
          example: PASSPORT
          type: string
          minLength: 1
          maxLength: 50
          pattern: ^(DRIVING_LICENSE|PASSPORT|ID_CARD)$
        dateOfBirth:
          description: YYYY-MM-DD format.
          example: '2020-09-09'
          type: string
          minLength: 10
          maxLength: 10
        firstName:
          description: Users First Name.
          example: John
          type: string
          minLength: 1
          maxLength: 255
        lastName:
          description: Users Last Name.
          example: Smith
          type: string
          minLength: 1
          maxLength: 255
        expiryDate:
          description: Document expiration date in YYYY-MM-DD format.
          example: '2020-10-10'
          type: string
          format: date
          minLength: 10
          maxLength: 10
        gender:
          description: M/F.
          example: M
          type: string
          minLength: 1
          maxLength: 1
        issuingCountry:
          description: Document issuing country.
          example: AUS
          type: string
          minLength: 3
          maxLength: 3
        issuingDate:
          description: Document issuing date.
          example: '2020-09-09'
          type: string
          format: date
          minLength: 10
          maxLength: 10
        issuingPlace:
          description: Document issuing place.
          example: New York
          type: string
          minLength: 1
          maxLength: 50
        issuingAuthority:
          description: Document issuing authority.
          example: United States
          type: string
          minLength: 1
          maxLength: 50
        placeOfBirth:
          description: Users place of birth.
          example: Boston
          type: string
          minLength: 1
          maxLength: 255
        addressLine1:
          description: Users Address Line 1.
          example: 123 Main St.
          type: string
          minLength: 1
          maxLength: 255
        addressLine2:
          description: Users Address Line 2.
          example: New York
          type: string
          minLength: 1
          maxLength: 255
        addressZipCode:
          description: Users zip code.
          example: '10021'
          type: string
          minLength: 1
          maxLength: 50
        addressCity:
          description: Users City.
          example: New York
          type: string
          minLength: 1
          maxLength: 100
        addressCountry:
          description: Users Country.
          example: USA
          type: string
          minLength: 2
          maxLength: 3
        addressSubdivision:
          description: Users Subdivision.
          example: MO
          type: string
          minLength: 2
          maxLength: 100
        issuingState:
          description: Users State.
          example: MO
          type: string
          minLength: 2
          maxLength: 100
        formattedAddress:
          description: Users formatted Address.
          example: 220 BLVD O FALLON MO
          type: string
          minLength: 1
          maxLength: 200
        selfie:
          description: Users Selfie Binary data, Base64 encoded.
          example: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          type: string
          minLength: 1
        documentImageFront:
          description: Users document front binary data, Base64 encoded.
          example: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          type: string
          minLength: 1
        documentImageBack:
          description: Users document back binary data, Base64 encoded.
          example: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          type: string
          minLength: 1
        facemap:
          description: Users document facemap binary data, Base64 encoded.
          example: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          type: string
          minLength: 1
        rgNumber:
          type: string
          minLength: 1
          maxLength: 255
          description: RG Number.
          example: 12345
        cpf:
          type: string
          minLength: 1
          maxLength: 255
          description: CPF Number.
          example: 12345
        fathersName:
          type: string
          minLength: 1
          maxLength: 255
          description: Father's Name.
          example: John Smith
        mothersName:
          type: string
          minLength: 1
          maxLength: 255
          description: Mother's Name.
          example: Paula Smith
    AccessToken:
      required:
      - apiDataCenter
      - sdkToken
      - transactionId
      type: object
      properties:
        transactionId:
          description: The transaction ID provided in the API response must be logged by the Relying Party. The Relying Party is required to provide the transaction ID when contacting the Mastercard customer support team.
          type: string
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
          minLength: 36
          maxLength: 36
        accountId:
          description: The accountId is an identifier for the client's account on the identity verification provider used by ID Verification.
          type: string
          example: 14c01794-926a-426f-ad72-c45f8fbf78a4
          minLength: 36
          maxLength: 36
        workflowId:
          description: The workflowId is the identifier for the scan on the identity verification provider used by ID Verification.
          type: string
          example: 5226539e-78e7-45ac-a924-072d1301c24c
          minLength: 36
          maxLength: 36
        sdkToken:
          description: Token to initialize the SDK.
          type: string
          example: eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAB3NQQpCMQwE0Lt0baBJ0yZ159KtN0jTBgTBjYgg3t3__3KGN8w3rc_llc4JG6KUhrmoYjolc7_OvWfPKJ2hUzNgagE2hcC5hsYIUeOdH7gStVr6AtElwNUcrBNDFppYMjqxb9hvKzb9fNzfa4_HVkORomdoggsYp8HgPqAWF43VtsOcfn_stx4UsAAAAA.tDRVowYYcpQ03Vlt7D3MiovleiyRFQMv4qzXb7Lf_6CarphRrlWXan8-jE-YesNiAiT8tk0b-i8TKHGrcgT1VQ
          minLength: 1
          maxLength: 328
        apiDataCenter:
          description: API Data Center. The accepted values are US, EU or SG.
          type: string
          example: US
          minLength: 1
          maxLength: 2
        documentVerificationUrl:
          description: Web url to display in iframe.
          type: string
          example: https://mastercard.web.apac-1.jumio.link/web/v4/app?authorizationToken=eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAJXOQQ5CIQxF0b0wtkmBFqgzh07_Dkp_iWM10cS4d0FX4PTm5OW9gj9P93AMsaRaS845CVM4BDU776sLi5JGiM06UGGDLiUCRaLa0rDR6uJf7FH6mBwYtUyCBcSywBznbmMfGdPEj-H_cNt8TL35zfVql1V-12o0SZ3AGysQ1wKNFCGbsjlyUsTw_gANOZ5b4gAAAA.2bo6KfOvGIswNRNTXv6QtoGvHyNYp_j3LwHia9DtuWna3y_LLI1VgPZle46Q5cFHuuMJB7g7y4wHbtogBX2HfQ&locale=en-US
    DocumentVerificationExtractedData:
      required:
      - status
      - transactionId
      type: object
      properties:
        documentData:
          $ref: '#/components/schemas/DocumentVerificationExtractedDataDocumentData'
        status:
          description: The status of the Status API, possible values are SUCCESS / PENDING.
          example: SUCCESS
          type: string
          minLength: 1
          maxLength: 7
        transactionId:
          description: The transaction ID provided in the API response must be logged by the Relying Party. The Relying Party is required to provide the transaction ID when contacting the Mastercard customer support team.
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
          type: string
          minLength: 36
          maxLength: 36
    SubmitClaimUserToken:
      type: object
      properties:
        token:
          type: string
          description: Encrypted user data token to be used in the generated url that redirects the cardholder to the target website to submit a new claim.
          example: EkRKarafAVJkljljfafkljeiwie
    ErrorItems:
      required:
      - Errors
      type: object
      properties:
        Errors:
          required:
          - Error
          type: object
          properties:
            Error:
              type: array
              description: Error Details
              items:
                $ref: '#/components/schemas/ErrorItem'
          example: example_value
    SubmitClaimUserData:
      type: object
      required:
      - pan
      properties:
        firstName:
          type: string
          description: First name
          example: John
          maxLength: 20
        lastName:
          type: string
          description: Last name
          example: Smith
          maxLength: 40
        addressLine1:
          type: string
          description: Address line 1
          example: Rua Francisco Pereira da Silva 1480
          maxLength: 40
        addressLine2:
          type: string
          description: Address line 2
          example: Apt. 302
          maxLength: 40
        city:
          type: string
          description: City
          example: Guarulhos
          maxLength: 20
        state:
          type: string
          description: State
          example: SP
        postalCode:
          type: string
          description: Postal code
          example: 07272-060
          maxLength: 12
        country:
          type: string
          description: Alpha-3 ISO 3166-1 country code
          example: BRA
        email:
          type: string
          description: Email address
          example: john.smith@mail.com
          maxLength: 40
        phone:
          type: string
          description: Phone number
          example: (11) 1111-1111
          maxLength: 20
        pan:
          type: string
          description: Payment card number
          example: '5534782345678238'
    ErrorItem:
      type: object
      properties:
        Source:
          type: string
          example: Error source
          description: Source of the error.
        Description:
          type: string
          example: Generic error description
          description: Short description of the ReasonCode field.
        ReasonCode:
          type: string
          example: REASON_CODE
          description: A unique constant identifying the error case encountered during API request processing.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          example: Detailed error description
          description: Where appropriate, indicates detailed information about data received.
  responses:
    TPDataShareSuccessResponse:
      description: Success.
      headers:
        X-Transaction-ID:
          schema:
            type: string
          description: A random 128-bit UUID represents the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TPDataShareSuccessData'
    NotFoundError:
      description: The request didn't match an existing resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    BadRequestError:
      description: Something was wrong with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            UserProfileDeletedErrorExample:
              $ref: '#/components/examples/UserProfileDeletedErrorExample'
    UnauthorizedError:
      description: Unauthorized request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    ForbiddenError:
      description: Consent not given.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ForbiddenExample:
              $ref: '#/components/examples/ForbiddenExample'
            ForbiddenExampleUnauthorizedScopedFields:
              $ref: '#/components/examples/ForbiddenExampleUnauthorizedScopedFields'
    AccessTokenSuccessResponse:
      description: Success.
      headers:
        X-Transaction-ID:
          $ref: '#/components/headers/X-Transaction-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccessToken'
          examples:
            AccessTokensResponsePayload:
              $ref: '#/components/examples/AccessTokensResponsePayload'
            EncryptedPayloadExample:
              $ref: '#/components/examples/EncryptedPayloadExample'
    FacematchResult:
      description: Success
      headers:
        X-Transaction-ID:
          $ref: '#/components/headers/X-Transaction-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FacematchSourceVerificationResult'
    NotFoundError_2:
      description: Request didn't match an existing resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample_2'
    BadRequestError_2:
      description: Something was wrong with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          examples:
            BadRequestExampleUserConsent:
              $ref: '#/components/examples/BadRequestExampleUserConsent'
            BadRequestExampleCountryCode:
              $ref: '#/components/examples/BadRequestExampleCountryCode'
            BadRequestExamplePhoneNumber:
              $ref: '#/components/examples/BadRequestExamplePhoneNumber'
            BadRequestExampleIVPConnectionTimeout:
              $ref: '#/components/examples/BadRequestExampleIVPConnectionTimeout'
            BadRequestExampleIVPSystemError:
              $ref: '#/components/examples/BadRequestExampleIVPSystemError'
            BadRequestExampleMedicareExpireDate:
              $ref: '#/components/examples/BadRequestExampleMedicareExpireDate'
            BadRequestExampleMedicareName:
              $ref: '#/components/examples/BadRequestExampleMedicareName'
            BadRequestExampleMedicareIndividualReferenceNo:
              $ref: '#/components/examples/BadRequestExampleMedicareIndividualReferenceNo'
            BadRequestExampleMedicareMedicareNumber:
              $ref: '#/components/examples/BadRequestExampleMedicareMedicareNumber'
            BadRequestExampleMedicareCountryCode:
              $ref: '#/components/examples/BadRequestExampleMedicareCountryCode'
            BadRequestExampleMedicareUserConsent:
              $ref: '#/components/examples/BadRequestExampleMedicareUserConsent'
            BadRequestExampleDocumentMismatch:
              $ref: '#/components/examples/BadRequestExampleDocumentMismatch'
    DataExtractionSuccessResponse:
      description: Success.
      headers:
        X-Transaction-ID:
          $ref: '#/components/headers/X-Transaction-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DocumentVerificationExtractedData'
          examples:
            DocumentDataDriverLicense:
              $ref: '#/components/examples/DocumentDataExampleDriverLicense'
            DocumentDataPassaport:
              $ref: '#/components/examples/DocumentDataExamplePassport'
            DocumentDataExampleIDCard:
              $ref: '#/components/examples/DocumentDataExampleIDCard'
    ForbiddenError_2:
      description: Consent not given.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          examples:
            ForbiddenExample:
              $ref: '#/components/examples/ForbiddenExample'
            ForbiddenExampleUnauthorizedScopedFields:
              $ref: '#/components/examples/ForbiddenExampleUnauthorizedScopedFields_2'
    UserBadRequestError:
      description: 'Bad Request

        Reason Codes:

        * MISSING_REQ_FIELD_GW - Missing required field(s)

        * INVALID_FIELD - Invalid field(s)

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorItems'
          examples:
            UserBadRequestExample:
              $ref: '#/components/examples/UserBadRequestExample'
    UserDataToken:
      description: The user data token generated from the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubmitClaimUserToken'
    UnauthorizedError_2:
      description: Unauthorized - Access Not Granted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorItems'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample_2'
  parameters:
    XUserIdentityParameter:
      in: header
      name: X-User-Identity
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
      description: 'JWT token for session validation. Returned as response header in previous API calls with key X-User-Identity.

        '
      schema:
        type: string
    XEncryptedPayload:
      in: header
      name: X-Encrypted-Payload
      type: boolean
      description: 'An indicator that the request is encrypted or indicates that the client is able to receive an encrypted response. If not set, the payload will be treated as plaintext.

        '
      example: true
      schema: null
    RetrieveFacemapParameter:
      name: retrieve_facemap
      in: query
      description: Flag indicating if the facemap needs to be retrieved.
      example: 'true'
      required: true
      schema:
        type: string
        pattern: ^(true|false)$
    CountryParameter:
      name: user_selected_country
      in: query
      description: The ISO 3166-1 alpha3 code which corresponds to the country from where the request to ID is originating from.
      example: USA
      schema:
        type: string
        pattern: ^[A-Z]{3}
    ScanIdParameter:
      name: scan_id
      in: path
      description: UUID returned to the application/webpage on completion of the users interactions with the ID-V SDK.
      example: 5226539e-78e7-45ac-a924-072d1301c24c
      required: true
      schema:
        maxLength: 36
        minLength: 36
        type: string
        pattern: ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
    RetrieveDocumentImagesParameter:
      name: retrieve_document_images
      in: query
      description: Flag indicating if the document images needs to be retrieved.
      example: 'true'
      required: true
      schema:
        type: string
        pattern: ^(true|false)$
    EncryptedPayloadParameter:
      name: X-Encrypted-Payload
      in: header
      description: Whether the request payload is encrypted with the Encyption Key generated from the Developer Zone Portal.
      example: true
      required: false
      schema:
        type: boolean
    DocumentTypeParameter:
      name: document_type
      in: query
      description: The type of document scanned (DRIVING_LICENSE, PASSPORT, ID_CARD).
      example: DRIVING_LICENSE
      schema:
        type: string
        pattern: ^(DRIVING_LICENSE|PASSPORT|ID_CARD)$
    RetrieveSelfieParameter:
      name: retrieve_selfie
      in: query
      description: Flag indicating if the selfie needs to be retrieved.
      example: 'true'
      required: true
      schema:
        type: string
        pattern: ^(true|false)$
    UserConsentParameter:
      name: user_consent
      in: query
      description: The value which best reflects the input of the User with regard to Consent to use their data (ACCEPT, DECLINE, REVOKE, EXPIRE).
      example: ACCEPT
      required: true
      schema:
        type: string
        pattern: ^(ACCEPT|DECLINE|REVOKE|EXPIRE)$
  examples:
    TPDataShareRequestExample:
      value:
        pds: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
        userConsent: ACCEPT
        userProfileId: df52649e-4096-456a-bca0-751ee470009f
        address:
          addressLine1: 36271 GrandRiver Ave
          addressLine2: Building no 2
          addressZipCode: '48335'
          addressCity: Farmington
          addressSubdivision: MO
          addressCountry: USA
          value: 36271 GrandRiver Ave Building no 2 48335 Farmington MI USA
          lastVerifiedDate: '2021-02-19T10:55:58.165Z'
        email:
          value: person@mastercard.com
          lastVerifiedDate: '2021-02-19T10:55:58.165Z'
        phone:
          value: '11234567890'
          lastVerifiedDate: '2021-02-19T10:55:58.165Z'
    ForbiddenExample:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: CONSENT_NOT_GIVEN
            Description: User Consent Not Given.
            Recoverable: false
    UserProfileDeletedErrorExample:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: USER_PROFILE_DELETED
            Description: 'USER_PROFILE_DELETED: ID of the deleted profile.'
            Recoverable: false
            redirectUri: https://sample-rp-redirect-uri.com?error=server_error&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w
    EncryptedPayloadWithPDSExample:
      value:
        encryptedData: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyf
        pds: ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    ForbiddenExampleUnauthorizedScopedFields:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: UNAUTHORIZED_SCOPED_FIELDS
            Description: 'UNAUTHORIZED_SCOPED_FIELDS: Requested scoped fields are not part of whitelisted fields.'
            Recoverable: false
    UnauthorizedExample:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: UNAUTHORIZED_REQUEST
            Description: Unauthorized request.
            Recoverable: false
    NotFoundExample:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: USER_PROFILE_ID_NOT_FOUND
            Description: The provided user profile ID does not exist.
            Recoverable: false
    BadRequestExampleMedicareCountryCode:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value for 'Country code'.
            Recoverable: false
            Details: null
    BadRequestExampleUserConsent:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Unexpected value 'Invalid' for enumerate field.
            Recoverable: false
            Details: null
    BadRequestExampleMedicareIndividualReferenceNo:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value for 'INDIVIDUAL_REFERENCE_NO'.
            Recoverable: false
            Details: null
    EncryptedPayloadExample:
      value:
        encryptedData: eyJraWQiOiIwMTQyNmRhY2JlMmRjYzA3NmQ1OWU1NDQ5N2NiNjBiMjdjZmQwMDE0ZjZmMGQyYTJiN2FmNjExNDg2NjYyMj...
    AccessTokensResponsePayload:
      value:
        transactionId: f64d44f8-3b0c-449c-8b79-9e2bbe0b2f3b
        sdkToken: eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAJXNQWsCMRAF4P-Scwcym0km8eahVKGwthRtT5JkZlFBLKKuWPrf3fUfeH18770_o9fpyUwMBscWPZOLMZkXk2udy5AXSkoePWCoCKTeQkIXgS1JQ2IpqIz8gVNmYVECT64AZRcgDrPQZBz3Uy4BB9x3-gyvn9oNelFu6_d9uz0f3w69NnPys1nbL1_bjy9cXX7P37tNt1vVH8oq0Wocm4-b3ChJSAyWWIFcEEgqBYpnRsZcXULzfwdxCwYuCgEAAA.KaJPW0KH5yL5xFBcyxGIQnUsW895RPc1ohRXyx_JaIMrAlpIRga7WH6SyIylCBKHxSYd4gW9f-O5qabYPzQE7g
        accountId: 14c01794-926a-426f-ad72-c45f8fbf78a4
        workflowId: 5226539e-78e7-45ac-a924-072d1301c24c
        apiDataCenter: US
        documentVerificationUrl: https://mastercard.web.apac-1.jumio.link/web/v4/app?authorizationToken=eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAJXOQQ5CIQxF0b0wtkmBFqgzh07_Dkp_iWM10cS4d0FX4PTm5OW9gj9P93AMsaRaS845CVM4BDU776sLi5JGiM06UGGDLiUCRaLa0rDR6uJf7FH6mBwYtUyCBcSywBznbmMfGdPEj-H_cNt8TL35zfVql1V-12o0SZ3AGysQ1wKNFCGbsjlyUsTw_gANOZ5b4gAAAA.2bo6KfOvGIswNRNTXv6QtoGvHyNYp_j3LwHia9DtuWna3y_LLI1VgPZle46Q5cFHuuMJB7g7y4wHbtogBX2HfQ&locale=en-US
    BadRequestExampleIVPConnectionTimeout:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: IVP_CONNECTION_TIMEOUT
            Description: Connection timeout when trying to connect with the Identity Verification Provider. Please look at 'details' for additional information.
            Recoverable: false
            Details: Received Connection TimeOut Exception
    DocumentDataExampleIDCard:
      value:
        status: SUCCESS
        transactionId: 5f4b0b79-8f7a-4731-b828-5e9db6e39e5a
        documentData:
          lastName: SMITH
          gender: M
          fathersName: WILLIAM SMITH
          documentType: ID_CARD
          issuingDate: '2010-01-01'
          documentNumber: C204050123
          expiryDate: '2030-12-31T00:00:00.000Z'
          issuingPlace: null
          formattedAddress: null
          cpf: 000.000.000-00
          addressLine1: null
          documentStatus: SUCCESS
          addressLine2: null
          addressCity: null
          addressZipCode: null
          addressCountry: null
          placeOfBirth: null
          dateOfBirth: '1980-01-01'
          issuingState: null
          firstName: JOHN
          issuingAuthority: null
          issuingCountry: BRA
          mothersName: JANE SMITH
          addressSubdivision: null
          rgNumber: F204050123
          selfie: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageFront: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageBack: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          facemap: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
    DocumentDataExamplePassport:
      value:
        status: PENDING
        transactionId: 1ec14310-e85c-11ea-adc1-0242ac120002
        documentData:
          documentNumber: N1234567
          documentStatus: PENDING
          documentType: PASSPORT
          dateOfBirth: '2020-09-09'
          firstName: John
          lastName: Smith
          expiryDate: '2020-10-10'
          gender: F
          issuingCountry: USA
          issuingDate: '2020-09-09'
          issuingPlace: New York
          issuingAuthority: United States
          placeOfBirth: Boston
          addressLine1: 123 Main St.
          addressLine2: New York
          addressZipCode: '10021'
          addressCity: New York
          addressCountry: Users Country
          addressSubdivision: MO
          issuingState: MO
          formattedAddress: 220 BLVD O FALLON
          selfie: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageFront: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageBack: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          facemap: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
    BadRequestExampleMedicareExpireDate:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value for 'expiry date'.
            Recoverable: false
            Details: null
    BadRequestExampleMedicareName:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value for 'nameLine' field OR value exceeds allowed max characters.
            Recoverable: false
            Details: null
    BadRequestExampleMedicareUserConsent:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: User consent not given.
            Recoverable: false
            Details: null
    DocumentDataExampleDriverLicense:
      value:
        status: SUCCESS
        transactionId: 1ec14310-e85c-11ea-adc1-0242ac120002
        documentData:
          documentNumber: AB001234567
          documentStatus: SUCCESS
          documentType: DRIVER_LICENSE
          dateOfBirth: '2020-09-09'
          firstName: MIRIAM
          lastName: Smith
          expiryDate: '2020-10-10'
          gender: F
          cardNumber: '1234567890'
          issuingCountry: AUS
          issuingDate: '2020-09-09'
          issuingPlace: Sydney
          issuingAuthority: Australia
          placeOfBirth: Sydney
          addressLine1: 10 Boronia Street
          addressLine2: 09 Boronia Street
          addressZipCode: '10021'
          addressCity: SYDNEY
          addressCountry: Users Country
          addressSubdivision: NSW
          issuingState: NSW
          formattedAddress: 22 Melville Street, Hobart 7000
          selfie: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageFront: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          documentImageBack: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
          facemap: /mJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanq.........................
    BadRequestExamplePhoneNumber:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value ASD for 'phoneNumber'.
            Recoverable: false
            Details: null
    BadRequestExampleMedicareMedicareNumber:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value for 'Medicare card number'.
            Recoverable: false
            Details: null
    ForbiddenExampleUnauthorizedScopedFields_2:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: UNAUTHORIZED_SCOPED_FIELDS
            Description: 'UNAUTHORIZED_SCOPED_FIELDS: Requested scoped fields are not part of whitelisted fields.'
            Recoverable: false
            Details: null
    BadRequestExampleIVPSystemError:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: IVP_SYSTEM_ERROR
            Description: Received system error from the Identity Verification Provider. Please look at 'details' for additional information.
            Recoverable: false
            Details: System Error Received
    BadRequestExampleCountryCode:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: VALIDATION_ERROR
            Description: Invalid value US4 for 'countryCode'.
            Recoverable: false
            Details: null
    BadRequestExampleDocumentMismatch:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: BAD_REQUEST
            Description: The document uploaded by the User does not comply to the document type/country specified by the client in the originating access-token request.
            Recoverable: false
            Details: null
    NotFoundExample_2:
      value:
        Errors:
          Error:
          - Source: mids
            ReasonCode: USER_PROFILE_ID_NOT_FOUND
            Description: The provided userProfileId does not exist.
            Recoverable: false
    UserBadRequestExample:
      value:
        Errors:
          Error:
          - Source: Loyalty Service - Insurance
            ReasonCode: INVALID_FIELD
            Description: Invalid Field(s).
            Recoverable: false
            Details: Invalid field - 'pan' is not a string.
    UnauthorizedExample_2:
      value:
        Errors:
          Error:
          - Source: Gateway
            ReasonCode: DECLINED
            Description: Unauthorized - Access Not Granted.
            Recoverable: false
            Details: null
  requestBodies:
    TpDataShareRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TpDataShare'
          examples:
            TPDataShareRequestExampleUnencrypted:
              $ref: '#/components/examples/TPDataShareRequestExample'
            TPDataShareRequestExampleEncrypted:
              $ref: '#/components/examples/EncryptedPayloadWithPDSExample'
      required: true
    AccessTokenRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RetrieveAccessToken'
      required: true
    SelfieVerificationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SelfieVerificationRequest'
    UserDataClaim:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubmitClaimUserData'
      description: User data for the submitted claim.
      required: true
  headers:
    X-Transaction-ID:
      schema:
        type: string
        example: 2d077b9c-3c06-44ac-b00e-d78fe8cce606
        description: A random 128-bit UUID representing the transaction.
x-refined-from:
- mastercard-id-for-trust-providers-openapi.yml
- mastercard-id-verification-openapi.yml
- mastercard-loyalty-insurance-openapi.yml
