swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Organizations API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Organizations
paths:
  /alerts/merchants/org-profiles:
    get:
      tags:
      - Organizations
      summary: Mastercard Get Details of Organization Profiles.
      description: Returns organization profile details containing member name, id and type.
      operationId: getAlertsOrgProfiles
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsOrgProfilesSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{organization_id}/dpas/batch:
    post:
      summary: Mastercard Store Dpa Bulk Load Data
      description: 'This API is used to register DPAs in the Mastercard system against a customer''s organizationId. DPAs can be added through this endpoint individually or in bulk.

        '
      operationId: uploadMerchants
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/dpaCorrelationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DpaRequest'
            example:
              dpas:
              - supportedCardBrands:
                - MASTERCARD
                dpaData:
                  dpaName: myShop
                  dpaPresentationName: myShop
                  dpaUri: https://example.com/ecom-online-ltd/basket.html
                debitTokenRequested: true
                merchantCountryCode: US
                supportedCheckoutTypes:
                - CLICK_TO_PAY
        required: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DpaResponse'
              examples:
                Uploadmerchants200Example:
                  summary: Default uploadMerchants 200 response
                  x-microcks-default: true
                  value:
                    dpaResults:
                    - srciDpaId: '500123'
                      status: SUCCESSFUL
                      dpaName: example_value
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Organizations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /org/{organization_id}/dpas/{srci_dpa_id}:
    put:
      summary: Mastercard Update Dpa Data
      description: 'This API is used to update an existing DPA (as referred to by srciDpaId) under a customer''s organizationId.


        __Note__:


        A limited number of DPA fields can be changed using the __UPDATE__ action. These are `supportedCardBrands`, `supportedCheckoutTypes`, `dpaPresentationName`, `originDomains`,  `debitTokenRequested`, `merchantCategoryCodes`, `defaultAcquirerBin`, `defaultAcquirerMerchantId`, `defaultMerchantCategoryCode`, `acquirerIca`, `acquirerBin` and `acquirerMerchantId`.


        All DPA data from the original request (including non-updatable fields, such as `dpaUri` and `dpaAddress` if previously passed) will also need to be provided unchanged in the __PUT__ request for the update operation to process successfully. Any alterations contained in the request made outside of these updatable fields will cause the request to fail.

        '
      operationId: updateMerchant
      parameters:
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/srci_dpa_id'
      - $ref: '#/components/parameters/dpaCorrelationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDpaRequest'
            example:
              dpa:
                supportedCardBrands:
                - MASTERCARD
                dpaData:
                  dpaName: myShop
                  dpaPresentationName: myShop_updated
                  dpaUri: https://example.com/ecom-online-ltd/basket.html
                debitTokenRequested: true
                merchantCountryCode: US
                supportedCheckoutTypes:
                - CLICK_TO_PAY
        required: true
      responses:
        '200':
          description: Returns 200 no content
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Organizations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mastercard Delete Merchant From Customer's Organization Id.
      description: This API is used to delete an existing DPA (as referred to by srciDpaId) from a customer's organization Id.
      operationId: deleteMerchant
      parameters:
      - $ref: '#/components/parameters/dpaCorrelationId'
      - $ref: '#/components/parameters/organization_id'
      - $ref: '#/components/parameters/srci_dpa_id'
      responses:
        '204':
          description: Returns 204 no content
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      tags:
      - Organizations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error_2:
      type: object
      description: 'An error object is associated with individual DPA failures in a given batch.

        Please note: In the event of a SUCCESSFUL response, this error object may be sent as NULL.

        '
      required:
      - status
      - reason
      - message
      properties:
        status:
          type: integer
          format: int32
          description: HTTP status code associated with the Digital Payment Application (DPA) item error
          example: 500
        reason:
          type: string
          example: Server timed out
          description: Reason for receiving an error for the Digital Payment Application (DPA) item.
        message:
          type: string
          description: Additional details on the Digital Payment Application (DPA) item error.
          example: Internal Server
        errordetail:
          type: array
          description: List of errors associated with a failed Digital Payment Application (DPA) item action.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          example: []
    merchantCountryCode:
      type: string
      description: Country code for the registering merchant in ISO 3166 format. It is also required for the phone number field.
      maxLength: 2
      example: US
    DpaResponse:
      type: object
      description: Container object for DpaResults
      properties:
        dpaResults:
          type: array
          items:
            $ref: '#/components/schemas/DpaResults'
          example: []
    AlertsSubOrgProfile:
      description: Sub organization member details containing member name, id and type
      type: object
      properties:
        memberId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantType:
          $ref: '#/components/schemas/MerchantType'
        status:
          $ref: '#/components/schemas/MerchantStatus'
    DpaData:
      type: object
      required:
      - dpaName
      - dpaUri
      properties:
        dpaName:
          type: string
          maxLength: 60
          minLength: 0
          description: Legal name of Merchant (which may differ from dpaPresentationName).
          example: Ecom Holdings Online Inc
        dpaPresentationName:
          type: string
          maxLength: 60
          minLength: 1
          description: The name of the Merchant that the Cardholder will see when checking out with the Digital Payment Application (DPA).
          example: FieldTestDpa12
        dpaUri:
          type: string
          maxLength: 100
          minLength: 1
          description: Digital Payment Application (DPA) identifier. This field may contain the DPA website URI, a mobile application identifier, or another unique identifier (UUID, URL, APK package name, etc.).
          example: https://example.com/ecom-online-ltd/basket.html
        originDomains:
          type: array
          description: Website or URL where the payment experience is placed on the checkout page.
          example:
          - http://companyuri1.com
          - http://companyuri2.com
          items:
            type: string
            maxLength: 1024
          minItems: 0
          maxItems: 10
          uniqueItems: true
        dpaAddress:
          $ref: '#/components/schemas/DpaAddress'
    ErrorDetail:
      type: object
      description: Error associated with a failed Digital Payment Application (DPA) item action.
      required:
      - reason
      properties:
        reason:
          type: string
          description: Reason for receiving an error for the Digital Payment Application (DPA) item.
          example: ERR_CODE
        sourceType:
          type: string
          description: Indicates the source type of the Digital Payment Application (DPA) item error.
          example: Request
        message:
          type: string
          description: Additional details on the Digital Payment Application (DPA) item error.
          example: Invalid data
        source:
          type: string
          description: Indicates the field name for the cause of the Digital Payment Application (DPA) item error.
          example: field name
    UserId:
      title: User Id
      maxLength: 300
      minLength: 1
      type: string
      description: The user id of the submitter/technical contact.
      example: princess.diana
    UpdateDpaRequest:
      type: object
      description: 'A limited number of DPA fields can be changed using the __UPDATE__ action. These are `supportedCardBrands`, `supportedCheckoutTypes`, `dpaPresentationName`, `originDomains`,  `debitTokenRequested`, `merchantCategoryCodes`, `defaultAcquirerBin`, `defaultAcquirerMerchantId`, `defaultMerchantCategoryCode`, `acquirerIca`, `acquirerBin` and `acquirerMerchantId`.


        __Note__: All DPA data from the original request (including non-updatable fields, such as `dpaUri` and `dpaAddress` if previously passed) will also need to be provided unchanged in the __PUT__ request for the update operation to process successfully. Any alterations contained in the request made outside of these updatable fields will cause the request to fail.

        '
      required:
      - dpa
      properties:
        dpa:
          $ref: '#/components/schemas/Dpa'
    AlertsMerchantMemberId:
      title: Unique identifier for merchants
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants
      type: string
      format: uuid
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error Response object
    ThreeDSDefaultData:
      type: object
      description: Enables a Merchant to supply their existing 3-D Secure (3DS) integration details at the time of Digital Payment Application (DPA) registration.
      properties:
        defaultAcquirerBin:
          type: string
          description: 'Allows a Merchant to set a default Acquirer. An Acquirer BIN is an identifier assigned by Mastercard to an Acquirer.


            If this field is not defined and acquirerData has only one entry, this field will be populated with the value from acquirerBin.

            '
          example: '112233'
        defaultAcquirerMerchantId:
          type: string
          description: An identifier assigned to the Merchant by their Acquirer. If this field is not populated and acquirerData has only one entry, this field will be populated with the value from acquirerMerchantId.
          example: MC1234567891234
        defaultMerchantCountryCode:
          type: string
          description: 'Allows a Merchant to set a default Merchant Country Code (CC).


            A Merchant CC is a two-character code indicating the country the Merchant is doing business in.

            '
          example: US
        defaultMerchantCategoryCode:
          type: string
          description: 'Allows a Merchant to set a default Merchant Category Code (MCC).


            An MCC is a four-character code assigned by Mastercard to the Merchant that indicates the type of business, service, or product provided by the Merchant.


            Note: MCC''s may be assigned differently across payment networks. To avoid errors, be sure to use your assigned Mastercard MCC. This code is required for 3-D Secure (3DS) and risk profiling. If the Merchant has more than one MCC, the code most relevant to their business should be used.

            '
          example: '4442'
    FirstName:
      title: First Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's first name
      example: Michael
      nullable: true
    AlertsOrgProfile:
      description: Details of organization profiles containing member name, id and type
      type: object
      properties:
        memberId:
          $ref: '#/components/schemas/AlertsMerchantMemberId'
        name:
          $ref: '#/components/schemas/MerchantName'
        merchantType:
          $ref: '#/components/schemas/MerchantType'
        status:
          $ref: '#/components/schemas/MerchantStatus'
        subOrgProfiles:
          type: array
          items:
            $ref: '#/components/schemas/AlertsSubOrgProfile'
          example: []
    merchantCategoryCodes:
      type: array
      description: 'Object for the array of Merchant Category Codes (MCC) that the Merchant processes transactions under, and is used for risk-scoring transactions by the issuer. All MCC codes that will be processed by a DPA should be provided here (typically, this will be a single item).


        An MCC is a four-character code assigned by Mastercard to the Merchant that indicates the type of business, service, or product provided by the Merchant.


        Note: MCC''s may be assigned differently across payment networks. To avoid errors, be sure to use your assigned Mastercard MCC. This code is required for 3-D Secure (3DS) and risk profiling. If the Merchant has more than one MCC, the code most relevant to their business should be used.

        '
      maxItems: 200
      example:
      - '0020'
      - '4444'
      - '1111'
      - '4442'
      - '5732'
      - '5733'
      items:
        type: string
        maxLength: 4
    MerchantStatus:
      title: Merchant's Status
      type: string
      description: Merchant Status must be one of - ACTIVATED, DEACTIVATED
      minLength: 1
      maxLength: 50
      example: ACTIVATED
    MerchantType:
      title: Merchant's Type
      description: Merchant Type must be one of - PARTNER, ACQUIRER, SUBMERCHANT
      type: string
      minLength: 1
      maxLength: 50
      example: SUBMERCHANT
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
      description: Errors object
    Dpa:
      type: object
      description: An array of objects to contain DPA registration details.
      required:
      - supportedCardBrands
      - dpaData
      - merchantCountryCode
      properties:
        supportedCardBrands:
          type: array
          description: 'Card networks that are supported for DPA registration. The following networks are supported: MASTERCARD, VISA, DISCOVER, AMEX.

            '
          maxItems: 4
          minItems: 1
          example:
          - MASTERCARD
          - VISA
          - DISCOVER
          - AMEX
          items:
            type: string
            maxLength: 20
        dpaData:
          $ref: '#/components/schemas/DpaData'
        debitTokenRequested:
          type: boolean
          description: 'A flag for the Integrator to indicate that they would not like to have their Cardholder''s debit cards tokenized.


            Conditional: Must be set to true when the Digital Payment Application (DPA) processes in the United States (US)"''

            '
          example: false
        merchantCountryCode:
          $ref: '#/components/schemas/merchantCountryCode'
        merchantCategoryCodes:
          $ref: '#/components/schemas/merchantCategoryCodes'
        supportedCheckoutTypes:
          type: array
          description: List of checkout types to be supported by the DPA. These include CLICK_TO_PAY, GUEST_CHECKOUT_TOKENIZATION and CARD_ON_FILE_TOKENIZATION.
          example:
          - CLICK_TO_PAY
          - GUEST_CHECKOUT_TOKENIZATION
          - CARD_ON_FILE_TOKENIZATION
          items:
            type: string
        threeDSDefaultdata:
          $ref: '#/components/schemas/ThreeDSDefaultData'
        acquirerData:
          type: array
          items:
            $ref: '#/components/schemas/AcquirerData'
          example: []
    AcquirerData:
      type: object
      description: 'AcquirerData


        Object for details about the acquiring institution (for example, merchant bank) or its agent. This includes acquirerIca, acquirerMerchantId and acquirerBin. This object may be used to improve transaction acceptance rates.

        '
      required:
      - acquirerIca
      - acquirerMerchantId
      properties:
        acquirerIca:
          type: string
          description: An Acquirer Interbank Card Association (ICA) value is an identifier assigned to the Acquirer by Mastercard.
          example: '12345'
        acquirerBin:
          type: string
          description: 'Each Acquirer Interbank Card Association (ICA) identifier may be assigned one or more BINs by Mastercard.


            Note: It is important to use the correct Acquirer ICA associated with the Acquirer BIN.

            '
          example: '112233'
        acquirerMerchantId:
          type: string
          description: A Merchant Identifier (MID) is a unique code assigned to the Merchant by the Acquirer once the Merchant has successfully opened an account. A MID identifies the Merchant to the Acquirer.
          example: MC1234567891234
    DpaRequest:
      type: object
      required:
      - dpas
      properties:
        dpas:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Dpa'
          description: 'Dpas


            Object for Integrator to provide a list of Digital Processing Application (DPA) objects. Each DPA object is used to create a corresponding DPA. A minimum of 1 DPA object must be provided in the request.

            '
          example: []
    LastName:
      title: Last Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's last name
      example: Fox
      nullable: true
    DpaResults:
      type: object
      description: Status of uploaded dpas
      properties:
        srciDpaId:
          type: string
          description: generated id for srci dpa
          example: sb1a235a-f92f-11ec-b939-0242ac120023
        status:
          type: string
          description: 'Status of the individual Digital Payment Application (DPA) item. Potential statuses include:


            * `SUCCESSFUL` - The DPA is eligible to process transactions.

            * `FAILED` - The DPA is NOT eligible to process transactions. Please see the error object for more details.

            '
          example: SUCCESSFUL
          enum:
          - SUCCESSFUL
          - FAILED
        dpaName:
          type: string
          description: Registered Legal Name of the Merchant
          example: dpa name
        error:
          $ref: '#/components/schemas/Error_2'
      example:
        srciDpaId: 9ffba749-193c-4f69-af1e-fb95f0af57c4
        status: SUCCESSFUL
        dpaName: myShop
        error: null
    MerchantName:
      title: Merchant's Name
      maxLength: 200
      minLength: 3
      type: string
      description: Merchant's partial or full name.
      example: Merchant 1
    DpaAddress:
      type: object
      description: The Digital Payment Application (DPA) business address.
      properties:
        name:
          type: string
          maxLength: 75
          description: Name of the address
          example: name
        line1:
          type: string
          maxLength: 75
          description: First line of the address.
          example: 100 Avenue Lane Street
        line2:
          type: string
          maxLength: 75
          description: Second line of the address.
          example: Address line 2
        line3:
          type: string
          maxLength: 75
          description: Third line of the address.
          example: Address line 3
        city:
          type: string
          maxLength: 50
          description: The city/town of the address.
          example: Metropolis
        state:
          type: string
          maxLength: 30
          description: The state of the address. Use 2-character state designation for USA and Canada addresses.
          example: NY
        countryCode:
          type: string
          maxLength: 2
          description: ISO 3166 alpha 2 country code. Note that for the UK the correct ISO code is "GB".
          example: US
        zip:
          type: string
          maxLength: 8
          description: Zipcode for the region.
          example: '41321'
    Error:
      type: object
      properties:
        Source:
          maxLength: 100
          minLength: 0
          type: string
          description: Source of the error
          example: Service
          nullable: true
        ReasonCode:
          maxLength: 100
          minLength: 0
          type: string
          description: A unique constant identifying the error
          example: format.invalid
          nullable: true
        Description:
          maxLength: 1000
          minLength: 0
          type: string
          description: Short description of the error
          example: Short description of the error
          nullable: true
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          example: false
          default: false
          nullable: true
        Details:
          maxLength: 1000
          minLength: 0
          type: string
          description: Optional detailed description of the issue
          example: Detailed description of the error
          nullable: true
      description: Error object
  responses:
    Default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ServerError:
              $ref: '#/components/examples/ServerError'
    Forbidden:
      description: Forbidden, see error object for details, e.g. client identity (origin) not validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          examples:
            FORBIDDEN:
              $ref: '#/components/examples/Forbidden'
    BadRequest_2:
      description: 'Bad request, see error object for details

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          examples:
            INVALID_ARGUMENT:
              $ref: '#/components/examples/InvalidArgument'
    Unauthorized:
      description: 'Unauthorized, see error object for details, e.g. authorization token validation failure

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          examples:
            UNAUTHORIZED:
              $ref: '#/components/examples/UnAuthorized'
    InternalServerError:
      description: 'Internal server error, see error object for details

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error_2'
          examples:
            SERVER_ERROR:
              $ref: '#/components/examples/ServerError_2'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ResourceNotFound:
              $ref: '#/components/examples/ResourceNotFound'
            EntityNotFound:
              $ref: '#/components/examples/EntityNotFound'
            AlertsEntityNotFound:
              $ref: '#/components/examples/AlertsEntityNotFound'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidData:
              $ref: '#/components/examples/InvalidData'
            AlertsInvalidData:
              $ref: '#/components/examples/AlertsInvalidData'
            InvalidParameterSet:
              $ref: '#/components/examples/InvalidParameterSet'
            FormatInvalid:
              $ref: '#/components/examples/FormatInvalid'
            AlertsFormatInvalid:
              $ref: '#/components/examples/AlertsFormatInvalid'
            MissingRequiredHeader:
              $ref: '#/components/examples/MissingRequiredHeader'
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PermissionDenied:
              $ref: '#/components/examples/PermissionDenied'
    AlertsOrgProfilesSuccess:
      description: Details of organization profiles for members such as Partners and Acquirers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsOrgProfile'
          examples:
            AlertsOrgProfilePartner:
              $ref: '#/components/examples/AlertsOrgProfilePartner'
            AlertsOrgProfileAcquirer:
              $ref: '#/components/examples/AlertsOrgProfileAcquirer'
  examples:
    AlertsEntityNotFound:
      summary: Entity Not Found Error Response For Alerts
      description: If a requested entity(e.g. Sub-Merchant or Card Acceptor ID or Card Acceptor Name) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: subMerchantId'
            Description: Sub-Merchant 99ca4b15-72a6-41dd-8127-573d4b07669c not found
            Recoverable: false
            Details: ''
    MissingRequiredHeader:
      summary: Missing Required Header Error Response
      description: If a required request header is missing or null, then MissingRequiredHeader error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: Submitter-First-Name
            Recoverable: false
            Details: ''
    ResourceNotFound:
      summary: Resource Not Found Error Response
      description: If request URI doesn't match with any available endpoints, then ResourceNotFound error response is returned the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: resource.not.found
            Description: Not Found
            Recoverable: false
            Details: /merchant-self-services/sub-merchantTs/
    Forbidden:
      value:
        error:
          status: 403
          reason: AUTHENTICATION_FAILED
          message: null
          errordetail:
          - reason: AUTHENTICATION_FAILED
            sourceType: Gateway
            message: OAuth Signature parameter failed verification.
            source: Gateway
    UnAuthorized:
      value:
        error:
          status: 401
          reason: DECLINED
          message: Unauthorized - Access Not Granted
          errordetail:
          - reason: DECLINED
            sourceType: Gateway
            message: Unauthorized - Access Not Granted
            source: Gateway
    AlertsOrgProfilePartner:
      summary: Alerts Organization Profile for Partners
      value:
        memberId: 99ca4b15-72a6-41dd-8127-573d4b07669c
        name: Partner Merchant 1
        merchantType: PARTNER
        status: ACTIVATED
        subOrgProfiles:
        - memberId: 11ab4b15-72a6-41dd-8127-573d4b07669c
          name: Acquirer Merchant 1
          merchantType: ACQUIRER
          status: ACTIVATED
        - memberId: 22de5c10-72a6-41dd-8127-573d4b07660c
          name: Acquirer Merchant 2
          merchantType: ACQUIRER
          status: DEACTIVATED
    ServerError:
      summary: Server Error Response
      description: If an unexpected internal server error occurs, then ServerError response is returned to the caller with HTTP Status code 500.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: server.error
            Description: Internal Server Error
            Recoverable: false
            Details: ''
    ServerError_2:
      value:
        error:
          status: 500
          reason: INVALID_STATE
          message: Internal server error. Typically a server bug. The client should report this error to the Mastercard support team
          errordetail: null
    InvalidArgument:
      value:
        error:
          status: 400
          reason: INVALID_ARGUMENT
          message: Invalid orgId or clientId provided in request
          errordetail:
          - reason: INVALID_VALUE
            sourceType: BODY
            message: Invalid orgId or clientId provided in request
            source: name
    FormatInvalid:
      summary: Format Invalid Error Response For Consumer Clarity
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: format.invalid
            Description: orderHistoryMonths
            Recoverable: false
            Details: ''
    AlertsFormatInvalid:
      summary: Format Invalid Error Response For Alerts
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantCategoryCode'
            Description: must match \"^[0-9]*$\"
            Recoverable: false
            Details: ''
    EntityNotFound:
      summary: Entity Not Found Error Response For Consumer Clarity
      description: If a requested entity(e.g. Merchant or Logo) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: GUID'
            Description: Merchant 1E37M8VSX1D28QYX not found
            Recoverable: false
            Details: ''
    PermissionDenied:
      summary: Permission Denied Error Response
      description: If the client id in the request doesn't correspond to any member in the system, then PermissionDenied error response is returned to the caller with HTTP Status code 401.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: permission.denied
            Description: Member does not have permission to perform any operation
            Recoverable: false
            Details: ''
    InvalidParameterSet:
      summary: Invalid Parameter Set Error Response
      description: If request body is malformed or missing, then InvalidParameterSet error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: invalid.parameter.set
            Description: request body is malformed
            Recoverable: false
            Details: ''
    InvalidData:
      summary: Invalid Data Error Response For Consumer Clarity
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantType'
            Description: must not be blank
            Recoverable: false
            Details: ''
    AlertsInvalidData:
      summary: Invalid Data Field Error Response For Alerts
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: name'
            Description: size must be between 3 and 200
            Recoverable: false
            Details: ''
    AlertsOrgProfileAcquirer:
      summary: Alerts Organization Profile for Acquirers
      value:
        memberId: 11ab4b15-72a6-41dd-8127-573d4b07669c
        name: Acquirer Merchant 1
        merchantType: ACQUIRER
        status: ACTIVATED
        subOrgProfiles: []
  parameters:
    dpaCorrelationId:
      in: header
      name: correlation-id
      description: The correlation-id is an optional customer-provided value that can be used to trace a request end to end through customer and Mastercard systems, which can be helpful if an issue occurs. The correlation-id value should be unique to the request.
      schema:
        type: string
      example: 015d277368.1675680750.1e1bd17
    SubmitterFirstNameParam:
      name: Submitter-First-Name
      in: header
      required: true
      example: Diana
      description: The first name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/FirstName'
    SubmitterLastNameParam:
      name: Submitter-Last-Name
      in: header
      required: true
      example: Princess
      description: The last name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/LastName'
    UserIdParam:
      name: User-Id
      in: header
      required: true
      example: princess.diana
      description: The user id of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/UserId'
    organization_id:
      in: path
      name: organization_id
      description: 'An identifier for the merchant/organization requesting the DPA operation to the system. You can find it within your account in Unified Checkout Solutions Portal.

        '
      required: true
      schema:
        type: string
      allowEmptyValue: false
      example: 12d370c7-84bc-4763-909b-ecbc86271185
    srci_dpa_id:
      in: path
      name: srci_dpa_id
      description: The registered identifier for the Digital Payment Application (DPA) accessing the service. It is associated with an Organization ID and is used during API calls within Mastercard system.
      required: true
      schema:
        type: string
      example: df7773c8-ca56-42da-bc7b-5e22cf32cc0c
