swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Routing API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Routing
paths:
  /isRoutingValid:
    post:
      summary: Mastercard Bill Payment Validator Service Returns the Processing Status for a Potential Rpps Transaction
      description: Bill Payment Validator performs real time transaction validation against the specified Biller ID's account masks, account check digits and all other registered RPPS processing parameters.
      parameters:
      - name: BillPayRequest
        in: body
        description: Contains the details of the get PAR API request message.
        schema:
          $ref: '#/definitions/BillPayRequest'
        example: example_value
      tags:
      - Routing
      responses:
        '200':
          description: The Bill Payment Validator response.
          schema:
            $ref: '#/definitions/BillPayResponse'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-samples:
      - name: example_billpay_routing_validation_request_explorer
        type: documentation
        request:
          application/json: "{\n    \"BillPayAccountValidation\": {\n      \"RppsId\": \"99887761\",\n      \"BillerId\": \"9998887771\",\n      \"AccountNumber\": \"1234567890\",\n      \"TransactionAmount\": \"250.00\",\n      \"CustomerIdentifier1\": \"\",\n      \"CustomerIdentifier2\": \"\",\n      \"CustomerIdentifier3\": \"\",\n      \"CustomerIdentifier4\": \"\",\n      \"ResponseString\": \"\"\n  }\n}"
        populateDefaults:
          application/json: "{\n  \"BillPayAccountValidation\": {\n    \"RppsId\": true,\n    \"BillerId\": true,\n    \"AccountNumber\": true,\n    \"TransactionAmount\": true\n  }\n}"
        response:
          application/json: "{\n    \"BillPayAccountValidation\": {\n      \"RppsId\": \"99887761\",\n      \"BillerId\": \"9998887771\",\n      \"AccountNumber\": \"1234567890\",\n      \"TransactionAmount\": \"250.00\",\n      \"CustomerIdentifier1\": null,\n      \"CustomerIdentifier2\": null,\n      \"CustomerIdentifier3\": null,\n      \"CustomerIdentifier4\": null,\n      \"ResponseString\": \"Successful\"\n  }\n}"
      - name: example_billpay_routing_validation_request
        request:
          application/json: "{\n    \"BillPayAccountValidation\": {\n      \"RppsId\": \"99887761\",\n      \"BillerId\": \"9998887771\",\n      \"AccountNumber\": \"1234567890\",\n      \"TransactionAmount\": \"250.00\",\n      \"CustomerIdentifier1\": \"\",\n      \"CustomerIdentifier2\": \"\",\n      \"CustomerIdentifier3\": \"\",\n      \"CustomerIdentifier4\": \"\",\n      \"ResponseString\": \"\"\n  }\n}"
        response:
          application/json: "{\n    \"BillPayAccountValidation\": {\n      \"RppsId\": \"99887761\",\n      \"BillerId\": \"9998887771\",\n      \"AccountNumber\": \"1234567890\",\n      \"TransactionAmount\": \"250.00\",\n      \"CustomerIdentifier1\": null,\n      \"CustomerIdentifier2\": null,\n      \"CustomerIdentifier3\": null,\n      \"CustomerIdentifier4\": null,\n      \"ResponseString\": \"Successful\"\n  }\n}"
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
definitions:
  Error:
    properties:
      Source:
        type: string
        description: This is the unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.
        example: Atms.Atm.Location.Address.Line1
      ReasonCode:
        type: string
        description: This will identify the reason for the error.
  BillPayResponse:
    properties:
      BillPayAccountValidation:
        $ref: '#/definitions/BillPayAccountValidation'
  ErrorResponse:
    properties:
      Errors:
        $ref: '#/definitions/Errors'
  BillPayRequest:
    properties:
      BillPayAccountValidation:
        $ref: '#/definitions/BillPayAccountValidation'
  BillPayAccountValidation:
    properties:
      RppsId:
        type: string
        description: Originator RPPS ID populated in the message.  The maximum length is 8
        example: '99887761'
      BillerId:
        description: Biller ID populated in the message. The maximum length is 10.
        type: string
        example: '9998887771'
      AccountNumber:
        description: Consumer account number populated in the message.  The minimum length is 8 and the maximum length is 22.
        type: string
        example: '1234567890'
      TransactionAmount:
        description: Amount populated in the message.
        type: string
        example: '250.00'
      CustomerIdentifier1:
        description: Consumer identifier populated in the message.
        type: string
        example: ''
      CustomerIdentifier2:
        description: Consumer identifier populated in the message.
        type: string
        example: ''
      CustomerIdentifier3:
        description: Consumer identifier populated in the message.
        type: string
        example: ''
      CustomerIdentifier4:
        description: Consumer identifier populated in the message.
        type: string
        example: ''
      ResponseString:
        description: Indicates if the bill payment transaction information passed all RPPS transaction processing edits for the specified biller ID or indicates errors. The minimum length is 0 and the maximum length is 120.
        type: string
        example: Successful
  Errors:
    properties:
      Error:
        type: array
        items:
          $ref: '#/definitions/Error'
