swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Lost Stolen API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Lost Stolen
  description: Operations related to Lost Stolen.
paths:
  /lost-stolen-cards:
    post:
      tags:
      - Lost Stolen
      summary: Allows a consumer to replace a card that was lost or stolen, with a new card.
      description: Depending upon the action code provided, will replace Bank Account Number and/or Bank Customer Number with new values.
      operationId: lostStolenCard
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/LostStolenCardRequest'
      responses:
        '200':
          $ref: '#/components/responses/LostStolenCardResponse'
        '400':
          $ref: '#/components/responses/ErrorsResponse'
components:
  responses:
    LostStolenCardResponse:
      description: Successfully processed Lost Stolen request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LostStolen'
    ErrorsResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsWrapper'
  schemas:
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: Error Details
          items:
            $ref: '#/components/schemas/ErrorItem'
    ErrorItem:
      type: object
      properties:
        Source:
          type: string
          description: Source of the error
          example: user-management
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during API request processing.
          example: INVALID_FIELD_FORMAT
        Description:
          type: string
          description: Short description of the ReasonCode field.
          example: Email Address must be in the valid format.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: Where appropriate, indicates detailed information about the data received.
          example: Invalid Details
      description: Error Details
    LostStolen:
      type: object
      properties:
        message:
          type: string
          description: result
          example: Successfully processed Lost Stolen request
    LostStolenCard:
      required:
      - oldAccountId
      - actionCode
      type: object
      properties:
        oldAccountId:
          type: string
          description: The RANAC associated with original account that is being replaced by the lost/stolen process.
          example: '695026705601132106860975039544'
        newAccountNumber:
          maxLength: 30
          type: string
          description: New 16-digit card number with 3 trailing zeros that is replacing the lost or stolen card.
          example: '5563654494590634000'
        newCustomerNumber:
          maxLength: 30
          type: string
          description: New unique identifier for specific customer.
          example: '5420000000001234000'
        status:
          type: string
          description: Status of the user's account. Valid values are GOOD_STANDING, REDEEM_ONLY, NEW, ON_HOLD, CANCELLED, INACTIVE.
          example: GOOD_STANDING
          enum:
          - NEW
          - GOOD_STANDING
          - REDEEM_ONLY
          - CANCELLED
          - ON_HOLD
          - INACTIVE
        actionCode:
          type: string
          description: "Indicates the type of action that is to be performed by the request\nvalid action codes are:\n\n    \"   A - Replaces the previous Bank Account Number with the new number.\n            Mandatory fields for action code A are oldAccountId, \n            newAccountNumber, status.\n    \"   B - Replaces both Bank Account Number and Bank Customer Number with \n            new numbers. Mandatory fields for action code B are oldAccountId, \n            newAccountNumber, status.\n    \"   C - Replaces the previous Bank Customer Number with the new number. \n            Mandatory fields for action code C are oldAccountId, \n            newCustomerNumber.\n    \"   S - Move the Account from the old Bank Customer Number to a \n            new Bank Customer Number. Mandatory fields for action code S are\n            oldAccountId, newCustomerNumber."
          enum:
          - A
          - B
          - C
          - S
          example: A
    ErrorsWrapper:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
  requestBodies:
    LostStolenCardRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LostStolenCard'
