swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Names API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Names
paths:
  /alerts/merchants/{member_id}/sub-merchants/{sub_merchant_id}/card-acceptor-names:
    post:
      tags:
      - Names
      summary: Mastercard Create Sub-merchant Card Acceptor Name Config.
      description: Returns created sub-merchant card acceptor name config details.
      operationId: createAlertsCardAcceptorNameConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        $ref: '#/components/requestBodies/AlertsCardAcceptorNameConfigRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/AlertsMerchantIdentifierSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Names
      summary: Mastercard Get Sub-merchant Card Acceptor Name Configs.
      description: Returns sub-merchant card acceptor name config details.
      operationId: getAlertsCardAcceptorNameConfigs
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/CardAcceptorNameParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/PageNumberParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsCardAcceptorNameConfigs'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Names
      summary: Mastercard Delete Sub-merchant Card Acceptor Name Config.
      description: Returns 200 if sub-merchant card acceptor name configs gets deleted.
      operationId: deleteAlertsCardAcceptorNameConfig
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MemberIdParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/MerchantIdentifierConfigIdParam'
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/PermissionDenied'
        '403':
          $ref: '#/components/responses/ForbiddenOperation'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}/locations/{location_id}/card-acceptor-names:
    parameters:
    - $ref: '#/components/parameters/UserIdParam'
    - $ref: '#/components/parameters/SubmitterFirstNameParam'
    - $ref: '#/components/parameters/SubmitterLastNameParam'
    - $ref: '#/components/parameters/MerchantGuidParam'
    - $ref: '#/components/parameters/LocationIdParam'
    post:
      summary: Mastercard Add Card Acceptor Names
      description: Creates card acceptor names under a location of an existing sub-merchant
      operationId: addCardAcceptorNames
      tags:
      - Names
      requestBody:
        $ref: '#/components/requestBodies/CardAcceptorNamesBulkRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/CardAcceptorNamesBulkSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      parameters:
      - $ref: '#/components/parameters/ClarityOffsetParam'
      - $ref: '#/components/parameters/ClarityPageNumberParam'
      - $ref: '#/components/parameters/ClaritySortDirectionParam'
      - $ref: '#/components/parameters/ClaritySortFieldParam'
      - $ref: '#/components/parameters/CardAcceptorNameSearchTextParam'
      summary: Mastercard Get Card Acceptor Names
      description: Returns Card Acceptor Names with pagination metadata
      operationId: getCardAcceptorNames
      tags:
      - Names
      responses:
        '200':
          $ref: '#/components/responses/PageableCardAcceptorNamesSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sub-merchants/{guid}/locations/{location_id}/card-acceptor-names/{id}:
    get:
      summary: Mastercard Get Card Acceptor Name by Id
      description: Returns card acceptor name object
      operationId: getCardAcceptorNameById
      tags:
      - Names
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      - $ref: '#/components/parameters/CardAcceptorNameIdParam'
      responses:
        '200':
          $ref: '#/components/responses/CardAcceptorSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Mastercard Update Card Acceptor Name by Id
      description: Updates card acceptor name object
      operationId: updateCardAcceptorNameById
      tags:
      - Names
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      - $ref: '#/components/parameters/CardAcceptorNameIdParam'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/CardAcceptorNamesBody'
      responses:
        '200':
          $ref: '#/components/responses/CardAcceptorSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      summary: Mastercard Delete Existing Card Acceptor Name
      description: Returns 204 status code if Card Acceptor Name deleted successfully
      operationId: deleteCardAcceptorById
      tags:
      - Names
      parameters:
      - $ref: '#/components/parameters/UserIdParam'
      - $ref: '#/components/parameters/SubmitterFirstNameParam'
      - $ref: '#/components/parameters/SubmitterLastNameParam'
      - $ref: '#/components/parameters/MerchantGuidParam'
      - $ref: '#/components/parameters/LocationIdParam'
      - $ref: '#/components/parameters/CardAcceptorNameIdParam'
      responses:
        '204':
          $ref: '#/components/responses/SuccessWithoutBody'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Default'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AlertsCardAcceptorNameConfig:
      description: Card acceptor name configuration
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
        cardAcceptorName:
          $ref: '#/components/schemas/CardAcceptorName'
        cardAcceptorCity:
          $ref: '#/components/schemas/CardAcceptorCity'
        cardAcceptorRegion:
          $ref: '#/components/schemas/CardAcceptorRegion'
        cardAcceptorCountry:
          $ref: '#/components/schemas/CardAcceptorCountry'
      required:
      - cardAcceptorName
    ResourceId:
      type: string
      minLength: 1
      maxLength: 40
      description: Unique identifier of resource
      nullable: true
      example: Mxyz123
    CardAcceptor:
      title: Merchant Card Acceptor
      maxLength: 50
      minLength: 1
      type: string
      description: Merchant Card Acceptor
      example: ETHOCA NINJA GAMES
    CardAcceptorDataResource:
      title: Merchant Card Acceptor Names
      type: object
      required:
      - matchType
      - cardAcceptorName
      - id
      - status
      properties:
        matchType:
          title: Card Acceptor Match Type
          maxLength: 50
          minLength: 1
          type: string
          description: The card acceptor match type
          example: EXACT
        cardAcceptorName:
          $ref: '#/components/schemas/CardAcceptor'
        id:
          $ref: '#/components/schemas/ResourceId'
        status:
          title: Response Status
          type: string
          description: The status of Card Acceptor Name - PENDING, PASS, FAILED
          example: PENDING
    CardAcceptorData:
      title: Merchant Card Acceptor Names
      type: object
      required:
      - matchType
      - cardAcceptorName
      properties:
        matchType:
          title: Card Acceptor Match Type
          type: string
          description: Types of card acceptor match type
          example: EXACT
          enum:
          - EXACT
          - STARTS_WITH
          - STRICT_CONTAINS
          - CONTAINS
        cardAcceptorName:
          $ref: '#/components/schemas/CardAcceptor'
    PageableCardAcceptorNamesResource:
      title: Pageable card acceptor names resource
      description: Pageable card acceptor names resource with pagination metadata
      properties:
        data:
          type: array
          description: List of card acceptor resources
          items:
            $ref: '#/components/schemas/CardAcceptorDataResource'
          example: []
        metadata:
          $ref: '#/components/schemas/ClarityResponseHeader'
    CardAcceptorRegion:
      title: Card Acceptor's Region
      description: A sub-element of the merchant descriptor indicating either the state, province, or region of the merchant as it appears on the cardholder's statement. Value is not case-sensitive and can accept 2 or 3 character ISO state and province code.
      type: string
      minLength: 1
      maxLength: 3
      example: 019
    LastName:
      title: Last Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's last name
      example: Fox
      nullable: true
    ResponseTime:
      type: string
      description: Total response time in ms
      minLength: 0
      maxLength: 10
      example: 300 ms
    AlertsMerchantConfigId:
      title: Unique identifier for merchants identifier (such as acquirer reference id, card acceptor id or name) configuration
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants configuration
      type: string
      format: uuid
      example: 88ca4b15-72a6-41dd-8127-573d4b07558c
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error Response object
    Etag:
      title: Entity Tag
      maxLength: 100
      minLength: 1
      type: string
      description: Etag is a response header which is an identifier for a specific version of a resource.
      example: '"842DFBC17F921E7716642B9164F3B22B"'
    AlertsMerchantIdentifierConfigIdOnly:
      description: Merchant identifier configuration Id (referring to card acceptor id or name configuration)
      type: object
      properties:
        merchantIdentifierConfigId:
          $ref: '#/components/schemas/AlertsMerchantConfigId'
    MerchantGuid:
      title: Merchant GUID
      maxLength: 16
      minLength: 11
      type: string
      description: Consumer Clarity internal merchant's GUID
      example: jK2dA5aybhQQBq6C
    BulkOperationResource:
      title: Bulk post resource
      description: Resource with responseCode and details
      type: object
      required:
      - status
      properties:
        id:
          $ref: '#/components/schemas/ResourceId'
        errors:
          type: array
          description: List of error objects
          nullable: true
          items:
            $ref: '#/components/schemas/Error'
          example: []
        status:
          title: Response Status
          type: string
          description: The status of resource - PENDING, PASS, FAILED
          example: PENDING
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: List of error objects
          items:
            $ref: '#/components/schemas/Error'
          example: []
      description: Errors object
    CardAcceptorCountry:
      title: Card Acceptor's Country
      description: A sub-element of the merchant descriptor indicating the country of the merchant as it appears on the cardholder's statement. Value is not case-sensitive and can accept 2 or 3 character ISO country code.
      type: string
      minLength: 1
      maxLength: 3
      example: CAN
    UserId:
      title: User Id
      maxLength: 300
      minLength: 1
      type: string
      description: The user id of the submitter/technical contact.
      example: princess.diana
    ClarityResponseHeader:
      allOf:
      - $ref: '#/components/schemas/ResponseHeader'
      - type: object
        properties:
          currentPage:
            type: integer
            description: Current page
            minimum: 0
            maximum: 999999999
            example: 2
    AlertsMerchantMemberId:
      title: Unique identifier for merchants
      description: Internal Universally Unique Identifier (UUID) which uniquely identifies the merchants
      type: string
      format: uuid
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
    CardAcceptorName:
      title: Card Acceptor's Name
      description: A sub-element of the merchant descriptor that contains the merchant's name or doing business as name as it appears on the cardholder's billing statement.
      type: string
      minLength: 1
      maxLength: 200
      example: Acceptor 1
    FirstName:
      title: First Name
      maxLength: 30
      minLength: 1
      type: string
      description: The individual's first name
      example: Michael
      nullable: true
    AlertsCardAcceptorNameConfigs:
      description: Card acceptor name configurations for a merchant
      type: object
      properties:
        responseHeader:
          $ref: '#/components/schemas/ResponseHeader'
        configs:
          type: array
          items:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfig'
          example: []
    CardAcceptorCity:
      title: Card Acceptor's City
      description: A sub-element of the merchant descriptor indicating the merchant city/location as it appears on the cardholder's billing statement.
      type: string
      minLength: 1
      maxLength: 80
      example: Toronto
    CardAcceptorNamesBulkResource:
      title: Card Acceptor Names resource
      description: Set of Card Acceptor Names resource
      type: object
      properties:
        cardAcceptorNames:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/BulkOperationResource'
          example: []
    ResponseHeader:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int64
          description: Total number of records found
          minimum: 0
          maximum: 999999999
          example: 500
        totalPages:
          type: integer
          description: Total number of pages based on limit
          minimum: 0
          maximum: 999999999
          example: 10
        currentPage:
          type: integer
          description: The current page number
          minimum: 1
          maximum: 999999999
          example: 2
        responseTime:
          $ref: '#/components/schemas/ResponseTime'
    CardAcceptorNamesBulk:
      title: Merchant Card Acceptor Names
      type: object
      required:
      - cardAcceptorNames
      properties:
        cardAcceptorNames:
          minItems: 1
          maxItems: 250
          type: array
          description: List of merchant card acceptors
          uniqueItems: true
          items:
            $ref: '#/components/schemas/CardAcceptorData'
          example: []
    Error:
      type: object
      properties:
        Source:
          maxLength: 100
          minLength: 0
          type: string
          description: Source of the error
          example: Service
          nullable: true
        ReasonCode:
          maxLength: 100
          minLength: 0
          type: string
          description: A unique constant identifying the error
          example: format.invalid
          nullable: true
        Description:
          maxLength: 1000
          minLength: 0
          type: string
          description: Short description of the error
          example: Short description of the error
          nullable: true
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          example: false
          default: false
          nullable: true
        Details:
          maxLength: 1000
          minLength: 0
          type: string
          description: Optional detailed description of the issue
          example: Detailed description of the error
          nullable: true
      description: Error object
  examples:
    MissingRequiredHeader:
      summary: Missing Required Header Error Response
      description: If a required request header is missing or null, then MissingRequiredHeader error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: missing required header
            Description: Submitter-First-Name
            Recoverable: false
            Details: ''
    FormatInvalid:
      summary: Format Invalid Error Response For Consumer Clarity
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: format.invalid
            Description: orderHistoryMonths
            Recoverable: false
            Details: ''
    EntityNotFound:
      summary: Entity Not Found Error Response For Consumer Clarity
      description: If a requested entity(e.g. Merchant or Logo) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: GUID'
            Description: Merchant 1E37M8VSX1D28QYX not found
            Recoverable: false
            Details: ''
    AlertsInvalidData:
      summary: Invalid Data Field Error Response For Alerts
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: name'
            Description: size must be between 3 and 200
            Recoverable: false
            Details: ''
    AlertsEntityNotFound:
      summary: Entity Not Found Error Response For Alerts
      description: If a requested entity(e.g. Sub-Merchant or Card Acceptor ID or Card Acceptor Name) doesn't exist in the system, then EntityNotFound error response is returned to the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: subMerchantId'
            Description: Sub-Merchant 99ca4b15-72a6-41dd-8127-573d4b07669c not found
            Recoverable: false
            Details: ''
    ResourceNotFound:
      summary: Resource Not Found Error Response
      description: If request URI doesn't match with any available endpoints, then ResourceNotFound error response is returned the caller with HTTP Status code 404.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: resource.not.found
            Description: Not Found
            Recoverable: false
            Details: /merchant-self-services/sub-merchantTs/
    AlertsCardAcceptorNameConfig:
      summary: Alerts Card Acceptor Name Configuration
      value:
        cardAcceptorName: card_acceptor1
        cardAcceptorCity: Toronto
        cardAcceptorRegion: 019
        cardAcceptorCountry: CAN
    ServerError:
      summary: Server Error Response
      description: If an unexpected internal server error occurs, then ServerError response is returned to the caller with HTTP Status code 500.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: server.error
            Description: Internal Server Error
            Recoverable: false
            Details: ''
    PermissionDenied:
      summary: Permission Denied Error Response
      description: If the client id in the request doesn't correspond to any member in the system, then PermissionDenied error response is returned to the caller with HTTP Status code 401.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: permission.denied
            Description: Member does not have permission to perform any operation
            Recoverable: false
            Details: ''
    ForbiddenOperation:
      summary: Member does not have permission to add/update/delete a resource
      description: If the merchant tries operate on a resource that is not related to them or if they are not allowed perform a specific operation on their resource, then ForbiddenOperation error response is returned to the caller with HTTP Status code 403.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: operation.not.allowed
            Description: Member is not allowed to perform a specific operation on a particular resource
            Recoverable: false
            Details: ''
    ValidationFailed:
      summary: Validation of the request failed
      description: If the fields in the request did not pass the validation, a ValidationFailed error response is returned to the caller with HTTP Status code 422.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: validation.failed
            Description: Validation of the request fields failed
            Recoverable: false
            Details: ''
    AlertsMerchantIdentifierConfigIdOnly:
      summary: Alerts Merchant Identifier Configuration ID
      value:
        merchantIdentifierConfigId: 88ca4b15-72a6-41dd-8127-573d4b07875c
    AlertsCardAcceptorNameConfigs:
      summary: Alerts Card Acceptor Name Configurations
      value:
        responseHeader:
          totalRecords: 500
          totalPages: 10
          currentPage: 2
          responseTime: 300 ms
        configs:
        - merchantIdentifierConfigId: 33ca4b15-72a6-41dd-8127-573d4b07533c
          cardAcceptorName: card_acceptor1
          cardAcceptorCity: Toronto
          cardAcceptorRegion: 019
          cardAcceptorCountry: CAN
        - merchantIdentifierConfigId: 44ca4b15-72a6-41dd-8127-573d4b07544c
          cardAcceptorName: card_acceptor2
          cardAcceptorCity: Ottawa
          cardAcceptorRegion: 019
          cardAcceptorCountry: CAN
    AlertsFormatInvalid:
      summary: Format Invalid Error Response For Alerts
      description: If a field is not correctly formatted (e.g. a String value is sent in an Integer type field), then FormatInvalid response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantCategoryCode'
            Description: must match \"^[0-9]*$\"
            Recoverable: false
            Details: ''
    InvalidParameterSet:
      summary: Invalid Parameter Set Error Response
      description: If request body is malformed or missing, then InvalidParameterSet error response is returned to the caller with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: invalid.parameter.set
            Description: request body is malformed
            Recoverable: false
            Details: ''
    InvalidData:
      summary: Invalid Data Error Response For Consumer Clarity
      description: If a field or set of fields fails a validation (eg. NotNull, Length, Pattern etc.), then InvalidData response will be returned to the caller for each invalid field with HTTP Status code 400.
      value:
        Errors:
          Error:
          - Source: service
            ReasonCode: 'invalid data: merchantType'
            Description: must not be blank
            Recoverable: false
            Details: ''
  parameters:
    OffsetParam:
      name: offset
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        default: 25
        maximum: 25
      example: 25
    CardAcceptorNameSearchTextParam:
      name: search_text
      in: query
      required: false
      description: "Input field used as wild search against Card Acceptor. \nThe service searches for substring, following the %search_text% pattern.\n"
      schema:
        type: string
        maxLength: 100
      example: Test
    MemberIdParam:
      name: member_id
      in: path
      required: true
      description: Merchant member ID (parent of the sub-merchant)
      example: 99ca4b15-72a6-41dd-8127-573d4b07669c
      schema:
        $ref: '#/components/schemas/AlertsMerchantMemberId'
    ClarityPageNumberParam:
      name: page_number
      in: query
      required: false
      description: current page number
      schema:
        type: integer
        default: 0
        minimum: 0
      example: 2
    UserIdParam:
      name: User-Id
      in: header
      required: true
      example: princess.diana
      description: The user id of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/UserId'
    IfMatch:
      name: If-Match
      in: header
      required: true
      example: '"842DFBC17F921E7716642B9164F3B22B"'
      description: If-Match is a request header which makes the request conditional. Client must send the corresponding value from the latest Etag response header received for this merchant.
      schema:
        $ref: '#/components/schemas/Etag'
    LocationIdParam:
      name: location_id
      in: path
      required: true
      example: Mxyz123
      description: Unique identifier of location
      schema:
        $ref: '#/components/schemas/ResourceId'
    MerchantIdentifierConfigIdParam:
      name: merchant_identifier_config_id
      in: query
      required: true
      description: The Configuration ID for acquirer reference ID or card acceptor ID or card acceptor name configurations.
      schema:
        $ref: '#/components/schemas/AlertsMerchantConfigId'
      example: 88ca4b15-72a6-41dd-8127-573d4b07875c
    SubmitterFirstNameParam:
      name: Submitter-First-Name
      in: header
      required: true
      example: Diana
      description: The first name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/FirstName'
    MerchantGuidParam:
      name: guid
      in: path
      required: true
      description: Consumer Clarity internal merchant's GUID
      example: jK2dA5aybhQQBq6C
      schema:
        $ref: '#/components/schemas/MerchantGuid'
    SubmitterLastNameParam:
      name: Submitter-Last-Name
      in: header
      required: true
      example: Princess
      description: The last name of the submitter/technical contact.
      schema:
        $ref: '#/components/schemas/LastName'
    SubMerchantIdParam:
      name: sub_merchant_id
      in: path
      required: true
      description: Sub-merchant member ID
      example: cc2cac41-d127-4c06-9646-c0f2ad76c444
      schema:
        $ref: '#/components/schemas/AlertsMerchantMemberId'
    ClaritySortDirectionParam:
      name: sort_direction
      in: query
      required: false
      description: Direction to sort the data using sort_field in response
      schema:
        type: string
        default: DESC
        enum:
        - ASC
        - DESC
        example: ASC
    CardAcceptorNameParam:
      name: card_acceptor_name
      in: query
      required: false
      description: A sub-element of the merchant descriptor that contains the merchant's name or doing business as name as it appears on the cardholder's billing statement.
      schema:
        $ref: '#/components/schemas/CardAcceptorName'
      example: Acceptor 1
    ClaritySortFieldParam:
      name: sort_field
      in: query
      required: false
      description: Field to Sort data in response
      schema:
        type: string
        default: modifiedDateTime
        maxLength: 100
      example: modifiedDateTime
    ClarityOffsetParam:
      name: offset
      in: query
      required: false
      description: The number of items to skip before starting to collect the result set
      schema:
        type: integer
        default: 50
        minimum: 0
        example: 0
    PageNumberParam:
      name: page_number
      in: query
      required: false
      description: Current page number
      schema:
        type: integer
        default: 1
        minimum: 1
      example: 1
    CardAcceptorNameIdParam:
      name: id
      in: path
      required: true
      example: Mxyz123
      description: Unique identifier of the card acceptor name.
      schema:
        $ref: '#/components/schemas/ResourceId'
  responses:
    ForbiddenOperation:
      description: Forbidden Operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ForbiddenOperation:
              $ref: '#/components/examples/ForbiddenOperation'
    CardAcceptorNamesBulkSuccess:
      description: Card Acceptor Names response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardAcceptorNamesBulkResource'
    AlertsMerchantIdentifierSuccess:
      description: Sub-merchant identifiers for either card acceptor id or card acceptor name configuration
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsMerchantIdentifierConfigIdOnly'
          examples:
            AlertsMerchantIdentifierConfigIdOnly:
              $ref: '#/components/examples/AlertsMerchantIdentifierConfigIdOnly'
    ValidationFailed:
      description: Validation Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ValidationFailed:
              $ref: '#/components/examples/ValidationFailed'
    CardAcceptorSuccess:
      description: Card Acceptor response
      headers:
        Etag:
          required: true
          schema:
            $ref: '#/components/schemas/Etag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardAcceptorDataResource'
    SuccessWithoutBody:
      description: Successful Operation
    PermissionDenied:
      description: Permission Denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            PermissionDenied:
              $ref: '#/components/examples/PermissionDenied'
    AlertsCardAcceptorNameConfigs:
      description: Sub-merchant card acceptor name configurations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfigs'
          examples:
            AlertsCardAcceptorNameConfigs:
              $ref: '#/components/examples/AlertsCardAcceptorNameConfigs'
    Default:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ServerError:
              $ref: '#/components/examples/ServerError'
    PageableCardAcceptorNamesSuccess:
      description: Pageable card acceptor names resource with pagination metadata
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PageableCardAcceptorNamesResource'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            ResourceNotFound:
              $ref: '#/components/examples/ResourceNotFound'
            EntityNotFound:
              $ref: '#/components/examples/EntityNotFound'
            AlertsEntityNotFound:
              $ref: '#/components/examples/AlertsEntityNotFound'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidData:
              $ref: '#/components/examples/InvalidData'
            AlertsInvalidData:
              $ref: '#/components/examples/AlertsInvalidData'
            InvalidParameterSet:
              $ref: '#/components/examples/InvalidParameterSet'
            FormatInvalid:
              $ref: '#/components/examples/FormatInvalid'
            AlertsFormatInvalid:
              $ref: '#/components/examples/AlertsFormatInvalid'
            MissingRequiredHeader:
              $ref: '#/components/examples/MissingRequiredHeader'
  requestBodies:
    AlertsCardAcceptorNameConfigRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AlertsCardAcceptorNameConfig'
          examples:
            AlertsCardAcceptorNameConfig:
              $ref: '#/components/examples/AlertsCardAcceptorNameConfig'
    CardAcceptorNamesBulkRequestBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardAcceptorNamesBulk'
    CardAcceptorNamesBody:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CardAcceptorData'
