openapi: 3.0.3
info:
  title: Mastercard Identity Insights for Transactions API
  description: >-
    A brand agnostic direct-to-merchant or acquirer API that returns transaction
    or device or identity scores to help with pre-authorization and
    pre-authentication decisioning. Powered by cross-geography and global
    Networks. Using this API enables merchants/ acquirer to be able to catch
    fraud early on & reduce fraudulent transactions while improving their risk
    models.
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: 0.2.3
servers:
  - url: https://idv.mastercard.com/identity
    description: Production server
  - url: https://sandbox.idv.mastercard.com/identity
    description: Sandbox server (US testing environment)
  - url: https://idv.mastercard.eu/identity
    description: Production server (EU)
  - url: https://sandbox.idv.mastercard.eu/identity
    description: Sandbox server (EU testing environment)
  - url: https://idv.mastercard.asia/identity
    description: Production server (ASIA)
  - url: https://sandbox.idv.mastercard.asia/identity
    description: Sandbox server (ASIA testing environment)
tags:
  - name: Transactions
    description: Transactions API
paths:
  /transactions:
    post:
      tags:
        - Transactions
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      description: >-
        Provides merchants transaction or device or identity scores to help with
        pre-authorization and pre-authentication decisioning. Using this API
        enables merchants or acquirer to be able to catch fraud early on &
        reduce fraudulent transactions while improving their risk models.
      summary: Response will be individual and device insights for MVP.
      operationId: retrieveTransactionInsights
      requestBody:
        $ref: '#/components/requestBodies/TransactionRequest'
components:
  schemas:
    TransactionInsightsData:
      required:
        - purchaseDate
        - purchaseAmount
        - purchaseCurrencyExponent
        - purchaseCurrency
        - merchantName
        - merchantCountryCode
        - mcc
      type: object
      properties:
        purchaseDate:
          description: The purchase date in format YYYYMMDDHHMMSS
          example: '20220721173228'
          type: string
          minLength: 14
          maxLength: 14
        purchaseAmount:
          description: >-
            The amount of the transaction in the currency's basic unit. If the
            purchase amount is USD 123.45, element will contain the value 12345.
            Max value is MAX_LONG (9223372036854775807)
          example: '12345'
          type: string
          minLength: 1
          maxLength: 19
          pattern: ^\d{1,19}$
        purchaseCurrencyExponent:
          description: >-
            The Purchase currency Exponent. If the purchase amount is USD
            123.45, then the exponent will contain 2.
          example: '2'
          type: string
          minimum: 0
          maximum: 9
        purchaseCurrency:
          description: >-
            The currency of the transaction amount, as an ISO-4217 currency
            code. See:
            [ISO-4217](https://www.nationsonline.org/oneworld/currencies.htm)
          type: string
          format: ISO-4217-3,
          minLength: 3
          maxLength: 3
          example: '840'
        merchantName:
          description: The name of the business.
          example: Acme Inc
          type: string
          minLength: 1
          maxLength: 40
        merchantCountryCode:
          example: '840'
          type: string
          format: ISO-3166
          description: >-
            The ISO-3166 numeric country code of the merchant associated with
            the transaction. See:
            [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm).
          minLength: 3
          maxLength: 3
        mcc:
          description: The Merchant Category Code associated with the transaction.
          example: '0742'
          type: string
          minLength: 4
          maxLength: 4
        ipAddress:
          description: |-
            IPv4 address is represented in the dotted decimal format of 4 sets
            of decimal numbers separated by dots. The decimal number in each and
            every set is in the range 0 to 255. IPv6 address is represented as
            eight groups of four hexadecimal digits, each group representing 16
            bits (two octets. The groups are separated by colons (:).
            - Optional to generate individual insights
            - Required to generate device insights
          example: 198.51.100.42
          type: string
          minLength: 7
          maxLength: 45
        userAgent:
          pattern: ^(?!\s*$).+
          description: |-
            The user-agent string of the consumer device attempting to authorize
            with your product or service. The user-agent must represent the HTTP
            client of the service consumer with details on the software
            originating the request.
            - Optional to generate individual insights
            - Required to generate device insights
          type: string
          example: >-
            Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 7.0; InfoPath.3; .NET
            CLR 3.1.40767; Trident/6.0; en-IN)
        canvas:
          description: >-
            The canvas signature of the browser installed on the consumer
            device.
          type: string
          example: e1af96a2e8af1115
          minLength: 0
          maxLength: 999
        webGl:
          description: The webGL signature of the browser installed on the consumer device.
          type: string
          example: wg1-ce04533340ea94cf
          minLength: 0
          maxLength: 999
        timeZone:
          description: >-
            Time-zone of the consumer device. The timezone must be a number of
            the time-zone offset, in minutes, from the date based on current
            host system settings to UTC.
          type: string
          example: '600'
          pattern: ^-?\d+$
        screenResolution:
          description: >-
            The screen resolution of the consumer device attempting to authorize
            with your product or service.
          type: string
          example: 1024x820
          pattern: ^\s*\d+\s*x\s*\d+\s*\d*\s*$
        localStorage:
          description: Flag to local storage is enabled on the consumer device.
          type: boolean
          example: true
        language:
          description: >-
            The language of the consumer device. The language must be a string
            representing the language version as defined in BCP-47.
          type: string
          example: zh-TW
          pattern: ^[a-zA-Z]{1,3}(-{1}[a-zA-Z0-9]{1,10})*?
        colorDepth:
          description: The device screen color depth value.
          type: integer
          example: 24
          minimum: 0
          maximum: 99999
        buildManufacturer:
          description: Manufacturer of the product/hardware.
          type: string
          example: Apple
        placement:
          description: >-
            This optional field contains the placement identifier within the
            application.
          type: string
          example: Registration
        androidBuildVersion:
          description: >-
            Build is used to determine information about the current build,
            extracted from system properties.
          type: string
          example: '12'
        androidSdkInt:
          description: >-
            The user-visible SDK version of the framework; its possible values
            are defined in Build.VERSION_CODES.
          type: string
          example: '31'
        buildFingerprint:
          description: String that uniquely identifies this build.
          type: string
          example: >-
            samsung/a32xsq/a32x:12/SP1A.210812.016/A326USQS7BVF2:user/release-keys
        buildBrand:
          description: >-
            Consumer-visible brand with which the product/hardware will be
            associated, if any.
          type: string
          example: Apple
        supportedFeatures:
          description: List of the supported features on the consumer device.
          type: array
          items:
            type: string
          example: '["mhac","mhtse","mhcdma","mhgy"]'
        model:
          description: >-
            Mobile device manufacturer and modelAndroid: Build.MANUFACTURER + "
            " + Build.MODEL returns the mobile device manufacturer and model,
            For example,"samsung SM-G960U1",


            iOS: utsname.machine returns the device model, For example,
            "iPhone10.4". Note: Apple as a manufacturer is not included because
            it is the same for all iOS devices.
          type: string
          example: iPhone
        sdkUserAgent:
          description: >-
            The unique package name/bundle identifier of the client's
            application.


            Android: obtained from the applicationContext.getPackageName()
            method.


            iOS: obtained from the [NSBundle mainBundle] bundleIdentifier
            property.
          type: string
          example: 14.3.1.7
        majorOsVersion:
          description: Major operating system version.
          type: integer
          example: 12
        minorOsVersion:
          description: Minor operating system version.
          type: integer
          example: 0
        simCountryIso:
          description: ISO country code equivalent for the SIM provider's country code.
          type: string
          example: us
        simOperator:
          description: >-
            MCC+MNC (mobile country code + mobile network code) of the SIM
            provider.
          type: string
          example: T-Mobile
        primaryStorage:
          format: int64
          description: Device primary storage size.
          type: integer
          example: 117027876864
        systemMemory:
          format: int64
          description: Device System memory size.
          type: integer
          example: 5847543808
        buildProduct:
          description: Name of the overall product.
          type: string
          example: beyond0qltesq
        vendorAppId:
          description: >-
            Alphanumeric string that uniquely identifies a device to the app
            vendor.
          type: string
          example: 64BAA4F0-9EBC-713E-5B5B-2AF40AB4123A
        storedDeviceId:
          description: >-
            Optional unique device identifier that merchant can store on
            consumer device. E.g with cookie in web flow.
          type: string
          example: wyett276tuygey6r
        androidId:
          description: >-
            Google's unique device identifier. A 64-bit number (as a hex string)
            that is randomly generated when the end user first sets up the
            device.
          type: string
          example: 38400000-8cf0-11bd-b23e-10b96e40000d
        hashedAccountId:
          description: The hashed account identifier used during the authorization attempt.
          type: string
          example: d1e8a70b5ccab1dc2f56bbf7e99f064a660c08e361a3
          minLength: 0
          maxLength: 999
        endCustomerRefId:
          description: >-
            The End Customer Reference identifier is used during the reseller
            transaction request.
          type: string
          example: '45342'
          minLength: 1
          maxLength: 40
        cookiesEnabled:
          description: Flag to indicate cookies are enabled on the consumer device.
          type: boolean
          example: true
        plugins:
          description: A list of browser plugins.
          type: array
          items:
            type: string
          example:
            - Adobe Acrobat
            - QuickTime
        acquirerMerchantId:
          description: >-
            The merchant ID that the transaction was processed under, as
            assigned by the acquirer.
          type: string
          example: ACME
          minLength: 1
          maxLength: 40
        acquirerBin:
          description: The BIN (Bank Identification Number) of the acquirer.
          example: '444444'
          type: string
          minLength: 1
          maxLength: 11
        cardHolderName:
          description: The full name of the person.
          example: Waidong L Syrws
          type: string
          minLength: 1
          maxLength: 45
        secondaryName:
          description: The full name of the person.
          example: Waidong L Syrws
          type: string
          minLength: 1
          maxLength: 45
        primaryEmail:
          description: The primary contact detail - Email id
          example: john@mastercard.com
          type: string
          format: email
          minLength: 3
          maxLength: 254
        secondaryEmail:
          description: Secondary email to contact if primary details are not reachable
          example: ted@mastercard.com
          type: string
          minLength: 3
          maxLength: 254
          format: email
        mobilePhone:
          $ref: '#/components/schemas/PhoneDetails'
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        homePhone:
          $ref: '#/components/schemas/PhoneDetails'
        workPhone:
          $ref: '#/components/schemas/PhoneDetails'
        accountDetails:
          $ref: '#/components/schemas/AccountDetails'
    AccountDetails:
      type: object
      properties:
        accountNumber:
          description: Unique identifier for the Primary Account Number of the card.
          example: '2303770003400262'
          type: string
          minLength: 13
          maxLength: 19
        cardLast4:
          description: The last four digits of the card number.
          example: '4242'
          type: string
          minLength: 4
          maxLength: 4
          pattern: ^\d{4}$
        cardExpiryDate:
          description: The expiry year and month of the card in YYMM format.
          example: '2311'
          type: string
          minLength: 4
          maxLength: 4
          pattern: ^\d{4}$
        cardBin:
          description: The first digits of the card number.
          example: '12345'
          type: string
          minLength: 4
          maxLength: 8
    PhoneDetails:
      type: object
      properties:
        cc:
          description: Country code
          example: '1'
          type: string
          minLength: 1
          maxLength: 3
          pattern: ^\d{1,3}$
        subscriber:
          description: Subscriber section of the number
          example: '3143978691'
          type: string
          minLength: 1
          maxLength: 15
          pattern: ^\d{1,15}$
      example:
        cc: '1'
        subscriber: '3143978691'
    Address:
      type: object
      properties:
        addressLine1:
          description: The first line of the street part in the structured address.
          example: 912 Uclan Dr
          type: string
          minLength: 1
          maxLength: 50
        addressLine2:
          description: The second line of the street part in the structured address.
          example: Apt 34
          type: string
          minLength: 1
          maxLength: 50
        addressCity:
          description: The name of the city in the structured address.
          example: Houston
          type: string
          minLength: 1
          maxLength: 50
        addressState:
          description: >-
            The state/province/parent subdivision code of the structured
            address.
          example: TX
          type: string
          minLength: 1
          maxLength: 3
        addressPostCode:
          description: The postal code of the structured address.
          example: '63124'
          type: string
          minLength: 1
          maxLength: 16
        addressCountry:
          example: '840'
          type: string
          format: ISO-3166-1
          description: >-
            The ISO-3166-1 numeric country code of the billing or shipping
            address requested by the cardholder. See:
            [ISO-3166](https://www.nationsonline.org/oneworld/country_code_list.htm).
          minLength: 3
          maxLength: 3
    TransactionInsights:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: The generated unique transaction identifier.
          example: be3ad617-04ad-43e1-a438-79425b6511b6
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
        deviceInsights:
          $ref: '#/components/schemas/DeviceInsights'
        individualInsights:
          $ref: '#/components/schemas/IndividualInsights'
    DeviceInsights:
      description: The insights details associated with the device.
      type: object
      properties:
        uDeviceId:
          type: string
          description: The generated unique device identifier.
          example: UDID-9284e12b85b0d2763c13d734c70b1d62
        lastSeen:
          description: The ISO UTC timestamp when the device was last seen.
          type: string
          example: '2022-06-03T18:00:50Z'
        firstSeen:
          description: The ISO UTC timestamp when the device was first seen.
          type: string
          example: '2022-03-01T13:00:50Z'
        lastSeenDays:
          description: >-
            Number of of days since the device was last seen. If the device has
            not been observed before, lastSeenDays will be 0.
          type: integer
          format: int64
          example: 10
          minimum: 0
          maximum: 999999999
        firstSeenDays:
          description: >-
            Number of days since the device was first seen. If the device has
            not been observed before, firstSeenDays will be 0.
          type: integer
          format: int64
          example: 10
          minimum: 0
          maximum: 999999999
        accountDeviceId:
          description: >-
            This field contains the account device identification hash. If
            hashedAccountId (optional field) is not present in the request or
            the device resolved to a default UDID, the accountDeviceId field
            will be omitted from the response
          type: string
          example: b01e4f5e5e984a79ad5ff38e65ddf198
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        insightFactor:
          $ref: '#/components/schemas/InsightFactor'
        riskFactor:
          $ref: '#/components/schemas/RiskFactor'
        trustFactor:
          $ref: '#/components/schemas/TrustFactor'
        alerts:
          type: array
          example:
            - Unable to generate Insights
          items:
            type: string
            description: Returns alert message when unable to generate insights.
    TrustFactor:
      description: The trust factor value associated with the device.
      type: integer
      example: 5
      minimum: 1
      maximum: 5
    InsightFactor:
      description: >-
        The insight factor is represented numerically using a range from 0 (no
        risk data) to 5 (high risk). Each numerical value and its associated
        risk representation is shown below.

        * `0` - Represents an unknown risk because no data on this device is
        available.

        * `1` - Represents a no or low risk request.

        * `2` - Represents a low risk request.

        * `3` - Represents a medium risk request.

        * `4` - Represents a high risk request.

        * `5` - Represents a very high risk request.


        The insight factor is typically used to identify scenarios where a
        service provider may want to introduce consumer friction on the
        authorization process to validate the identity of the consumer. Example
        usage by a service provider may be to implement controls such as
        multifactor authentication for calculated risk factors of `3` or `4` and
        request blocking for risk factors of `5`.
      maximum: 5
      type: integer
      minimum: 0
      example: 2
    RiskFactor:
      description: >-
        The risk factor is represented numerically using a range from 0 (no risk
        data) to 5 (high risk). Each numerical value and its associated risk
        representation is shown below.

        * `0` - Represents an unknown risk because no data on this device is
        available.

        * `1` - Represents a no or low risk request.

        * `2` - Represents a low risk request.

        * `3` - Represents a medium risk request.

        * `4` - Represents a high risk request.

        * `5` - Represents a very high risk request.


        The risk factor is typically used to identify scenarios where a service
        provider may want to introduce consumer friction on the authorization
        process to validate the identity of the consumer. Example usage by a
        service provider may be to implement controls such as multifactor
        authentication for calculated risk factors of `3` or `4` and request
        blocking for risk factors of `5`.
      maximum: 5
      type: integer
      minimum: 0
      example: 2
    DeviceInfo:
      description: >-
        This field contains information related to the consumer device used to
        authorize with your product or service.
      type: object
      properties:
        deviceType:
          description: The device type used to authorize your product or service.
          type: string
          example: iPhone
        country:
          description: >-
            The country where the consumer device is located when attempting to
            authorize with your product or service.
          type: string
          example: USA
        ipCarrier:
          description: >-
            The service provider used by the consumer device when attempting to
            authorize with your product or service.
          type: string
          example: AT&T
        city:
          description: >-
            The city where the consumer device is located when attempting to
            authorize with your product or service.
          type: string
          example: Los Angeles
        browser:
          description: The name of the browser used to authorize your product or service.
          type: string
          example: Safari
        state:
          description: >-
            The state where the consumer device is located when attempting to
            authorize with your product or service.
          type: string
          example: CA
        platform:
          description: The device platform used to authorize your product or service.
          type: string
          example: iOS
      required:
        - browser
        - platform
        - deviceType
    IndividualInsights:
      type: object
      description: The details associated with the individual insights.
      properties:
        primaryEmail:
          $ref: '#/components/schemas/PrimaryEmail'
        ip:
          $ref: '#/components/schemas/Ip'
        homePhone:
          $ref: '#/components/schemas/Phone'
        mobilePhone:
          $ref: '#/components/schemas/Phone'
        billingAddress:
          $ref: '#/components/schemas/BillingInsights'
        shippingAddress:
          $ref: '#/components/schemas/ShippingInsights'
        scores:
          $ref: '#/components/schemas/Scores'
        workPhone:
          $ref: '#/components/schemas/Phone'
        paymentCard:
          $ref: '#/components/schemas/PaymentCard'
        paymentAmount:
          $ref: '#/components/schemas/PaymentAmount'
        alerts:
          example:
            - firstSeenDays
            - valid
          type: array
          items:
            type: string
            description: >-
              Returns a list of fields affected in the rare case of a partial
              data outage; otherwise it will be empty. In the case of a partial
              data outage, it is recommended to use the partial response in the
              real-time transaction model and use the alerts field data for
              diagnostics in post transaction.
        warnings:
          description: An array containing warning messages.
          example:
            - 'Primary Email: Invalid username syntax'
            - 'Shipping Address: Missing country_code'
          type: array
          items:
            type: string
      additionalProperties: false
    PaymentCard:
      type: object
      properties:
        cardHolderNamefirstSeenDays:
          description: >-
            Count of days since the payment card and name was first observed in
            the network. If they have not been observed together before, first
            seen days will be 0.
          format: int64
          type: integer
          example: 55
        cardHolderNameVelocity:
          description: >-
            Count of times the payment card and name have been observed in the
            network over the past 90 days. If they have not been observed
            together in the past 90 days, velocity will be 0.
          format: int64
          type: integer
          example: 24
    PaymentAmount:
      type: object
      properties:
        merchantCategoryRatio:
          description: >-
            A ratio of the purchase amount compared to the median purchase
            amount seen for other similar merchants in the same category. The
            higher the ratio means that the purchase amount is further from the
            median purchase amount observed.
          format: double
          type: number
          example: 1.5
    PrimaryEmail:
      type: object
      properties:
        firstSeenDays:
          description: >-
            Count of days since the email was first observed in Ekata's Identity
            Network. If the email has not been observed before, first_seen_days
            will be 0.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        lastSeenDays:
          description: >-
            Number of days that have passed since the email address was last
            seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        valid:
          description: True if the email address is valid
          type: boolean
          example: true
        domainCreationDate:
          description: The date when the email domain was created. Format is YYYY-MM-DD.
          example: '2000-11-29'
          pattern: ^\d{4}-\d{2}-\d{2}
          type: string
        matchToName:
          description: The match status between the input name and the queried entity.
          example: no-match
          type: string
          minLength: 1
          maxLength: 100
        mailboxVelocity:
          description: Number of times email has been seen in last 180 days.
          example: 3
          type: integer
          format: int64
          minimum: 0
          maximum: 1000
        isDisposable:
          description: >-
            True if the email domain is disposable. Disposable emails are
            generally associated with fraudulent activities. If true, this is
            one of the strongest risk indicators and the transaction should be
            flagged for further review.
          example: false
          type: boolean
        emailRisk:
          $ref: '#/components/schemas/EmailRiskScore'
    EmailRiskScore:
      type: object
      properties:
        score:
          description: >-
            Comprehensive risk score associated with an email address, with a
            higher score indicating a riskier individual.  A number between 0
            and 1 rounded to three decimal places.
          format: double
          maximum: 1
          type: number
          minimum: 0
          example: 0.445
    Ip:
      type: object
      properties:
        billingAddressDistance:
          description: >-
            The distance (in miles) between the IP address and the physical
            address.
          example: 240
          type: integer
          format: int64
        lastSeenDays:
          description: Number of days that have passed since the IP address was last seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        connectionType:
          description: >-
            Ip Connection type description. Possible values are: * cable-dsl *
            corporate * cellular * dialup
          example: cable-dsl
          type: string
        shippingAddressDistance:
          description: >-
            The distance (in miles) between the IP address and the physical
            address.
          example: 240
          type: integer
          format: int64
    ShippingInsights:
      type: object
      properties:
        validityLevel:
          description: >-
            The most granular level to which the address could be validated. Ex.
            If the address was only valid to the city level (but not to the
            house level), it would return valid_to_city. Possible Values are: *
            valid_to_house_number * missing_address * invalid * valid *
            valid_to_street * valid_to_country * valid_to_city *
            valid_to_house_number_missing_apt
          example: valid_to_street
          type: string
          minLength: 1
          maxLength: 100
        firstSeenDays:
          description: Number of days that have passed since the address was first seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        lastSeenDays:
          description: Number of days that have passed since the address was last seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        matchToName:
          description: >-
            The match status between either of the input names (person or
            business) and the queried entity. Possible values are: * not-found *
            match * no-match
          example: no-match
          type: string
          minLength: 1
          maxLength: 100
    BillingInsights:
      type: object
      properties:
        validityLevel:
          description: >-
            The most granular level to which the address could be validated. Ex.
            If the address was only valid to the city level (but not to the
            house level), it would return valid_to_city.Possible Values are: *
            valid_to_house_number * missing_address * invalid * valid *
            valid_to_street * valid_to_country * valid_to_city *
            valid_to_house_number_missing_apt
          example: valid_to_street
          type: string
          minLength: 1
          maxLength: 100
        firstSeenDays:
          description: Number of days that have passed since the address was first seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        lastSeenDays:
          description: Number of days that have passed since the address was last seen.
          example: 234
          type: integer
          format: int64
          minimum: 0
          maximum: 999999999
        matchToName:
          description: >-
            The match status between either of the input names (person or
            business) and the queried entity. Possible values are: * not-found *
            match * no-match
          example: no-match
          type: string
          minLength: 1
          maxLength: 100
        shippingAddressRelationship:
          description: >-
            The relationship between billing and shipping address. Possible
            values are: * `match` * `city_match` * `seen_together` *
            `seen_with_others` * `no_relationship` * `null`
          example: no_relationship
          type: string
          minLength: 1
          maxLength: 100
    IdentityRisk:
      type: object
      properties:
        score:
          description: >-
            A comprehensive 0-500 score associated with the individual's
            identity.
          minimum: 0
          maximum: 500
          example: 375
          type: integer
          format: int64
        reasonCode:
          description: >-
            Reason code explanation value for the identity risk score based on
            data provided. Possible values are: * High Severity : AA-AP * Medium
            Severity : JA-JF * Low Severity : RA-RP
          example: RA
          type: string
          minLength: 2
          maxLength: 2
    IpRisk:
      type: object
      properties:
        score:
          description: >-
            A 0-1 score (rounded to three decimal places) associated with an IP
            address.
          format: double
          type: number
          example: 0.562
    Phone:
      type: object
      properties:
        matchToName:
          description: >-
            The match status between either of the input names (person or
            business) and the queried entity. Possible values are: * not-found *
            match * no-match
          example: no-match
          type: string
          minLength: 1
          maxLength: 100
        lineType:
          description: >-
            The line type of the phone number. * landline - Traditional wired
            phone line. * fixed-voip - VOIP-based fixed line phones. * mobile -
            Wireless phone line. * voicemail - Voicemail-only service. *
            toll-free - Callee pays for call. * premium - Caller pays a premium
            for the call-e.g. 976 area code. * non-fixed-voip - Skype, for
            example. * other - Anything that does not match the previous
            categories.
          example: other
          type: string
        valid:
          description: True if the phone number is valid.
          type: boolean
          example: true
        phoneNumberCarrier:
          description: >-
            The company that provides voice and/or data services for the phone
            number. Carriers are returned at the MVNO level.
          example: Ekata Telco
          type: string
          minLength: 1
          maxLength: 50
    Scores:
      type: object
      properties:
        ipRisk:
          $ref: '#/components/schemas/IpRisk'
        identityRisk:
          $ref: '#/components/schemas/IdentityRisk'
    ErrorResponse:
      required:
        - Errors
      type: object
      description: The error response model used by all of our API endpoints
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    Errors:
      required:
        - Error
      type: object
      description: The error response model used by all of our API endpoints
      properties:
        Error:
          description: a list of Error objects
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        Source:
          type: string
          description: The source of the problem. i.e where the error occurred
          example: IIT
          minLength: 1
          maxLength: 15
        ReasonCode:
          type: string
          description: A code defining the error, as defined in documentation
          example: VALIDATION_ERROR
          minLength: 1
        Description:
          type: string
          description: A description for this specific occurrence of the above ReasonCode
          example: Invalid Format
          minLength: 1
        Recoverable:
          type: boolean
          description: >-
            Whether or not retrying this request could result in a successful
            response.
          example: false
        Details:
          type: string
          description: >-
            More details of this specific error. This is an optional field and
            is sometimes used to give a more comprehensive description of the
            error that has occurred, when required.
          example: purchaseDate, billingAddress.city
          minLength: 1
  responses:
    TransactionResponse:
      description: Success
      headers:
        X-MC-Correlation-ID:
          schema:
            type: string
            format: uuid
          description: A random 128-bit UUID representing the transaction
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionInsights'
    BadRequestError:
      description: Something was wrong with the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            InvalidFormatBadRequestErrorExample:
              $ref: '#/components/examples/InvalidFormatBadRequestErrorExample'
            MissingRequiredDataBadRequestErrorExample:
              $ref: '#/components/examples/MissingRequiredDataBadRequestErrorExample'
    UnauthorizedError:
      description: Unauthorized request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
  requestBodies:
    TransactionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionInsightsData'
  examples:
    MissingRequiredDataBadRequestErrorExample:
      value:
        Errors:
          Error:
            - Source: IIT
              ReasonCode: VALIDATION_ERROR
              Description: Required Data Element Missing
              Recoverable: false
              Details: purchaseDate, billingAddress.city
    InvalidFormatBadRequestErrorExample:
      value:
        Errors:
          Error:
            - Source: IIT
              ReasonCode: VALIDATION_ERROR
              Description: Invalid Format
              Recoverable: false
              Details: purchaseDate, ipAddress
    UnauthorizedExample:
      value:
        Errors:
          Error:
            - Source: IIT
              ReasonCode: UNAUTHORIZED_REQUEST
              Description: Unauthorized request
              Recoverable: false
              Details: null
