openapi: 3.0.3
info:
  title: ID For Trust Providers API
  description: >-
    ID For Trust Providers offer the technology platform and operational service
    to allow the secure storage and transmission of Digital Identity data from
    the user to the Relying Party after having been verified to a required level
    of assurance by an Identity Verification Provider.
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: 1.1.0
servers:
  - url: https://api.mastercard.com/idservice
    description: Production server (uses USA live data).
  - url: https://sandbox.api.mastercard.com/idservice
    description: Sandbox server (testing USA environment).
  - url: https://api.mastercard.com.au/idservice
    description: Production server  (uses AUS live data).
  - url: https://sandbox.api.mastercard.com.au/idservice
    description: Sandbox server (testing AUS environment).
tags:
  - name: Create a User Identity
    description: Create a user identity.
  - name: Access a User Identity
    description: Access a user identity.
  - name: Manage a User Identity
    description: Manage a user identity.
  - name: Share a User Identity
    description: Share a user's identity attributes with an RP.
  - name: Identity History
    description: Record and provide access to identity activities conducted by the user.
paths:
  /user-profiles/identity-searches:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/IdentitySearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Retrieve decrypted identities along with rotated PDS to present the user

        with the registered identity in the TP app. Does not require a minimum
        authentication standard.   

        **This API is mandatory.**
      summary: View an Identity
      operationId: retrieveIdentities
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/IdentitySearchRequest'
  /user-profiles:
    post:
      tags:
        - Create a User Identity
      responses:
        '201':
          $ref: '#/components/responses/UserProfilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
      description: |
        - This endpoint registers a user profile using the given
        `user profile ID`.

        - An error will be returned if the user profile already exists.   
        **This API is mandatory.**
      summary: Create a new user.
      operationId: createUserProfile
      requestBody:
        $ref: '#/components/requestBodies/UserProfilesRequest'
    delete:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/UserProfilesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Enable TP app to mark user account as deleted on Mastercard ID Network.
        Requires GPA authentication.   

        **This API is mandatory.**
      summary: Delete an Identity.
      operationId: deleteUserProfile
      parameters:
        - $ref: '#/components/parameters/UserProfileIdParameter'
        - $ref: '#/components/parameters/UserConsentParameter'
  /user-profiles/identity-attribute-deletions:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/IdentityAttributeDeletionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Delete an identity attribute from a PDS and update the affected
        assurance levels. Requires GPA authentication.   

        **This API is mandatory.**
      summary: Delete Document.
      operationId: deleteIdentityAttribute
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/IdentityAttributeDeletionsRequest'
  /email-otps:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/EmailOtpsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: |
        Take in and code in the request body. It checks if the provided
        code matches the one-time password generated for the OTP request and
        returns the result. Does not require a minimum authentication standard.
        **This API is mandatory.**
      summary: Add & Validate an Email Address   Request an OTP Code.
      operationId: createEmailOTP
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/EmailOtpsRequest'
  /email-otp-verifications:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/OtpVerificationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: |
        Take in `otpId` and code in the request body. It checks if the provided
        code matches the one-time password generated for the OTP request and
        returns the result. Does not require a minimum authentication standard.
        **This API is mandatory.**
      summary: Add & Validate an Email Address  Verify an OTP Code.
      operationId: verifyEmailOTP
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/EmailOtpVerificationsRequest'
  /sms-otps:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/SmsOtpsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: >
        Generate and send via SMS an OTP along with a message body to the

        provided phone number. Does not require a minimum authentication
        standard.

        **This API is mandatory.**
      summary: "Add & Validate a Phone Number \tRequest an OTP Code."
      operationId: createSMSOTP
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/SmsOtpsRequest'
  /sms-otp-verifications:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/OtpVerificationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: |
        Add the `otpId` and code in the request body. It checks if the provided
        code matches the one-time password generated for the OTP request and
        returns the result. Does not require a minimum authentication standard.
        **This API is mandatory.**
      summary: Add & Validate a Phone Number  Verify an OTP Code.
      operationId: verifySMSOTP
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/SmsOtpVerificationsRequest'
  /tp-data-shares:
    post:
      summary: Add an Independently Validated Phone Number.
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/TPDataShareSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Used for a TP to share a User's Identity Attributes. Does not require a
        minimum authentication standard.   

        **This API is optional.**
      operationId: updatePdsData
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/TpDataShareRequest'
  /multi-access-tokens:
    post:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/AccessTokensResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
      description: |
        Returns a `SDK Token` used for multiple document enrollment to be passed
        to the `MIDS verification SDK` module.   
        **This API is mandatory.**
      summary: >-
        Add and Validate a Document - Request a token to enroll an additional
        document.
      operationId: getMultiAccessToken
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/MultiAccessTokensRequest'
  /access-tokens:
    post:
      tags:
        - Create a User Identity
      responses:
        '200':
          $ref: '#/components/responses/AccessTokensResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
      description: |
        Returns a `SDK Token` token to be passed to the MIDS verification SDK
        module.   
        **This API is mandatory.**
      summary: Request a token to enroll an identity.
      operationId: getAccessToken
      parameters:
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/AccessTokensRequest'
  /document-verifications/document-data-retrievals:
    post:
      tags:
        - Create a User Identity
      responses:
        '200':
          $ref: '#/components/responses/DocumentDataRetrievalsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: |
        Informs if the document verification is still being processed or is
        processed already. If `SUCCESS`, the document data is returned.   
        **This API is mandatory.**
      summary: Retrieve the details of a document.
      operationId: retrieveDocumentData
      parameters:
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/DocumentDataRetrievalsRequest'
    put:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/DocumentDataRetrievalsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Informs if the document verification for the additional document is
        still being processed (PENDING)

        or is processed already (SUCCESS). If SUCCESS, the document data is

        returned.   

        **This API is mandatory.**
      summary: >-
        Add and Validate a Document - Retrieve the details of an additional
        document.
      operationId: retrieveMultiDocumentData
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/MultiDocumentDataRetrievalsRequest'
  /document-verifications/document-data-confirmations:
    post:
      tags:
        - Create a User Identity
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/DocumentDataConfirmationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: |
        - After the user verifies and checks if the data extracted from the
        documents match the current status (for example, Address).

        - The user sends data back to MIDS to confirm the details.

        - Perform verifications with IVPs and store the data into the PDS.   
        **This API is mandatory.**
      summary: Add and Validate a Document - Confirm the details of a document.
      operationId: confirmDocumentData
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/DocumentDataConfirmationsRequest'
  /document-verifications/identity-attributes:
    put:
      tags:
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/DocumentDataConfirmationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: |
        After the user verifies and confirms the conflict attribute, the user
        sends data back to MIDS to confirm the details. This API will
        perform verifications with IVPs and store the data into the PDS.   
        **This API is mandatory.**
      summary: >-
        Add and Validate a Document - Resolve a conflict between identity
        attributes.
      operationId: updateIdentityAttribute
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentityAttributesRequest'
  /document-verifications/update-id-confirmations:
    put:
      tags:
        - Create a User Identity
        - Manage a User Identity
      responses:
        '200':
          $ref: '#/components/responses/UpdateIdConfirmationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Delete the document verification data on the Identity verification
        vendor

        once the user confirms the PDS update.   

        **This API is mandatory.**
      summary: >-
        Add and Validate a Document - Confirm the identity was stored to the
        PDS.
      operationId: updateIdConfirmation
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdConfirmationsRequest'
  /initiate-authentications:
    post:
      tags:
        - Access a User Identity
      responses:
        '200':
          $ref: '#/components/responses/InitiateAuthenticationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: |
        Initialize authentication based on the information provided in PDS.   
        **This API is mandatory.**
      summary: >
        Authenticate a user using Liveness Assurance, this is a more performant,
        but less stringent form of authentication, which will enable the user to
        access, but not change certain details of their identity.
      operationId: initializeAuthentication
      parameters:
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/InitializeAuthenticationsRequest'
  /initiate-premium-authentications:
    post:
      tags:
        - Access a User Identity
      responses:
        '200':
          $ref: '#/components/responses/InitiateAuthenticationsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: >
        This API returns a token for initiating the premium authentication
        process

        using SDK.   

        **This API is mandatory.**
      summary: >-
        Authenticate a user using Genuine Presence Assurance, this is a less
        performant, but more stringent form of authentication, which will enable
        the user to manage all aspects of their identity.
      operationId: initiateStrongerAuthentication
      parameters:
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/InitializePremiumAuthenticationsRequest'
  /authentication-decisions/scans/{scan_id}:
    put:
      tags:
        - Access a User Identity
      responses:
        '200':
          $ref: '#/components/responses/AuthenticationDecisionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Authenticate user identity and retrieve identity attributes without
        updating selfie.   

        **This API is mandatory.**
      summary: Retrieve an outcome for an authentication.
      operationId: authenticationdecisions
      parameters:
        - $ref: '#/components/parameters/ScanIdPathParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/AuthenticationDecisionRequest'
  /audit-events:
    put:
      tags:
        - Identity History
      responses:
        '201':
          $ref: '#/components/responses/AuditEventsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
      description: >
        Create the audit events with the user profile ID provided by the TP.
        Does not require a minimum authentication standard.

        **This API is mandatory.**
      summary: Provide auditable events for recording against the identity.
      operationId: createAuditEvents
      requestBody:
        $ref: '#/components/requestBodies/AuditEventsRequest'
  /user-account-activity-searches:
    post:
      tags:
        - Identity History
      responses:
        '200':
          $ref: '#/components/responses/UserAccountActivitySearchesResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: |
        Retrieve decrypted user activities and present them to the user in the
        TP app. Does not require a minimum authentication standard.
        **This API is mandatory.**
      summary: View identity lifecycle activities which have occurred in a time period.
      operationId: retrieveUserActivities
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/UserAccountActivitySearchRequest'
  /rp-activity-searches:
    post:
      tags:
        - Identity History
      responses:
        '200':
          $ref: '#/components/responses/RPActivitySearchResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: |
        Retrieve decrypted RP activities and present them to the user in the TP
        app. Does not require a minimum authentication standard.
        **This API is mandatory.**
      summary: >-
        View identity claim sharing activities which have occurred in a time
        period.
      operationId: searchRpActivity
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/RPActivitySearchRequest'
  /tprp-claims:
    post:
      tags:
        - Share a User Identity
      responses:
        '200':
          $ref: '#/components/responses/TPRPClaimsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      description: >
        Returns the claims which satisfy the scopes in the request, based on

        information provided in the PDS. Does not require a minimum
        authentication standard.

        **This API is optional.**
      summary: Share an Identity when the TP is also an RP.
      operationId: getClaimsIdentities
      parameters:
        - $ref: '#/components/parameters/XUserIdentityParameter'
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/TPRPClaimsRequest'
  /claims/scopes/{arid}:
    get:
      summary: >-
        Share an Identity with an External RP - Retrieve details of the scope
        request being made by an RP.
      tags:
        - Share a User Identity
      responses:
        '200':
          $ref: '#/components/responses/RPScopesSuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      description: >
        Used to retrieve the scopes and RP details associated with the ARID.
        Does not require a minimum authentication standard.   

        **This API is mandatory.**
      operationId: retrieveCSScopes
      parameters:
        - $ref: '#/components/parameters/AridParameter'
  /claims/user-data-extractions:
    post:
      tags:
        - Share a User Identity
      responses:
        '200':
          $ref: '#/components/responses/RPClaimsDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorClaimSharing'
        '404':
          $ref: '#/components/responses/NotFoundErrorClaimSharing'
      description: >
        Returns the user information from the PDS that is requested by the

        Relying Party based on the ARID. Does not require a minimum
        authentication standard.

        **This API is mandatory.**
      summary: >-
        Share an Identity with an External RP - Provide the PDS to enable ID for
        TP to determine if these satisfy an RPs scope request.
      operationId: extractClaimsUserData
      parameters:
        - $ref: '#/components/parameters/XEncryptedPayload'
      requestBody:
        $ref: '#/components/requestBodies/RPClaimsDataRequestData'
  /claims/user-consents:
    post:
      tags:
        - Share a User Identity
      responses:
        '200':
          $ref: '#/components/responses/UserConsentResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorClaimSharing'
        '404':
          $ref: '#/components/responses/NotFoundErrorClaimSharing'
      description: >
        Inform the Trust Party about the user consent. If the consent is given,

        the identity attributes will be shared with Relying Party. Does not
        require a minimum authentication standard. 

        **This API is mandatory.**
      summary: >-
        Share an Identity with an External RP - Provide consent to share the
        identity attributes which satisfy an RPs scope request.
      operationId: getUserConsentStatus
      requestBody:
        $ref: '#/components/requestBodies/UserConsentRequest'
components:
  schemas:
    Configuration:
      required:
        - messageLevelEncryption
        - baseUrl
        - apiKey
        - otpHost
        - certificatePins
      properties:
        messageLevelEncryption:
          type: boolean
          description: >-
            Indicates whether message level encryption is enabled or not for
            Mobile ID.
          example: false
        baseUrl:
          type: string
          description: The Idemia Base URL for the Mobile ID.
          minLength: 1
          maxLength: 500
          example: https://api.app.dev.0.stc.us.idemia.io
        apiKey:
          type: string
          description: The Idemia Api Key for the Mobile ID.
          minLength: 1
          maxLength: 500
          example: 2b6e3ff2-ecd0-4c66-8a5e-716dae42a5d9
        otpHost:
          type: string
          description: The Idemia OTP URL for the Mobile ID.
          minLength: 1
          maxLength: 500
          example: mid-dev.idemia.com
        certificatePins:
          type: array
          description: Certificate Pinnings for IDEMIA domains
          items:
            $ref: '#/components/schemas/CertificatePin'
    CertificatePin:
      type: object
      description: Identity attributes array item.
      properties:
        domain:
          type: string
          description: The Idemia domian for certificate pinning.
          minLength: 1
          maxLength: 500
          example: api.app.dev.0.stc.us.idemia.io
        publicKeyHash:
          type: string
          description: The Idemia certificate hash.
          minLength: 1
          maxLength: 500
          example: sha256/K6ejhsw
    ActivationCode:
      required:
        - transactionId
        - activationCode
        - status
      properties:
        activationCode:
          type: string
          description: >-
            IDEMIA generated QR code, This will be used in MIDS Mobile SDK to
            get user identity attributes from IDEMIA
          minLength: 1
          maxLength: 500
          example: >-
            OGI3MDdmOWMtODhkMC00NmY0LWI2ZmUtNWE5NmI1NTY4NjgyLGV5SmhiR2NpT2lKSVV6STFOaUo5LmV5SmhkV1FpT2lJNFlqY3dOMlk1WXkwNE9HUXdMVFEyWmpRdFlqWm1aUzAxWVRrMllqVTFOamcyT0RJaUxDSmxlSEFpT2pFMk5qUXlPVGM1TWpCOS5hN1BEbE5SYzBVUjh1ZjBkT0NVX29scjNwSW9xS2RwVTBQQlR5TlVyVnRzLGh0dHBzOi8vYXBpLmFwcC5kZXYuMC5zdGMudXMuaWRlbWlhLmlvL2dpcHMvcmVzdC92MS90cmFuc2FjdGlvbnMvLDU0MjE0Ng==
        transactionId:
          type: string
          description: A random 128-bit. UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        status:
          type: string
          description: >-
            The status of the Get Activation Code API, possible value is
            PENDING.
          minLength: 1
          maxLength: 50
          example: PENDING
    MobileIdRegistration:
      required:
        - transactionId
        - registrationId
        - status
      properties:
        status:
          type: string
          description: The status of the registration API, possible value is PENDING.
          minLength: 7
          maxLength: 7
          example: PENDING
        transactionId:
          type: string
          description: A random 128-bit. UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        registrationId:
          type: string
          description: A random 128-bit. UUID represents the registration.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120003
    MobileIdUserEligibilityInfo:
      required:
        - countryCode
        - userConsent
        - pds
        - deviceType
        - deviceOS
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        deviceOS:
          type: string
          description: >-
            The OS version of the mobile device that user is using to register
            with.
          maxLength: 20
          minLength: 1
          example: iOS16
        deviceType:
          type: string
          description: >-
            The type of device operating system that user is using to register
            with.
          enum:
            - ANDROID
            - IOS
          example: ANDROID
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    IdentityAttributeDeletions:
      required:
        - pds
        - attributeName
        - userConsent
        - attributeId
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        attributeName:
          type: string
          description: The name of the attribute to be deleted.
          enum:
            - PASSPORT
            - DRIVER_LICENSE
          example: PASSPORT
        attributeId:
          type: string
          description: >-
            The identifier of the attribute being queried. This can be retrieved
            from a call to either the authentication-decisions API, or the
            user-profiles/identity-searches API.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 1
          example: cf11bb8d-b1b1-49c7-90ed-c63134cd1008
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    IdentityAttributeDeleted:
      required:
        - pds
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
    TpDataShare:
      required:
        - pds
        - userConsent
        - userProfileId
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        address:
          $ref: '#/components/schemas/Address'
        email:
          $ref: '#/components/schemas/Email'
        phone:
          $ref: '#/components/schemas/Phone'
    TPDataShareSuccessData:
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
    RPScopes:
      required:
        - scopes
        - rpName
        - rpLogoUrl
      type: object
      properties:
        scopes:
          type: array
          items:
            type: string
            description: The list of scopes that have been requested.
            example: name:0:365
        rpName:
          type: string
          description: RP Name.
          minLength: 1
          maxLength: 255
          example: THISRP
        rpLogoUrl:
          type: string
          description: The URL of the logo of the RP.
          minLength: 1
          example: https://www.rpsite.com/logo.jpg
    MultiDocumentDataRetrieval:
      required:
        - countryCode
        - workflowId
        - userConsent
        - userProfileId
        - locale
        - pds
      allOf:
        - type: object
          properties:
            pds:
              $ref: '#/components/schemas/PDS'
        - $ref: '#/components/schemas/DocumentDataRetrieval'
    VerifyAuthenticationDecisions:
      required:
        - countryCode
        - sdkVersion
        - pds
        - userProfileId
        - userConsent
        - privacyPolicyVersion
      type: object
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
        pds:
          $ref: '#/components/schemas/PDS'
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: df52649e-4096-456a-bca0-751ee470009f
        sdkAuthenticationDecision:
          type: boolean
          description: >-
            Flag indicating the result of Liveness detection conducted by the
            SDK. This can be retrieved from the MIDS Verification SDK.
          example: false
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        scopedFields:
          type: array
          description: >
            Array of enums representing the identity attributes which the TP is
            requesting access to.

            The acceptable values are any/all of: 'all', 'legalName', 'email',
            'phone', 'dateOfBirth', 'driverLicense', 'passport', 'address'
          minItems: 1
          items:
            enum:
              - >-
                all - legalName - email - phone - dateOfBirth - selfie - address
                - ageOver - ageUnder - city - postalCode - subDivision - govtId
                - govtIdDetails - govtIdImage - passportIdentity -
                passportDetails - passportImage - driverLicenseIdentity -
                driverLicenseCardNumber - driverLicenseDetails -
                driverLicenseImage - driverLicenseIssuingState - visaMatched -
                cpf - rgNumber - cnh - mothersName - fathersName
            type: string
            example: all
        privacyPolicyVersion:
          type: string
          description: >-
            The version of the privacy policy which the API call is being
            conducted under, this can be retrieved from the MIDS Core SDK.
          minLength: 1
          maxLength: 20
          example: 1.0.0
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        fraudDetection:
          $ref: '#/components/schemas/FraudDetection'
        arid:
          $ref: '#/components/schemas/ARID'
    DocumentDataRetrieval:
      required:
        - countryCode
        - workflowId
        - userConsent
        - userProfileId
        - locale
        - userSelectedCountry
        - documentType
      type: object
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        userSelectedCountry:
          type: string
          description: >-
            An ISO 3166-1 alpha-3 code corresponding to the issuing country of
            the document as specified by the user.
          pattern: ^[a-zA-Z]{3}$
          maxLength: 3
          example: USA
        documentType:
          type: string
          description: The type of the document as specified by the user.
          enum:
            - PASSPORT
            - DRIVING_LICENSE
          minLength: 8
          maxLength: 15
          example: PASSPORT
        locale:
          $ref: '#/components/schemas/Locale'
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          maxLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        workflowId:
          type: string
          description: >-
            UUID returned to the TP after the initial enrollment /
            re-authentication is completed, which is used to return the outcome
            of the associated verification process.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        privacyPolicyVersion:
          type: string
          description: >-
            The version of the privacy policy which the API call is being
            conducted under, this can be retrieved from the MIDS Core SDK.
          minLength: 1
          maxLength: 20
          example: 1.0.0
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    DocumentVerificationExtractedData:
      required:
        - status
        - transactionId
      type: object
      properties:
        documentData:
          $ref: '#/components/schemas/DocumentDataStatus'
        status:
          description: >-
            The status of the Status API, possible values are SUCCESS and
            PENDING.
          type: string
          minLength: 1
          maxLength: 10
          example: SUCCESS
        transactionId:
          type: string
          description: A random 128-bit. UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
    DocumentData:
      description: >-
        Object containing the details of the document whose accuracy has been
        confirmed by the user.
      required:
        - dateOfBirth
        - documentNumber
        - documentStatus
        - documentType
        - expiryDate
        - firstName
        - gender
        - issuingCountry
        - issuingDate
        - lastName
      allOf:
        - $ref: '#/components/schemas/AddressData'
        - $ref: '#/components/schemas/BaseEvidenceData'
        - type: object
          properties:
            documentNumber:
              type: string
              description: Document number.
              minLength: 1
              maxLength: 255
              example: 1LViI488YkFZh8YjNlLf61BMn29cmQn
            documentType:
              type: string
              description: The type of the document as specified by the user.
              minLength: 1
              maxLength: 50
              example: passport
            issuingPlace:
              type: string
              description: Issuing place.
              minLength: 1
              maxLength: 50
              example: New York
            issuingAuthority:
              type: string
              description: Issuing authority.
              minLength: 1
              maxLength: 50
              example: United States
            placeOfBirth:
              type: string
              description: Place of birth.
              minLength: 1
              maxLength: 255
              example: Boston
            issuingState:
              type: string
              description: State.
              minLength: 2
              maxLength: 100
              example: MO
            formattedAddress:
              type: string
              description: Formatted address.
              minLength: 1
              maxLength: 200
              example: 220 BLVD O FALLON MO
            rgNumber:
              type: string
              description: >-
                RG Number. This will only be available when the Brazilian DL is
                scanned.
              minLength: 1
              maxLength: 255
              example: 12345
            cpf:
              type: string
              description: >-
                CPF Number. This will only be available when the Brazilian DL is
                scanned.
              minLength: 1
              maxLength: 255
              example: 12345
            cardNumber:
              type: string
              description: >-
                The Driver's License card number was introduced to the
                Australian Driver's License as a verifiable field. It is
                currently only available for six Australian jurisdictions. This
                field is optional.
              minLength: 1
              maxLength: 255
              example: C876687JK
    DocumentDataStatus:
      description: >-
        Object containing the details of the document whose accuracy has been
        confirmed by the user.
      required:
        - dateOfBirth
        - documentNumber
        - documentStatus
        - documentType
        - expiryDate
        - firstName
        - gender
        - issuingCountry
        - issuingDate
        - lastName
      allOf:
        - $ref: '#/components/schemas/DocumentData'
        - type: object
          properties:
            documentStatus:
              type: string
              description: Document status.
              minLength: 1
              maxLength: 7
              example: SUCCESS
    ConfirmDocumentData:
      required:
        - dateOfBirth
        - documentNumber
        - documentType
        - workflowId
        - expiryDate
        - firstName
        - issuingCountry
        - lastName
      description: Document data to be verified.
      allOf:
        - $ref: '#/components/schemas/DocumentData'
        - type: object
          properties:
            workflowId:
              type: string
              description: >-
                UUID returned to the TP after the initial enrollment /
                re-authentication is completed, which is used to return the
                outcome of the associated verification process.
              pattern: >-
                ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
              example: be3ad617-04ad-43e1-a438-79425b6511b6
    DocumentIdConfirmation:
      required:
        - countryCode
        - workflowId
        - userProfileId
        - eventType
      type: object
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        workflowId:
          type: string
          description: >-
            UUID returned to the TP after the initial enrollment /
            re-authentication is completed, which is used to return the outcome
            of the associated verification process.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          maxLength: 36
          minLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          maxLength: 36
          minLength: 36
          example: df52649e-4096-456a-bca0-751ee470009f
        eventType:
          type: string
          description: ENROLLMENT or AUTHENTICATION.
          enum:
            - ENROLLMENT
            - AUTHENTICATION
          minLength: 10
          maxLength: 14
          example: ENROLLMENT
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    AccessToken:
      required:
        - apiDataCenter
        - sdkToken
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: A random 128-bit UUID represents the transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        sdkToken:
          type: string
          description: Passed into the MIDS verification SDK for authentication.
          minLength: 1
          maxLength: 400
          example: >-
            eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAB3NQQpCMQwE0Lt0baBJ0yZ159KtN0jTBgTBjYgg3t3__3KGN8w3rc_llc4JG6KUhrmoYjolc7_OvWfPKJ2hUzNgagE2hcC5hsYIUeOdH7gStVr6AtElwNUcrBNDFppYMjqxb9hvKzb9fNzfa4_HVkORomdoggsYp8HgPqAWF43VtsOcfn_stx4UsAAAAA.tDRVowYYcpQ03Vlt7D3MiovleiyRFQMv4qzXb7Lf_6CarphRrlWXan8-jE-YesNiAiT8tk0b-i8TKHGrcgT1VQ
        apiDataCenter:
          type: string
          description: API Data Centre specifying the region.
          minLength: 1
          maxLength: 2
          example: SG
    IdentityAttribute:
      allOf:
        - {}
        - oneOf:
            - $ref: '#/components/schemas/Address'
            - $ref: '#/components/schemas/DateOfBirth'
            - $ref: '#/components/schemas/Email'
            - $ref: '#/components/schemas/FathersName'
            - $ref: '#/components/schemas/MothersName'
            - $ref: '#/components/schemas/LegalName'
            - $ref: '#/components/schemas/Phone'
            - $ref: '#/components/schemas/Selfie'
            - $ref: '#/components/schemas/MobileIdEligibility'
            - $ref: '#/components/schemas/GovtId'
            - $ref: '#/components/schemas/GovtIdDetails'
            - $ref: '#/components/schemas/GovtIdImage'
            - $ref: '#/components/schemas/PassportIdentity'
            - $ref: '#/components/schemas/PassportDetails'
            - $ref: '#/components/schemas/PassportImage'
            - $ref: '#/components/schemas/DriverLicenseIdentity'
            - $ref: '#/components/schemas/DriverLicenseCardNumber'
            - $ref: '#/components/schemas/DriverLicenseDetails'
            - $ref: '#/components/schemas/DriverLicenseImage'
            - $ref: '#/components/schemas/VisaMatched'
            - $ref: '#/components/schemas/Cnh'
            - $ref: '#/components/schemas/Cpf'
            - $ref: '#/components/schemas/Rg'
    IdentityAttributesById:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IdentityAttribute'
      description: Identity attributes are keyed by attribute IDs.
      minLength: 1
    IdentityAttributesByName:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/IdentityAttributesById'
      description: Identity attributes keyed by IdentitySearch.scopedFields enum.
      minLength: 1
      example:
        dateOfBirth:
          e95b7c68-ebcb-4a88-9978-c33d78cde128:
            value: '1980-01-01'
            lastVerifiedDate: '2022-04-04T02:49:27.915Z'
    ClientIdentities:
      required:
        - attributes
      type: object
      properties:
        rotatedPds:
          type: string
          description: >-
            A rotated PDS is created and returned when the encryption key
            expires and a new key is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: >-
            ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
        attributes:
          $ref: '#/components/schemas/IdentityAttributesByName'
    UserAccountActivities:
      required:
        - userAccountActivities
      properties:
        userAccountActivities:
          type: array
          description: User account activity items.
          items:
            $ref: '#/components/schemas/UserAccountActivityItems'
        rotatedPds:
          type: string
          description: >-
            A rotated PDS is created and returned when the encryption key
            expires and a new one is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: >-
            ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    UserAccountActivityItems:
      required:
        - action
        - createdDate
      properties:
        action:
          type: string
          description: >-
            Type of the activity, possible values - ["ID Created", "Details
            Updated", "Add Drivers License", "Add Passport", "Add Health Card",
            "ID Backup", "ID Restore", "Attribute Deleted"].
          minLength: 1
          maxLength: 24
          example: ID Created
        createdDate:
          type: string
          description: Date of the event.
          minLength: 1
          maxLength: 29
          example: '2020-01-28T13:16:01.714-05:00'
        values:
          type: array
          description: Details of the activity.
          items:
            $ref: '#/components/schemas/UserAccountActivityItemContents'
    UserAccountActivityItemContents:
      required:
        - value
      properties:
        attributeName:
          type: string
          description: Name of the updated attribute.
          minLength: 1
          maxLength: 255
          example: legalName
        previousValue:
          type: string
          description: Value before the update.
          minLength: 1
          maxLength: 255
          example: John Doe
        value:
          type: string
          description: Value after the update.
          minLength: 1
          maxLength: 255
          example: John Dow
        source:
          type: string
          description: The source document for the update.
          minLength: 1
          maxLength: 29
          example: passport
    AccessTokenCommonFields:
      required:
        - countryCode
        - sdkVersion
        - channelType
        - userProfileId
      type: object
      properties:
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
        channelType:
          type: string
          description: The platform from where the request is originating Web/SDK.
          enum:
            - WEB
            - SDK
          minLength: 3
          maxLength: 3
          example: WEB
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: df52649e-4096-456a-bca0-751ee470009f
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
    RetrieveAccessToken:
      required:
        - countryCode
        - sdkVersion
        - channelType
        - userProfileId
      allOf:
        - type: object
          properties:
            enrollmentOrigin:
              type: string
              description: >-
                A free text field which the TP can use to differentiate between
                different scenarios which may influence the outcome of the
                enrollment, e.g. In store, Online, etc.
              minLength: 1
              maxLength: 20
              example: RETAIL
        - $ref: '#/components/schemas/AccessTokenCommonFields'
    MultiRetrieveAccessToken:
      required:
        - countryCode
        - sdkVersion
        - channelType
        - userProfileId
        - pds
      allOf:
        - type: object
          properties:
            pds:
              $ref: '#/components/schemas/PDS'
        - $ref: '#/components/schemas/AccessTokenCommonFields'
    UserAccountActivitySearch:
      required:
        - pds
        - startIndex
        - endIndex
        - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        startIndex:
          type: integer
          description: Start index of the user account activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 3
        endIndex:
          type: integer
          description: End index of the user account activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    IdentitySearch:
      required:
        - pds
        - scopedFields
        - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        scopedFields:
          type: array
          description: >
            Array of enums representing the identity attributes which the TP is
            requesting access to.

            The acceptable values are any/all of: 'all', 'legalName', 'email',
            'phone', 'dateOfBirth', 'driverLicense', 'passport', 'address'
          minItems: 1
          items:
            enum:
              - >-
                all - legalName - email - phone - dateOfBirth - selfie - address
                - ageOver - ageUnder - city - postalCode - subDivision - govtId
                - govtIdDetails - govtIdImage - passportIdentity -
                passportDetails - passportImage - driverLicenseIdentity -
                driverLicenseCardNumber - driverLicenseDetails -
                driverLicenseImage - driverLicenseIssuingState - visaMatched -
                cpf - rgNumber - cnh - mothersName - fathersName
            type: string
            example: all
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    RPActivitySearch:
      required:
        - pds
        - startIndex
        - endIndex
        - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        startIndex:
          type: integer
          description: Start index of the RP activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 3
        endIndex:
          type: integer
          description: End index of the RP activity.
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    RPActivities:
      required:
        - rpActivities
      properties:
        rpActivities:
          type: array
          description: Relying Party activity items.
          items:
            $ref: '#/components/schemas/RPActivityItems'
        rotatedPds:
          type: string
          description: >-
            A rotated PDS is created and returned when the encryption key
            expires and a new key is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: >-
            ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    RPActivityItems:
      required:
        - rpName
        - consentType
        - createdDate
        - attributesConsented
      type: object
      properties:
        rpName:
          type: string
          description: Relying Party name.
          minLength: 1
          maxLength: 255
          example: Toys inc
        consentType:
          type: string
          description: User consent type.
          minLength: 1
          maxLength: 10
          example: OneTime
        createdDate:
          type: string
          description: Date of the event.
          minLength: 1
          maxLength: 29
          example: '2020-01-28T13:16:01.714-05:00'
        attributesConsented:
          type: object
          description: This is the same data structure that is returned to Relying Party.
          additionalProperties: {}
          example:
            passport.firstName: John
            passport.lastName: Doe
    AuditEvents:
      required:
        - countryCode
        - userProfileId
        - sdkAuditEvents
      properties:
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: df52649e-4096-456a-bca0-751ee470009f
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    AuditEventsItem:
      type: object
      properties:
        dateTime:
          type: string
          description: Date and time at which the event is created.
          minLength: 1
          maxLength: 29
          example: '2020-01-28T13:16:01.714-05:00'
        softwareVersion:
          type: string
          description: Software version.
          minLength: 1
          maxLength: 30
          example: 1.0.0
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: df52649e-4096-456a-bca0-751ee470009f
        sessionId:
          type: string
          description: >-
            UUID which uniquely identifies a set of transactions being executed
            within the same authentication session.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: 123ae1aa-6744-433e-879d-7da48d631234
        transactionGroupId:
          type: string
          description: >-
            UUID which uniquely identifies a set of transactions being executed
            within a single use-case.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: 28eae1aa-6744-433e-879d-7da48d63e89a
        logRequestFlow:
          type: string
          description: Log Request Flow.
          minLength: 1
          maxLength: 255
          example: CoreSDK-TP
        logEvent:
          type: string
          description: Log Event.
          minLength: 0
          maxLength: 255
          example: ID Enrollment
        logEventType:
          type: string
          description: Log Event Type.
          minLength: 1
          maxLength: 255
          example: User Profile Creation
        osVersion:
          type: string
          description: OS version.
          minLength: 1
          maxLength: 255
          example: Android 5.0
        deviceMake:
          type: string
          description: Device make.
          minLength: 1
          maxLength: 255
          example: Samsung S10
        type:
          type: string
          description: Type of the event.
          minLength: 1
          maxLength: 255
          example: audit
        audit:
          type: object
          description: Represents the audit event.
          properties:
            privacyPolicy:
              type: string
              description: Version user confirmed.
              minLength: 1
              maxLength: 20
              example: 1.0.0
            userBiometricConsent:
              type: string
              description: User consent to capture details.
              enum:
                - 'TRUE'
                - 'FALSE'
                - NA
              minLength: 4
              maxLength: 5
              example: 'TRUE'
            event:
              type: string
              description: Event.
              minLength: 1
              maxLength: 255
              example: Document Scan
            eventType:
              type: string
              description: EventType.
              minLength: 1
              maxLength: 255
              example: Enrollment
            result:
              type: string
              description: API Call result.
              enum:
                - 'TRUE'
                - 'FALSE'
                - FAIL
              minLength: 4
              maxLength: 5
              example: 'TRUE'
            eventGeneratedSource:
              type: string
              description: Event generated source.
              minLength: 1
              maxLength: 50
              example: CoreSDK
            owner:
              type: string
              description: Owner.
              minLength: 2
              maxLength: 4
              example: TP
            requestDetails:
              type: object
              description: Request Details.
              example: Request URL
            responseDetails:
              type: object
              description: Response Details.
              example: Response Data
    OtpVerificationResult:
      required:
        - pds
        - responseCode
        - responseMessage
        - transactionId
      type: object
      properties:
        responseCode:
          description: '`SUCCESS`, `FAILURE` or `ATTEMPTS_EXCEEDED`.'
          type: string
          minLength: 7
          maxLength: 50
          example: SUCCESS
        responseMessage:
          type: string
          description: A short message describing the response code.
          minLength: 1
          maxLength: 100
          example: OTP verified
        attemptsRemaining:
          type: integer
          description: >-
            The number of attempts remaining. This field is only populated for
            the `FAILURE` response code.
          format: int32
          minimum: 1
          maximum: 10
          example: 2
        transactionId:
          type: string
          description: A random 128-bit UUID represents the transaction.
          minLength: 1
          maxLength: 40
          example: 28eae1aa-6744-433e-879d-7da48d63e89a
        pds:
          $ref: '#/components/schemas/PDS'
    Otp:
      required:
        - otpId
        - pds
        - transactionId
      type: object
      properties:
        otpId:
          type: string
          description: A random 128-bit UUID represents an OTP request.
          minLength: 36
          maxLength: 36
          example: 47281d64-9784-400f-9dfe-c098e9a92bc6
        transactionId:
          type: string
          description: A random 128-bit UUID for the transaction.
          minLength: 36
          maxLength: 36
          example: 3a86f4b9-bc2d-4fac-822e-0488aafb8971
        pds:
          $ref: '#/components/schemas/PDS'
    CreatedEmailOtp:
      allOf:
        - $ref: '#/components/schemas/Otp'
    CreatedSMSOtp:
      allOf:
        - $ref: '#/components/schemas/Otp'
    OtpVerification:
      required:
        - code
        - countryCode
        - userConsent
        - otpId
        - pds
      type: object
      properties:
        code:
          type: string
          description: The 6-digit code sent to the user.
          pattern: ^[0-9]{6}$
          minLength: 6
          maxLength: 6
          example: '123456'
        otpId:
          type: string
          description: The Otp ID in the response body to create an OTP request.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: 63d04933-02b6-4ea4-adf9-68696e675a01
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        pds:
          $ref: '#/components/schemas/PDS'
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    EmailOtp:
      required:
        - countryCode
        - emailAddress
        - userConsent
        - pds
      type: object
      properties:
        emailAddress:
          type: string
          description: The email address to which to send the OTP.
          pattern: ^[\w-\.\'\\]+@([\w-]+\.)+[\w-]{2,4}$
          minLength: 1
          maxLength: 255
          example: john.dunne@domain.com
        locale:
          $ref: '#/components/schemas/Locale'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        pds:
          $ref: '#/components/schemas/PDS'
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    SMSOtp:
      required:
        - countryCode
        - userConsent
        - pds
        - phoneNumber
      type: object
      properties:
        phoneNumber:
          type: string
          description: >-
            The phone number to which to send the OTP. It should be prefixed
            with the international dialing code, without the '+'.
          pattern: ^[1-9]\d{2,14}$
          minLength: 1
          maxLength: 15
          example: '553453554563'
        locale:
          $ref: '#/components/schemas/Locale'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        pds:
          $ref: '#/components/schemas/PDS'
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    UserProfile:
      required:
        - countryCode
        - userProfileId
      type: object
      properties:
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: c908bc7c-9917-48fd-b862-d901a0880fef
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    TpAuditMetadata:
      required:
        - sessionId
        - transactionGroupId
      type: object
      description: Object containing metadata related to the request.
      properties:
        sessionId:
          type: string
          description: >-
            UUID which uniquely identifies a set of transactions being executed
            within the same authentication session.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: be3ad617-04ad-43e1-a438-79425b6511b6
        transactionGroupId:
          type: string
          description: >-
            UUID which uniquely identifies a set of transactions being executed
            within a single use-case.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          minLength: 36
          maxLength: 36
          example: be3ad617-04ad-43e1-a438-79425b6511b6
    IdentityAttributes:
      type: array
      description: >-
        Array of attribute name-value pairs, which indicate the users preferred
        values for the attributes listed.
      items:
        $ref: '#/components/schemas/IdentityAttributeItem'
    IdentityAttributeItem:
      type: object
      description: Identity attributes array item.
      properties:
        attributeName:
          type: string
          description: The name of the attribute to update.
          enum:
            - LEGAL_NAME
            - FATHERS_NAME
            - MOTHERS_NAME
          minLength: 1
          maxLength: 50
          example: LEGAL_NAME
        attributeValue:
          type: string
          description: >-
            A value that the user picked to represent the default value of this
            attribute. The value needs to match with one of the scanned
            documents.
          minLength: 1
          maxLength: 255
          example: BALL,ELLA
    MultiDocumentConfirmedPDS:
      required:
        - pds
        - transactionId
      allOf:
        - $ref: '#/components/schemas/ConfirmedPDS'
        - type: object
          properties:
            conflictAttributes:
              type: array
              description: Conflict Attributes.
              items:
                $ref: '#/components/schemas/ConflictAttributeItem'
    ConflictAttributeItem:
      required:
        - attributeName
        - values
      type: object
      properties:
        attributeName:
          type: string
          description: >
            Conflict Attribute Key. Possible values: LEGAL_NAME, MOTHERS_NAME,
            FATHERS_NAME.
          minLength: 1
          maxLength: 50
          example: LEGAL_NAME
        existingValue:
          type: string
          description: Existing value.
          minLength: 1
          maxLength: 255
          example: Doe, John
        newValue:
          type: string
          description: New value.
          minLength: 1
          maxLength: 255
          example: Doe, John M
    ConfirmedPDS:
      required:
        - pds
        - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: |
            UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 021fea3c-d17c-11ea-87d0-0242ac130003
        pds:
          $ref: '#/components/schemas/PDS'
        fraudDetectionMeta:
          $ref: '#/components/schemas/FraudDetectionMeta'
        eligibleForMobileID:
          type: boolean
          description: Indicates whether user is eligible to enroll with Mobile ID.
          example: false
    MultiDocConfirmData:
      required:
        - documentData
        - userConsent
        - userProfileId
        - countryCode
        - locale
        - pds
      allOf:
        - type: object
          properties:
            pds:
              $ref: '#/components/schemas/PDS'
        - $ref: '#/components/schemas/DocumentVerificationConfirmData'
    DocumentVerificationConfirmData:
      required:
        - documentData
        - userConsent
        - userProfileId
        - countryCode
        - locale
      type: object
      properties:
        sdkAuditEvents:
          type: array
          description: >-
            Array of objects containing a record of any auditable steps
            occurring between the App and the SDK. A call must be made by the TP
            App from the MIDS Audit SDK prior to all API calls, with any audit
            events included in the subsequent call.
          items:
            $ref: '#/components/schemas/AuditEventsItem'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        arid:
          $ref: '#/components/schemas/ARID'
        documentData:
          $ref: '#/components/schemas/ConfirmDocumentData'
        userProfileId:
          type: string
          description: >-
            UUID identifying the user, which the TP App generates using the MIDS
            Core SDK.
          pattern: >-
            ^[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}$
          example: 1f52649e-4096-456a-bca0-751ee4703058
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        locale:
          $ref: '#/components/schemas/Locale'
        fraudDetection:
          $ref: '#/components/schemas/FraudDetection'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        visaMatched:
          type: boolean
          description: >-
            Flag indicating if the documentDetails are to be checked against a
            visa for a particular country.
          example: false
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    UpdateIdentityAttributesData:
      required:
        - pds
        - userConsent
        - identityAttributes
      type: object
      properties:
        identityAttributes:
          description: >-
            Array of attribute name-value pairs, which indicate the users
            preferred values for the attributes listed.
          $ref: '#/components/schemas/IdentityAttributes'
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    ClaimScopes:
      required:
        - pds
        - scopedFields
        - userConsent
      type: object
      properties:
        pds:
          $ref: '#/components/schemas/PDS'
        userConsent:
          $ref: '#/components/schemas/UserConsent'
        scopedFields:
          type: array
          description: >
            Array of enums representing the identity attributes which the TP is
            requesting access to.

            The acceptable values are any/all of: 'all', 'legalName', 'email',
            'phone', 'dateOfBirth', 'driverLicense', 'passport', 'address'
          minItems: 1
          items:
            enum:
              - >-
                all - legalName - email - phone - dateOfBirth - selfie - address
                - ageOver - ageUnder - city - postalCode - subDivision - govtId
                - govtIdDetails - govtIdImage - passportIdentity -
                passportDetails - passportImage - driverLicenseIdentity -
                driverLicenseCardNumber - driverLicenseDetails -
                driverLicenseImage - driverLicenseIssuingState - visaMatched -
                cpf - rgNumber - cnh - mothersName - fathersName
            type: string
            example: all
        tpAuditMetadata:
          $ref: '#/components/schemas/TpAuditMetadata'
        sdkVersion:
          $ref: '#/components/schemas/SdkVersion'
    FraudDetectionScore:
      type: object
      description: An object represents the result of the fraud risk assessment.
      properties:
        value:
          type: integer
          description: The score value. This is 0 for a GREEN result.
          minimum: 0
          example: 0
        band:
          type: string
          description: >-
            The Score Band for the result of the risk assessment.
            GREEN/YELLOW/RED
          minLength: 3
          maxLength: 10
          example: GREEN
        signals:
          type: array
          items:
            type: string
            description: The specific signals which caused the above score band.
            example: anonymous_ip
    FraudDetectionResponseMeta:
      type: object
      description: An object that represents the result of the fraud risk assessment.
      properties:
        score:
          $ref: '#/components/schemas/FraudDetectionScore'
    AuthenticationDecisions:
      required:
        - transactionId
        - status
        - attributes
        - rotatedPds
      type: object
      properties:
        transactionId:
          type: string
          description: A random 128-bit UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        status:
          type: string
          description: Status of the authentication.
          pattern: ^(SUCCESS|FAILURE)$
          minLength: 1
          maxLength: 50
          example: SUCCESS
        attributes:
          type: object
          description: >-
            Keys will be in RetrieveIdentities.scopedFields and data structure
            will be the data object named after the key.
          example:
            legalName:
              aa6dee5a-6e4d-4932-8189-2ecb7ad6f676:
                value: SMITH, JOHN
                lastVerifiedDate: '2022-04-04T02:49:27.915Z'
          additionalProperties: {}
          minLength: 1
        rotatedPds:
          type: string
          description: >-
            A rotated PDS is created and returned when the encryption key
            expires and a new key is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: >-
            ZGZnZGVmZ2RnZGVnZXJnZXJncmRnZXJ5aGdld3J0eWJld3J5dHdleXd5d3l3cmFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFh
    EnterpriseBioAuthToken:
      required:
        - accessToken
      type: object
      properties:
        accessToken:
          type: string
          description: Token to be verified at the enterprise's BIOAPI server
          minLength: 3
          maxLength: 4000
          example: >-
            eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAB3NQQpCMQwE0Lt0baBJ0yZ159KtN0jTBgTBjYgg3t3__3KGN8w3rc_llc4JG6KUhrmoYjolc7_OvWfPKJ2hUzNgagE2hcC5hsYIUeOdH7gStVr6AtElwNUcrBNDFppYMjqxb9hvKzb9fNzfa4_HVkORomdoggsYp8HgPqAWF43VtsOcfn_stx4UsAAAAA.tDRVowYYcpQ03Vlt7D3MiovleiyRFQMv4qzXb7Lf_6CarphRrlWXan8-jE-YesNiAiT8tk0b-i8TKHGrcgT1VQ
        enterpriseUserId:
          type: string
          description: The enterprise user UUID
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
    ClaimIdentities:
      required:
        - claims
        - pds
        - rpSpecificIdentifier
        - transactionId
        - fraudDetectionMeta
      type: object
      properties:
        claims:
          type: object
          description: >-
            Keys will be the scopes that come as part of the request and data
            the structure will be the data object named after the key.
          example:
            driverLicense.firstName: John
            driverLicense.lastName: Doe
          additionalProperties: {}
        transactionId:
          type: string
          description: UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        rpSpecificIdentifier:
          type: string
          description: RP identifier.
          minLength: 64
          maxLength: 64
          example: 46eb72430ffeca3daf31360264fa0424ba4facfdcb69c6f43e73063f290a75a8
        pds:
          $ref: '#/components/schemas/PDS'
        fraudDetectionMeta:
          $ref: '#/components/schemas/FraudDetectionResponseMeta'
    ErrorResponse:
      required:
        - Errors
      type: object
      description: The error response model used by all the API endpoints.
      properties:
        Errors:
          required:
            - Error
          type: object
          description: The error response model used by all the API endpoints.
          properties:
            Error:
              type: array
              description: A list of Error objects.
              minItems: 1
              items:
                type: object
                properties:
                  Source:
                    type: string
                    description: >-
                      The source of the problem. That is where the error
                      occurred.
                    example: mids
                  ReasonCode:
                    type: string
                    description: A code defining the error, as defined in documentation.
                    example: USER_PROFILE_ID_NOT_FOUND
                  Description:
                    type: string
                    description: >-
                      A description of this specific occurrence of the Reason
                      code.
                    example: The provided user profile ID does not exist.
                  Recoverable:
                    type: boolean
                    description: >-
                      Whether or not retrying this request could result in a
                      successful response.
                    example: false
                  Details:
                    type: string
                    description: >-
                      More details of this specific error. This is an optional
                      field and is sometimes used to give a more comprehensive
                      description of the error that has occurred, when required.
                    example: User X was not found
                  redirectUri:
                    type: string
                    description: TP will use this URI to redirect to RP.
                    pattern: >-
                      ^(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})$
                    example: >-
                      https://sample-rp-redirect-uri.com/?error=invalid_scope&state=AJahbadinvjbdvdnvljkdnvdfhsrbghrtiu4w&ARID=1234&error_description=claim_not_satisfied
    Selfie:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          example: U29tZSBTdHJpbmc=
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    GovtId:
      oneOf:
        - $ref: '#/components/schemas/PassportIdentity'
        - $ref: '#/components/schemas/DriverLicenseIdentity'
    GovtIdDetails:
      oneOf:
        - $ref: '#/components/schemas/PassportDetails'
        - $ref: '#/components/schemas/DriverLicenseDetails'
    GovtIdImage:
      oneOf:
        - $ref: '#/components/schemas/PassportImage'
        - $ref: '#/components/schemas/DriverLicenseImage'
    PassportIdentity:
      type: object
      properties:
        lastName:
          type: string
          description: Last name.
          minLength: 1
          maxLength: 255
          example: Doe
        firstName:
          type: string
          description: First name.
          minLength: 1
          maxLength: 255
          example: John
        dateOfBirth:
          type: string
          description: Date of birth.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
    PassportDetails:
      type: object
      properties:
        expiryDate:
          type: string
          description: Expiry date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        issuingCountry:
          type: string
          description: Country code.
          minLength: 1
          maxLength: 255
          example: USA
        passportNumber:
          type: string
          description: Passport number.
          minLength: 1
          maxLength: 255
          example: 1234567890
    PassportImage:
      type: object
      description: Passport License Images.
      properties:
        front:
          type: string
          description: Value.
          minLength: 1
          example: JH65ghKHG76KS=
    DriverLicenseIdentity:
      type: object
      properties:
        lastName:
          type: string
          description: Last name.
          minLength: 1
          maxLength: 255
          example: Doe
        firstName:
          type: string
          description: First name.
          minLength: 1
          maxLength: 255
          example: John
        dateOfBirth:
          type: string
          description: Date of birth.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
    DriverLicenseCardNumber:
      type: string
      description: Document number.
      minLength: 1
      maxLength: 255
      example: 7435675436
    DriverLicenseDetails:
      properties:
        expiryDate:
          type: string
          description: Expiry date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        issuingCountry:
          type: string
          description: Country code.
          minLength: 1
          maxLength: 255
          example: USA
        documentNumber:
          type: string
          description: Passport number.
          minLength: 1
          maxLength: 255
          example: 1234567890
    DriverLicenseImage:
      type: object
      description: Driver License Images.
      properties:
        front:
          type: string
          description: Value.
          minLength: 1
          example: U29tZSBTdHJpbmc=
        back:
          type: string
          description: Value.
          minLength: 1
          example: YGS75JHSljhs86K=
    VisaMatched:
      type: boolean
      description: >-
        Flag indicating if the documentDetails are to be checked against a visa
        for a particular country.
      example: false
    Cnh:
      allOf:
        - $ref: '#/components/schemas/DriverLicenseCardNumber'
    Cpf:
      type: string
      description: >-
        CPF Number. This will only be available when the Brazilian DL is
        scanned.
      minLength: 1
      maxLength: 255
      example: 12345
    Rg:
      type: string
      description: RG Number. This will only be available when the Brazilian DL is scanned.
      minLength: 1
      maxLength: 255
      example: 12345
    MothersName:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: Jane Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    FathersName:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: Josh Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    LegalName:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: John Doe
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    Email:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: person@mastercard.com
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    Phone:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: 11234567890
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    DateOfBirth:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: string
          description: Value.
          minLength: 1
          maxLength: 255
          example: '1996-07-10T00:00:00.000Z'
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    MobileIdEligibility:
      required:
        - lastVerifiedDate
        - value
      type: object
      properties:
        value:
          type: boolean
          description: Value of whether user is eligible for mobile id enrollment.
          example: true
        lastVerifiedDate:
          type: string
          description: Last verified date and time.
          format: date-time
          example: '2021-02-19T10:55:58.165Z'
    AddressData:
      type: object
      properties:
        addressLine1:
          type: string
          description: Address line 1.
          minLength: 1
          maxLength: 255
          example: 36271 GrandRiver Ave
        addressLine2:
          type: string
          description: Address line 2.
          minLength: 1
          maxLength: 255
          example: Building no 2
        addressZipCode:
          type: string
          description: Zip code.
          minLength: 1
          maxLength: 255
          example: 48335
        addressCity:
          type: string
          description: City.
          minLength: 1
          maxLength: 255
          example: Farmington
        addressSubdivision:
          type: string
          description: >-
            Subdivision of the user address, possible values include county,
            state, province, and municipality.
          minLength: 2
          maxLength: 2
          example: MO
        addressCountry:
          type: string
          description: Country provided in the address from the scanned document.
          minLength: 1
          maxLength: 255
          example: USA
    Address:
      required:
        - lastVerifiedDate
      allOf:
        - $ref: '#/components/schemas/AddressData'
        - type: object
          properties:
            value:
              type: string
              description: Formatted address.
              minLength: 1
              maxLength: 255
              example: 36271 GrandRiver Ave Building no 2 48335 Farmington MI USA
            lastVerifiedDate:
              type: string
              description: Last verified date and time.
              format: date-time
              example: '2021-02-19T10:55:58.165Z'
    BaseEvidenceData:
      type: object
      properties:
        lastName:
          type: string
          description: Last name.
          minLength: 1
          maxLength: 255
          example: Doe
        firstName:
          type: string
          description: First name.
          minLength: 1
          maxLength: 255
          example: John
        dateOfBirth:
          type: string
          description: Date of birth.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        issuingCountry:
          type: string
          description: Country code.
          minLength: 1
          maxLength: 255
          example: USA
        issuingDate:
          type: string
          description: Issuing date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        expiryDate:
          type: string
          description: Expiry date.
          minLength: 10
          maxLength: 10
          example: '1996-07-10T00:00:00.000Z'
        gender:
          type: string
          description: M/F.
          example: M
          minLength: 1
          maxLength: 1
        fathersName:
          type: string
          description: >-
            Father's Name. This will only be available when the Brazilian DL is
            scanned. scanned.
          minLength: 1
          maxLength: 255
          example: John Smith
        mothersName:
          type: string
          description: >-
            Mother's Name. This will only be available when the Brazilian DL is
            scanned.
          minLength: 1
          maxLength: 255
          example: Paula Smith
    Authentications:
      required:
        - transactionId
        - apiDataCenter
        - sdkToken
      type: object
      properties:
        transactionId:
          type: string
          description: A random 128-bit UUID represents the MIDS transaction.
          minLength: 36
          maxLength: 36
          example: 1ec14310-e85c-11ea-adc1-0242ac120002
        apiDataCenter:
          type: string
          description: >-
            Identity verification vendor SDK datacenter to be used by API.
            Possible values.
          example: SG
          minLength: 1
          maxLength: 2
        sdkToken:
          type: string
          description: Passed into the MIDS verification SDK for authentication.
          minLength: 1
          maxLength: 400
          example: >-
            eyJhbGciOiJIUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAB3NQQpCMQwE0Lt0baBJ0yZ159KtN0jTBgTBjYgg3t3__3KGN8w3rc_llc4JG6KUhrmoYjolc7_OvWfPKJ2hUzNgagE2hcC5hsYIUeOdH7gStVr6AtElwNUcrBNDFppYMjqxb9hvKzb9fNzfa4_HVkORomdoggsYp8HgPqAWF43VtsOcfn_stx4UsAAAAA.tDRVowYYcpQ03Vlt7D3MiovleiyRFQMv4qzXb7Lf_6CarphRrlWXan8-jE-YesNiAiT8tk0b-i8TKHGrcgT1VQ
        privacyPolicyVersion:
          type: string
          description: >-
            The version of the privacy policy which the API call is being
            conducted under, this can be retrieved from the MIDS Core SDK.
          minLength: 1
          maxLength: 20
          example: 1.0.0
        privacyPolicyUrl:
          type: string
          description: Privacy policy static URL.
          minLength: 1
          maxLength: 255
          example: >-
            https://www.mastercard.us/en-us/vision/corp-responsibility/commitment-to-privacy/privacy.html
        privacyPolicyVersionUpdated:
          type: boolean
          description: Flag indicating if the privacy policy has been updated.
          example: true
        rotatedPds:
          type: string
          description: >-
            A rotated PDS is created and returned when the encryption key
            expires and a new key is generated.
          pattern: ^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$
          minLength: 1
          example: >-
[...]
