openapi: 3.0.3
info:
  title: Mastercard Business Payment Controls
  version: 1.0.0
  description: >-
    Business Payment Controls is an application programming interface (API)
    based solution that simplifies business payments by using configurable
    controls to limit spending on real and virtual cards, while allowing finance
    teams to reconcile payments using transaction-level reporting.
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
servers:
  - url: https://apiedge.mastercard.com/commercial
    description: Production Server
  - url: https://sandbox.apiedge.mastercard.com/commercial
    description: Sandbox Server
tags:
  - name: Entities
    description: >-
      Entities Search - Fetch entity identifiers which can be used to register
      Real Cards at the appropriate hierarchy level
  - name: Real Card
    description: >-
      Real Card Operations - Registering a card, updating, deleting or searching
      registered real cards.
  - name: Contact
    description: >-
      Contact Operations - Linking a contact to a card, updating, deleting or
      searching for contacts associated with real cards.
  - name: Funding Source
    description: >-
      Funding Source Operations - Creating a funding source with controls,
      updating, deleting or retrieving controls associated with a funding
      source.
  - name: Virtual Card
    description: >-
      Virtual Card Operations - Generating a VCN with controls, updating,
      deleting or searching created virtual cards.
  - name: Custom Data Fields
    description: >-
      Custom Data Fields (CDF) Operations - Create, read, update, delete and 
      search custom data fields entries attached to an issuer or a corporate and
      linked to a particular card (real or virtual) for reporting. against the
      RCN/VCN.
  - name: Authorization Report
    description: >-
      Authorization Report Operations - Creating an Authorization Report that
      lists the authorizations that have occurred against the RCN/VCN or
      retrieving reports previously created.
  - name: Clearing Report
    description: >-
      Clearing Report Operations - Creating a Clearing Report that list details
      of the transactions that have been cleared against the RCN/VCN or
      retrieving reports previously created.
  - name: Clearing Summary Report
    description: >-
      Clearing Summary Report Operations - Creating a Clearing Summary Report
      that will list summary details of transactions that have been cleared
      against the RCN
  - name: Retail Api Migration
    description: >-
      Retail Api Migration Operations - Migrating real and virtual cards from
      Retail API to Business Payment Controls.
paths:
  /real-card-accounts:
    post:
      tags:
        - Card
        - Accounts
      summary: Registering a real card
      description: This endpoint allows users to register a real card account
      operationId: addRealCard
      requestBody:
        $ref: '#/components/requestBodies/RealCardAccount'
      responses:
        '201':
          $ref: '#/components/responses/RealCardAccount'
        '400':
          $ref: '#/components/responses/RealCardBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /real-card-accounts/searches:
    post:
      tags:
        - Card
        - Accounts
        - Searches
      summary: Retrieve real card account details
      description: >-
        This endpoint allows users to search for real card accounts using
        various search parameters
      operationId: searchRealCards
      requestBody:
        $ref: '#/components/requestBodies/RealCardAccountSearch'
      responses:
        '200':
          $ref: '#/components/responses/RealCardSearch'
        '400':
          $ref: '#/components/responses/CardSearchBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /real-card-accounts/{account_guid}:
    get:
      tags:
        - Card
        - Accounts
        - Real  Card
      summary: Retrieve card account details by AccountGuid
      description: >-
        This endpoint allows users to retrieve details of a particular card
        account by using the account_guid
      operationId: getRealCardByGuid
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
        - $ref: '#/components/parameters/unmasked_account_number'
      responses:
        '200':
          $ref: '#/components/responses/RealCardDetails'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
    put:
      tags:
        - Card
        - Accounts
        - Real  Card
      operationId: updateRealCardByGuid
      summary: Update card account
      description: >-
        This endpoint allows users to update different attributes of an existing
        card account. This endpoint can be used for use cases like updating the
        expiry date or name on card.
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
      requestBody:
        $ref: '#/components/requestBodies/RealCardAccountUpdate'
      responses:
        '200':
          $ref: '#/components/responses/RealCardAccountUpdate'
        '400':
          $ref: '#/components/responses/RealCardBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
    delete:
      tags:
        - Card
        - Accounts
        - Real  Card
      summary: Delete card account
      description: >-
        This endpoint allows users to delete details of a particular card
        account by using the account_guid
      operationId: deleteRealCardByGuid
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
  /virtual-card-accounts:
    post:
      tags:
        - Virtual
        - Card
        - Accounts
      summary: Registering a virtual card
      description: This endpoint allows users to register a virtual card account
      operationId: addVirtualCard
      requestBody:
        $ref: '#/components/requestBodies/VirtualCardAccountCreation'
      responses:
        '201':
          $ref: '#/components/responses/VirtualCardAccount'
        '400':
          $ref: '#/components/responses/VirtualCardBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /virtual-card-accounts/searches:
    post:
      tags:
        - Virtual
        - Card
        - Accounts
        - Searches
      summary: Retrieve virtual card account details
      description: >-
        This endpoint allows users to search for virtual card accounts using
        various search parameters
      operationId: searchVirtualCards
      requestBody:
        $ref: '#/components/requestBodies/VirtualCardAccountSearch'
      responses:
        '200':
          $ref: '#/components/responses/VirtualCardSearch'
        '400':
          $ref: '#/components/responses/CardSearchBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /funding-sources:
    post:
      tags:
        - Funding
        - Sources
      summary: Registering a funding source
      description: This endpoint allows users to register a funding source
      operationId: addFundingSource
      requestBody:
        $ref: '#/components/requestBodies/FundingSource'
      responses:
        '201':
          $ref: '#/components/responses/FundingSource'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /funding-sources/searches:
    post:
      tags:
        - Funding
        - Sources
        - Searches
      operationId: searchFundingSource
      summary: Retrieve funding source details
      description: >-
        This endpoint allows users to search for funding sources using various
        search parameters
      requestBody:
        $ref: '#/components/requestBodies/FundingSourceSearch'
      responses:
        '200':
          $ref: '#/components/responses/FundingSourceSearch'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
  /funding-sources/{funding_source_guid}:
    get:
      tags:
        - Funding
        - Sources
        - Funding  Source
      summary: Retrieve funding source details
      description: >-
        This endpoint allows users to retrieve details of a particular funding
        source by using the funding_source_guid
      operationId: getFundingSourceByGuid
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '200':
          $ref: '#/components/responses/FundingSourceDetails'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
    put:
      tags:
        - Funding
        - Sources
        - Funding  Source
      summary: Update funding source
      description: >-
        This endpoint allows users to update different attributes of an existing
        funding source.
      operationId: updateFundingSourceByGuid
      requestBody:
        $ref: '#/components/requestBodies/FundingSource'
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '200':
          $ref: '#/components/responses/FundingSourceDetails'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
    delete:
      tags:
        - Funding
        - Sources
        - Funding  Source
      summary: Delete funding source
      description: >-
        This endpoint allows users to delete details of a particular funding
        source by using the funding_source_guid
      operationId: deleteFundingSourceByGuid
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
  /funding-sources/{funding_source_guid}/status:
    put:
      tags:
        - Funding
        - Sources
        - Status
      summary: Update funding source status
      description: This endpoint allows users to update the status of a funding source.
      operationId: updateFundingSourceStatusByGuid
      requestBody:
        $ref: '#/components/requestBodies/FundingSourceStatusUpdate'
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '200':
          $ref: '#/components/responses/FundingSourceStatus'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
  /virtual-card-accounts/{account_guid}:
    delete:
      tags:
        - Virtual
        - Card
        - Accounts
        - Virtual  Card
      summary: Delete virtual card
      description: >-
        This endpoint allows users to delete a created virtual card account by
        using the account guid.
      operationId: deleteVirtualCardByGuid
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/VirtualCardNotFoundError'
    get:
      tags:
        - Virtual
        - Card
        - Accounts
        - Virtual  Card
      summary: Retrieve virtual card account details
      description: >-
        This endpoint allows users to retrieve details of a particular virtual
        card account by using the account_guid
      operationId: getVirtualCardByGuid
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
        - $ref: '#/components/parameters/unmasked_account_number'
      responses:
        '200':
          $ref: '#/components/responses/VirtualCardDetails'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/VirtualCardNotFoundError'
    put:
      tags:
        - Virtual
        - Card
        - Accounts
        - Virtual  Card
      summary: Update virtual card account
      description: >-
        This endpoint allows users to update different attributes of an existing
        virtual card account
      operationId: updateVirtualCardByGuid
      requestBody:
        $ref: '#/components/requestBodies/VirtualCardAccountUpdate'
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '200':
          $ref: '#/components/responses/VirtualCardDetails'
        '400':
          $ref: '#/components/responses/VirtualCardBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/VirtualCardNotFoundError'
  /virtual-card-accounts/{account_guid}/status:
    put:
      tags:
        - Virtual
        - Card
        - Accounts
        - Status
      summary: Update virtual card status
      description: This endpoint allows users to update the status of a virtual card.
      operationId: updateVirtualCardStatusByGuid
      requestBody:
        $ref: '#/components/requestBodies/VirtualCardStatusUpdate'
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '200':
          $ref: '#/components/responses/VirtualCardAccountStatus'
        '400':
          $ref: '#/components/responses/BadStatusRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/VirtualCardNotFoundError'
  /virtual-card-accounts/{account_guid}/end-user:
    post:
      tags:
        - Virtual
        - Card
        - Accounts
        - User
      summary: Registering end user contact details linked to a virtual card
      description: >-
        This endpoint allows users to provision a virtual card account and use
        it via mobile
      operationId: createVirtualCardEndUser
      requestBody:
        $ref: '#/components/requestBodies/AccountEndUser'
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '201':
          $ref: '#/components/responses/AccountEndUserCreated'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
    get:
      tags:
        - Virtual
        - Card
        - Accounts
        - User
      summary: Retrieve end user contact details for a virtual card
      description: >-
        This endpoint allows users to retrieve details for an existing
        provisioned virtual card account
      operationId: getVirtualCardEndUser
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '200':
          $ref: '#/components/responses/AccountEndUser'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
    put:
      tags:
        - Virtual
        - Card
        - Accounts
        - User
      summary: Update end user contact details for a virtual card
      description: >-
        This endpoint allows users to update different attributes for an
        existing provisioned virtual card account
      operationId: updateVirtualCardEndUser
      requestBody:
        $ref: '#/components/requestBodies/AccountEndUser'
      parameters:
        - $ref: '#/components/parameters/vc_account_guid'
      responses:
        '200':
          $ref: '#/components/responses/AccountEndUser'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
  /real-card-accounts/{account_guid}/contacts:
    post:
      tags:
        - Card
        - Accounts
        - Contacts
      summary: Register a new contact linked to a real card
      description: This endpoint allows users to register a contact
      operationId: addContact
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
      requestBody:
        $ref: '#/components/requestBodies/Contact'
      responses:
        '201':
          $ref: '#/components/responses/Contact'
        '400':
          $ref: '#/components/responses/ContactBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
    get:
      tags:
        - Card
        - Accounts
        - Contacts
      summary: Retrieve all contact details under a real card account
      description: >-
        This endpoint allows users to retrieve details of all contacts under a
        real card account by using the account_guid
      operationId: getRealCardContacts
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/page_length'
      responses:
        '200':
          $ref: '#/components/responses/Contacts'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
  /real-card-accounts/{account_guid}/contacts/{contact_guid}:
    get:
      tags:
        - Card
        - Accounts
        - Contacts
        - Guid
      summary: Retrieve contact details
      description: >-
        This endpoint allows users to retrieve details of a particular contact
        associated with a card by using the account guid and the contact guid.
      operationId: getContactByGuid
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
        - $ref: '#/components/parameters/contact_guid'
      responses:
        '200':
          $ref: '#/components/responses/ContactDetails'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
    put:
      tags:
        - Card
        - Accounts
        - Contacts
        - Guid
      operationId: updateContactByGuid
      summary: Update a contact
      description: >-
        This endpoint allows users to update different attributes of an existing
        contact using the account_guid and the contact_guid
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
        - $ref: '#/components/parameters/contact_guid'
      requestBody:
        $ref: '#/components/requestBodies/UpdatedContact'
      responses:
        '200':
          $ref: '#/components/responses/UpdatedContactDetails'
        '400':
          $ref: '#/components/responses/ContactBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
    delete:
      tags:
        - Card
        - Accounts
        - Contacts
        - Guid
      operationId: deleteContactByGuid
      summary: Delete a contact
      description: >-
        This endpoint allows users to delete details of a particular contact by
        using the account_guid and the contact_guid
      parameters:
        - $ref: '#/components/parameters/rc_account_guid'
        - $ref: '#/components/parameters/contact_guid'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/RealCardNotFoundError'
  /funding-sources/{funding_source_guid}/controls:
    post:
      tags:
        - Funding
        - Sources
        - Controls
      summary: Register controls to a funding source
      description: This endpoint allows users to register controls to a funding source
      operationId: addFundingSourceControls
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      requestBody:
        $ref: '#/components/requestBodies/SimpleControl'
      responses:
        '201':
          $ref: '#/components/responses/SimpleControl'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
    put:
      tags:
        - Funding
        - Sources
        - Controls
      summary: Update controls linked to a funding source
      description: >-
        This endpoint allows users to update existing controls linked to a
        funding source.
      operationId: updateFundingSourceControls
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      requestBody:
        $ref: '#/components/requestBodies/SimpleControl'
      responses:
        '200':
          $ref: '#/components/responses/SimpleControlDetails'
        '400':
          $ref: '#/components/responses/FundingSourceBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
    delete:
      tags:
        - Funding
        - Sources
        - Controls
      summary: Delete controls linked to a funding source
      description: >-
        This endpoint allows users to delete controls linked to a funding source
        by using the funding_source_guid
      operationId: deleteFundingSourceControlsByGuid
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
    get:
      tags:
        - Funding
        - Sources
        - Controls
      summary: Retrieve controls linked to a funding source
      description: >-
        This endpoint allows users to retrieve existing controls linked to a
        funding source by using the funding source guid.
      operationId: getFundingSourceControlsByGuid
      parameters:
        - $ref: '#/components/parameters/funding_source_guid'
      responses:
        '200':
          $ref: '#/components/responses/SimpleControlDetails'
        '400':
          $ref: '#/components/responses/AccountBadRequestError'
        '401':
          $ref: '#/components/responses/AccountUnauthorizedError'
        '403':
          $ref: '#/components/responses/AccountForbiddenError'
        '404':
          $ref: '#/components/responses/FundingSourceNotFoundError'
  /authorization-reports:
    post:
      description: >-
        This endpoint allows users to create an authorization report that lists
        the authorizations that have occurred against the RCN/VCN within the
        time period specified.
      summary: Create an Authorization Report
      operationId: createAuthorizationReport
      tags:
        - Authorization
        - Reports
      requestBody:
        $ref: '#/components/requestBodies/AuthorizationReport'
      responses:
        '201':
          $ref: '#/components/responses/AuthorizationReportStatus'
        '400':
          $ref: '#/components/responses/ReportingServiceBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    get:
      description: >-
        This endpoint allows users to retrieve status of all created RCN/VCN
        authorizations reports.
      summary: Get all Authorization Reports Status
      operationId: getAuthorizationReports
      tags:
        - Authorization
        - Reports
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationReport'
        '400':
          $ref: '#/components/responses/PaginationOffSetBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /authorization-reports/{guid}:
    get:
      description: >-
        This endpoint allows users to retrieve status of a previously created
        RCN/VCN Authorization Report by using the GUID.
      summary: Get Authorization Report Status By GUID
      operationId: getAuthorizationReportByGuid
      tags:
        - Authorization
        - Reports
        - Authorization  Report
      parameters:
        - $ref: '#/components/parameters/guid'
      responses:
        '200':
          $ref: '#/components/responses/AuthorizationReportSummary'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /authorization-reports/{guid}/data:
    get:
      description: >-
        This endpoint allows users to fetch data from the previously created
        Authorisation Report. Authorisation Report data is returned paginated.
      summary: Fetch Authorization Report Data
      operationId: getAuthorizationReportContent
      tags:
        - Authorization
        - Reports
        - Data
      parameters:
        - $ref: '#/components/parameters/guid'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datalimit'
      responses:
        '200':
          $ref: '#/components/responses/Authorization'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /clearing-reports:
    post:
      description: >-
        This endpoint allows users to create a clearing report that list details
        of the transactions that have been cleared against the RCN or VCN within
        the time period specified.
      summary: Create a Clearing Report
      operationId: createClearingReport
      tags:
        - Clearing
        - Reports
      requestBody:
        $ref: '#/components/requestBodies/ClearingReport'
      responses:
        '201':
          $ref: '#/components/responses/ClearingReport'
        '400':
          $ref: '#/components/responses/ReportingServiceBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    get:
      description: >-
        This endpoint allows users to retrieve status of previously created
        RCN/VCN Clearing Reports.
      summary: Get all Clearing Reports Status
      operationId: getClearingReports
      tags:
        - Clearing
        - Reports
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ClearingReportSummaryList'
        '400':
          $ref: '#/components/responses/PaginationOffSetBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /clearing-reports/{guid}:
    get:
      description: >-
        This endpoint allows users to retrieve status of a previously created
        RCN/VCN Clearing Report by using the GUID.
      summary: Get Clearing Report Status By GUID
      operationId: getClearingReportByGuid
      tags:
        - Clearing
        - Reports
        - Clearing  Report
      parameters:
        - $ref: '#/components/parameters/guid'
      responses:
        '200':
          $ref: '#/components/responses/ClearingReportSummary'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /clearing-reports/{guid}/data:
    get:
      description: >-
        This endpoint allows users to fetch data for a previously created
        Clearing Report. Clearing Report data is returned paginated.
      summary: Fetch Clearing Report Data
      operationId: getClearingReportContent
      tags:
        - Clearing
        - Reports
        - Data
      parameters:
        - $ref: '#/components/parameters/guid'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datalimit'
      responses:
        '200':
          $ref: '#/components/responses/Clearing'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /clearing-summary-reports:
    post:
      description: >-
        This endpoint allows users to create a Clearing Summary Report that will
        list summary details of transactions that have been cleared against the
        RCN within the time period specified.
      summary: Create a Clearing Summary Report
      operationId: createClearingSummaryReport
      tags:
        - Clearing
        - Summaries
        - Reports
      requestBody:
        $ref: '#/components/requestBodies/ClearingSummaryReport'
      responses:
        '201':
          $ref: '#/components/responses/ClearingSummaryReportStatus'
        '400':
          $ref: '#/components/responses/ReportingServiceBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
    get:
      description: >-
        This endpoint allows users to retrieve status of all previously created
        RCN Clearing Summary Reports.
      summary: Get all Clearing Summary Reports Status
      operationId: getClearingSummaryReports
      tags:
        - Clearing
        - Summaries
        - Reports
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/ClearingSummaryReportSummaryList'
        '400':
          $ref: '#/components/responses/PaginationOffSetBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /clearing-summary-reports/{guid}:
    get:
      description: >-
        This endpoint allows users to retrieve status of a previously created
        RCN Clearing Summary Report by using the GUID.
      summary: Get Clearing Summary Report status by GUID
      operationId: getClearingSummaryReportByGuid
      tags:
        - Clearing
        - Summaries
        - Reports
        - Clearing  Summary  Report
      parameters:
        - $ref: '#/components/parameters/guid'
      responses:
        '200':
          $ref: '#/components/responses/ClearingSummaryReportSummary'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /clearing-summary-reports/{guid}/data:
    get:
      description: >-
        This endpoint allows users to fetch data for a previously created
        clearing summary report. Clearing summary report data is returned
        paginated.
      summary: Fetch Clearing Summary Report Data
      operationId: getClearingSummaryReportContent
      tags:
        - Clearing
        - Summaries
        - Reports
        - Data
      parameters:
        - $ref: '#/components/parameters/guid'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/datalimit'
      responses:
        '200':
          $ref: '#/components/responses/ClearingSummary'
        '400':
          $ref: '#/components/responses/GuidInvalidBadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /custom-data:
    post:
      tags:
        - Custom
        - Data
      summary: Creating a Custom Data collection
      description: >-
        This endpoint allows users to create custom data. Do not use PII data as
        part of custom data field value.
      operationId: createCustomData
      requestBody:
        $ref: '#/components/requestBodies/CustomData'
      responses:
        '201':
          $ref: '#/components/responses/CustomData'
        '400':
          $ref: '#/components/responses/CustomDataBadRequestError'
  /custom-data/{custom_data_guid}:
    get:
      tags:
        - Custom
        - Data
        - Custom  Data  Fields
      summary: Retrieve Custom Data details
      description: >-
        This endpoint allows users to retrieve details of a previously created 
        custom data collection by using the custom_data_guid. Do not use PII
        data as part of custom data field value.
      operationId: getCustomDataByCustomDataGuid
      parameters:
        - $ref: '#/components/parameters/custom_data_guid'
      responses:
        '200':
          $ref: '#/components/responses/CustomData'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
    put:
      tags:
        - Custom
        - Data
        - Custom  Data  Fields
      summary: Update a custom data collection
      description: >-
        This endpoint allows users to update an existing custom data collection.
        Do not use PII data as part of custom data field value.
      operationId: updateCustomDataByCustomDataGuid
      parameters:
        - $ref: '#/components/parameters/custom_data_guid'
      requestBody:
        $ref: '#/components/requestBodies/CustomData'
      responses:
        '200':
          $ref: '#/components/responses/CustomData'
        '400':
          $ref: '#/components/responses/CustomDataBadRequestError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
    delete:
      tags:
        - Custom
        - Data
        - Custom  Data  Fields
      summary: Delete a custom data collection
      description: >-
        This endpoint allows users to delete a custom data collection  by using
        the custom_data_guid
      operationId: deleteCustomDataByCustomDataGuid
      parameters:
        - $ref: '#/components/parameters/custom_data_guid'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
  /custom-data/searches:
    post:
      tags:
        - Custom
        - Data
        - Searches
      summary: Retrieve Custom Data details
      description: >-
        This endpoint allows users to search for  custom data using various
        search parameters
      operationId: searchCustomData
      requestBody:
        $ref: '#/components/requestBodies/CustomDataSearch'
      responses:
        '200':
          $ref: '#/components/responses/CustomDataSearch'
        '400':
          $ref: '#/components/responses/CustomDataBadRequestError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
  /retail-account-migrations:
    post:
      tags:
        - Retail
        - Accounts
        - Migrations
      summary: Migrating RCNs and VCNs from Retail API
      description: >-
        This endpoint allows users to fetch GUIDs for RCNs and VCNs that were
        created in Retail API.
      operationId: migrateRetailApiRecord
      requestBody:
        $ref: '#/components/requestBodies/RetailApiMigration'
      responses:
        '200':
          $ref: '#/components/responses/RetailApiMigration'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
  /entities/user-entity:
    get:
      tags:
        - Users
      operationId: getEntity
      summary: Get the API users entity identifier.
      description: >-
        This endpoint allows users to fetch the identifier (GUID) of the entity
        that their account is associated with.
      responses:
        '200':
          $ref: '#/components/responses/Entity'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
  /entities/{guid}/descendants:
    get:
      tags:
        - Guid
        - Descendants
      operationId: getDescendants
      summary: Get the descendant entity identifiers for a given entity.
      description: >-
        This endpoint allows users to fetch the identifier (GUID) of any
        descendant entities that their account is associated with, so that Real
        Cards can be registered with the appropriate entity.
      parameters:
        - $ref: '#/components/parameters/descendents_guid'
        - $ref: '#/components/parameters/entity_type'
        - $ref: '#/components/parameters/entity_guid'
        - $ref: '#/components/parameters/entity_name'
        - $ref: '#/components/parameters/entity_status'
        - $ref: '#/components/parameters/ica'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EntitySearchResource'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/ResourceNotFoundError'
components:
  examples:
    NewRealCardAccount:
      summary: Register New Real Card Account
      value:
        expiry: 2031-11
        applicationSource: bpc
        nameOnCard: John Doe
        ownerGuid: >-
          SENTTY13379505AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA76AD402DE1519037869
        authorizationControlsEnabled: true
        accountNumber: '5569507890123457042'
        unmaskedAccountNumber: true
    ReplaceRealCardAccount:
      summary: Replace Real Card Account
      value:
        expiry: 2031-11
        applicationSource: bpc
        nameOnCard: John Doe
        ownerGuid: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        authorizationControlsEnabled: true
        replacedAccountGuid: >-
          0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        replacedAccountReason: LOST
        accountNumber: 5234567890123457000
        unmaskedAccountNumber: true
    virtualCardWithComplexRuleRequest:
      summary: Virtual Card With Complex Rules
      value:
        expiry: 2024-11
        fundingSourceGuid: >-
          0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        unmaskedAccountNumber: true
        rules:
          inControlRules:
            - action: APPROVE
              alias: Virtual Card Complex Rules
              velocities:
                - maxTrans: 12
                  cumulativeLimit: 1200
                  period: DAILY
                  currencyType: MERCHANT
                  currencyCode: '100'
                  negate: true
              validityPeriods:
                - from: '2030-08-01T00:00:00.000Z'
                  to: '2035-12-31T00:00:00.000Z'
                  strictPreAuthCheck: true
                  negate: false
              acceptorIds:
                - negate: false
                  acceptors:
                    - acceptorId: '123451234512344'
                      acquirerId: '123123'
              merchantNames:
                - negate: true
                  merchantNames:
                    - Amazon
        customDataGuid: >-
          0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
    virtualCardWithSimpleRuleRequest:
      summary: Virtual Card With Simple Rules
      value:
        expiry: 2024-11
        fundingSourceGuid: >-
          0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        unmaskedAccountNumber: true
        rules:
          accountControl:
            action: APPROVE
            alias: Virtual Card Simple Rules
            dailyLimit:
              cardAmount: 500
              authorisationCount: 10
            quarterlyLimit:
              cardAmount: 500
              authorisationCount: 10
            merchantCategoryCodes:
              negate: false
              mccs:
                - '3001'
                - '3005'
        customDataGuid: >-
          0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
    virtualCardWithComplexRuleResponse:
      summary: Virtual Card With Complex Rules
      value:
        accountGuid: >-
          0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        expiry: 2024-11
        billingCurrency: '826'
        billingCurrencyAlphabetic: GBP
        active: true
        createdDate: '2020-10-06T11:09:42.000Z'
        lastUpdateDate: '2020-10-06T11:09:42.000Z'
        fundingSourceGuid: >-
          0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        ownerGuid: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        cvc: '123'
        rules:
          inControlRules:
            - action: APPROVE
              alias: Virtual Card Complex Rules
              velocities:
                - maxTrans: 12
                  cumulativeLimit: 1200
                  period: DAILY
                  availableBalance: 1200
                  currencyType: MERCHANT
                  currencyCode: '100'
                  endDate: '2020-10-06T11:09:42.000Z'
                  negate: true
              validityPeriods:
                - from: '2030-08-01T00:00:00.000Z'
                  to: '2035-12-31T00:00:00.000Z'
                  strictPreAuthCheck: true
                  negate: false
              acceptorIds:
                - negate: false
                  acceptors:
                    - acceptorId: '123451234512344'
                      acquirerId: '123123'
              merchantNames:
                - negate: true
                  merchantNames:
                    - Amazon
        accountNumber: XXXXXXXXXXXXXX6789
        customDataGuid: >-
          0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
    virtualCardWithSimpleRuleResponse:
      summary: Virtual Card With Simple Rules
      value:
        accountGuid: >-
          0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        expiry: 2024-11
        billingCurrency: '826'
        billingCurrencyAlphabetic: GBP
        active: true
        createdDate: '2020-10-06T11:09:42.000Z'
        lastUpdateDate: '2020-10-06T11:09:42.000Z'
        fundingSourceGuid: >-
          0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        ownerGuid: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        cvc: '123'
        rules:
          accountControl:
            action: APPROVE
            alias: Virtual Card Simple Rules
            dailyLimit:
              cardAmount: 500
              availableBalance: 500
              authorisationCount: 10
            quarterlyLimit:
              cardAmount: 500
              availableBalance: 500
              authorisationCount: 10
            merchantCategoryCodes:
              negate: false
              mccs:
                - '3001'
                - '3005'
        accountNumber: '5995028501267659'
        customDataGuid: >-
          0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
    simpleRulesResponse:
      summary: Simple Control Rules
      value:
        accountControl:
          action: APPROVE
          alias: Account Service Rule
          monthlyLimit:
            cardAmount: 500
            availableBalance: 500
            authorisationCount: 10
          dailyLimit:
            cardAmount: 500
            availableBalance: 500
            authorisationCount: 10
          geographies:
            countryCodes:
              - '076'
              - '724'
              - '788'
            negate: false
          merchantCategoryCodes:
            mccs:
              - '3001'
            negate: false
          startDate: '2020-10-06T11:09:42.000Z'
          endDate: '2021-10-06T11:09:42.000Z'
    complexRulesResponse:
      summary: Complex Control Rules
      value:
        inControlRules:
          action: APPROVE
          alias: Control Alias 1
          velocities:
            maxTrans: '12'
            cumulativeLimit: '1200'
            period: DAILY
            availableBalance: '1200'
            currencyType: MERCHANT
            currencyCode: '100'
            endDate: '2023-11-29T23:59:59.000Z'
            negate: true
          validityPeriods:
            from: '2030-08-01T00:00:00.000Z'
            to: '2035-12-31T00:00:00.000Z'
            strictPreAuthCheck: true
            negate: false
          merchantCategoryCodes:
            negate: false
            mccs:
              - '3001'
              - '3005'
          merchantNames:
            negate: true
            merchantNames:
              - Amazon
          approveControl:
            negate: true
  schemas:
    RealCardAccount:
      description: Real Card Account
      required:
        - nameOnCard
        - accountNumber
        - ownerGuid
      allOf:
        - $ref: '#/components/schemas/RealCardAccountDetails'
        - type: object
          required:
            - nameOnCard
            - accountNumber
            - ownerGuid
          properties:
            accountNumber:
              maxLength: 19
              minLength: 12
              pattern: ^[0-9]*$
              type: string
              description: >-
                The account number. For a card account this is the associated
                real card number.
              example: '5569507890123457042'
            unmaskedAccountNumber:
              type: boolean
              description: Defines if account number displayed should be unmasked.
              example: true
              writeOnly: true
    RealCardAccountDetails:
      description: Real Card Account Details
      required:
        - nameOnCard
        - ownerGuid
      allOf:
        - $ref: '#/components/schemas/RCAccountGuid'
        - $ref: '#/components/schemas/CardAccount'
        - type: object
          required:
            - nameOnCard
            - ownerGuid
          properties:
            nameOnCard:
              maxLength: 100
              minLength: 1
              type: string
              pattern: .*\S.*
              description: Name on the card
              example: John Doe
            ownerGuid:
              maxLength: 100
              minLength: 1
              type: string
              pattern: ^[A-Za-z0-9_=-]+$
              description: >-
                The globally unique identifier of the entity under which the
                card is registered. The ownerGUID is the same as the Issuer GUID
                or Corp GUID.
              example: >-
                SENTTY13379505AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA76AD402DE1519037869
            authorizationControlsEnabled:
              type: boolean
              description: Defines if card controls should be enabled
              example: true
            replacedAccountGuid:
              maxLength: 100
              minLength: 1
              type: string
              description: >-
                The globally unique identifier of the card account that should
                be replaced
              example: >-
                0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
            replacedAccountReason:
              minLength: 1
              maxLength: 30
              type: string
              description: >-
                Reason to replace the card; valid values are LOST, STOLEN, and
                REPLACED.
              example: LOST
              pattern: ^(LOST|STOLEN|REPLACED)
    VirtualCardAccount:
      description: Virtual card account object containing detailed information
      allOf:
        - $ref: '#/components/schemas/VirtualCardAccountDetails'
        - type: object
          properties:
            cvc:
              minLength: 3
              type: string
              description: Card Verification Code.
              readOnly: true
              example: '123'
            rules:
              $ref: '#/components/schemas/VirtualCardControl'
            transactionTolerances:
              type: array
              description: Transaction tolerance for currencies
              items:
                $ref: '#/components/schemas/TransactionTolerance'
            unmaskedAccountNumber:
              type: boolean
              description: Defines if account number displayed should be unmasked.
              example: true
              writeOnly: true
            accountNumber:
              maxLength: 19
              minLength: 12
              pattern: ^[0-9]*$
              type: string
              description: >-
                The account number. For a card account this is the associated
                virtual card number.
              example: '523456789123456789'
              readOnly: true
            customDataGuid:
              maxLength: 100
              minLength: 1
              pattern: ^[A-Za-z0-9_=-]+$
              type: string
              description: The globally unique identifier for a custom data collection
              example: >-
                0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
    VirtualCardAccountDetails:
      description: Virtual Card Account
      allOf:
        - $ref: '#/components/schemas/VCAccountGuid'
        - $ref: '#/components/schemas/CardAccount'
        - required:
            - fundingSourceGuid
          type: object
          properties:
            fundingSourceGuid:
              maxLength: 100
              minLength: 1
              type: string
              description: The globally unique identifier for the funding source.
              example: >-
                0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
            ownerGuid:
              maxLength: 100
              minLength: 1
              type: string
              readOnly: true
              description: >-
                The globally unique identifier of the entity under which the
                card is registered. The ownerGUID is the same as the Issuer GUID
                or Corp GUID.
              example: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
    VirtualCardStatusUpdate:
      type: object
      required:
        - status
      properties:
        unmaskedAccountNumber:
          type: boolean
          description: Defines if account number displayed should be unmasked.
          example: true
        status:
          type: string
          description: Virtual Card Status. Valid values are ACTIVE and BLOCKED
          example: BLOCKED
          pattern: ^(ACTIVE|BLOCKED)
      description: Virtual Card Status Update
    FundingSourceStatusUpdate:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          description: Funding Source Status. Valid values are ACTIVE and BLOCKED
          example: BLOCKED
      description: Funding Source Status Update
    FundingSource:
      required:
        - realCardGuid
      type: object
      properties:
        fundingSourceGuid:
          type: string
          maxLength: 100
          minLength: 1
          description: The globally unique identifier for the funding source.
          example: >-
            0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
          readOnly: true
        realCardGuid:
          type: string
          maxLength: 100
          minLength: 1
          description: >-
            The globally unique identifier for the real card. For card accounts
            realCardGuid is same as the accountGuid
          example: >-
            0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        vcnCreationEnabled:
          type: boolean
          description: Defines if virtual card creation is enabled.
          example: true
        fundingSourceAlias:
          type: string
          pattern: .*\S.*
          maxLength: 400
          minLength: 1
          description: Alias for the funding source.
          example: Funding Source Alias
        authorizationControlsEnabled:
          type: boolean
          description: Defines if card controls should be enabled
          example: true
        active:
          type: boolean
          description: Defines if the funding source is active.
          example: true
          readOnly: true
        ownerGuid:
          maxLength: 100
          minLength: 1
          type: string
          readOnly: true
          description: >-
            The globally unique identifier of the entity under which the card is
            registered. The ownerGUID is the same as the Issuer GUID or Corp
            GUID.
          example: >-
            SENTTY13379505AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA76AD402DE1519037869
        createdDate:
          type: string
          description: Date when the funding source was created
          example: '2020-10-06T11:09:42.000Z'
          readOnly: true
          format: date-time
        lastUpdateDate:
          type: string
          description: Timestamp of last update.
          readOnly: true
          format: date-time
          example: '2020-10-06T11:09:42.000Z'
        customDataGuid:
          maxLength: 100
          minLength: 1
          pattern: ^[A-Za-z0-9_=-]+$
          type: string
          description: The globally unique identifier for a custom data collection
          example: >-
            0ADN14dde4804a167b7ed7b21d688a70bdf8d4e58e05e11acf0b19264903330315fe1683912115
      description: Funding Source
    RealCardSearchResource:
      description: Real Card Search Resource
      allOf:
        - $ref: '#/components/schemas/RealCardAccount'
        - type: object
          properties:
            corpGuid:
              minLength: 1
              maxLength: 100
              description: >-
                The globally unique identifier of the corporate, which is
                created in SmartData during setup
              type: string
              readOnly: true
              example: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
            issuerGuid:
              minLength: 1
              maxLength: 100
              description: The globally unique identifier of the issuer.
              type: string
              readOnly: true
              example: SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
            fundingSourceGuid:
              minLength: 1
              maxLength: 100
              description: The globally unique identifier for the funding source.
              type: string
              readOnly: true
              example: >-
                0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
            alias:
              description: Funding Source alias
              type: string
              minLength: 1
              maxLength: 400
              readOnly: true
              example: Funding Source Alias
            vcnCreationEnabled:
              description: Defines if virtual card creation is enabled.
              type: boolean
              readOnly: true
              example: true
    VirtualCardSearchResource:
      description: Virtual Card Search Resource
      allOf:
        - $ref: '#/components/schemas/VirtualCardAccountDetails'
        - type: object
          properties:
            corpGuid:
              minLength: 1
              maxLength: 100
              description: >-
                The globally unique identifier of the corporate, which is
                created in SmartData during setup
              type: string
              readOnly: true
              example: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
            issuerGuid:
              minLength: 1
              maxLength: 100
              description: The globally unique identifier of the issuer.
              type: string
              readOnly: true
              example: SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
            unmaskedAccountNumber:
              type: boolean
              description: Defines if account number displayed should be unmasked.
              example: true
              writeOnly: true
            accountNumber:
              maxLength: 19
              minLength: 12
              pattern: ^[0-9]*$
              type: string
              description: >-
                The account number. For a card account this is the associated
                virtual card number.
              example: XXXXXXXXXXXXXX6789
              readOnly: true
    RealCardAccountSearch:
      type: object
      allOf:
        - $ref: '#/components/schemas/RealCardAccountSearchDetails'
        - type: object
          properties:
            unmaskedAccountNumber:
              type: boolean
              description: Defines if account number displayed should be unmasked.
              example: true
    RealCardAccountSearchDetails:
      type: object
      properties:
        corpGuids:
          type: array
          description: Array of corporate GUIDs
          example:
            - SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
          items:
            type: string
        issuerGuids:
          type: array
          description: Array of issuer GUIDs
          example:
            - SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
          items:
            type: string
        accountGuids:
          type: array
          description: Array of account GUIDs
          example:
            - >-
              0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
          items:
            type: string
        aliases:
          type: array
          description: Real Card Alias
          example:
            - Real Card Alias
          items:
            type: string
        fundingSourceGuids:
          type: array
          items:
            type: string
          description: Array of funding source GUIDS
          example:
            - >-
              0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        accountNumber:
          minLength: 12
          maxLength: 19
          type: string
          example: '523456789123456789'
          description: >-
            The account number. For a card account this is the associated real
            card number.
          pattern: ^[0-9]*$
        expiry:
          minLength: 7
          maxLength: 7
          type: string
          pattern: 20[2-9][0-9]-(0[1-9]|1[012])
          description: Expiry in yyyy-mm format
          example: 2026-10
        expired:
          type: boolean
          description: Expired (true or false)
          example: true
        pagination:
          $ref: '#/components/schemas/Pagination'
        vcnCreationEnabled:
          type: boolean
          description: Defines if virtual card creation is enabled.
          example: true
    VirtualCardAccountSearch:
      type: object
      properties:
        corpGuids:
          type: array
          description: Array of corporate GUIDs
          example:
            - SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
          items:
            type: string
        issuerGuids:
          type: array
          description: Array of issuer GUIDs
          example:
            - SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
          items:
            type: string
        accountGuids:
          type: array
          description: Array of account GUIDs
          example:
            - >-
              0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
          items:
            type: string
        fundingSourceGuids:
          type: array
          description: Array of funding source GUIDS
          example:
            - >-
              0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
          items:
            type: string
        statuses:
          type: array
          description: Array of status of Virtual Card
          example:
            - ACTIVE
          items:
            type: string
            example: items
        accountNumber:
          minLength: 12
          maxLength: 19
          type: string
          description: >-
            The account number. For a card account this is the associated
            virtual card number.
          example: '523456789123456789'
          pattern: ^[0-9]*$
        accountNumberLastFourDigits:
          minLength: 4
          maxLength: 4
          type: string
          description: >-
            The last 4 digits of the account number. For card accounts this
            would be the last 4 digits of the card number.
          example: '6789'
          pattern: ^[0-9]{4}$
        expiry:
          minLength: 7
          maxLength: 7
          type: string
          pattern: 20[2-9][0-9]-(0[1-9]|1[012])
          description: Expiry in yyyy-mm format
          example: 2026-10
        pagination:
          $ref: '#/components/schemas/Pagination'
        unmaskedAccountNumber:
          type: boolean
          description: Defines if account number displayed should be unmasked.
          example: true
    FundingSourceSearch:
      type: object
      properties:
        corpGuids:
          description: Identifier for Corps
          type: array
          items:
            type: string
          example:
            - SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        issuerGuids:
          description: Identifier for Issuers
          type: array
          items:
            type: string
          example:
            - SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        realCardGuids:
          description: Identifier for Real Cards
          type: array
          items:
            type: string
          example:
            - >-
              0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        fundingSourceAliases:
          description: Aliases of Funding Source
          type: array
          items:
            type: string
          example:
            - Funding Source Alias
        fundingSourceGuids:
          description: Identifier for Funding Sources
          type: array
          items:
            type: string
          example:
            - >-
              0ENTb49a0ec199d9365c9565679c809fba51d41e25dbcfc1f3caaf548cfab10d33101701766599
        vcnCreationEnabled:
          description: Defines if virtual card creation is enabled.
          type: boolean
          example: true
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        page:
          minimum: 0
          maximum: 999
          type: integer
          description: The page number being requested.
          example: 1
        pageLength:
          minimum: 1
          maximum: 200
          type: integer
          description: The size of the page being requested in the range of 1 and 200.
          example: 20
        sortingOptions:
          type: array
          description: >-
            Valid sorting Real Card parameters are issuerGuid, corpGuid, alias,
            createdDate and lastUpdateDate.


            Valid sorting Funding Source parameters are issuerGuid, corpGuid,
            fundingSourceAlias, createdDate and lastUpdateDate.


            Valid sorting Virtual Card parameters are issuerGuid, corpGuid,
            createdDate and lastUpdateDate. 


            Valid sorting directions are desc and asc. For example
            "?sort=lastUpdateDate, desc". By default, results are sorted by
            createdDate in descending order.
          items:
            $ref: '#/components/schemas/Sort'
          example:
            - property: createdDate
              direction: asc
    Sort:
      type: object
      required:
        - property
        - direction
      properties:
        property:
          minLength: 1
          maxLength: 100
          type: string
          description: Field name used to search
          example: issuerGuid
        direction:
          minLength: 3
          maxLength: 4
          type: string
          example: desc
          description: >-
            Sorts the output in descending or ascending order; Valid values asc,
            desc.
          pattern: ^(ASC|DESC|asc|desc)$
    RCAccountGuid:
      type: object
      properties:
        accountGuid:
          minLength: 1
          maxLength: 100
          type: string
          description: The globally unique identifier of the real card account
          readOnly: true
          example: >-
            0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
    VCAccountGuid:
      type: object
      properties:
        accountGuid:
          minLength: 1
          maxLength: 100
          type: string
          description: The globally unique identifier of the virtual card account
          readOnly: true
          example: >-
            0ENT6d8f279532fff6e27c31b2bc3e04eb59a7799ebabd130757b0129bc2fa029b2b1702046890
    CardAccount:
      required:
        - expiry
      properties:
        expiry:
          minLength: 7
          maxLength: 7
          type: string
          pattern: ^20[2-9][0-9]-(0[1-9]|1[012])$
          description: Card expiry date in yyyy-MM format
          example: 2031-11
        billingCurrency:
          maxLength: 3
          minLength: 3
          pattern: ^[0-9]*$
          type: string
          description: Currency code as defined in ISO-4217A standard numeric code
          readOnly: true
          example: '826'
        billingCurrencyAlphabetic:
          maxLength: 3
          minLength: 3
          pattern: ^[A-Z]+$
          type: string
          description: >-
            Alphabetic currency code as defined in ISO-4217 standard numeric
            code
          readOnly: true
          example: GBP
        active:
          type: boolean
          description: Defines if the account is active.
          readOnly: true
          example: true
        createdDate:
          type: string
          description: Date when the account was created
          readOnly: true
          format: date-time
          example: '2020-10-06T11:09:42.000Z'
        lastUpdateDate:
          type: string
          description: Timestamp of last update.
          readOnly: true
          format: date-time
          example: '2020-10-06T11:09:42.000Z'
        applicationSource:
          type: string
          description: The source application using the resource/API.
          example: bpc
          pattern: '[A-Za-z0-9]+'
          minLength: 1
          maxLength: 16
      description: Card Account
    Contact:
      type: object
      properties:
        contactGuid:
          maxLength: 100
          minLength: 1
          type: string
          description: The globally unique identifier of the contact
          readOnly: true
          example: >-
            0ENTeb9a0875b26b2518071f9a54f0d9a2ece17ffc43a065a64659f056faf5a621461701259037
        firstName:
          type: string
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          description: First Name of Contact
          example: John
        middleInitial:
          type: string
          maxLength: 1
          minLength: 1
          pattern: .*\S.*
          description: Middle Initial of Contact
          example: `
        lastName:
          type: string
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          description: Last Name of Contact
          example: Doe
        nameSuffix:
          type: string
          maxLength: 40
          minLength: 1
          pattern: .*\S.*
          description: Name Suffix of Contact
          example: Jr
        issuerGuid:
          maxLength: 100
          minLength: 1
          type: string
          description: The globally unique identifier of the issuer.
          readOnly: true
          example: SENTTY557623AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        corpGuid:
          maxLength: 100
          minLength: 1
          type: string
          description: The globally unique identifier of the corporate.
          readOnly: true
          example: SENTTY98632405AC33CDA796BCBE850EADAF625FAD6B071E8D100CB1ECBEA
        addressLine1:
          type: string
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          description: First Address Line of Contact
          example: 8589 Lexington Drive
        addressLine2:
          type: string
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          description: Second Address Line of Contact
          example: Temple Hills
        addressLine3:
          type: string
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          description: Third Address Line of Contact
          example: Brooklyn
        poBoxNumber:
          type: string
          maxLength: 15
          minLength: 1
          pattern: .*\S.*
          description: PO Box Number of Contact
          example: '1234'
        cityName:
          type: string
          maxLength: 40
          minLength: 1
          pattern: .*\S.*
          description: City Name of Contact
          example: New York
        countrySubdivisionCode:
          type: string
          maxLength: 40
          minLength: 1
          pattern: .*\S.*
          description: Sub-Division Name of Contact
          example: D
        postalCode:
          type: string
          maxLength: 15
          minLength: 1
          pattern: .*\S.*
          description: Post code of Contact
          example: NY 11215
        countryCode:
          type: string
          maxLength: 3
          minLength: 1
          pattern: .*\S.*
          description: Country Code of Contact
          example: '840'
        active:
          type: boolean
          description: Defines if the contact is active.
          readOnly: true
          example: true
        buildingText:
          type: string
          maxLength: 25
          minLength: 1
          pattern: .*\S.*
          description: Building Name of Contact
          example: The John Doe Center
        lastUpdateDate:
          type: string
          description: Timestamp of last update.
          readOnly: true
          format: date-time
          example: '2020-10-06T11:09:42.000Z'
      description: Contact for a Card Account
    TransactionTolerance:
      required:
        - cumulativeToleranceMax
        - cumulativeToleranceMin
        - cumulativeTolerancePercent
        - currencyCode
        - txTolerancePercent
        - txTolerancePercentMax
        - txTolerancePercentMin
      type: object
      properties:
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          example: '840'
          description: >-
            Mastercard-supported International Organization for Standardization
            (ISO) 4217 currency codes.
        cumulativeTolerancePercent:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Cumulative tolerances in percentages that maybe applied to each
            virtual card.
        txTolerancePercent:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Transaction tolerances in percentages that may be applied to each
            virtual card.
        cumulativeToleranceMin:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Minimum cumulative tolerances in percentages that may be applied to
            each virtual card.
        txTolerancePercentMin:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Minimum transaction tolerances in percentages that may be applied to
            each virtual card.
        cumulativeToleranceMax:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Maximum cumulative tolerances in percentages that may be applied to
            each virtual card.
        txTolerancePercentMax:
          type: integer
          format: int64
          minimum: 0
          maximum: 9999999999
          example: 1234
          description: >-
            Maximum transaction tolerances in percentages that may be applied to
            each virtual card.
      description: Transaction Amount Tolerance
    VirtualCardControl:
      type: object
      description: >-
        Card account controls. One of accountControl or inControlRules should be
        provided.
      properties:
        accountControl:
          $ref: '#/components/schemas/AccountControl'
        inControlRules:
          type: array
          description: Card Controls
          items:
            $ref: '#/components/schemas/VirtualCardInControlRule'
    RealCardControl:
      type: object
      description: >-
        Real Card account controls, one of accountControl and cardControls
        should be provided.
      properties:
        accountControl:
          $ref: '#/components/schemas/AccountControl'
        inControlRules:
          type: array
          description: Card Controls
          items:
            $ref: '#/components/schemas/RealCardInControlRule'
    AccountControl:
      description: Flag to denote In Control rules set.
      type: object
      properties:
        action:
          type: string
          description: Control rule actions.
          example: APPROVE
          readOnly: true
          minLength: 4
        alias:
          type: string
          description: Control rule alias name. The alias name should be unique.
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          example: Account Service Rule
        cardLimit:
          $ref: '#/components/schemas/Limit'
        monthlyLimit:
          $ref: '#/components/schemas/Limit'
        dailyLimit:
          $ref: '#/components/schemas/Limit'
        weeklyLimit:
          $ref: '#/components/schemas/Limit'
        quarterlyLimit:
          $ref: '#/components/schemas/Limit'
        yearlyLimit:
          $ref: '#/components/schemas/Limit'
        geographies:
          $ref: '#/components/schemas/GeographyControl'
        merchantCategoryCodes:
          $ref: '#/components/schemas/MccControl'
        startDate:
          type: string
          description: >-
            The time the card can be used from. It should be in ISO Date Time
            with Offset format "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          example: '2020-10-06T11:09:42.000Z'
          format: date-time
        endDate:
          type: string
          description: >-
            The time the card will stop being used from. It should be in ISO
            Date Time with Offset format "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          example: '2021-10-06T11:09:42.000Z'
          format: date-time
    Limit:
      description: Limit on the card
      type: object
      properties:
        cardAmount:
          type: number
          description: Card Limit Amount
          example: 500
          format: float
        availableBalance:
          type: number
          description: Available Card Balance
          example: 500
          format: float
          readOnly: true
        authorisationCount:
          description: Number of authorizations allowed
          minimum: 1
          maximum: 99999999
          example: 10
          type: integer
    InControlRule:
      required:
        - action
        - alias
      type: object
      properties:
        action:
          minLength: 4
          maxLength: 15
          type: string
          description: Control rule actions. Valid values are APPROVE and DECLINE.
          example: APPROVE
          pattern: ^(APPROVE|DECLINE)
        alias:
          type: string
          description: Control rule alias name. Alias should be unique.
          maxLength: 100
          minLength: 1
          pattern: .*\S.*
          example: Account Service Control Rule
        transactionLimits:
          type: array
          description: Transaction limit controls.
          items:
            $ref: '#/components/schemas/TransactionLimitControl'
        geographies:
          type: array
          description: Geography controls.
          items:
            $ref: '#/components/schemas/GeographyControl'
        velocities:
          type: array
          description: Velocity controls.
          items:
            $ref: '#/components/schemas/VelocityControl'
        validityPeriods:
          type: array
          description: Validity period controls.
          items:
            $ref: '#/components/schemas/ValidityPeriodControl'
        amountRanges:
          type: array
          description: Amount range controls.
          items:
            $ref: '#/components/schemas/AmountRangeControl'
        acceptorIds:
          type: array
          description: Merchant id controls.
          items:
            $ref: '#/components/schemas/MerchantIdControl'
        ageingVelocities:
          type: array
          description: Ageing velocity controls.
          items:
            $ref: '#/components/schemas/AgeingVelocityControl'
        curfews:
          type: array
          description: Curfew controls.
          items:
            $ref: '#/components/schemas/CurfewControl'
        timeOfDays:
          type: array
          description: Time of day controls.
          items:
            $ref: '#/components/schemas/TimeOfDayControl'
        merchantCategoryCodes:
          type: array
          description: >-
            List of Merchant Category Codes to be included in the rule. When
            action ="APPROVE" only transactions for the Merchant Category Codes
            included would be approved.
          items:
            $ref: '#/components/schemas/MccControl'
        merchantNames:
          type: array
          description: Merchant name controls
          uniqueItems: true
          items:
            $ref: '#/components/schemas/MerchantNameControl'
        transactionEnvironments:
          type: array
          description: Transaction environment controls
          uniqueItems: true
          items:
            $ref: '#/components/schemas/TransactionEnvironmentControl'
        dataElements:
          type: array
          description: Data element controls
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DataElementControl'
        approveControl:
          $ref: '#/components/schemas/ApproveControl'
      description: In Control Rule
    VirtualCardInControlRule:
      allOf:
        - $ref: '#/components/schemas/InControlRule'
    RealCardInControlRule:
      allOf:
        - $ref: '#/components/schemas/InControlRule'
        - type: object
          properties:
            entryModes:
              type: array
              description: Entry model controls.
              uniqueItems: true
              items:
                $ref: '#/components/schemas/EntryModeControl'
    TransactionLimitControl:
      required:
        - amount
        - negate
      type: object
      properties:
        amount:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: The limit that will apply on a per transaction basis.
          example: 12
          format: float
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          example: true
          default: true
      description: >-
        The TransactionLimit control provides the ability to limit individual
        transaction authorizations to a maximum amount.
    GeographyControl:
      required:
        - countryCodes
        - negate
      type: object
      properties:
        countryCodes:
          minItems: 1
          type: array
          description: List of country codes to be included in the rule.
          example:
            - '372'
            - '826'
          items:
            type: string
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          example: true
      description: >-
        The GeographicControl provides the ability to control where a card is
        physically used.
    VelocityControl:
      required:
        - period
        - negate
      type: object
      properties:
        maxTrans:
          minimum: 1
          maximum: 99999999
          type: integer
          description: Maximum number of transactions allowed.
          format: int32
          example: 12
        cumulativeLimit:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: >-
            Maximum allowed cumulative amount. Note that if 0 is passed for this
            field, no restrictions of the cumulativeLimit will be enforced.
          example: 1200
          format: float
        period:
          minLength: 5
          maxLength: 10
          type: string
          description: >-
            The Velocity period. Valid values are DAILY, WEEKLY, QUARTERLY,
            CONTINUOUS, MONTHLY, and YEARLY.
          example: DAILY
          pattern: ^(DAILY|WEEKLY|QUARTERLY|CONTINUOUS|MONTHLY|YEARLY)
        availableBalance:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: >-
            The cumulative spend available for the velocity control for the
            specified period.
          example: 1200
          format: float
          readOnly: true
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT.
          example: MERCHANT
          pattern: ^(BASE|MERCHANT)
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: >-
            Mastercard supported International Organization for Standardization
            (ISO) 4217 currency codes.
          example: '840'
        endDate:
          minLength: 16
          maxLength: 28
          type: string
          format: date-time
          description: >-
            End date until which the the control is valid. It should be in ISO
            Date Time with Offset format "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          readOnly: true
          example: '2020-10-06T11:09:42.000Z'
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          example: true
          default: false
      description: >-
        The VelocityControl can limit the frequency, and the total cumulative
        amount of authorizations performed on the cardholders account within a
        specified time period.
    ValidityPeriodControl:
      required:
        - from
        - negate
        - to
      type: object
      properties:
        from:
          minLength: 16
          maxLength: 28
          type: string
          format: date-time
          description: >-
            The start date from which the control is valid. It should be in ISO
            Date Time with Offset format "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
          example: '2020-10-06T11:09:42.000Z'
        to:
          minLength: 16
          maxLength: 28
          type: string
          format: date-time
          description: >-
            The end date till which the the control is valid. It should be in
            ISO Date Time with Offset format "yyyy-MM-dd'T'HH:mm:ss.SSSXXX".
          example: '2020-11-06T11:09:42.000Z'
        strictPreAuthCheck:
          type: boolean
          description: Defines if strict pre-auth check needs to be applied.
          default: false
          example: true
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The ValidityPeriod control provides the ability to limit authorization
        activity to a defined time period.
    AmountRangeControl:
      required:
        - currencyType
        - maxAmount
        - minAmount
        - negate
      type: object
      properties:
        minAmount:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: Minimum allowed amount
          format: float
          example: 1000
        maxAmount:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: Maximum allowed amount
          format: float
          example: 10000
        strictPreAuthCheck:
          type: boolean
          description: Defines if strict pre-auth check needs to be applied.
          default: false
          example: true
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT.
          example: MERCHANT
          pattern: ^(BASE|MERCHANT)
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: >-
            Mastercard supported International Organization for Standardization
            (ISO) 4217 currency codes.
          example: '840'
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The exact amount range control will approve a transaction only if the
        requested amount is equal or greater than MinAmount and less than or
        equal to MaxAmount. In other words, if Min Amount <= Amount <= Max
        Amount.
    Acceptors:
      required:
        - acquirerId
        - acceptorId
      type: object
      properties:
        acceptorId:
          minLength: 15
          maxLength: 15
          type: string
          description: The Merchant Id.
          example: '123456789012345'
        acquirerId:
          minLength: 1
          maxLength: 10
          pattern: .*\S.*
          type: string
          description: >-
            The Acquiring Institution ID Code which identifies the acquiring
            institution (for example, merchant bank) or its agent.
          example: '3'
    MerchantIdControl:
      required:
        - acceptors
        - negate
      type: object
      properties:
        acceptors:
          type: array
          items:
            $ref: '#/components/schemas/Acceptors'
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The Merchant ID control provides the ability to limit authorizations to
        particular merchants.
    AgeingVelocityControl:
      required:
        - authorizationHoldDays
        - cumulativeLimit
        - timeZone
        - negate
      type: object
      properties:
        authorizationHoldDays:
          type: integer
          minimum: 0
          maximum: 9999
          description: Number of days an authorization holds before ageing off.
          format: int32
          example: 1234
        cumulativeLimit:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: >-
            Maximum allowed cumulative amount. Note that if 0 is passed for this
            field, no restrictions of the cumulativeLimit will be enforced.
          example: 1000
          format: float
        timeZone:
          minLength: 3
          maxLength: 25
          type: string
          description: Time zone that is used for age-off calculations.
          example: UTC
        availableCredit:
          minimum: 0
          maximum: 99999999999999
          type: number
          description: >-
            The cumulative spend available for the velocity control for the
            specified period.
          example: 1000
          format: float
          readOnly: true
        currencyType:
          minLength: 4
          maxLength: 8
          type: string
          description: Type of the currency being used. Valid values are BASE and MERCHANT.
          example: MERCHANT
          pattern: ^(BASE|MERCHANT)
        currencyCode:
          minLength: 3
          maxLength: 3
          pattern: ^[0-9]{3}$
          type: string
          description: >-
            Mastercard supported International Organization for Standardization
            (ISO) 4217 currency codes.
          example: '840'
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The AgingVelocityControl provides the requester with the ability to set
        a notional credit line through the CumulativeControl. This control keeps
        track of the current remaining available credit and approves a
        transaction only if the requested amount is less than or equal to the
        remaining available credit.
    CurfewControl:
      required:
        - days
        - fromTime
        - negate
        - toTime
      type: object
      properties:
        fromTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The start time from which authorizations will be allowed.
          example: '08:20'
        toTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The end time at which authorizations will be allowed.
          example: '18:20'
        timeZone:
          minLength: 3
          maxLength: 25
          type: string
          description: Time zone that is used for age-off calculations.
          example: UTC
        days:
          maxItems: 7
          minItems: 1
          type: array
          description: >-
            Days of week. Valid values are SUNDAY, MONDAY, TUESDAY, WEDNESDAY,
            THURSDAY, FRIDAY, and SATURDAY.
          example: SUNDAY
          pattern: ^(SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY)$
          items:
            type: string
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The following table lists the curfew control attributes details relevant
        to the example.
    MccControl:
      required:
        - mccs
        - negate
      type: object
      properties:
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
        mccs:
          minItems: 1
          type: array
          description: List of merchant category codes
          example:
            - '3001'
            - '3005'
          items:
            type: string
            example: items
      description: >-
        The Card Acceptor Business Codes (MCC) control can control the type of
        purchases for which a card is used.
    TimeOfDayControl:
      required:
        - negate
        - timeZone
        - times
      type: object
      properties:
        times:
          maxItems: 7
          minItems: 1
          type: array
          description: Times of day
          items:
            $ref: '#/components/schemas/TimeOfDay'
        timeZone:
          minLength: 3
          maxLength: 25
          type: string
          description: Time zone that is used for age-off calculations.
          example: UTC
        negate:
          type: boolean
          description: Defines if the rules should be negated.
          default: false
          example: true
      description: >-
        The TimeofDaycontrol provides the ability to limit authorization
        activity to defined time periods for each day.
    TimeOfDay:
      required:
        - day
        - fromTime
        - toTime
      type: object
      properties:
        day:
          minLength: 6
          maxLength: 9
          type: string
          example: SUNDAY
          description: >-
            Days of week. Valid values are SUNDAY, MONDAY, TUESDAY, WEDNESDAY,
            THURSDAY, FRIDAY, and SATURDAY.
          pattern: ^(SUNDAY|MONDAY|TUESDAY|WEDNESDAY|THURSDAY|FRIDAY|SATURDAY)
        fromTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The start time from which authorizations will be allowed.
          example: '08:21'
        toTime:
          minLength: 5
          maxLength: 5
          pattern: ^([01][0-9]|2[0-3]):([0-5][0-9])$
          type: string
          description: The end time from which authorizations will be allowed.
          example: '21:00'
    MerchantNameControl:
      required:
        - negate
        - merchantNames
      type: object
      description: >-
        Allows you to limit authorizations to particular merchants by using the
        merchants name.
      properties:
        negate:
          type: boolean
          description: If negation applied
          default: false
          example: true
        merchantNames:
          type: array
          description: >-
            The card acceptor name as defined in field DE43 of the authorisation
            message.
          example:
            - Amazon
          uniqueItems: true
          items:
            type: string
          minLength: 1
          maxLength: 100
    TransactionEnvironmentControl:
      required:
        - negate
        - environmentCodes
      type: object
[...]
