swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening PAN Blocks API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: PAN Blocks
  description: Operations related to PAN Blocks.
paths:
  /accounts/pan-blocks:
    post:
      tags:
      - PAN Blocks
      summary: Blocks a PAN from being auto-enrolled in the rewards system.
      description: Provides the capability of restricting a BAN from being auto-enrolled in a particular program within a specified time frame. It also provides the capability of unblocking PAN enrollment.
      operationId: PanBlock
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/PanBlockRequest'
      responses:
        '201':
          $ref: '#/components/responses/PanBlockResponse'
        '400':
          $ref: '#/components/responses/ErrorsResponse'
components:
  requestBodies:
    PanBlockRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PanBlock'
  schemas:
    Errors:
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: Error Details
          items:
            $ref: '#/components/schemas/ErrorItem'
    PanBlock:
      required:
      - accountId
      - accountIdType
      - programs
      type: object
      properties:
        accountId:
          maxLength: 30
          minLength: 0
          type: string
          description: The unique identifier for the given account.
          example: '5330333671236516'
        accountIdType:
          type: string
          description: Identifier type for the given account. Supported identifier is BAN.
          example: BAN
        beginDate:
          type: string
          maxLength: 10
          minLength: 0
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
          description: The date from which the PAN will be blocked from enrollment. Date format should be in CST.
          example: '2050-12-31'
        endDate:
          type: string
          maxLength: 10
          minLength: 0
          pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
          description: The date until which the PAN will be blocked from enrollment.
          example: '2051-12-31'
        programs:
          type: array
          items:
            type: string
          description: Program identifier for the program in which the cardholder is enrolled. Note the program identifier is filler name and not a sequential ID.
          example:
          - PGM41632
    ErrorItem:
      type: object
      properties:
        Source:
          type: string
          description: Source of the error
          example: user-management
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during API request processing.
          example: INVALID_FIELD_FORMAT
        Description:
          type: string
          description: Short description of the ReasonCode field.
          example: Email Address must be in the valid format.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: Where appropriate, indicates detailed information about the data received.
          example: Invalid Details
      description: Error Details
    PanBlockAutoEnrollment:
      type: object
      properties:
        message:
          type: string
          description: result
          example: Successfully blocked PAN auto enrollment
    ErrorsWrapper:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
  responses:
    PanBlockResponse:
      description: Successfully blocked PAN auto enrollment.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PanBlockAutoEnrollment'
    ErrorsResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsWrapper'
