swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Health Checks API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Health Checks
paths:
  /api/orders/healthchecks:
    get:
      tags:
      - Health Checks
      operationId: getHealthDetails
      description: Health or Echo or Heartbeat endpoint ensuring that the API is running
      summary: Health endpoint to ensure confirm connectivity to transaction API
      responses:
        '200':
          $ref: '#/components/responses/HealthCheckResponse'
components:
  responses:
    HealthCheckResponse:
      description: "The code indicates the response.\n  - OK = The API is up and running\n  - failure = The API is not running"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HealthCheckResponse'
  schemas:
    HealthCheckResponse:
      type: string
      maxLength: 7
      minLength: 2
      description: "The code indicates if the API is up or not\n  - OK = The API is up and running\n  - failure = The API is down"
      example: OK
