openapi: 3.2.0
info:
  title: Mastercard Carbon Calculator Insights API
  description: The Carbon Calculator API enables issuers to provide their consumers with visibility into the environmental impact based on their spending. This API allows the issuer to calculate the carbon footprint based on consumers' payment transactions using their Mastercard cards. This API can be used inside a banking application or website to provide meaningful and actionable insights.
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: 1.2.0
servers:
- url: https://sandbox.api.mastercard.com/carbon
  description: Sandbox
- url: https://api.mastercard.com/carbon
  description: Production
tags:
- name: Insights
paths:
  /insights:
    put:
      operationId: updateUserInsights
      description: The Insights service delivers insights and other suggestions that can inform you about what you can do to reduce your footprint.
      summary: Get insights based on the contents of your climate profile.
      tags:
      - Insights
      parameters:
      - $ref: '#/components/parameters/Branding'
      - $ref: '#/components/parameters/Heading'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/Language'
      requestBody:
        $ref: '#/components/requestBodies/InsightsRequest'
      responses:
        '200':
          $ref: '#/components/responses/Insights'
        '400':
          $ref: '#/components/responses/MissingInsightAttributesBadRequestError'
        '404':
          $ref: '#/components/responses/ServiceProviderNotFoundError'
  /insights/{id}:
    put:
      operationId: getInsightsById
      description: Fetches a given Insight and marks it as viewed in your profile. Issuer has to save the profile locally and send it in future communication with Engagement Services
      summary: Fetches an Insight details based on provided Insight id
      tags:
      - Insights
      parameters:
      - $ref: '#/components/parameters/Branding'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/InsightsId'
      requestBody:
        $ref: '#/components/requestBodies/InsightsByIdRequest'
      responses:
        '200':
          $ref: '#/components/responses/InsightsByIdResponse'
        '400':
          $ref: '#/components/responses/MissingInsightAttributesBadRequestError'
        '404':
          $ref: '#/components/responses/InsightNotFoundError'
components:
  examples:
    InsightsResponseData:
      value:
        insightPayload:
          language: en
          insights:
          - id: T13
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T14
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T2
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T23
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T24
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T6
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T78
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T79
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T92
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T20
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T21
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T75
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T76
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T77
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          - id: T9
            version: '1.1'
            mainCategory: shopping
            subCategory: clothes
            seen: false
            spendingAreaId: '30'
          page: 1
          totalItemCount: 15
          totalPageCount: 1
        profile:
          traits:
            knowledge: 0.65
            lifestyle: 0.445
            motivated: 0.683
          userAttributes:
            demo: 66
            diet: 256
            lifestyle: 4
            energy: 12288
            transport: 36933
            country: AX
          created: '2024-01-31T10:57:36.161Z'
          surveys:
            key1:
              key2: 1
              key3: 2
          persona: '3'
          benchmarks:
            key1:
              key2: 1
              key3: 2
          comparisons:
            key1:
              key2: 1
              key3: 2
          insights:
            key1:
              key2: 1
              key3: 2
          version: '1.0'
    InsightsRequest:
      value:
        insightsPayload:
          mainCategory: shopping
          main: shopping
          docc: ''
          spendingAreaId: '30'
          subCategory: clothes
        profile:
          traits:
            knowledge: 0.65
            lifestyle: 0.445
            motivated: 0.683
          userAttributes:
            demo: 66
            diet: 256
            lifestyle: 4
            energy: 12288
            transport: 36933
            country: AX
          created: '2024-01-31T10:57:36.161Z'
          surveys:
            key1:
              key2: 1
              key3: 2
          persona: '3'
          benchmarks:
            key1:
              key2: 1
              key3: 2
          comparisons:
            key1:
              key2: 1
              key3: 2
          insights:
            key1:
              key2: 1
              key3: 2
          version: '1.0'
    InsightsByIdRequest:
      value:
        profile:
          traits:
            knowledge: 0.65
            lifestyle: 0.445
            motivated: 0.683
          userAttributes:
            demo: 66
            diet: 256
            lifestyle: 4
            energy: 12288
            transport: 36933
            country: US
          created: '2024-01-31T10:57:36.161Z'
          surveys:
            viewed:
              onboardingVersion: 1
          persona: '3'
          benchmarks:
            key1:
              key2: 1
              key3: 2
          comparisons:
            key1:
              key2: 1
              key3: 2
          insights:
            key1:
              key2: 1
              key3: 2
          version: '1.0'
    InsightsByIdResponse:
      value:
        insightsByIdPayload:
          id: T101
          version: 1.1
          language: en
          heading: Recycle your e-waste
          content: 'Voluptate eiusmod culpa incididunt excepteur anim ipsum et ex elit laboris esse. Nostrud proident culpa exercitation eu dolore consectetur sit amet cillum veniam enim duis ut. Qui mollit fugiat tempor deserunt occaecat fugiat adipisicing ex cupidatat duis commodo id ea. Dolor laboris eu commodo ea reprehenderit in nisi proident. Fugiat cupidatat excepteur et ullamco anim. Cillum fugiat commodo ipsum consequat irure proident tempor nisi tempor ad.

            Occaecat est pariatur cillum commodo incididunt exercitation laboris consectetur eu mollit incididunt. Adipisicing quis incididunt mollit esse officia dolore fugiat reprehenderit nisi do velit ea. Id cillum consectetur mollit eu laborum nostrud nulla sint Lorem voluptate elit id.'
          notification: ''
          mainCategory: home
          subCategory: electronics
          spendingAreaId: '10'
          source: The Global E-waste Monitor 2020
          sourceDescription: The Global E-waste Monitor 2020
          sourceLink: https://ewastemonitor.info/wp-content/uploads/2020/11/GEM_2020_def_july1_low.pdf
          sourceDate: '2020-07-01'
        profile:
          traits:
            knowledge: 0.65
            lifestyle: 0.445
            motivated: 0.683
          userAttributes:
            demo: 66
            diet: 256
            lifestyle: 4
            energy: 12288
            transport: 36933
            country: AX
          created: '2024-01-31T10:57:36.161Z'
          surveys:
            viewed:
              onboardingVersion: 1
          persona: '3'
          benchmarks:
            key1:
              key2: 1
              key3: 2
          comparisons:
            key1:
              key2: 1
              key3: 2
          insights:
            key1:
              key2: 1
              key3: 2
          version: '1.0'
    InsightItemNotFoundInVersionError:
      value:
        Errors:
          Error:
          - Source: Carbon-Calculator
            ReasonCode: VERSION_NOT_FOUND
            Description: 'Insight T101 unavailable in 3.1 (use: 1.1)'
            Recoverable: false
            Details: ''
    UnsupportedLanguageError:
      value:
        Errors:
          Error:
          - Source: Carbon-Calculator
            ReasonCode: LANGUAGE_NOT_FOUND
            Description: Unsupported language
            Recoverable: false
            Details: ''
    MissingInsightAttributesBadRequestError:
      value:
        Errors:
          Error:
          - Source: Carbon-Calculator
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: profile.userAttributes must not be null
          - Source: Carbon-Calculator
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request
            Recoverable: false
            Details: profile.traits must not be null
    InsightItemNotFoundError:
      value:
        Errors:
          Error:
          - Source: Carbon-Calculator
            ReasonCode: ITEM_NOT_FOUND
            Description: Insight Item not found for the provided id
            Recoverable: false
            Details: ''
    ServiceProviderNotFoundError:
      value:
        Errors:
          Error:
          - Source: Service-Provider-Mgmt
            ReasonCode: ACCOUNT_NOT_FOUND
            Description: We cannot find the account which you are using to access this service. Kindly register your account or contact your Mastercard associate if you have already registered with us earlier.
            Recoverable: false
            Details: ''
  schemas:
    LanguageCode:
      description: ISO 639-1 format language code
      example: es
      pattern: ^[a-z]{2}$
      type: string
    InsightsByIdRequestPayload:
      title: InsightsByIdRequestPayload
      type: object
      description: The request object which contains climate Profile
      properties:
        profile:
          $ref: '#/components/schemas/ClimateProfile'
    ErrorWrapper:
      title: ErrorWrapper
      type: object
      description: The error response object gets returned in case of any error.
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    InsightsData:
      properties:
        insightPayload:
          properties:
            insights:
              items:
                $ref: '#/components/schemas/InsightItem'
              type: array
              description: details of items
            language:
              type: string
              description: language of insights
              example: en
            nextPage:
              type: string
              description: next present or not
              example: 'yes'
            page:
              type: number
              description: number of page
              example: 1
            previousPage:
              type: string
              description: previous Page present or not
              example: 'yes'
            totalItemCount:
              type: number
              description: total item count number
              example: 96
            totalPageCount:
              type: number
              description: total page count
              example: 20
          required:
          - insights
          - page
          - totalItemCount
          - totalPageCount
          type: object
        profile:
          $ref: '#/components/schemas/ClimateProfile'
      required:
      - insightPayload
      type: object
    Error:
      title: Error
      type: object
      description: Error object which contains details about the error.
      required:
      - Source
      - ReasonCode
      - Description
      - Recoverable
      properties:
        Source:
          type: string
          description: The application name that generated this error. Every error message that is generated and returned by the gateway will have this field equal to Gateway. Other possible values are 'Carbon-Calculator' and 'Service-Provider'.
          minLength: 1
          maxLength: 100
          example: Service-Provider-Mgmt
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during request processing.
          minLength: 1
          maxLength: 100
          example: INVALID_REQUEST_PARAMETER
        Description:
          type: string
          description: Short description of the ReasonCode field.
          minLength: 10
          maxLength: 1000
          example: One of the request parameters is invalid, try again with correct request.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: (Optional) Where appropriate, indicates detailed information about data received and calculated during the request processing, to help the user with diagnosing errors.
          minLength: 0
          maxLength: 5000
          example: paymentCardId size must be between 36 and 36
    Errors:
      title: Errors
      type: object
      description: Error object which returns a list of Error objects.
      required:
      - Error
      properties:
        Error:
          $ref: '#/components/schemas/ErrorList'
    InsightsRequestPayload:
      title: InsightsRequestPayload
      type: object
      description: The request object which contains climate Profile and payload
      properties:
        insightsPayload:
          properties:
            docc:
              type: string
              description: document of insights
              example: Eat more greens - for the planet
            main:
              type: string
              description: description of main category
              example: shopping
            mainCategory:
              type: string
              description: details of main category
              example: shopping
            spendingAreaId:
              type: string
              description: area of category in which expenditure was made
              example: '30'
            subCategory:
              type: string
              description: details of sub category
              example: clothes
          type: object
        profile:
          $ref: '#/components/schemas/ClimateProfile'
    ErrorList:
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/Error'
    ClimateProfile:
      description: Represents a Climate Profile for a User. Always use updated profile present in the response, which might include benchmarks, comparisons, insights and surveys.
      properties:
        userAttributes:
          description: Attributes defining this profile
          properties:
            country:
              type: string
              description: country of issuer
              example: IN
              minLength: 2
              maxLength: 3
            demo:
              type: number
              description: demo of user / score for user demo
              example: 65
            diet:
              type: number
              description: diet type of user
              example: 512
            energy:
              type: number
              description: energy consumption type of user
              example: 12288
            lifestyle:
              type: number
              description: lifestyle type of user
              example: 1
            transport:
              type: number
              description: transport type of user
              example: 12357
          required:
          - country
          - demo
          - diet
          - energy
          - lifestyle
          - transport
          type: object
        benchmarks:
          description: Tracks benchmarks data. This value is sourced from benchmarks API.
          type: object
          additionalProperties: true
          example:
            key1:
              key2: 1
              key3: 2
        comparisons:
          description: Tracks comparison data. This value is sourced from comparisons by id API.
          type: object
          additionalProperties: true
          example:
            key1:
              key2: 1
              key3: 2
        insights:
          description: Tracks which insights have been displayed. This value is sourced from insights by id API.
          type: object
          additionalProperties: true
          example:
            key1:
              key2: 1
              key3: 2
        created:
          description: represents creation date of user profile
          type: string
          format: date-time
          example: '2023-08-07T12:39:35.087Z'
        persona:
          description: Representation of user persona type
          type: string
          example: '5'
          minLength: 1
          maxLength: 1
        surveys:
          description: Tracks surveys data. This value is sourced from /surveys API.
          type: object
          additionalProperties: true
          example:
            key1:
              key2: 1
              key3: 2
        traits:
          description: Scores for knowledge, lifestyle, and motivation
          properties:
            knowledge:
              type: number
              example: 0.575
              description: score for user knowledge
              minLength: 1
            lifestyle:
              type: number
              example: 0.324
              description: score for user lifestyle
              minLength: 1
            motivated:
              type: number
              example: 0.617
              description: score for user motivation
              minLength: 1
          required:
          - knowledge
          - lifestyle
          - motivated
          type: object
        version:
          description: Version for this profile
          type: string
          example: 1
      required:
      - userAttributes
      - created
      - persona
      - traits
      - version
      type: object
    InsightItem:
      properties:
        heading:
          description: Heading of the item
          type: string
          example: insight
        id:
          description: Id of the item
          type: string
          example: T1
        mainCategory:
          description: Main Category of the item
          type: string
          example: Shopping
        seen:
          description: whether or not item has been seen
          type: boolean
          example: false
        spendingAreaId:
          description: Spending Area Id
          type: string
          example: '678'
        subCategory:
          description: Sub Category of the item
          type: string
          example: hardware
        version:
          description: Version of the item
          type: string
          example: '1.1'
      required:
      - id
      - mainCategory
      - seen
      - spendingAreaId
      - subCategory
      - version
      type: object
    InsightsResponseById:
      properties:
        insightsByIdPayload:
          properties:
            content:
              description: The details of the insight
              type: string
              example: Voluptate eiusmod culpa incididunt excepteur anim ipsum et ex elit laboris esse. Nostrud proident culpa exercitation eu dolore consectetur sit amet cillum veniam enim duis ut. Qui mollit fugiat tempor deserunt occaecat fugiat adipisicing ex cupidatat duis commodo id ea. Dolor laboris eu commodo ea reprehenderit in nisi proident. Fugiat cupidatat excepteur et ullamco anim. Cillum fugiat commodo ipsum consequat irure proident tempor nisi tempor ad.\nOccaecat est pariatur cillum commodo incididunt exercitation laboris consectetur eu mollit incididunt. Adipisicing quis incididunt mollit esse officia dolore fugiat reprehenderit nisi do velit ea. Id cillum consectetur mollit eu laborum nostrud nulla sint Lorem voluptate elit id.
            heading:
              description: Title of insight
              type: string
              example: Recycle your e-waste
            id:
              description: The Insight Id
              type: string
              example: T101
            mainCategory:
              description: Main category of this insight
              type: string
              example: home
            notification:
              description: Summary user for tool tips or similar
              type: string
              example: A balanced diet is good for your health and that of the planet.
            source:
              description: Entity used as source for this insight
              type: string
              example: The Global E-waste Monitor 2020
            sourceDate:
              description: Date of source
              type: string
              example: '2020-07-01T00:00:00.000Z'
            sourceDescription:
              description: The source description
              type: string
              example: The Global E-waste Monitor 2020
            sourceLink:
              description: Link to source (if available)
              type: string
              example: https://ewastemonitor.info/wp-content/uploads/2020/11/GEM_2020_def_july1_low.pdf
            spendingAreaId:
              description: Spending Area Id
              type: string
              example: 10
            subCategory:
              description: The sub category
              type: string
              example: electronics
            version:
              description: Version for this profile
              type: string
              example: 1.1
          required:
          - content
          - heading
          - id
          - mainCategory
          - spendingAreaId
          - subCategory
          - version
          type: object
        profile:
          $ref: '#/components/schemas/ClimateProfile'
      required:
      - insightPayload
      type: object
  parameters:
    PageSize:
      name: page_size
      in: query
      description: size of page upto which data should be present
      required: false
      example: 20
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Heading:
      name: heading
      in: query
      description: If you want to display heading of the insights content
      required: false
      example: false
      schema:
        type: boolean
    InsightsId:
      name: id
      in: path
      description: for specific insight Id user wants to see insight to their climate profile
      required: true
      example: T101
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number of the page whose data should be present in response
      required: false
      example: 2
      schema:
        type: integer
        minimum: 1
    Language:
      name: language
      in: query
      description: language in which user wants to see insights to their climate profile
      required: false
      example: en
      schema:
        $ref: '#/components/schemas/LanguageCode'
    Version:
      name: version
      in: query
      description: version of insights
      required: false
      example: 1.1
      schema:
        type: string
        minimum: 1
    Branding:
      name: branding
      in: query
      description: If you have a branded content version, please supply it here
      required: false
      example: branding
      schema:
        type: string
  requestBodies:
    InsightsByIdRequest:
      description: Represents a Climate Profile for a User.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsightsByIdRequestPayload'
          examples:
            InsightsByIdRequest:
              $ref: '#/components/examples/InsightsByIdRequest'
      required: true
    InsightsRequest:
      description: Insights for climate profile.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsightsRequestPayload'
          examples:
            InsightsRequest:
              $ref: '#/components/examples/InsightsRequest'
      required: true
  responses:
    InsightNotFoundError:
      description: This response code is returned when one or more request parameters is either missing or is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            ServiceProviderNotFoundError:
              $ref: '#/components/examples/ServiceProviderNotFoundError'
            InsightItemNotFoundError:
              $ref: '#/components/examples/InsightItemNotFoundError'
            InsightItemNotFoundInVersionError:
              $ref: '#/components/examples/InsightItemNotFoundInVersionError'
            UnsupportedLanguageError:
              $ref: '#/components/examples/UnsupportedLanguageError'
    ServiceProviderNotFoundError:
      description: This response code is returned when the server cannot find the account which has been used to call this API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            ServiceProviderNotFoundError:
              $ref: '#/components/examples/ServiceProviderNotFoundError'
    MissingInsightAttributesBadRequestError:
      description: This response code is returned when one or more request parameters is either missing or is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            BadRequestError:
              $ref: '#/components/examples/MissingInsightAttributesBadRequestError'
    InsightsByIdResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsightsResponseById'
          examples:
            InsightsByIdResponse:
              $ref: '#/components/examples/InsightsByIdResponse'
    Insights:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InsightsData'
          examples:
            InsightsResponseData:
              $ref: '#/components/examples/InsightsResponseData'
externalDocs:
  description: ISO 4217 - Currency Code
  url: https://en.wikipedia.org/wiki/ISO_4217
