openapi: 3.2.0
info:
  title: Mastercard Countries API
  version: 2.0.0
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  description: 'Operations tagged Countries across 2 of this provider''s published API definitions: mastercard-atm-locations-openapi.yml, mastercard-merchant-locations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.mastercard.com/locations/atms
  description: Production server
- url: https://sandbox.api.mastercard.com/locations/atms
  description: Sandbox server
- url: https://api.mastercard.com/locations/merchants
  description: Production server
- url: https://sandbox.api.mastercard.com/locations/merchants
  description: Sandbox server
tags:
- name: Countries
  description: Retrieve a list of countries and country subdivisions
paths:
  /countries:
    get:
      tags:
      - Countries
      summary: Mastercard Get a List of Countries
      description: Returns a list of countries containing ATMs
      operationId: getCountries
      responses:
        '200':
          $ref: '#/components/responses/Countries'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.mastercard.com/locations/atms
      description: Production server
    - url: https://sandbox.api.mastercard.com/locations/atms
      description: Sandbox server
  /country-subdivisions:
    get:
      tags:
      - Countries
      summary: Mastercard Get a List of Country Subdivisions
      description: Returns a list of country subdivisions for a given country
      operationId: getCountrySubdivisions
      parameters:
      - $ref: '#/components/parameters/CountryParam'
      responses:
        '200':
          $ref: '#/components/responses/CountrySubdivisions'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.mastercard.com/locations/atms
      description: Production server
    - url: https://sandbox.api.mastercard.com/locations/atms
      description: Sandbox server
components:
  schemas:
    Error:
      description: Details of the error condition such as the source of the error, reason code for the error, if the error is recoverable, and details about the error
      required:
      - Description
      - ReasonCode
      - Recoverable
      - Source
      type: object
      properties:
        Source:
          description: The application that generated this error
          type: string
          minLength: 0
          maxLength: 150
          example: latitude
        ReasonCode:
          description: A unique constant identifying the error case encountered during transaction processing
          type: string
          minLength: 0
          maxLength: 150
          example: INVALID_INPUT_VALUE
        Description:
          description: Short description of the ReasonCode field
          type: string
          minLength: 0
          maxLength: 150
          example: Latitude is missing, invalid, or could not be determined from address fields.
        Recoverable:
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          type: boolean
          example: 'false'
        Details:
          description: Description of the issue
          example: Latitude is missing, invalid, or could not be determined from address fields.
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 150
    CountrySubdivision:
      description: Available information the Country Subdivision such as the name and code
      type: object
      properties:
        countrySubdivisionCode:
          type: string
          minLength: 2
          maxLength: 2
          description: Abbreviated code for the state or province
          example: AL
        countrySubdivisionName:
          type: string
          description: Name of the country subdivision
          example: Alabama
      example:
        CountrySubdivision:
          countrySubdivisionCode: AL
          countrySubdivisionName: Alabama
    ErrorResponse:
      description: Only returned in the event of an error condition
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    Errors:
      description: Only returned in the event of an error condition
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: An error object
          example:
          - Error:
              Source: latitude
              ReasonCode: INVALID_INPUT_VALUE
              Description: Latitude is missing, invalid, or could not be determined from address fields.
              Recoverable: false
              Details: null
      example:
        Errors:
        - Error:
            Source: latitude
            ReasonCode: INVALID_INPUT_VALUE
            Description: Latitude is missing, invalid, or could not be determined from address fields.
            Recoverable: false
            Details: null
    Countries:
      description: List of countries
      type: object
      properties:
        countries:
          type: array
          description: countries
          items:
            $ref: '#/components/schemas/Country'
          example:
          - countryName: United States
            countryCode: USA
    Country:
      description: Available information for the Country such as the name and code
      type: object
      properties:
        countryCode:
          type: string
          minLength: 3
          maxLength: 3
          description: Three digit alpha country code as defined in ISO 3166-1
          example: AUS
        countryName:
          type: string
          description: Name of the country
          example: Australia
      example:
        Country:
          countryCode: AUS
          countryName: Australia
    CountrySubdivisions:
      description: List of country subdivisions
      type: object
      properties:
        countrySubdivisions:
          type: array
          description: countrySubdivisions
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          example:
          - countrySubdivisionName: Alabama
            countrySubdivisionCode: AL
  responses:
    ForbiddenError:
      description: Insufficient permissions for interacting with the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-atms-api
                ReasonCode: PERMISSION_DENIED
                Description: You don't seem authorized to do that
                Recoverable: false
                Details: Reading ATM information requires read-only permissions
    Countries:
      description: List of Countries
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Countries'
    CountrySubdivisions:
      description: List of Country Subdivisions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CountrySubdivisions'
    BadRequestError:
      description: Something was wrong with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: latitude
                ReasonCode: INVALID_INPUT_VALUE
                Description: Latitude is missing, invalid, or could not be determined from address fields.
                Recoverable: false
                Details: null
    UnauthorizedError:
      description: Authentication information was missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-atms-api
                ReasonCode: UNAUTHORIZED
                Description: We couldn't recognize you
                Recoverable: false
                Details: Full authentication is required to access this resource
    ForbiddenError_2:
      description: Insufficient permissions for interacting with the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: PERMISSION_DENIED
                Description: You don't seem authorized to do that
                Recoverable: false
                Details: Reading merchant information requires read-only permissions
    UnauthorizedError_2:
      description: Authentication information was missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: UNAUTHORIZED
                Description: We couldn't recognize you
                Recoverable: false
                Details: Full authentication is required to access this resource
  parameters:
    CountryParam:
      name: country_code
      in: query
      description: Three digit alpha country code as defined in ISO 3166-1
      required: true
      schema:
        type: string
      example: USA
x-refined-from:
- mastercard-atm-locations-openapi.yml
- mastercard-merchant-locations-openapi.yml
