openapi: 3.2.0
info:
  title: Mastercard Carbon Calculator Experience Deletions API
  description: The Carbon Calculator Experience API enables issuers to provide their cardholders with visibility into their environmental impact and carbon footprint based on their spending habits. This API also provides cardholders with the option to make donations in support of environmental causes like forest restoration projects and support a positive impact on the environment.
  contact:
    name: API Support
    url: https://developer.mastercard.com/support
    email: apisupport@mastercard.com
  version: 1.0.0
servers:
- url: https://api.mastercard.com/cts
  description: Production
- url: https://sandbox.api.mastercard.com/cts
  description: Sandbox
tags:
- name: Deletions
paths:
  /issuers/user-deletions:
    post:
      tags:
      - Deletions
      summary: Mastercard Delete One or More Users.
      description: <ul><li>Allows a registered Service Provider to delete one or more users.</li> <li>Payment cards associated with the user will also be deleted.</li> <li>On a successful response from the Server, the Service Provider should remove all the requested users and associated payment cards from the system.</li></ul>
      operationId: deleteUsers
      requestBody:
        $ref: '#/components/requestBodies/UserIDs'
      responses:
        '202':
          $ref: '#/components/responses/UserIDs'
        '400':
          $ref: '#/components/responses/DeleteUserBadRequestError'
        '401':
          $ref: '#/components/responses/DeleteUserUnauthorisedError'
        '404':
          $ref: '#/components/responses/DeleteUserNotFoundError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      title: Error
      type: object
      description: Error object which contains details about a single error.
      required:
      - Source
      - ReasonCode
      - Description
      - Recoverable
      properties:
        Source:
          type: string
          description: The application name that generated this error. If an error is generated and returned by the gateway, then this field will have value as `Gateway`. Other possible values are `CARBON CALCULATOR`, `DONATE`, `CARBON_CALCULATOR_EXPERIENCE` or `PRICELESS PLANET`.
          minLength: 1
          maxLength: 100
          example: CARBON_CALCULATOR_EXPERIENCE
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during request processing.
          minLength: 1
          maxLength: 100
          example: INVALID_REQUEST_PARAMETER
        Description:
          type: string
          description: Short description of the `ReasonCode` field.
          minLength: 10
          maxLength: 1000
          example: One of the request parameters is invalid, try again with correct request.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: (Optional) Where appropriate, indicates detailed information about data received and calculated during the request processing, to help the user with diagnosing errors.
          minLength: 0
          maxLength: 5000
          example: email must not be null.
    Errors:
      title: Errors
      type: object
      description: Error object which contains a list of error objects.
      required:
      - Error
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    UserID:
      type: string
      minLength: 36
      maxLength: 36
      pattern: ^[0-9A-Fa-f-]{36}
      description: Unique identifier for a user enrolled in the Carbon Calculator Experience platform.
      example: f5d88571-ac15-465a-a0d8-1ad1327b9a06
    ErrorWrapper:
      title: ErrorWrapper
      type: object
      description: The error response object gets returned in case of error.
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
  responses:
    UserIDs:
      description: The response object contains a list of deleted user IDs
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserID'
          examples:
            DeletedUserIds:
              $ref: '#/components/examples/UserIDs'
    DeleteUserBadRequestError:
      description: This response code is returned when a request is invalid or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UserCountError:
              $ref: '#/components/examples/UserCountError'
            InvalidUserIdLengthError:
              $ref: '#/components/examples/InvalidUserIdLengthError'
    DeleteUserUnauthorisedError:
      description: This response code is returned when a user is terminated or inactive.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    DeleteUserNotFoundError:
      description: This response code is returned when a user or Issuer is not present.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerNotFoundError:
              $ref: '#/components/examples/IssuerNotFoundError'
    UnsupportedMediaTypeError:
      description: This response code is returned when the MediaType in the request is other than application/json format.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UnsupportedMediaTypeError:
              $ref: '#/components/examples/UnsupportedMediaTypeError'
  examples:
    IssuerInactiveError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_INACTIVE
            Description: Your account is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
            Recoverable: false
            Details: Your account is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
    UserCountError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: true
            Details: Request body should have at least 1 or not more than 500 userIds
    IssuerSuspendedError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_SUSPENDED
            Description: Your account has been suspended temporarily, kindly contact your Mastercard associate to activate it again. Until then you won't be able to access any service.
            Recoverable: false
            Details: Your account has been suspended temporarily, kindly contact your Mastercard associate to activate it again. Until then you won't be able to access any service.
    InvalidUserIdLengthError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: userId must match "^[0-9A-Fa-f\-]{36}"
    UserIDs:
      value:
      - 4ba581a55-bcea-4c3e-8e0f-9b4726e5e6d3
      - c5d88571-ac15-465a-a0d8-1ad1327b9a06
    UnsupportedMediaTypeError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: UNSUPPORTED_MEDIA_TYPE
            Description: The requested media type is not supported, try again with supported media type.
            Recoverable: false
            Details: ''
    IssuerNotFoundError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: SERVICE_PROVIDER_NOT_FOUND
            Description: Service provider clientId is not Identified
            Recoverable: false
            Details: Client not found.
    IssuerTerminatedError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_TERMINATED
            Description: Your account has been terminated, you won't be able to access any service. Kindly register yourself again.
            Recoverable: false
            Details: Your account has been terminated, you won't be able to access any service. Kindly register yourself again.
  requestBodies:
    UserIDs:
      description: List of user ids
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserID'
            minItems: 1
            maxItems: 500
          examples:
            UserIDs:
              $ref: '#/components/examples/UserIDs'
