swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Transactions API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Transactions
paths:
  /donations/transactions:
    get:
      tags:
      - Transactions
      summary: Donation Transaction Status
      description: This API can retrieve the status of a particular donation transaction by passing the respective transaction Id or correlation Id. To retrieve the transaction status, donor need to provide either the `transactionId` or `correlationId` or both as query parameters. In case both parameters are passed, transaction Id value takes precedence over correlation Id.
      operationId: fetchDonationTransactionStatusGET
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - name: transactionId
        in: query
        description: TransactionId is a unique identifier for the donation at Mastercard Donate platform. It is recommended to pass the transactionId as query parameter by the customer while retrieving its status. If correlation Id not passed as query parameter, then this field becomes mandatory.
        required: false
        schema:
          type: string
          example: OTimfp86SL6Q7eaRRh2KfA
      - name: correlationId
        in: query
        description: CorrelationId is a unique donation request ID. It is recommended to pass the x-correlation-id by the customer while retrieving the donation transaction status. If transaction Id not passed as query parameter, then this field becomes mandatory.
        required: false
        schema:
          type: string
          example: 03f8c4e8-8bdc-4a30-a2b4-b6f989e96ca3
      responses:
        '200':
          $ref: '#/components/responses/RetrieveTransactionStatus'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-DonationTransactionStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-InternalServerError'
      deprecated: false
  /donors/{donor_id}/transactions:
    post:
      tags:
      - Transactions
      summary: Donation History API
      description: Get Donation History based on given request."cardID", "charityID" and "donationType" are optional fields. If a Micro donation is setup, it won't show up in Donation History until the end of the month when the transaction happen. Encrypting request body is not required.
      operationId: getDonationHistoryUsingPOST
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CorrelationId'
      - $ref: '#/components/parameters/ProgramId'
      - $ref: '#/components/parameters/Donor'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      requestBody:
        $ref: '#/components/requestBodies/DonationHistory'
      responses:
        '200':
          $ref: '#/components/responses/DonationHistoryPaged'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/Unsupported'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: false
  /donations/program/{programId}/transactions:
    post:
      tags:
      - Transactions
      summary: Program Transaction History API
      description: Get Program Transaction History Details based on retrieves a list of donation transactions by programId in a given timeframe."cardID", "charityID" and "donationType" are optional fields. If a Micro donation is setup, it won't show up in Program Transaction History until the end of the month when the transaction happen. Encrypting request body is not required.
      operationId: getProgramTransactionHistoryUsingPOST
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/CorrelationId'
      - $ref: '#/components/parameters/Programid'
      - $ref: '#/components/parameters/donorId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      requestBody:
        $ref: '#/components/requestBodies/ProgramTransactionHistoryRequest'
      responses:
        '200':
          $ref: '#/components/responses/ProgramTransactionHistoryPaged'
        '201':
          $ref: '#/components/responses/Created'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/Unsupported'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: false
  /donations/non-ma/transactions:
    post:
      tags:
      - Transactions
      summary: Upload Non Mastercard Brand Card transactions API
      description: This API is to be used by API Consumer to upload the non-Mastercard transactions details to the Donate Platform.
      operationId: uploadDonationNonMA
      parameters:
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/ProgramId'
      - name: x-correlation-id
        in: header
        description: CorrelationId is a unique donation request ID. It is recommended to pass the x-correlation-id by the customer and to use the format "bankname_UUID" (bank name can be indicated using the first 4 digits). Maximum length of this field should be 100 alphanumeric characters. If not passed, Mastercard will generate it. ***Note:*** If there is a timeout when doing the guest api call, it is important to redo the same api call with same x-correlation-id to get the status of the previous api call
        required: false
        schema:
          type: string
          example: 03f8c4e8-8bdc-4a30-a2b4-b6f989e96ca3
      requestBody:
        $ref: '#/components/requestBodies/UploadNonMACardTrxRequest'
      responses:
        '200':
          $ref: '#/components/responses/UploadNonMACardTrxResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-IncorrectNonMACardTransactionData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-InternalServerError'
      deprecated: false
  /api/orders:
    post:
      tags:
      - Transactions
      summary: Searches order details based on the search criteria
      description: Search for orders based on transaction fields that you currently support
      operationId: getTransactionDetails
      parameters:
      - $ref: '#/components/parameters/eth_date'
      - $ref: '#/components/parameters/authorization'
      requestBody:
        $ref: '#/components/requestBodies/OrderApi'
      responses:
        '200':
          $ref: '#/components/responses/OrderApiAcknowledgement'
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
  /transactions:
    post:
      tags:
      - Transactions
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      description: Provides merchants transaction or device or identity scores to help with pre-authorization and pre-authentication decisioning. Using this API enables merchants or acquirer to be able to catch fraud early on & reduce fraudulent transactions while improving their risk models.
      summary: Mastercard Response Will Be Individual and Device Insights for Mvp.
      operationId: retrieveTransactionInsights
      requestBody:
        $ref: '#/components/requestBodies/TransactionRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  requestBodies:
    ProgramTransactionHistoryRequest:
      description: ProgramTransactionHistoryRequest
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProgramTransactionHistory'
      required: true
    UploadNonMACardTrxRequest:
      description: uploadNonMATransactions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UploadNonMACardTrxRequest'
      required: false
    DonationHistory:
      description: donationHistoryRequest
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DonationHistory'
      required: true
    OrderApi:
      description: The request object Merchant API expects
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderApi'
    TransactionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionInsightsData'
  schemas:
    PagedResult_RealTimeTransaction_DonationHistoryResponse_:
      type: object
      properties:
        items:
          type: array
          description: Items
          items:
            $ref: '#/components/schemas/DonationHistoryRes'
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
        totalItems:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Total Items
      title: PagedResult�DonationHistoryResponse�
      description: ONE-TIME or Monthly transactions will be returned in list,because for monthly setup one real time transaction happens and then monthly donation is started
    Error-415:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused
          properties:
            Error:
              type: array
              description: Only returned in the event of an authorization is failed.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: UNSUPPORTED_CONTENT_TYPE
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: The request Content-Type (<request content-type value>) is not supported for this service
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    Error-InternalServerError:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused
          properties:
            Error:
              type: array
              description: Only returned in the event of an authorization is failed.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: INTERNAL_SERVER_ERROR
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: An error occurred on the server.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    Error-DonationTransactionStatus:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          properties:
            Error:
              type: array
              description: Only returned in the event of an error condition.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: INVALID_TXN_OR_CORRELATION_ID
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: No record found in DB. Please verify client-id/transactionId/correlationId passed in the request and re-try.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: null
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    Error-401:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused due to authorization failure
          properties:
            Error:
              type: array
              description: Only returned in the event of an authorization is failed.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: Gateway
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: AUTHENTICATION_FAILED
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: OAuth signatures did not match.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    Error-403:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused due to forbidden requests
          properties:
            Error:
              type: array
              description: Only returned in the event of forbidden request.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: Gateway
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: INVALID_KEY
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: The signing certificate is not valid.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    ProgramTransactionHistoryPaged:
      type: object
      properties:
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
        totalTransactions:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Total Transactions
        filteredTransactions:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Filtered Transactions
        realTimeTransaction:
          $ref: '#/components/schemas/PagedResult_RealTimeTransaction_ProgramTransactionHistoryResponse_'
        recurringTransaction:
          $ref: '#/components/schemas/PagedResult_RecurringTransaction_ProgramTransactionHistoryResponse_'
      title: ProgramTransactionHistoryPaged
    Error-201:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused
          properties:
            Error:
              type: array
              description: Only returned in the event of an authorization is failed.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: Gateway
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: CREATED
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: OAuth signatures did not match.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    PagedResult_RecurringTransaction_DonationHistoryResponse_:
      type: object
      properties:
        items:
          type: array
          description: Items
          items:
            $ref: '#/components/schemas/DonationHistoryRes'
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
        totalItems:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Total Items
      title: PagedResult�DonationHistoryResponse�
      description: All Micro OR Monthly transactions will be returned in list
    PagedResult_RealTimeTransaction_ProgramTransactionHistoryResponse_:
      type: object
      properties:
        items:
          type: array
          description: Items
          items:
            $ref: '#/components/schemas/DonationHistoryRes'
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
        totalItems:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Total Items
      title: PagedResult�ProgramTransactionHistoryResponse�
      description: ONE-TIME or Monthly transactions will be returned in list,because for monthly setup one real time transaction happens and then monthly donation is started
    ProgramTransactionHistory:
      type: object
      required:
      - fromDate
      - toDate
      properties:
        cardId:
          type: string
          example: ebee3d81-18d4-409a-8330-73db083f2cfc
          minLength: 36
          maxLength: 36
          description: Card Id (UUID)
        charityId:
          type: string
          example: ae3c5f35-084a-4df9-a2af-7e0efd512fc0
          minLength: 36
          maxLength: 36
          description: Charity Id (UUID)
        donorId:
          type: string
          minLength: 36
          maxLength: 36
          example: 652ce9ff-fa5f-4e9f-8151-c73fa20088f7
          format: uuid
          description: Valid UUID.
        donationType:
          type: string
          example: Micro
          minLength: 5
          maxLength: 20
          description: Donation Type
        fromDate:
          type: string
          example: '2019-02-25'
          minLength: 10
          maxLength: 10
          description: From Date
        toDate:
          type: string
          example: '2020-02-25'
          minLength: 10
          maxLength: 10
          description: To Date
        transactionStatus:
          type: string
          example: SUCCESS
          minLength: 3
          maxLength: 30
          description: Transaction Status
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
      title: ProgramTransactionHistory
    DonationHistoryRes:
      type: object
      properties:
        amount:
          type: number
          format: double
          example: 11
          minLength: 1
          maxLength: 20
          description: Amount
        cardId:
          type: string
          example: ebee3d81-18d4-409a-8330-73db083f2cfc
          minLength: 36
          maxLength: 36
          description: Card Id (UUID)
        charityId:
          type: string
          example: ae3c5f35-084a-4df9-a2af-7e0efd512fc0
          minLength: 36
          maxLength: 36
          description: Charity Id (UUID)
        charityName:
          type: string
          example: WFP
          minLength: 3
          maxLength: 30
          description: Charity Name
        clientId:
          type: string
          example: 0a7e433a-63fc-4557-8cf4
          minLength: 3
          maxLength: 30
          description: Client Id
        currency:
          type: string
          example: USD
          minLength: 3
          maxLength: 3
          description: Currency
        date:
          type: string
          example: '2021-09-03'
          format: date
          minLength: 10
          maxLength: 10
          description: Date
        donationType:
          type: string
          example: Micro
          minLength: 5
          maxLength: 20
          description: Donation Type
        donorId:
          type: string
          example: 652ce9ff-fa5f-4e9f-8151-c73fa20088f7
          minLength: 36
          maxLength: 36
          description: Donor Id (UUID)
        orderId:
          type: string
          example: 5dfa4509-1bf2-425b-965b-d44dd11f5f95
          minLength: 36
          maxLength: 36
          description: Order Id
        paymentNetwork:
          type: string
          example: mastercard
          minLength: 3
          maxLength: 30
          description: Payment Network
        primaryAccountNumberSuffix:
          type: string
          example: '3538'
          minLength: 4
          maxLength: 4
          description: PAN Suffix
        programId:
          type: string
          example: 80380ef2-5037-4e57-86bf-1bdd1efb0ae2
          minLength: 36
          maxLength: 36
          description: Program Id (UUID)
        transactionId:
          type: string
          example: 3311e859-3ee4-4155-a640-8cae447c27ca
          minLength: 36
          maxLength: 36
          description: Transaction Id
        transactionStatus:
          type: string
          example: SUCCESS
          minLength: 3
          maxLength: 30
          description: Transaction Status
        updatedDate:
          type: string
          example: '2021-09-14'
          format: date
          minLength: 10
          maxLength: 10
          description: Updated Date
      title: DonationHistoryResponse
    Transactions:
      type: object
      required:
      - transactionId
      - transactionDate
      - amount
      properties:
        transactionId:
          type: string
          example: 3311e859-3ee4-4155-a640-8cae447c27ca
          minLength: 36
          maxLength: 36
          description: Transaction Id
        transactionDate:
          type: string
          example: '2021-09-03'
          format: date
          minLength: 10
          maxLength: 10
          description: Date of the transaction
        amount:
          type: string
          example: 50
          minLength: 3
          maxLength: 30
          description: Transaction amount
      title: Transactions
    RetrieveTransactionStatus:
      type: object
      properties:
        transactionId:
          type: string
          example: OTimfp86SL6Q7eaRRh2KfA
          minLength: 22
          maxLength: 22
          description: Transaction Id
        transactionStatus:
          type: string
          example: SUCCESS
          minLength: 5
          maxLength: 20
          description: Transaction Status
        transactionMessage:
          type: string
          example: Transaction APPROVED.
          minLength: 3
          maxLength: 30
          description: Transaction Message
      title: RetrieveTransactionStatus
    Error-404:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused due to resource not found
          properties:
            Error:
              type: array
              description: Only returned in the event of an resource not found.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: Gateway
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: NOT_FOUND
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: The signing certificate is not valid.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    UploadNonMACardTrxRequest:
      type: object
      required:
      - currencyCode
      - transactionsSummary
      properties:
        currencyCode:
          type: string
          example: USD
          minLength: 3
          maxLength: 3
          description: Currency
        transactionsSummary:
          $ref: '#/components/schemas/TransactionsSummary'
      title: UploadNonMACardTrxRequest
    DonationHistory:
      type: object
      required:
      - fromDate
      - toDate
      properties:
        cardId:
          type: string
          example: ebee3d81-18d4-409a-8330-73db083f2cfc
          minLength: 36
          maxLength: 36
          description: Card Id (UUID)
        charityId:
          type: string
          example: ae3c5f35-084a-4df9-a2af-7e0efd512fc0
          minLength: 36
          maxLength: 36
          description: Charity Id (UUID)
        donationType:
          type: string
          example: Micro
          minLength: 5
          maxLength: 20
          description: Donation Type
        fromDate:
          type: string
          example: '2019-02-25'
          minLength: 10
          maxLength: 10
          description: From Date
        toDate:
          type: string
          example: '2020-02-25'
          minLength: 10
          maxLength: 10
          description: To Date
        transactionStatus:
          type: string
          example: SUCCESS/PENDING/FAILURE/ALL
          minLength: 3
          maxLength: 30
          description: Transaction Status
      title: DonationHistoryRequest
    UploadNonMACardResponse:
      type: string
      example: '{Data load for Non MA Card Transactions is success.}'
    TransactionsSummary:
      type: object
      required:
      - card_id
      - card_brand
      - transactions
      properties:
        card_id:
          type: string
          example: 79bfa3d3-235a-4985-8137-447849fe797d
          minLength: 3
          maxLength: 20
          description: Card Id
        card_brand:
          type: string
          example: VISA
          minLength: 3
          maxLength: 3
          description: Card Brand
        transactions:
          $ref: '#/components/schemas/Transactions'
      title: TransactionsSummary
    PagedResult_RecurringTransaction_ProgramTransactionHistoryResponse_:
      type: object
      properties:
        items:
          type: array
          description: Items
          items:
            $ref: '#/components/schemas/DonationHistoryRes'
        limit:
          type: integer
          example: 25
          format: int32
          minLength: 1
          maxLength: 5
          description: Limit
        offset:
          type: integer
          example: 10
          format: int32
          minLength: 1
          maxLength: 10
          description: Offset
        totalItems:
          type: integer
          example: 60
          format: int64
          minLength: 1
          maxLength: 10
          description: Total Items
      title: PagedResult�ProgramTransactionHistoryResponse�
      description: All Micro OR Monthly transactions will be returned in list
    Error-500:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          description: Contains all errors caused due to server error
          properties:
            Error:
              type: array
              description: Only returned in the event of an server issue.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: PROGRAM_ID_NOT_FOUND
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: Program id is required as this client is mapped to multiple programs.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: 'null'
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    DonationHistoryPaged:
      type: object
      properties:
        realTimeTransaction:
          $ref: '#/components/schemas/PagedResult_RealTimeTransaction_DonationHistoryResponse_'
        recurringTransaction:
          $ref: '#/components/schemas/PagedResult_RecurringTransaction_DonationHistoryResponse_'
      title: DonationHistoryPagedResponse
    Error-IncorrectNonMACardTransactionData:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          properties:
            Error:
              type: array
              description: Only returned in the event of an error condition.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: INVALID_REQUEST_PARAMETER
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: One of the request parameters is invalid, try again with the correct request.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example:
                    - currencyCode, Currency code cannot be empty
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    Error:
      type: object
      required:
      - Errors
      properties:
        Errors:
          type: object
          required:
          - Error
          properties:
            Error:
              type: array
              description: Only returned in the event of an error condition.
              items:
                type: object
                properties:
                  Source:
                    type: string
                    example: DONATE_SERVICE
                    description: The application that generated this error
                  ReasonCode:
                    type: string
                    example: DONOR_ID_INVALID
                    description: A unique constant identifying the error case encountered during API processing
                  Description:
                    type: string
                    example: Invalid donorId, it must be a valid UUID.
                    description: Short description of the ReasonCode field
                  Recoverable:
                    type: boolean
                    example: false
                    description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
                  Details:
                    type: string
                    example: Provided donorId is not valid, Please check and provide valid Unique Id.
                    description: Where appropriate, indicates detailed information about data received and calculated during request processing.
    RequestReference:
      title: Request References
      description: Request Information details, such as tracking details
      type: object
      properties:
        originatorChannel:
          title: Original Requester Channel
          type: string
          minLength: 1
          maxLength: 20
          description: "Example value :\n  - DIGITAL\n  - CALL_CENTRE\n  - FIRST_PARTY_TRUST\n"
          example: DIGITAL
        originatorId:
          title: Requester ID
          type: string
          minLength: 1
          maxLength: 100
          description: Hashed Requesters/Aggregator Issuer ID
          example: 420f0845bd9b808abd7acc053b0b372ceb461edd584e9b9db02b35304255715f
        sourceId:
          title: Source ID
          type: string
          minLength: 1
          maxLength: 100
          description: Aggregator's Actual Issuer ID Hashed
          example: 66666688ggg0845bd9b808abd7acc053b0b372ceb461edd584e9b9db02b324gf
        originatorDescription:
          title: Requester Description
          type: string
          minLength: 1
          maxLength: 100
          description: Description about the issuer
          example: Test Issuer
        correlationId:
          title: Correlation Id
          description: Correlation ID between Ethoca and merchant tracking
          type: string
          minLength: 1
          maxLength: 201
          example: zebj8evpeo
        locale:
          type: string
          minLength: 5
          maxLength: 5
          description: 'The locale, or language-country combination, associated with the caller of the service in ISO 639-1 and ISO-3166-1 format

            - ''en-US''

            - ''en-CA''

            - ''en-GB''

            - ''es-ES''

            - ''es-MX''

            - ''es-US''

            - ''fr-CA''

            - ''fr-FR''

            - ''pt-BR''

            - ''pt-PT''

            - ''he-IL''

            '
          example: en-US
    Payment:
      type: object
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Payment object unique identifier (merchant generated sequence-based ID for each payment, for example 1, 2, 3, 4...)
          example: '3'
        matchedPayment:
          type: boolean
          description: Indicates whether a payment record matches the transaction search attributes
          example: true
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        cardFirstSix:
          minLength: 6
          maxLength: 6
          type: string
          description: The first six digits of the card number associated with the transaction. Format - exactly six numeric characters.
          example: '524167'
        cardLastFour:
          $ref: '#/components/schemas/CardLastFour'
        cardCvv2ValidationOutcomeAtPurchase:
          type: string
          minLength: 1
          maxLength: 1
          pattern: ^[A-Za-z0-9]{1,1}$
          description: "Card CVV2 verification code received at the purchase\n\nAllowed values:\n  - X\n  - U\n  - P\n  - Y\n  - D\n  - N\n\nDefinition of allowed values:\n  - X: No information available\n  - U: The issuer has not certified or has not provided the encryption keys\n  - P: Card verification not performed\n  - Y: Valid\n  - D: Invalid\n  - N: Not attempted\n"
          example: X
        addressValidationServiceMatch:
          type: string
          minLength: 1
          maxLength: 1
          description: "Indicates whether the billing address was validated with an AVS service\n\nAllowed values:\n  - Y\n  - N\n  - U\n\nDefinition of allowed values:\n  - Y: Yes\n  - N: No\n  - U: Unavailable\n"
          example: Y
        totalBeforeTax:
          description: Subtotal (before tax). Maximum number of fractional digits supported is 2.
          type: string
          minLength: 1
          maxLength: 12
          example: '898.96'
        paymentAmount:
          type: string
          minLength: 1
          maxLength: 12
          description: Total amount of this payment. Maximum number of fractional digits supported is 2.
          example: '250.35'
        transactionIdentifierValue:
          minLength: 1
          maxLength: 30
          type: string
          description: The TransactionId for this order; for Mastercard purchases, this is field DE63, and for Visa this is Tran ID or Tran ID1.
          example: 90989JJJNM7767
        acquirerReferenceNumber:
          minLength: 23
          maxLength: 23
          type: string
          description: Display of the Acquirer Reference Number for this order
          example: '12345678901234567890123'
        issuerAuthorizationCode:
          minLength: 6
          maxLength: 6
          type: string
          description: Pre-authorization code returned by the processor
          example: 89ii88
        authorizationDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Display of the Authorization date (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        transactionType:
          type: string
          minLength: 4
          maxLength: 10
          description: "Type of payment transaction\n\nAllowed values:\n  - Adjustment\n  - Credit\n  - Reversal\n  - Sale\n"
          example: Credit
        merchantIdentificationNumber:
          minLength: 1
          maxLength: 50
          type: string
          description: Merchant Identification Number (MID). Assigned by acquirer.
          example: GOOG9898K87
        paymentGatewayId:
          minLength: 1
          maxLength: 10
          type: string
          description: This is passed as part of the transaction. Key for merchants with more than one gateway.
          example: CH8989V01
        paymentGatewayDescriptor:
          minLength: 1
          maxLength: 50
          type: string
          description: The descriptor for the payment gateway
          example: Channel 89 version 1 gateway.
        merchantBillingDescriptor:
          minLength: 1
          maxLength: 24
          type: string
          description: The settled descriptor that shows on the credit card holder's statement at settlement
          example: Google Storage.
        authorizedMerchantBillingDescriptor:
          minLength: 1
          maxLength: 24
          type: string
          description: The pre-settlement authorized descriptor that shows on the website or app being used by the credit card holder
          example: Subscription renewal
        billingName:
          $ref: '#/components/schemas/NameType'
        billingAddress:
          $ref: '#/components/schemas/AddressType'
      description: List of payments for the order (requires at least one, may repeat)
    OrderApi:
      type: object
      required:
      - requestReference
      - searchCriteria
      properties:
        requestReference:
          $ref: '#/components/schemas/RequestReference'
        searchCriteria:
          $ref: '#/components/schemas/SearchCriteria'
    MerchantReceiptContact:
      type: object
      properties:
        phoneForReceipt:
          minLength: 3
          maxLength: 30
          type: string
          description: Merchant's primary phone (such as the sales number shown on receipt) include the country code and any applicable separators
          example: +1-234-567-8901
        emailForReceipt:
          minLength: 1
          maxLength: 200
          type: string
          description: Merchant's sales email (such as the sales email shown on receipt)
          example: sales.merchant@example.com
        websiteForReceipt:
          minLength: 1
          maxLength: 100
          type: string
          description: URL for merchant's orders (such as the website address shown on receipt)
          example: http://merchantwebsite.example.com
        receiptAddress:
          $ref: '#/components/schemas/AddressType'
    Loyalty:
      type: object
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Loyalty unique identifier  (merchant generated sequence-based ID for each loyalty account, for example 1, 2, 3, 4...)
          example: '123'
        programName:
          minLength: 1
          maxLength: 200
          type: string
          description: Name of the loyalty program
          example: GoldClub
        numberRegistered:
          minLength: 1
          maxLength: 20
          type: string
          description: Loyalty program number assigned to registered account
          example: '7678767'
        nameRegistered:
          $ref: '#/components/schemas/NameType'
        addressRegistered:
          $ref: '#/components/schemas/AddressType'
      description: List of loyalty membership accounts that relate to the order
    OrderApiAcknowledgement:
      type: object
      required:
      - responseStatus
      properties:
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        order:
          $ref: '#/components/schemas/Order'
        merchantProfile:
          $ref: '#/components/schemas/MerchantProfile'
        paymentFacilitatorProfile:
          $ref: '#/components/schemas/MerchantProfile'
        facilitatorProfile:
          $ref: '#/components/schemas/FacilitatorProfile'
        accountProfile:
          $ref: '#/components/schemas/AccountProfile'
    VehicleRental:
      type: object
      description: List of rental vehicle reservations
      required:
      - rentalCompanyName
      - confirmationNumber
      - vehicleType
      - pickupDateTime
      - pickupLocation
      properties:
        rentalCompanyName:
          minLength: 1
          maxLength: 100
          type: string
          description: Vehicle rental company name
          example: Enterprise Rentals
        confirmationNumber:
          minLength: 1
          maxLength: 50
          type: string
          description: The confirmation number at the  rental agency
          example: XT5654T
        loyaltyReferenceId:
          type: string
          minLength: 1
          maxLength: 100
          description: 'Reference to loyalty object (in: /loyalty.id)'
          example: YU7676K
        vehicleRentalPrice:
          type: string
          minLength: 1
          maxLength: 12
          example: '45.99'
          description: The cost of the daily rate for a vehicle rental
        vehicleType:
          minLength: 1
          maxLength: 20
          type: string
          description: Rental vehicle type
          example: Full size
        pickupDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Rental vehicle pick up date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        pickupTimezone:
          type: string
          minLength: 1
          maxLength: 50
          description: The timezone for the pickup location of the vehicle as it appears in the TZ database
          example: Europe/Istanbul
        actualPickupDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The actual pick up date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        pickupLocation:
          minLength: 1
          maxLength: 200
          type: string
          description: Rental vehicle pick up location
          example: Toronto West
        dropoffDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Rental vehicle drop-off date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        dropoffTimezone:
          type: string
          minLength: 1
          maxLength: 50
          description: The timezone for the drop off location of the vehicle as it appears in the TZ database
          example: Asia/Muscat
        actualDropoffDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The actual drop-off date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        dropoffLocation:
          minLength: 1
          maxLength: 200
          type: string
          description: Rental vehicle drop off location
          example: Toronto West
        driverLicenseNumberLast3:
          minLength: 3
          maxLength: 3
          type: string
          description: The last 3 digits of the Driver's license number
          example: '963'
        driverLicenseIssuer:
          minLength: 1
          maxLength: 25
          type: string
          description: The state or country that the Driver's license was issued in
          example: Ontario
        driverLicenseExpiryDate:
          description: Driver's license expiry data (String based date/time representation in International Date Format (ISO 8601) YYYY-MM-DD)
          type: string
          format: date
          minLength: 10
          maxLength: 10
          example: '2017-06-19'
        operatorName:
          $ref: '#/components/schemas/NameType'
        relatedPurchases:
          type: array
          items:
            $ref: '#/components/schemas/RelatedPurchase'
        vehiclePickupAddress:
          $ref: '#/components/schemas/AddressType'
        vehicleDropoffAddress:
          $ref: '#/components/schemas/AddressType'
    Delivery:
      type: object
      description: List of deliveries created for the order
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Unique identifier for delivery item (merchant generated sequence-based ID for each delivery, for example 1, 2, 3, 4...)
          example: '32'
        digitalDelivery:
          $ref: '#/components/schemas/DigitalDelivery'
        physicalDelivery:
          $ref: '#/components/schemas/PhysicalDelivery'
    Lodging:
      type: object
      required:
      - lodgingCompanyName
      - confirmationNumber
      - stayDuration
      - roomsBooked
      - checkInDateTime
      - checkoutDateTime
      properties:
        lodgingCompanyName:
          minLength: 1
          maxLength: 100
          type: string
          description: The name of the property
          example: Mantle Lodging and Hotels
        confirmationNumber:
          minLength: 1
          maxLength: 50
          type: string
          description: The confirmation number at the property
          example: CT67Y01
        roomType:
          minLength: 1
          maxLength: 20
          type: string
          description: The type of room booked
          example: Suite
        stayDuration:
          type: integer
          minimum: 0
          maximum: 99999
          description: The room stay duration (in days)
          format: int32
          example: 15
        roomsBooked:
          type: integer
          minimum: 0
          maximum: 99999
          description: The number of rooms that were booked
          format: int32
          example: 1
        lodgingPrice:
          type: string
          minLength: 1
          maxLength: 12
          example: '199.99'
          description: The cost of a nightly rate for a lodging rental. If there are multiple prices over different nights, you may use an average.
        checkInDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The date and time the guest will check in to the property (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        lodgingTimezone:
          type: string
          minLength: 1
          maxLength: 50
          description: The timezone of the lodging's location. This is not the timezone of the property's corporate office, but rather the specific location of the property that is being booked as it appears in the TZ database.
          example: America/New_York
        actualCheckInDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The actual date and time the guest checked in to the property (String based date time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        checkoutDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The date and time the guest will check out of the property (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        actualCheckOutDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The actual date and time the guest checked out of the property (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        roomPreferences:
          minLength: 1
          maxLength: 200
          type: string
          description: Request preferences for the room
          example: High speed WiFi required
        loyaltyReferenceId:
          type: string
          minLength: 1
          maxLength: 100
          description: 'Reference to loyalty object (in: /loyalty.id)'
          example: RT6545E01
        relatedPurchases:
          type: array
          description: Additional charges related to the property stay (such as restaurant charges, mini-bar, etc.)
          items:
            $ref: '#/components/schemas/RelatedPurchase'
        lodgingAddress:
          $ref: '#/components/schemas/AddressType'
      description: List of accommodation rentals
    ResponseStatus:
      title: Response Status
      required:
      - code
      type: object
      properties:
        code:
          title: Code
          type: string
          minLength: 17
          maxLength: 27
          description: "API status code, not an HTTP status code\n\nAllowed values:\n  - TRANSACTION_FOUND\n  - TRANSACTION_NOT_FOUND\n  - MULTIPLE_TRANSACTIONS_FOUND\n"
          example: TRANSACTION_FOUND
        message:
          title: Message
          minLength: 1
          maxLength: 100
          type: string
          description: API status message, not an HTTP status message
          example: Transaction details provided
        trackingId:
          title: Tracking Id
          description: Any internal merchant reference ID linked to this search
          type: string
          minLength: 1
          maxLength: 201
          example: zebj8evpeo
      description: Result status of the request
    RelatedPurchase:
      type: object
      description: Additional charges related to the property stay (such as restaurant charges, mini-bar, etc.)
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Related purchases unique identifier (merchant generated sequence-based ID for each reservation, for example 1, 2, 3, 4...)
          example: '8987'
        productName:
          minLength: 1
          maxLength: 100
          type: string
          description: Description of what was purchased
          example: flower bouquet
        quantity:
          description: Quantity of items purchased (1, 3, 30 etc.)
          type: string
          minLength: 1
          maxLength: 100
          example: '2'
        unitOfMeasurement:
          description: The unit of measurement for the product purchased (i.e. weight of a product)
          type: string
          minLength: 1
          maxLength: 100
          example: kg
        productPrice:
          type: string
          minLength: 1
          maxLength: 12
          description: Price per unit (maximum number of fractional digits supported is 2)
          example: '29'
        purchaseDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The date and time that the purchase was made (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        purchaseLocation:
          minLength: 1
          maxLength: 25
          type: string
          description: Source of the related purchase, and not the initial purchase (such as website, mobile, ticket counter, etc.)
          example: In-Store
    SearchCriteria:
      title: Search Criteria for order lookup
      description: Parameters used to look up order
      type: object
      properties:
        paymentType:
          title: Transaction Card Type
          type: string
          minLength: 2
          maxLength: 8
          description: "The card brand or network as provided by the issuer\n\nAllowed values:\n  - AMEX\n  - DISCOVER\n  - MC\n  - VISA\n\nDefinition of allowed values:\n  - AMEX: American Express\n  - DISCOVER: Discover\n  - MC: Mastercard\n  - VISA: Visa\n"
          example: MC
        transactionIdentifierType:
          type: string
          minLength: 1
          maxLength: 20
          description: "Payment type-specific transaction identifier type associated with the value specified in transactionIdentifierValue.\n\nCurrent values:\n  - BANKNET_REF_NUM\n  - INVOICE_REF_NUM\n\nDefinition of current values:\n- Mastercard: DE 63, Subfield 2: Banknet Reference Number\n- American Express: TAB Field 26: Invoice/Reference Number\n"
          example: BANKNET_REF_NUM
        transactionIdentifierValue:
          title: Transaction Identifier Value
          type: string
          minLength: 1
          maxLength: 30
          description: Transaction identifier value associated with the type specified in transactionIdentifierType
          example: T123456
        acquirerReferenceNumber:
          title: Acquirer Reference Number (ARN)
          minLength: 23
          maxLength: 23
          type: string
          description: Acquirer Reference Number of the transaction
          example: '12345678901234567890123'
        transactionDateTime:
          title: Transaction Date and/or Time
          minLength: 10
          maxLength: 25
          type: string
          description: "Date, time, and time zone of the authorization of the transaction \n(for example, \"2020-06-18T17:11:05-05:00\"), OR Date and time of the \ntransaction in Coordinated Universal Time (UTC) (for example, \n\"2020-06-18T17:11:05+00:00\"), OR If time or time zone is unknown, \nthen date of the transaction (for example, \"2020-06-18\"). ISO 8601 \nformat. This is the date and time of the authorization of the \ntransaction, not the date and time of the settlement of the transaction.\n"
          example: '2020-06-18T17:11:05-05:00'
        cardFirstSix:
          title: Card First Six
          minLength: 6
          maxLength: 6
          type: string
          pattern: ^\d{6}$
          description: First six characters of the card used in the transaction
          example: '123456'
        cardLastFour:
          title: Card Last Four
          minLength: 4
          maxLength: 4
          type: string
          pattern: ^\d{4}$
          description: Last four characters of the card used in the transaction
          example: '1234'
        issuerAuthorizationCode:
          title: Issuer Authorization Code
          maxLength: 6
          minLength: 6
          type: string
          description: Issuer authorization code for the transaction
          example: '123456'
        transactionAmount:
          title: Transaction Value
          minLength: 1
          maxLength: 12
          type: string
          description: 'Total amount value associated with the transaction.

            <br/><br/>Decimal point period is expected to denote separation of the fractional suffix

            from the rest of the amount, if applicable for the currency. Decimal

            point period must not be the first character. Examples:<br>- USD exponent

            is 2, so $250 USD value should be represented as 250.00, 34&cent; USD

            value should be represented as 0.34<br>- JPY exponent is 0, so &yen;250

            JPY value should be represented as 250

            '
          example: '250.35'
        transactionCurrencyCode:
          title: Transaction Currency Code
          maxLength: 3
          minLength: 3
          type: string
          description: Alphabetic currency code associated with the value in ISO 4217 format
          example: USD
        merchantId:
          title: Merchant Identifier
          description: The alphanumeric ID of the sub-merchant associated with the purchase details. Required for channel partner
          type: string
          minLength: 1
          maxLength: 100
          example: GHF5F67DFSD468GJJXH78
        cardAcceptorId:
          title: Card Acceptor Id
          description: An identifier for the store location or transaction point. Also known as  Card Acceptor ID and it is assigned by the merchant acquirer.
          type: string
          minLength: 1
          maxLength: 15
          example: 12345671234567
        cardAcceptorName:
          title: Card Acceptor Name
          description: 'Merchant ''doing business as'' name, or website name<br>- Mastercard: DE 43, Subfield 1; Card Acceptor Name<br>- Visa: TC 05, positions 92-116; Merchant Name'
          type: string
          minLength: 1
          maxLength: 50
          example: MicrosoftXBox
        cardAcceptorLocation:
          title: Card Acceptor Location
          description: 'Merchant city, telephone number, email address, or URL<br>- Mastercard: DE 43, Subfield 3: Card Acceptor City<br>- Visa: TC 05, positions 117-129: Merchant City'
          type: string
          minLength: 1
          maxLength: 50
          example: Austin
        cardAcceptorRegionCode:
          title: CardAcceptor Region Code
          description: The abbreviation for a subdivision (State, Province, Parish, Territory, etc.) provided in the ISO 639-1 and ISO-3166-2 format
          type: string
          minLength: 1
          maxLength: 3
          pattern: ^[A-Za-z0-9]*$
          example: TX
        cardAcceptorCountryCode:
          title: CardAcceptor Country Code
          description: The Country Code associated with the cardAcceptorNames location data.
          type: string
          minLength: 2
          maxLength: 3
          example: US
    AirTravel:
      type: object
      description: List of air travel reservations
      required:
      - id
      - passengerNameRecord
      - designatorCode
      - flightNumber
      - originAirportCode
      - destinationAirportCode
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: AirTravel unique identifier (merchant generated sequence-based ID for each reservation, for example 1, 2, 3, 4...)
          example: 1
        passengerNameRecord:
          minLength: 1
          maxLength: 6
          type: string
          description: The Passenger Name Record or Record Locator for the reservation
          example: XY8UI9
        designatorCode:
          minLength: 2
          maxLength: 2
          type: string
          description: The two digit IATA airline code
          example: AI
        airlineName:
          type: string
          minLength: 1
          maxLength: 100
          description: The full name of the airline
          example: Paradise Island Airlines
        flightNumber:
          minLength: 1
          maxLength: 10
          type: string
          description: The flight number assigned to that travel leg, not the full flight designator
          example: '8788'
        flightPrice:
          minLength: 1
          maxLength: 12
          type: string
          description: The cost of a single flight on the itinerary
          example: '245.99'
        originAirportCode:
          minLength: 3
          maxLength: 3
          type: string
          description: The 3 digit IATA code for the originating airport
          example: LAX
        originAirportName:
          type: string
          minLength: 1
          maxLength: 200
          description: The full name of the originating airport
          example: Metropolis International Airport
        destinationAirportCode:
          minLength: 3
          maxLength: 3
          type: string
          description: The 3 digit IATA code for the destination airport
          example: ISL
        destinationAirportName:
          type: string
          minLength: 1
          maxLength: 200
          description: The full name of the destination airport
          example: Smallville Regional Airport
        scheduledDepartureDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The scheduled time of departure (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        departureTimezone:
          type: string
          minLength: 1
          maxLength: 50
          description: The timezone of the departure as it appears in the TZ database
          example: Europe/Paris
        actualDepartureDateTime:
          minLength: 20
          maxLength: 20
          type: string
          description: The actual time of departure (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        scheduledArrivalDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The scheduled time of arrival (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        arrivalTimezone:
          type: string
          minLength: 1
          maxLength: 50
          description: The timezone of the arrival as it appears in the TZ database
          example: Europe/Istanbul
        actualArrivalDateTime:
          minLength: 20
          maxLength: 20
          type: string
          description: The actual time of arrival (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        fareClass:
          minLength: 1
          maxLength: 25
          type: string
          description: The type of fare the passenger paid (such as First Class or Economy)
          example: Economy
        flightStatus:
          type: string
          minLength: 7
          maxLength: 11
          description: "The status of the flight\n\nAllowed values:\n  - Arrived\n  - Cancelled\n  - Delayed\n  - Departed\n  - Diverted\n  - En_Route\n  - Past_Flight\n  - Scheduled\n"
          example: Arrived
        mealInfo:
          minLength: 1
          maxLength: 50
          type: string
          description: The information about the meal that was requested/available
          example: Available
        specialRequest:
          minLength: 1
          maxLength: 500
          type: string
          description: Any special requests or instructions for the flight (such as lap child, wheelchair, or unaccompanied minor)
          example: Wheelchair Requested.
        passengers:
          type: array
          description: The list of passengers flying on this particular flight
          items:
            $ref: '#/components/schemas/Passenger'
    Discount:
      type: object
      description: List of discounts applied to the order
      required:
      - id
      - description
      - amount
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Unique identifier for each discount record (merchant generated sequence-based ID for each discount, for example 1, 2, 3, 4...)
          example: '54'
        description:
          minLength: 1
          maxLength: 50
          type: string
          description: Description/Name of the discount
          example: summer sale- code 1234
        amount:
          type: string
          minLength: 1
          maxLength: 12
          description: Amount of this specific discount given (maximum number of fractional digits supported is 2)
          example: '250.35'
    Tax:
      type: object
      required:
      - id
      - description
      - amount
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Unique identifier for each tax record (merchant generated sequence-based ID for each tax record, for example 1, 2, 3, 4...)
          example: '32'
        description:
          minLength: 1
          maxLength: 50
          type: string
          description: Description of tax paid, for example 9.25% CA Sales Tax, VAT, etc. Can repeat if multiple taxes were processed.
          example: 9.25% CA Sales Tax
        amount:
          type: string
          minLength: 1
          maxLength: 12
          description: Sum of the taxes for this order for this tax type (maximum number of fractional digits supported is 2)
          example: '250.35'
    Passenger:
      description: The list of passengers flying on this particular flight
      type: object
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Passenger unique identifier (merchant generated sequence-based ID for each reservation, for example 1, 2..)
          example: '89'
        ticketNumber:
          minLength: 1
          maxLength: 25
          type: string
          description: The ticket number of the passenger
          example: 89YU87U
        seatNumber:
          description: The seat number assigned to the passenger
          type: string
          minLength: 1
          maxLength: 5
          example: 45E
        loyaltyReferenceId:
          type: string
          minLength: 1
          maxLength: 100
          description: 'Reference to loyalty object (in: /loyalty.id)'
          example: '98987'
        knownTravelerNumber:
          type: boolean
          description: Known traveler or redress number
          example: true
        checkInDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: The date and time the passenger checked in (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        travelUtilizationIndicator:
          type: boolean
          description: Indicates whether the flight was taken
          example: true
        name:
          $ref: '#/components/schemas/NameType'
        relatedPurchases:
          type: array
          description: Additional charges related to the passenger on the flight
          items:
            $ref: '#/components/schemas/RelatedPurchase'
    DigitalDelivery:
      type: object
      properties:
        digitalDeliveryDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date and Time the product was downloaded/delivered to the user (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        digitalDeliveryNotificationMessageSent:
          type: boolean
          description: Was a delivery notification message sent to user account?
          example: true
        digitalDeliveryNotificationMethod:
          minLength: 1
          maxLength: 50
          type: string
          description: Indicates how the delivery notification message was provided (email, SMS, etc.)
          example: Email
        digitalDeliveryNotificationMessageDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date the delivery notification was sent to the user. (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        downloadStartDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Download start date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        downloadCompletionDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Download completion date and time (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        digitalDeliveryIpAddress:
          minLength: 1
          maxLength: 45
          type: string
          description: Device IP address that was used at the time of the  digital download
          example: 129.0.0.1
    Reservation:
      type: object
      description: List of reservations created for the order
      required:
      - id
      - reservationStartDateTime
      - reservationEndDateTime
      - reservationNumber
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Reservation unique identifier (merchant generated sequence-based ID for each reservation, for example 1, 2, 3, 4...)
          example: '34'
        reservationStartDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Start date of reservation (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        reservationEndDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: End date of reservation (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        reservationNumber:
          minLength: 1
          maxLength: 50
          type: string
          description: Confirmation number of the reservation; note that this is not the PNR (Passenger Name Record) number or the ticket number of a flight; used primarily for OTAs (Online Travel Agencies), hotel rentals, and car rentals
          example: SAT76576UYT342
        reservationStatus:
          minLength: 1
          maxLength: 50
          type: string
          description: Current status of the reservation
          example: Accepted
        reservationStatusOther:
          minLength: 1
          maxLength: 50
          type: string
          description: Reservation status description if 'Other' is provided
          example: Onhold
        travelInsurancePolicyRecap:
          minLength: 1
          maxLength: 250
          type: string
          description: Short version of the Travel Insurance Policy - specific to this order
          example: Short version of the policy
        travelInsurancePolicy:
          minLength: 1
          maxLength: 200000
          type: string
          description: Entire Travel Insurance Policy, formatted for text display
          example: Travel Insurance Policy details
        travelInsurancePolicyLink:
          minLength: 1
          maxLength: 500
          type: string
          description: Link to travel policy purchased
          example: http://somehost.com/policydocument.html
        itineraries:
          type: array
          description: List of air travel reservations
          items:
            $ref: '#/components/schemas/AirTravel'
        vehicleRentals:
          type: array
          description: List of rental vehicle reservations
          items:
            $ref: '#/components/schemas/VehicleRental'
        lodgings:
          type: array
          description: List of accommodation rentals
          items:
            $ref: '#/components/schemas/Lodging'
    ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
      description: Error response object
    CustomData:
      type: object
      properties:
        customFieldName:
          type: string
          description: The name of the custom field that is being sent
          minLength: 1
          maxLength: 500
          example: Driver Rating
        customFieldValue:
          type: string
          description: The custom data value that is associated with the custom field
          minLength: 1
          maxLength: 500
          example: 5 Stars
    CardLastFour:
      title: Card Last Four
      minLength: 4
      maxLength: 4
      type: string
      pattern: ^\d{4}$
      description: Last four characters of the card used in the transaction
      example: '1234'
    NameType:
      type: object
      properties:
        prefix:
          minLength: 1
          maxLength: 10
          type: string
          description: Prefix of the person
          example: Mr.
        givenName:
          minLength: 1
          maxLength: 40
          type: string
          description: Given name of the person
          example: Raymond
        additionalName:
          minLength: 1
          maxLength: 40
          type: string
          description: Middle name or initial of the person
          example: Jacob
        familyName:
          minLength: 1
          maxLength: 80
          type: string
          description: Family name of the person
          example: Holt
        suffix:
          minLength: 1
          maxLength: 10
          type: string
          description: Suffix of the person
          example: Sr.
    CallToActionLink:
      type: object
      required:
      - linkUrl
      - linkType
      properties:
        linkUrl:
          type: string
          description: CTA URL
          minLength: 9
          maxLength: 500
          example: https://support.testmerchant.com/cta
        linkType:
          title: CTA type
          description: "The CTA types\n\nAllowed values:\n  - VIEW_ORDER\n  - REQUEST_REFUND\n  - BUY_AGAIN\n  - WRITE_REVIEW\n"
          type: string
          minLength: 1
          maxLength: 20
          example: VIEW_ORDER
    FacilitatorProfile:
      type: object
      properties:
        profileType:
          type: string
          minLength: 2
          maxLength: 3
          description: "Type of facilitator\n\nAllowed values:\n  - OTA\n"
          example: OTA
        profile:
          $ref: '#/components/schemas/MerchantProfile'
    CreditReimbursement:
      type: object
      description: List of credits for the order
      required:
      - id
      - creditReimbursementDateTime
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Credit Reimbursement Object ID (merchant generated sequence based ID for each credit, for example 1, 2, 3, 4...)
          example: '90'
        creditReimbursementDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Credit Reimbursement Date (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        creditReimbursementMethod:
          minLength: 1
          maxLength: 20
          type: string
          description: Method of credit
          example: Cheque
        voucherDetails:
          minLength: 1
          maxLength: 1000
          type: string
          description: Description of the voucher
          example: Voucher
        voucherExpirationDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date voucher expires, if applicable (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        voucherAmount:
          type: string
          minLength: 1
          maxLength: 12
          description: Amount of voucher (maximum number of fractional digits supported is 2)
          example: '250.35'
        voucherDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date voucher was issued (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        voucherReference:
          minLength: 1
          maxLength: 255
          type: string
          description: Voucher reference identifier
          example: 5435KJH45Y123
        creditAmount:
          type: string
          minLength: 1
          maxLength: 12
          description: Amount of credit applied (maximum number of fractional digits supported is 2)
          example: '250.35'
        creditReference:
          minLength: 1
          maxLength: 255
          type: string
          description: Credit reference information
          example: Credit report
    TransactionDetails:
      description: Details about the order transaction aspects
      type: object
      properties:
        deviceIpAddress:
          minLength: 1
          maxLength: 45
          type: string
          description: Device IP address that was used at the time of the original  transaction
          example: 120.0.0.1
        geolocation:
          minLength: 1
          maxLength: 30
          type: string
          description: Geographical location of customer at the date/time of the transaction
          example: Toronto/CA
        geoLocationLongitude:
          minLength: 1
          maxLength: 30
          type: string
          description: The longitude of the users device at the time of the  initial transaction being created.
          example: -81.0005857
        geoLocationLatitude:
          minLength: 1
          maxLength: 30
          type: string
          description: The latitude of the users device at the time of the  initial transaction being created.
          example: 46.4992699
        orderDeviceId:
          minLength: 1
          maxLength: 40
          type: string
          description: ID of the device used to place order
          example: DAX9090989
        orderDeviceName:
          minLength: 1
          maxLength: 20
          type: string
          description: Name of the device used to place order
          example: ETHOCAMAC909
        orderDeviceFingerprint:
          minLength: 20
          maxLength: 200
          type: string
          description: The fingerprint of the device used for the transaction.
          example: a48d8a6de1453c98eefdb906f08e8f1314cc2ec41a20291ab70ff75d47c66a3d
        deviceType:
          minLength: 1
          maxLength: 20
          type: string
          description: Type of device used to make the purchase
          example: COMPUTER
        appSourceBrowserType:
          minLength: 1
          maxLength: 45
          type: string
          description: The application or browser used to make the purchase
          example: Firefox v10.3.2
        simDetails:
          minLength: 1
          maxLength: 21
          type: string
          description: SIM card reference number
          example: 898898988CD98980
        mobileNetworkProvider:
          minLength: 1
          maxLength: 45
          type: string
          description: Mobile network the phone was connected to during the purchase (if any)
          example: Rogers
        imeiId:
          minLength: 1
          maxLength: 32
          type: string
          description: Device IMEI ID
          example: 987979KHH78798JHJHJ
        iccId:
          minLength: 1
          maxLength: 22
          type: string
          description: SIM card identifier (integrated circuit card identifier). Stored in the SIM card and engraved on the outside.
          example: '56897687870898'
        salesChannel:
          minLength: 1
          maxLength: 25
          type: string
          description: Source of the purchase (such as website, mobile, ticket counter, etc.)
          example: Mobile
    HistoricOrder:
      type: object
      description: List of historic orders for this account.
      properties:
        orderId:
          minLength: 1
          maxLength: 65
          type: string
          description: Merchant internal Order ID
          example: '7768576'
        orderDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date of historical order (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        orderTotal:
          description: Total amount of order
          type: string
          minLength: 1
          maxLength: 12
          example: '878.96'
        primaryDeviceId:
          minLength: 1
          maxLength: 40
          type: string
          description: Primary device ID
          example: 98JYI77
        primaryDeviceName:
          minLength: 1
          maxLength: 20
          type: string
          description: Primary device name
          example: Mark's iPad
        deviceIpAddress:
          minLength: 1
          maxLength: 45
          type: string
          description: Device IP address that was used at the time of the historical/previous transaction
          example: 127.0.0.1
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        userIdName:
          minLength: 1
          maxLength: 65
          type: string
          description: Merchant unique identifier for cardholder
          example: testuser1234
        matchCreditCard:
          type: boolean
          description: Indicates whether this card matches orders that have been previously placed with this merchant
          example: true
        matchDeviceId:
          type: boolean
          description: Indicates whether this device ID matches orders that have been previously placed with this merchant
          example: true
        matchDeviceName:
          type: boolean
          description: Indicates whether this device name matches orders that have been previously placed with this merchant
          example: true
        matchIpAddress:
          type: boolean
          description: Indicates whether this IP Address matches orders that have been previously placed with this merchant
          example: true
        matchGeoLocation:
          type: boolean
          description: Indicates whether this Geo Location matches orders that have been previously placed with this merchant
          example: true
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
    Refund:
      type: object
      description: List of refunds made for the order
      required:
      - id
      - refundDateTime
      - total
      properties:
        id:
          minLength: 1
          maxLength: 100
          type: string
          description: Refund object unique identifier (merchant generated sequence-based ID for each refund, for example 1, 2, 3, 4..)
          example: '23'
        referenceNumber:
          minLength: 1
          maxLength: 65
          type: string
          description: Refund reference number, sequence, or reference number provided by acquirer. This will be hidden from the cardholder.
          example: 89U897Y09K5
        refundDateTime:
          type: string
          minLength: 20
          maxLength: 20
          description: Date and time when the refund is requested. (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          format: date-time
          example: '2017-06-19T13:18:18Z'
        cardLastFour:
          $ref: '#/components/schemas/CardLastFour'
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        total:
          description: Total amount that was refunded on the transaction
          type: string
          minLength: 1
          maxLength: 12
          example: '787.96'
        orderBalance:
          description: Amount remaining after the refund on the order (maximum number of fractional digits supported is 2)
          type: string
          minLength: 1
          maxLength: 12
          example: '898.96'
        issuerAuthorizationCode:
          type: string
          minLength: 6
          maxLength: 6
          description: Authorization code for the refund
          pattern: ^[a-zA-Z0-9]*$
          example: 89iui8
    Consequence:
      type: object
      properties:
        consequenceStatus:
          type: boolean
          description: Indicates whether there is a consequence/merchant action for this account/transaction if it is disputed
          example: true
        consequence:
          minLength: 1
          maxLength: 500
          type: string
          description: Free form text displayed to issuer that can be shared verbatim with the cardholder. Can be specific to customer or generated in real time based on other aspects of order
          example: No Change/Cancellation is Allowed.
    PaymentType:
      title: Transaction Card Type
      type: string
      minLength: 2
      maxLength: 8
      pattern: ^[A-Za-z0-9]{2,8}$
      description: "The card brand or network as provided by the issuer\n\nAllowed values:\n  - AMEX\n  - DISCOVER\n  - MC\n  - VISA\n\nDefinition of allowed values:\n  - AMEX: American Express\n  - DISCOVER: Discover\n  - MC: Mastercard\n  - VISA: Visa\n"
      example: MC
    Usage:
      type: object
      description: Item (product) usage details
      properties:
        productInUse:
          type: boolean
          description: Indicates whether product has been delivered, used, or accessed?
          example: true
        lastUtilizationDateTime:
          description: Date of last login to the application/utilization of subscription by consumer (String based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          type: string
          minLength: 20
          maxLength: 20
          format: date-time
          example: '2017-06-19T13:18:18Z'
        totalUsage:
          type: integer
          minimum: 0
          maximum: 99999
          description: Total number of times the product was delivered, used or accessed
          format: int32
          example: 78
        consumptionDescription:
          minLength: 1
          maxLength: 500
          type: string
          description: Details about the usage of the product, for example how many minutes of game play, number of times video was viewed, number of pages read in a digital book, etc.
          example: Movie has been viewed 52 times.
        consumptionMethod:
          minLength: 1
          maxLength: 500
          type: string
          description: How the product was used/accessed (further proof the consumer used the product), for example how they used it, device details and/or IP address, etc.
          example: User accessed the movie from iPad Application.
    AccountProfile:
      type: object
      properties:
        email:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[A-Za-z0-9]{1,200}$
          description: Customer's email address for communication
          example: first.user@gmail.com
        phone:
          minLength: 3
          maxLength: 30
          type: string
          description: Primary phone number on the account; include the country code and any applicable separators
          example: +1-234-567-8901
        userIdName:
          minLength: 1
          maxLength: 65
          type: string
          description: Merchant unique identifier for customer (if email address is used as the User ID, this field should still be populated)
          example: testuser123
        customerNameDuration:
          type: integer
          minimum: 0
          maximum: 99999
          description: Duration from customer registration to purchase date (in full months). If less than 1 full month or 30 days, then use zero.
          format: int32
          example: 1
        accountCreationDateTime:
          minLength: 20
          maxLength: 20
          type: string
          format: date-time
          description: Date & Time the account was created or opened. (String based date time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          example: '2017-06-19T13:18:18Z'
        accountLastUsageDateTime:
          type: string
          description: Date of the last access or usage or transaction for this account (note that this may be different from lastLoginDate if customer uses guest checkout, etc.)(String based date time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
          minLength: 20
          maxLength: 20
          format: date-time
          example: '2017-06-19T13:18:18Z'
        totalSpendAmount:
          type: string
          minLength: 1
          maxLength: 12
          description: Total amount spent on this account since it was created. Maximum number of fractional digits supported is 2.
          example: '250.35'
        cardholderVisitCountPrior:
          type: integer
          minimum: 0
          maximum: 99999
          description: Number of visits from cardholder prior to purchase transaction date
          format: int32
          example: 7
        cardholderVisitCountSince:
          type: integer
          minimum: 0
          maximum: 99999
          description: Number of visits from cardholder since purchase date to Purchase Inquiry transaction date
          format: int32
          example: 9
        monthsSinceFirstPurchase:
          type: integer
          minimum: 0
          maximum: 99999
          description: Months since the first purchase made by account holder and device
          format: int32
          example: 2
        countOfPurchasesSinceRegistration:
          type: integer
          minimum: 0
          maximum: 99999
          description: Number of purchases since account and device were registered
          format: int32
          example: 90
        countOfDisputedPurchasesSinceRegistration:
          type: integer
          minimum: 0
          maximum: 99999
          description: Number of disputed purchases since account and device were registered
          format: int32
          example: 9
        additionalRelatedDisputes:
          type: integer
          minimum: 0
          maximum: 99999
          description: Number of additional related disputes
          format: int32
          example: 3
        disputeHistoryMatch:
          type: boolean
          description: Indicates whether this cardholder has disputed orders with this merchant in the past 6 months
          example: true
        lastLoginDateTime:
          minLength: 20
          maxLength: 20
          type: string
          description: Date of last login to customer account (string based date/time representation in International Date Time Format (ISO 8601) in UTC - yyyy-mm-ddThh:mm:ssZ)
[...]
