swagger: '2.0'
info:
  title: Mastercard Bill Payment Validator Account Opening Issuer API
  description: This service is provided on behalf of the Mastercard Remote Payment and Presentment (RPPS) Bill Payment Processing Network, which supports consumer to business "push" bill payments (i.e. those which are not funded by debit/credit card transactions) in the U.S.
  version: '1.0'
  x-artifactId: billpay-api
  contact:
    name: Bill Pay Development Support
    email: Bill_Pay_Development_Support@mastercard.com
host: sandbox.api.mastercard.com
basePath: /billpayAPI/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Issuer
  description: Contains APIs which will be consumed by the Issuer's backend system.
paths:
  /issuers:
    get:
      tags:
      - Issuer
      summary: Mastercard Fetches the Issuer Details.
      description: Allows fetching the Issuer details onboarded on the Carbon Calculator Experience. This API returns the Issuer's available details like a supported account range, currency code, and country code along with the color theme.
      operationId: getIssuer
      responses:
        '200':
          $ref: '#/components/responses/IssuerProfileDetails'
        '401':
          $ref: '#/components/responses/IssuerUnauthorisedError'
        '404':
          $ref: '#/components/responses/IssuerNotFoundError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Issuer
      summary: Mastercard Allows Issuer to Update the Issuer Details to the Carbon Calculator Experience Platform.
      description: Allows a registered Issuer to update the configuration details to the Carbon Calculator Experience API.
      operationId: updateIssuer
      requestBody:
        $ref: '#/components/requestBodies/IssuerConfiguration'
      responses:
        '200':
          $ref: '#/components/responses/IssuerProfile'
        '400':
          $ref: '#/components/responses/UpdateIssuerBadRequestError'
        '401':
          $ref: '#/components/responses/UpdateIssuerUnauthorisedError'
        '404':
          $ref: '#/components/responses/IssuerNotFoundError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuers/users:
    post:
      tags:
      - Issuer
      summary: Mastercard Allows Issuer to Enroll Cardholders to the Carbon Calculator Experience Platform.
      description: "Used to enroll users for the Carbon Calculator Experience API so that\nthey can track the carbon usage for their transactions and provides\nthem with an option to donate towards tree plantation.\n\n**Note-**\n* If the issuer has opted for the Donation feature then the fields - *name, billing address, email, locale, cardholder name, card number, card base currency and card expiry date* fields are **mandatory** in the payload.\n* This endpoint uses the Mastercard payload\n  encryption. Refer to the **[Payload\n  Encryption](https://developer.mastercard.com/platform/documentation/security-and-authentication/securing-sensitive-data-using-payload-encryption/#mastercard-encryption)**\n  page for implementation details.\n"
      operationId: userRegistration
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/UserProfile'
      responses:
        '200':
          $ref: '#/components/responses/UserReference'
        '400':
          $ref: '#/components/responses/UserEnrolmentBadRequestError'
        '401':
          $ref: '#/components/responses/UserEnrolmentUnauthorisedError'
        '404':
          $ref: '#/components/responses/IssuerNotFoundError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuers/users/{userid}:
    put:
      tags:
      - Issuer
      summary: Mastercard Allows Issuer to Update Enrolled User Information Onto Carbon Calculator Experience Platform.
      description: Used to update the user's information for Carbon Calculator Experience.
      operationId: updateUser
      parameters:
      - $ref: '#/components/parameters/UserID'
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/UpdateUserProfile'
      responses:
        '200':
          $ref: '#/components/responses/UpdateUserReference'
        '400':
          $ref: '#/components/responses/UserEnrolmentBadRequestError'
        '401':
          $ref: '#/components/responses/UpdateUserUnauthorisedError'
        '404':
          $ref: '#/components/responses/IssuerNotFoundError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuers/users/{userid}/dashboards:
    get:
      tags:
      - Issuer
      summary: Mastercard Used to Retrieve the Short-lived Url of a User's Dashboard to View Their Carbon Footprints and Contributions to Priceless Planet.
      description: It allows issuers to retrieve a short-lived URL for an enrolled user. An Issuer needs to load this URL within their application so that the user can view the dashboard in their preferred language. Currently, four languages are supported, including English, Spanish (Latin America), Swedish, and Polish.
      operationId: getAuthToken
      parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '#/components/responses/Dashboard'
        '400':
          $ref: '#/components/responses/DashboardBadRequestError'
        '401':
          $ref: '#/components/responses/DashboardsUnauthorisedError'
        '404':
          $ref: '#/components/responses/DashboardNotFoundError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuers/users/{userid}/aggregate-carbon-scores:
    get:
      tags:
      - Issuer
      summary: Mastercard Fetches Monthly Aggregate Carbon Score for the Transactions Made for the Current Month.
      description: Allows Issuers to retrieve an aggregate carbon footprint for the transactions done by a user.
      operationId: getAggregateCarbonScore
      parameters:
      - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          $ref: '#/components/responses/AggregateCarbonScore'
        '400':
          $ref: '#/components/responses/AggregateCarbonScoreBadRequestError'
        '401':
          $ref: '#/components/responses/AggregateCarbonScoreUnauthorisedError'
        '404':
          $ref: '#/components/responses/AggregateCarbonScoreNotFoundError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuers/user-deletions:
    post:
      tags:
      - Issuer
      summary: Mastercard Delete One or More Users.
      description: <ul><li>Allows a registered Service Provider to delete one or more users.</li> <li>Payment cards associated with the user will also be deleted.</li> <li>On a successful response from the Server, the Service Provider should remove all the requested users and associated payment cards from the system.</li></ul>
      operationId: deleteUsers
      requestBody:
        $ref: '#/components/requestBodies/UserIDs'
      responses:
        '202':
          $ref: '#/components/responses/UserIDs'
        '400':
          $ref: '#/components/responses/DeleteUserBadRequestError'
        '401':
          $ref: '#/components/responses/DeleteUserUnauthorisedError'
        '404':
          $ref: '#/components/responses/DeleteUserNotFoundError'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /issuer-frauds:
    post:
      tags:
      - Issuer
      operationId: submitIssuerFraud
      description: This endpoint allows the initiator to add a new fraud record using complete input parameters for both Mastercard and Issuer built transactions. The transaction will be looked up in the Mastercard transaction data repository (Data Warehouse) and if a match is found, it is submitted as a Mastercard built fraud record. If no match is found, the transaction will be submitted as an Issuer built fraud record.
      summary: Add a New Fraud Record Using Complete Input Parameters for Both Mastercard and Issuer Built Transactions.
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/FraudIssuerRequest'
      responses:
        '200':
          $ref: '#/components/responses/FraudIssuerAdditionException'
        '201':
          $ref: '#/components/responses/FraudIssuerAddition'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitExceededError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Issuer
      operationId: updateIssuerFraud
      description: This endpoint allows the initiator to change an existing fraud record using complete input parameters for both Mastercard and Issuer built transactions. The initiator can modify both successful and rejected fraud transactions and also modify transactions which are submitted via other channels such as GFT, file upload, and online.
      summary: Change an Existing Fraud Record Using Complete Input Parameters for Both Mastercard and Issuer Built Transactions.
      x-mastercard-api-encrypted: true
      requestBody:
        $ref: '#/components/requestBodies/FraudIssuerRequestChange'
      responses:
        '200':
          $ref: '#/components/responses/FraudIssuerDataChanged'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitExceededError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error_2:
      title: ErrorMessage
      required:
      - Description
      - ReasonCode
      type: object
      properties:
        Source:
          type: string
          description: The application or component that generated this error.
          minLength: 3
          maxLength: 50
          example: FLD
        ReasonCode:
          type: string
          description: Reason code is a unique constant identifying the error case encountered during request processing.
          minLength: 5
          maxLength: 100
          example: VALIDATION_ERROR
        Description:
          type: string
          description: Human-readable short description of the reasonCode
          minLength: 10
          maxLength: 250
          example: Reference Id is not provided
        Details:
          type: string
          description: Optional detailed description provides information about data received and calculated during request processing.  This helps the user to diagnose errors.
          minLength: 0
          maxLength: 1000
          example: This is mandatory field while requesting for fraud submission.
        Recoverable:
          type: boolean
          description: Recoverable flag indicates whether this error is always returned for this request, or retrying could change the outcome.  For example, 'true' or 'false'.
          example: false
    FraudBase:
      type: object
      properties:
        refId:
          description: Unique identification generated by the transaction originator using UUID logic to unambiguously link a request and response message.
          example: ecb2d942-eabd-42b6-87fd-69c19692bdc6
          maxLength: 36
          minLength: 36
          type: string
        timestamp:
          description: Timestamp of the request initiation by the originator in the format 'YYYY-MM-DDThh:mm:ss:mmm+hh:mm'. The value of '+hh:mm' portion should always be '-05:00' or '-06:00' reflecting CST time.
          example: '2022-05-24T20:34:37+6:00'
          maxLength: 25
          minLength: 25
          type: string
        icaNumber:
          description: ICA number of the Issuer or Acquirer or Provider initiating the fraud submission request.
          example: '1076'
          maxLength: 7
          minLength: 3
          type: string
    IssuerFraud:
      allOf:
      - $ref: '#/components/schemas/APIDataElement'
      - type: object
        required:
        - acquirerId
        - transactionIdentifiers
        - cardNumber
        - fraudTypeCode
        - fraudSubTypeCode
        - cardProductCode
        - transactionDate
        - settlementDate
        - transactionAmount
        - transactionCurrencyCode
        - billingAmount
        - billingCurrencyCode
        - merchantId
        - merchantName
        - merchantCity
        - merchantCountryCode
        - merchantPostalCode
        - merchantCategoryCode
        - terminalAttendanceIndicator
        - terminalId
        - terminalOperatingEnvironment
        - cardholderPresenceIndicator
        - cardPresenceIndicator
        - cardInPossession
        - catLevelIndicator
        - terminalCapabilityIndicator
        - posEntryMode
        - cvcInvalidIndicator
        - avsResponseCode
        - authResponseCode
        - accountDeviceType
        properties:
          acquirerId:
            description: Acquirer identification number (ICA number) for the transaction.
            type: string
            minLength: 3
            maxLength: 7
            example: '5450'
          transactionIdentifiers:
            type: array
            items:
              $ref: '#/components/schemas/TransactionIdentifier'
          cardNumber:
            description: Cardholder account number used in the fraudulent transaction. Card number to be verified through Luhn's algorithm.
            type: string
            minLength: 12
            maxLength: 19
            example: '5505135664572870000'
          fraudTypeCode:
            description: Code identifying the reason the originator submitted the transaction as fraud in FLD. Please refer to [Table 1](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-1-fraud-type-codes) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '04'
          fraudSubTypeCode:
            description: Code to further identify the reason that the originator submitted the transaction as fraud in FLD. Please refer to [Table 2](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-2-fraud-sub-type-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: U
          cardProductCode:
            description: Value identifying the type of card used in the transaction. Please refer to [Card Type Codes table](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-2/) for possible values.
            type: string
            minLength: 3
            maxLength: 3
            example: MSI
          transactionDate:
            description: Local date at the merchant location when the transaction occurred. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210115'
          settlementDate:
            description: Settlement date of transaction reported. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210116'
          fraudPostedDate:
            description: Date on which the fraud is posted in FLD by the originator. Format is 'YYYYMMDD'. It is optional field, if not provided FLD System will save it as System date.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210120'
          cardholderReportedDate:
            description: Date on which the cardholder had reported the fraud. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210118'
          transactionAmount:
            description: Transaction amount at the merchant location (without any decimals).
            type: string
            minLength: 1
            maxLength: 12
            example: '10350'
          transactionCurrencyCode:
            description: Code defining the currency used for the transaction amount. The code should be part of the numeric ISO Standard Currency Codes list.
            type: string
            minLength: 3
            maxLength: 3
            example: '826'
          billingAmount:
            description: Amount appearing on the cardholder statement in the cardholder's billing currency (without any decimals).
            type: string
            minLength: 1
            maxLength: 12
            example: '10350'
          billingCurrencyCode:
            description: Code defining the currency used for the billing amount. The code should be part of the numeric ISO Standard Currency Codes list.
            type: string
            minLength: 3
            maxLength: 3
            example: '826'
          merchantId:
            description: Card acceptor / merchant's unique identification number, assigned by the Acquirer.
            type: string
            minLength: 1
            maxLength: 15
            example: A42E51982100100
          merchantName:
            description: Name of the card acceptor.
            type: string
            minLength: 1
            maxLength: 22
            example: BANKNEWPORT
          merchantCity:
            description: City in which the merchant is located.
            type: string
            minLength: 1
            maxLength: 13
            example: PHOENIX
          merchantStateProvinceCode:
            description: If the card acceptor/merchant is in the US, the state in which it is located.
            type: string
            minLength: 2
            maxLength: 3
            example: AZ
          merchantCountryCode:
            description: Indicates the country in which the merchant is located.
            type: string
            minLength: 3
            maxLength: 3
            example: USA
          merchantPostalCode:
            description: Postal code at the merchant location.
            type: string
            minLength: 1
            maxLength: 10
            example: '85001'
          merchantCategoryCode:
            description: Card acceptor business code / merchant category code.
            type: string
            minLength: 4
            maxLength: 4
            example: '6011'
          terminalAttendanceIndicator:
            description: Indicates if the card acceptor was attending the terminal at the time of transaction. Please refer to [Table 12](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-12-terminal-attendance-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          terminalId:
            description: Unique code identifying a terminal at the card acceptor (merchant) location.
            type: string
            minLength: 1
            maxLength: 8
            example: 5055D305
          terminalOperatingEnvironment:
            description: Indicates whether the card acceptor is attending the terminal and the location of the terminal. Please refer to [Table 13](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-13-terminal-operating-environment) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '4'
          cardholderPresenceIndicator:
            description: Indicates whether the cardholder is present at the point of service and explains the condition if the cardholder is not present. Please refer to [Table 6](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-6-cardholder-presence-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '5'
          cardPresenceIndicator:
            description: Indicates whether the card was present at the point of service. Please refer to [Table 7](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-7-card-present-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          cardInPossession:
            description: Flag to indicate if the card holder was in possession of the card at the time the fraud occurred. Possible values are 'Y', 'N' and 'U' (for Unknown).
            type: string
            minLength: 1
            maxLength: 1
            example: N
          catLevelIndicator:
            description: Indicates whether the cardholder activated the terminal with the use of the card and the CAT security level. Please refer to [Table 9](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-9-cardholder-activated-terminal-level-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          terminalCapabilityIndicator:
            description: Indicates the terminal capability for transferring the data on the card into the terminal. Please refer to [Table 14](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-14-terminal-input-capability-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '5'
          electronicCommerceIndicator:
            description: Indicates the security protocol and authentication of the transaction. Mandatory if CAT Level = 6. Please refer to [Table 10](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-10-electronic-commerce-security-level-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 2
            example: '24'
          posEntryMode:
            description: Indicates how the PAN was entered at the terminal. Please refer to [Table 8](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-8-pos-entry-mode) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '05'
          cvcInvalidIndicator:
            description: Indicates whether the CVC was valid when authorization was attempted. Please refer to [Table 15](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-15-card-validation-code-cvc-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: M
          avsResponseCode:
            description: The Address Verification Service response code in the Authorization Request Response. Please refer to [Table 4](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-4-avs-response-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: U
          authResponseCode:
            description: Indicates the result of the authorization request. Please refer to [Table 5](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-5-authorization-response-codes) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '01'
          secureCode:
            description: Indicates the type of security processing used for the PIN data. Mandatory if ecommerce indicator = 21 or 22. Please refer to [Table 11](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-11-secure-code) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '9'
          accountDeviceType:
            description: Indicates if the account uses a magnetic stripe, chip, pin, contactless or any combination thereof. Please refer to [Table 3](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-3-account-device-type-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          acquirerRoutingTransitNumber:
            description: The identification number of the merchant's acquirer. Applicable for a single message transaction. Mandatory if an acquirer ICA value is '9999999'.
            type: string
            minLength: 10
            maxLength: 10
            example: '1790018674'
          issuerRoutingTransitNumber:
            description: The identification number of the issuing institution. Applicable for a single message transaction. Mandatory if an issuer ICA value is '9999999'.
            type: string
            minLength: 10
            maxLength: 10
            example: '1231380159'
          transactionIndicator:
            description: Indicates whether the transaction was initiated by the cardholder or the merchant as well as providing more detail as to the type of stored credentials being used for the transaction. Please refer to [Table 17](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-17-cardholder-merchant-initiated-transaction-indicator) for possible values.
            type: string
            minLength: 4
            maxLength: 4
            example: M101
          memo:
            description: Brief description by the originator providing some comment supporting the action.
            type: string
            minLength: 1
            maxLength: 1000
            example: This is a sample FDA complete request.
    PreferredTheme:
      type: object
      additionalProperties:
        type: string
      description: Color hex code to set preferred colors for webview.
      example:
        backgroundColor: '#FFFFFF'
        widgetBackgroundColor: '#FFFFFF'
        fontColor: '#000000'
        buttonColor: '#999999'
        barGraphColor: '#111111'
        buttonTextColor: '#FFFFFF'
        titleFontType: Mark Offc For MC
        titleFontSize: 28px
        subTitleFontType: Mark Offc For MC
        subTitleFontSize: 20px
        paragraphFontType: Mark Offc For MC
        paragraphFontSize: 15px
        buttonTextFontType: Mark Offc For MC
        buttonTextFontSize: 15px
        linkFontType: Mark Offc For MC
        linkFontSize: 15px
    Errors_2:
      title: Errors
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          description: Errors array wrapped in an error object
          items:
            $ref: '#/components/schemas/Error_2'
          example: []
    UserReference:
      title: UserReference
      type: object
      description: Successful user enrollment response
      required:
      - cardNumberLastFourDigits
      - status
      - userid
      properties:
        userid:
          $ref: '#/components/schemas/UserID'
        cardNumberLastFourDigits:
          type: string
          minLength: 4
          maxLength: 4
          pattern: ^\d{4}$
          description: Last 4 digits of a full payment card number which were provided as enrollment request.
          example: '4363'
        status:
          type: string
          minLength: 6
          maxLength: 7
          description: Status of the user on Carbon Calculator Experience API. Possible values are ACTIVE and INACTIVE.
          example: ACTIVE
    APIDataElement:
      required:
      - refId
      - timestamp
      - icaNumber
      type: object
      properties:
        refId:
          description: Unique identification generated by the transaction originator using UUID logic to unambiguously link a request and response message.
          type: string
          minLength: 36
          maxLength: 36
          example: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp:
          type: string
          description: Timestamp of the request initiation by the originator in the format 'YYYY-MM-DDThh:mm:ss:mmm+hh:mm'. The value of '+hh:mm' portion should always be '-05:00' or '-06:00' reflecting CST time.
          minLength: 25
          maxLength: 25
          example: '2021-02-02T02:34:37-06:00'
        icaNumber:
          description: ICA number of the Issuer or Acquirer initiating the fraud submission request.
          type: string
          minLength: 3
          maxLength: 7
          example: '1076'
        issuerSCAExemption:
          description: Issuer SCA (Strong Customer Authentication) Exemption value. Please refer to [Table 16](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-16-issuer-sca-strong-customer-authentication-exemption) for possible values.
          type: string
          minLength: 1
          maxLength: 2
          example: 09
    UserName:
      type: object
      required:
      - firstName
      - lastName
      properties:
        firstName:
          type: string
          example: John
          minLength: 1
          maxLength: 100
          description: Denotes the first name of the user.
        lastName:
          type: string
          description: Denotes the last name of the user.
          minLength: 1
          maxLength: 100
          example: Doe
      title: Username
    CardExpiry:
      type: object
      properties:
        month:
          type: string
          example: '10'
          description: Denotes a month by when the card will be expired.
          pattern: ^[0-9]{2}$
        year:
          type: string
          description: Denotes a year by when the card will be expired.
          example: '2024'
          pattern: ^[0-9]{4}$
      title: CardExpiry
    IssuerConfiguration:
      title: IssuerConfiguration
      type: object
      description: Configuration details for an Issuer.
      properties:
        supportedAccountRange:
          type: string
          pattern: ^\s*[0-9]{4,8}(\s*,\s*[0-9]{4,8})*\s*$
          description: Comma separated account range must be between 4 and 8 supported by an Issuer.
          example: 534403,518145,518152,5403,5424
        privacyNoticeURL:
          type: string
          description: Privacy Notice URL.
          example: https://www.issuer.privacy-policy-url.html
        termsAndConditionURL:
          type: string
          description: Terms and conditions URL for the given user.
          example: https://www.issuer.term-and-conditions.html
        optOutURL:
          type: string
          description: Opt out URL for the given user.
          example: https://www.issuer.opt-out-url.html
        preferredTheme:
          $ref: '#/components/schemas/PreferredTheme'
    Errors:
      title: Errors
      type: object
      description: Error object which contains a list of error objects.
      required:
      - Error
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example: []
    Address:
      type: object
      required:
      - countryCode
      - type
      properties:
        countryCode:
          description: Denotes three-character country code.
          type: string
          example: USA
          minLength: 3
          maxLength: 3
        locality:
          description: Neighborhood.
          type: string
          minLength: 3
          maxLength: 30
          example: Rly Station
        postalCode:
          description: <p> The postal code in the address is the ZIP code or equivalent and can be an alphanumeric value including whitespace (for example, PE7 8FT). <br><b> Note - Special characters and only whitespace characters are not allowed. </b></p>
          type: string
          example: '11746'
          maxLength: 12
        state:
          type: string
          description: The state or region or province to which the address belongs.
          example: New York
          minLength: 3
          maxLength: 20
        city:
          type: string
          description: City.
          example: Brooklyn
          minLength: 3
          maxLength: 20
        line1:
          type: string
          description: Street Address line1.
          minLength: 3
          maxLength: 20
          example: 83 Mayfair Street
        line2:
          type: string
          description: Street Address line2.
          minLength: 3
          maxLength: 20
          example: Main Road
        line3:
          type: string
          description: Street Address line3.
          minLength: 3
          maxLength: 20
          example: Snake Hill Ave
        type:
          type: string
          description: Denotes the type of address. (For example, home or work)
          example: work
          minLength: 3
          maxLength: 20
      title: Address
    TransactionIdentifier:
      description: Transaction Identifier containing CFC Indicator the key and value pair.
      type: object
      properties:
        cfcKey:
          $ref: '#/components/schemas/CfcIndicator'
        cfcValue:
          description: Actual value depending on the 'CFC Indicator' subject to the following validations 1. For ARN, Min Length is 23, Max Length is 23 and Data Type is N. 2. For BRN, Min Length is 6, Max Length is 9 and Data Type is AN. 3. For TRC, Min Length is 6, Max Length is 6 and Data Type is N. 4. For SER, Min Length is 9, Max Length is 9 and Data Type is N.
          type: string
          minLength: 6
          maxLength: 23
          example: 0111111111999999999999
    CurrencyCode:
      title: currencyCode
      type: string
      description: Currency code as per ISO 4217
      pattern: ^[A-Za-z]{3}$
      example: EUR
    UserID:
      type: string
      minLength: 36
      maxLength: 36
      pattern: ^[0-9A-Fa-f-]{36}
      description: Unique identifier for a user enrolled in the Carbon Calculator Experience platform.
      example: f5d88571-ac15-465a-a0d8-1ad1327b9a06
    IssuerProfile:
      title: IssuerProfile
      type: object
      description: Information about an Issuer as available on the server.
      required:
      - clientId
      - supportedAccountRange
      - status
      properties:
        clientId:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[\w\d\-\_]{1,200}
          description: Unique Issuer identifier from the Mastercard Developer Portal.
          example: fjl2fxzsYl1OpvxkBItC9nVw1PSQc_b-eQMcmQFg011ab4b5
        customerId:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[\w\d]{1,200}
          description: Unique Issuer identifier assigned by Mastercard which remains the same across all Mastercard systems.
          example: customerid1
        supportedAccountRange:
          type: string
          pattern: ^\s*[0-9]{4,8}(\s*,\s*[0-9]{4,8})*\s*$
          description: Comma separated account range must be between 4 and 8 supported by an Issuer.
          example: 534403,518145,518152,5403,5424
        status:
          type: string
          minLength: 6
          maxLength: 9
          description: Status of an Issuer on the server. Possible values are Active and Suspended.
          example: ACTIVE
        privacyNoticeURL:
          type: string
          description: Privacy Notice URL.
          example: https://www.issuer.privacy-policy-url.html
        termsAndConditionURL:
          type: string
          description: Terms and conditions URL for the given user.
          example: https://www.issuer.term-and-conditions.html
        optOutURL:
          type: string
          description: Opt out URL for the given user.
          example: https://www.issuer.opt-out-url.html
        preferredTheme:
          $ref: '#/components/schemas/PreferredTheme'
    CountryName:
      type: string
      description: ISO 3166 country short name
      pattern: ^[a-zA-Z\s\\(\\),\\.]+$
      minLength: 3
      maxLength: 50
      example: Brazil
    UpdatedIssuerFraud:
      allOf:
      - $ref: '#/components/schemas/APIDataElement'
      - type: object
        required:
        - auditControlNumber
        properties:
          acquirerId:
            description: Acquirer identification number (ICA number) for the transaction.
            type: string
            minLength: 3
            maxLength: 7
            example: '5450'
          auditControlNumber:
            description: Unique number generated by FLD application and provided in the response message for a successful fraud record submission (FDA event). This is used as a reference to subsequently modify, delete or convert a suspended to a confirmed fraud record.
            type: string
            minLength: 15
            maxLength: 15
            example: '418142102142002'
          cardNumber:
            description: Cardholder account number used in the fraudulent transaction. Card number to be verified through Luhn's algorithm.
            type: string
            minLength: 12
            maxLength: 19
            example: '5505135664572870000'
          fraudTypeCode:
            description: Code identifying the reason the originator submitted the transaction as fraud in FLD. Please refer to [Table 1](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-1-fraud-type-codes) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '04'
          fraudSubTypeCode:
            description: Code to further identify the reason that the originator submitted the transaction as fraud in FLD. Please refer to [Table 2](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-2-fraud-sub-type-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: U
          cardProductCode:
            description: Value identifying the type of card used in the transaction. Please refer to [Card Type Codes table](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-2/) for possible values.
            type: string
            minLength: 3
            maxLength: 3
            example: MSI
          transactionDate:
            description: Local date at the merchant location when the transaction occurred. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210115'
          settlementDate:
            description: Settlement date of transaction reported. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210116'
          fraudPostedDate:
            description: Date on which the fraud is posted in FLD by the originator. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210120'
          cardholderReportedDate:
            description: Date on which the cardholder had reported the fraud. Format is 'YYYYMMDD'.
            type: string
            minLength: 8
            maxLength: 8
            pattern: ^\d{4}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])$
            example: '20210118'
          transactionAmount:
            description: Transaction amount at the merchant location (without any decimals).
            type: string
            minLength: 1
            maxLength: 12
            example: '10350'
          transactionCurrencyCode:
            description: Code defining the currency used for the transaction amount. The code should be part of the numeric ISO Standard Currency Codes list.
            type: string
            minLength: 3
            maxLength: 3
            example: '826'
          billingAmount:
            description: Amount appearing on the cardholder statement in the cardholder's billing currency (without any decimals).
            type: string
            minLength: 1
            maxLength: 12
            example: '10350'
          billingCurrencyCode:
            description: Code defining the currency used for the billing amount. The code should be part of the numeric ISO Standard Currency Codes list.
            type: string
            minLength: 3
            maxLength: 3
            example: '826'
          merchantId:
            description: Card acceptor / merchant's unique identification number, assigned by the Acquirer.
            type: string
            minLength: 1
            maxLength: 15
            example: A42E51982100100
          merchantName:
            description: Name of the card acceptor.
            type: string
            minLength: 1
            maxLength: 22
            example: BANKNEWPORT
          merchantCity:
            description: City in which the merchant is located.
            type: string
            minLength: 1
            maxLength: 13
            example: PHOENIX
          merchantStateProvinceCode:
            description: If the card acceptor / merchant is in the US, the state in which it is located.
            type: string
            minLength: 2
            maxLength: 3
            example: AZ
          merchantCountryCode:
            description: Indicates the country in which the merchant is located.
            type: string
            minLength: 3
            maxLength: 3
            example: USA
          merchantPostalCode:
            description: Postal code at the merchant location.
            type: string
            minLength: 1
            maxLength: 10
            example: '85001'
          merchantCategoryCode:
            description: Card acceptor business code / merchant category code.
            type: string
            minLength: 4
            maxLength: 4
            example: '6011'
          terminalAttendanceIndicator:
            description: Indicates if the card acceptor was attending the terminal at the time of transaction. Please refer to [Table 12](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-12-terminal-attendance-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          terminalId:
            description: Unique code identifying a terminal at the card acceptor (merchant) location.
            type: string
            minLength: 1
            maxLength: 8
            example: 5055D305
          terminalOperatingEnvironment:
            description: Indicates whether the card acceptor is attending the terminal and the location of the terminal. Please refer to [Table 13](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-13-terminal-operating-environment) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '4'
          cardholderPresenceIndicator:
            description: Indicates whether the cardholder is present at the point of service and explains the condition if the cardholder is not present. Please refer to [Table 6](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-6-cardholder-presence-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '5'
          cardPresenceIndicator:
            description: Indicates whether the card was present at the point of service. Please refer to [Table 7](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-7-card-present-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          cardInPossession:
            description: Flag to indicate if the card holder was in possession of the card at the time the fraud occurred. Possible values are 'Y', 'N' and 'U' (for Unknown).
            type: string
            minLength: 1
            maxLength: 1
            example: N
          catLevelIndicator:
            description: Indicates whether the cardholder activated the terminal with the use of the card and the CAT security level. Please refer to [Table 9](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-9-cardholder-activated-terminal-level-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          terminalCapabilityIndicator:
            description: Indicates the terminal capability for transferring the data on the card into the terminal. Please refer to [Table 14](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-14-terminal-input-capability-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '5'
          electronicCommerceIndicator:
            description: Indicates the security protocol and authentication of the transaction. Mandatory if CAT Level = 6. Please refer to [Table 10](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-10-electronic-commerce-security-level-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 2
            example: '24'
          posEntryMode:
            description: Indicates how the PAN was entered at the terminal. Please refer to [Table 8](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-8-pos-entry-mode) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '05'
          cvcInvalidIndicator:
            description: Indicates whether the CVC was valid when authorization was attempted. Please refer to [Table 15](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-15-card-validation-code-cvc-indicator) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: M
          avsResponseCode:
            description: The Address Verification Service response code in the Authorization Request Response. Please refer to [Table 4](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-4-avs-response-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: U
          authResponseCode:
            description: Indicates the result of the authorization request. Please refer to [Table 5](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-5-authorization-response-codes) for possible values.
            type: string
            minLength: 2
            maxLength: 2
            example: '01'
          secureCode:
            description: Indicates the type of security processing used for the PIN data. Mandatory if ecommerce indicator = 21 or 22. Please refer to [Table 11](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-11-secure-code) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '9'
          accountDeviceType:
            description: Indicates if the account uses a magnetic stripe, chip, pin, contactless or any combination thereof. Please refer to [Table 3](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-3-account-device-type-codes) for possible values.
            type: string
            minLength: 1
            maxLength: 1
            example: '1'
          transactionIndicator:
            description: Indicates whether the transaction was initiated by the cardholder or the merchant as well as providing more detail as to the type of stored credentials being used for the transaction. Please refer to [Table 17](https://developer.mastercard.com/fld-fraud-submission/documentation/parameters/annexure-1/#table-17-cardholder-merchant-initiated-transaction-indicator) for possible values.
            type: string
            minLength: 4
            maxLength: 4
            example: M101
          memo:
            description: Brief description by the originator providing some comment supporting the action.
            type: string
            minLength: 1
            maxLength: 1000
            example: This is a sample FDC complete request.
    CardNumber:
      type: string
      pattern: ^\d{16}$
      description: Original payment card number in full.
      example: '5344035171224363'
    Fraud:
      allOf:
      - $ref: '#/components/schemas/FraudBase'
      - type: object
        required:
        - responseCode
        - responseMessage
        properties:
          responseCode:
            description: Response code indicating success or failure of the transaction at an API level. Errors at a record level will be handled through 'errorDetails' element associated with each record.
            type: string
            minLength: 3
            maxLength: 3
            example: '000'
          responseMessage:
            description: Transaction response description corresponding to the response code.
            type: string
            minLength: 1
            maxLength: 100
            example: Success
          icaNumber:
            description: ICA number of the originator provided in the request API which is echoed back. This attribute will be absent if the request is not processed by FLD application.
            type: string
            minLength: 3
            maxLength: 7
            example: '1076'
          auditControlNumber:
            description: Unique number generated by FLD application and provided in the response message for a successful fraud record submission ('FDA' event). This is used as a reference in the request API to subsequently modify, delete or convert a suspended to a confirmed fraud record and is echoed back. This attribute will be absent if the request is not processed by FLD application.
            type: string
            minLength: 15
            maxLength: 15
            example: '418142102142002'
          duplicateAuditControlNumbers:
            description: List of existing Audit Control Number which matches the request submitted for Mastercard-built or Issuer-built. This attribute will appear in case of the records already present while trying to submit or update the existing record.
            type: array
            items:
              type: string
            minItems: 1
            maxItems: 5
            uniqueItems: true
          matchLevelIndicator:
            description: Indicates if it is a Mastercard-built or Issuer-built record. Possible values are 'M' for Mastercard built record and 'I' for Issuer built record. This attribute will be absent if the request is not processed by FLD application.
            type: string
            minLength: 1
            maxLength: 1
            example: M
          financialTransactionIndicator:
            description: Indicates if the fraud record is being submitted against a financial transaction (having a clearing record) or a declined auth transaction (without a clearing record). Possible values are 'APPROVED' for financial transactions (having a clearing record) and 'DECLINED' for declined auth transactions (without a clearing record). This attribute will be absent if the request is not processed by FLD application.
            type: string
            minLength: 1
            maxLength: 20
            example: DECLINED
          authorizationResponse:
            description: Provides the 'Auth Response Code' and 'Auth Response Code Description' combination if 'Financial Transaction Indicator' value is 'DECLINED'. This attribute will be absent for all other scenarios.
            type: string
            minLength: 1
            maxLength: 200
            example: 05 - Do not honor
          previousStatus:
            description: Previous status of the transaction in terms of an FDC, FDD and FDE event.
            type: string
            minLength: 1
            maxLength: 50
            example: CONFIRMED-REJECTED
          currentStatus:
            description: Current status of the transaction in terms of an FDA, FDC, FDD and FDE event.
            type: string
            minLength: 1
            maxLength: 50
            example: CONFIRMED-SUCCESS
          channel:
            description: Fraud request submission fld channel name.
            type: string
            minLength: 1
            maxLength: 50
            example: Online
          errorDetails:
            $ref: '#/components/schemas/ErrorWrapper_2'
    UpdateUserProfile:
      title: UpdateUserProfile
      type: object
      description: The request object for updating a enrolled user onto Carbon Calculator Experience platform.
      required:
      - name
      - locale
      properties:
        name:
          $ref: '#/components/schemas/UserName'
        billingAddress:
          $ref: '#/components/schemas/Address'
        locale:
          type: string
          description: Updating User locale which is registered with issuer.
          minLength: 1
          maxLength: 100
          example: en-US
    ErrorWrapper_2:
      description: Object containing the list of combination of error reason codes and their corresponding description (can provide up to 5 errors for a record). It will be absent if the request is processed by FLD application successfully.
      title: Error Response
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors_2'
    Lang:
      type: string
      description: Language for the issuer.
      example: en-US
    AggregateCarbonScore:
      type: object
      required:
      - carbonEmissionInGrams
      - aggregateDate
      properties:
        carbonEmissionInGrams:
          type: string
          description: An aggregate value of CO2 emission in grams.
          minLength: 1
          maxLength: 10
          example: '3245'
        aggregateDate:
          type: string
          description: Denotes aggregate duration.
          minLength: 1
          maxLength: 20
          example: november-2020
    ErrorWrapper:
      title: ErrorWrapper
      type: object
      description: The error response object gets returned in case of error.
      required:
      - Errors
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    IssuerProfileDetails:
      title: IssuerProfileDetails
      type: object
      description: Information about an Issuer as available on the server.
      required:
      - clientId
      - supportedAccountRange
      - status
      - email
      - currencyCode
      - countryCode
      - countryName
      - termsAndConditionURL
      - privacyNoticeURL
      - optOutURL
      - preferredTheme
      properties:
        clientId:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[\w\d\-\_]{1,200}
          description: Unique Issuer identifier from the Mastercard Developers.
          example: fjl2fxzsYl1OpvxkBItC9nVw1PSQc_b-eQMcmQFg011ab4b5
        customerId:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[\w\d]{1,200}
          description: Unique Issuer identifier assigned by Mastercard which remains the same across all Mastercard systems.
          example: customerid1
        supportedAccountRange:
          type: string
          pattern: ^[0-9]{4,8}(,[0-9]{4,8})*$
          description: Comma separated account range must be between 4 and 8 supported by an Issuer.
          example: 534403,518145,518152,5403,5424
        status:
          type: string
          minLength: 6
          maxLength: 9
          description: Status of an Issuer on the server. Possible values are Active and Suspended.
          example: ACTIVE
        email:
          type: string
          minLength: 1
          maxLength: 100
          description: Issuers email address
          example: xyz@abc.com
        currencyCode:
          $ref: '#/components/schemas/CurrencyCode'
        countryCode:
          title: countryCode
          type: string
          description: DE 19 (Acquiring Institution Country Code) is the code of the country where the acquiring institution is located.
          maxLength: 3
          minLength: 3
          example: USA
        countryName:
          $ref: '#/components/schemas/CountryName'
        privacyNoticeURL:
          type: string
          description: Privacy Notice URL.
          example: https://www.issuer.privacy-policy-url.html
        termsAndConditionURL:
          type: string
          description: Terms and conditions URL for the given user.
          example: https://www.issuer.term-and-conditions.html
        optOutURL:
          type: string
          description: OPT out URL for the given user.
          example: https://www.issuer.opt-out-url.html
        preferredTheme:
          $ref: '#/components/schemas/PreferredTheme'
    UserProfile:
      title: UserProfile
      type: object
      description: The request object for enrolling a new user to Carbon Calculator Experience API.
      required:
      - cardNumber
      - email
      - expiryInfo
      - cardBaseCurrency
      - cardholderName
      properties:
        email:
          $ref: '#/components/schemas/Email'
        name:
          $ref: '#/components/schemas/UserName'
        cardholderName:
          type: string
          description: Name of the card-holder. (format- First Name Last Name)
          minLength: 1
          maxLength: 100
          example: John Doe
        cardNumber:
          $ref: '#/components/schemas/CardNumber'
        cardBaseCurrency:
          $ref: '#/components/schemas/CurrencyCode'
        expiryInfo:
          $ref: '#/components/schemas/CardExpiry'
        billingAddress:
          $ref: '#/components/schemas/Address'
        locale:
          type: string
          description: User locale which is registered with Issuer.
          minLength: 1
          maxLength: 100
          example: en-US
    Email:
      type: object
      properties:
        type:
          type: string
          description: Denotes the  type of email (For example, home)
          minLength: 1
          maxLength: 10
          example: home
        value:
          type: string
          description: Denotes email address.
          minLength: 5
          maxLength: 100
          example: John.Doe@mail.com
      title: Email
    CfcIndicator:
      description: Flag to indicate a single or dual message transaction. Possible values are - - 'ARN' for Acquirer Reference Number - 'BRN' for Banknet Reference Number - 'TRC' for Trace ID - 'SER' for Serial ID
      type: string
      enum:
      - ARN
      - BRN
      - TRC
      - SER
    Dashboard:
      type: object
      required:
      - url
      - expiryInMillis
      properties:
        url:
          type: string
          description: This is the URL that needs to be rendered in web view with language code send by the issuer appended at the end of the URL.
          minLength: 1
          maxLength: 5000
          example: https://ppctwebview.b221.net/home/?auth_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c&lang=en-US
        expiryInMillis:
          type: string
          description: Denotes expiry limit for the URL.
          minLength: 1
          maxLength: 10
          example: '300000'
    Error:
      title: Error
      type: object
      description: Error object which contains details about a single error.
      required:
      - Source
      - ReasonCode
      - Description
      - Recoverable
      properties:
        Source:
          type: string
          description: The application name that generated this error. If an error is generated and returned by the gateway, then this field will have value as `Gateway`. Other possible values are `CARBON CALCULATOR`, `DONATE`, `CARBON_CALCULATOR_EXPERIENCE` or `PRICELESS PLANET`.
          minLength: 1
          maxLength: 100
          example: CARBON_CALCULATOR_EXPERIENCE
        ReasonCode:
          type: string
          description: A unique constant identifying the error case encountered during request processing.
          minLength: 1
          maxLength: 100
          example: INVALID_REQUEST_PARAMETER
        Description:
          type: string
          description: Short description of the `ReasonCode` field.
          minLength: 10
          maxLength: 1000
          example: One of the request parameters is invalid, try again with correct request.
        Recoverable:
          type: boolean
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome.
          example: false
        Details:
          type: string
          description: (Optional) Where appropriate, indicates detailed information about data received and calculated during the request processing, to help the user with diagnosing errors.
          minLength: 0
          maxLength: 5000
          example: email must not be null.
  responses:
    UnauthorizedError:
      description: Unauthorized request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper_2'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    UpdateUserUnauthorisedError:
      description: This response code is returned for unauthorized Issuer and User.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
            UpdateUserNotAccessible:
              $ref: '#/components/examples/UpdateUserNotAccessible'
    UserEnrolmentUnauthorisedError:
      description: This response code is returned for unauthorized Issuer.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    DeleteUserNotFoundError:
      description: This response code is returned when a user or Issuer is not present.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerNotFoundError:
              $ref: '#/components/examples/IssuerNotFoundError'
    UserEnrolmentBadRequestError:
      description: This response code is returned when a request is invalid or data in the request is not valid or a card user is already registered on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            BadRequestError:
              $ref: '#/components/examples/BadRequestError'
            InvalidNameError:
              $ref: '#/components/examples/InvalidUserNameError'
            InvalidFirstNameError:
              $ref: '#/components/examples/InvalidUserNameError'
            InvalidLastNameError:
              $ref: '#/components/examples/InvalidUserNameError'
            InvalidCardHolderNameError:
              $ref: '#/components/examples/InvalidCardHolderNameError'
            EncryptedDataLengthError:
              $ref: '#/components/examples/EncryptedDataLengthError'
            RequestDecryptionError:
              $ref: '#/components/examples/RequestDecryptionError'
    FraudIssuerAdditionException:
      description: Exception occurred while Fraud submission.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Fraud'
          examples:
            FraudAdditionRejectExample:
              $ref: '#/components/examples/FraudAdditionRejectExample'
            FraudAdditionSuspendExample:
              $ref: '#/components/examples/FraudIssuerAdditionSuspendExample'
    UpdateUserReference:
      description: The response object that contains userID and Payment Card information after successful updation of users personal information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserReference'
    UnsupportedMediaTypeError:
      description: This response code is returned when the MediaType in the request is other than application/json format.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UnsupportedMediaTypeError:
              $ref: '#/components/examples/UnsupportedMediaTypeError'
    UserIDs:
      description: The response object contains a list of deleted user IDs
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserID'
          examples:
            DeletedUserIds:
              $ref: '#/components/examples/UserIDs'
    AggregateCarbonScoreNotFoundError:
      description: This response code is returned when a user or Issuer is not present.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UserNotFoundError:
              $ref: '#/components/examples/UserNotFoundError'
            IssuerNotFoundError:
              $ref: '#/components/examples/IssuerNotFoundError'
    FraudIssuerDataChanged:
      description: Fraud data changed successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Fraud'
          examples:
            FraudDataChanged:
              $ref: '#/components/examples/FraudIssuerDataChanged'
            FraudDataChangedError:
              $ref: '#/components/examples/FraudDataChangedError'
    BadRequestError:
      description: Something was wrong with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper_2'
          examples:
            BadRequestRefIdMissing:
              $ref: '#/components/examples/BadRequestRefIdMissing'
    UpdateIssuerBadRequestError:
      description: This response code is returned when either a request is invalid or data provided in the request is in invalid format.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerEmptyRequestBodyError:
              $ref: '#/components/examples/IssuerEmptyRequestBodyError'
            IssuerInvalidAccountRangeLengthError:
              $ref: '#/components/examples/IssuerInvalidAccountRangeLengthError'
            IssuerInvalidHexCodeError:
              $ref: '#/components/examples/IssuerInvalidHexCodeError'
            IssuerInvalidFontFormatError:
              $ref: '#/components/examples/IssuerInvalidFontFormatError'
            IssuerNullFontError:
              $ref: '#/components/examples/IssuerNullFontError'
    Dashboard:
      description: The response object after decryption contains a short-lived URL along with an authentication token and its expiry time.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Dashboard'
    DeleteUserBadRequestError:
      description: This response code is returned when a request is invalid or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UserCountError:
              $ref: '#/components/examples/UserCountError'
            InvalidUserIdLengthError:
              $ref: '#/components/examples/InvalidUserIdLengthError'
    DashboardsUnauthorisedError:
      description: This response code is returned when a user and the Issuer are unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            UserInactiveError:
              $ref: '#/components/examples/UserInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            UserTerminatedError:
              $ref: '#/components/examples/UserTerminatedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    IssuerProfileDetails:
      description: The response object contains the latest information of an Issuer as available on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssuerProfileDetails'
          examples:
            IssuerDetails:
              $ref: '#/components/examples/IssuerDetails'
    UpdateIssuerUnauthorisedError:
      description: This response code is returned for unauthorized Issuer.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    DashboardBadRequestError:
      description: This response code is returned when a request is invalid or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            InvalidUserIdError:
              $ref: '#/components/examples/InvalidUserIdError'
    AggregateCarbonScore:
      description: The response object contains an aggregation of carbon footprint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AggregateCarbonScore'
          examples:
            AggregateCarbonScores:
              $ref: '#/components/examples/AggregateCarbonScore'
    IssuerUnauthorisedError:
      description: This response code is returned when a user and the Issuer are unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    DeleteUserUnauthorisedError:
      description: This response code is returned when a user is terminated or inactive.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    RateLimitExceededError:
      description: Too Many Requests.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper_2'
          examples:
            RateLimitExceededExample:
              $ref: '#/components/examples/RateLimitExceededExample'
    ForbiddenError:
      description: Consent not given.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper_2'
          examples:
            ForbiddenExample:
              $ref: '#/components/examples/ForbiddenExample'
    IssuerProfile:
      description: The response object that contains the latest information of an Issuer as available on the server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssuerProfile'
          examples:
            UpdateIssuerDetails:
              $ref: '#/components/examples/UpdateIssuerDetails'
    FraudIssuerAddition:
      description: Fraud submitted successfully.
      headers:
        Location:
          schema:
            type: string
          description: Refers to the created resource location.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Fraud'
          examples:
            FraudAdditionExample:
              $ref: '#/components/examples/FraudIssuerAdditionExample'
    AggregateCarbonScoreBadRequestError:
      description: This response code is returned when a request is invalid or data in the request is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            InvalidUserIdError:
              $ref: '#/components/examples/InvalidUserIdError'
    AggregateCarbonScoreUnauthorisedError:
      description: This response code is returned when a user is terminated or inactive.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerInactiveError:
              $ref: '#/components/examples/IssuerInactiveError'
            UserInactiveError:
              $ref: '#/components/examples/UserInactiveError'
            UserTerminatedError:
              $ref: '#/components/examples/UserTerminatedError'
            IssuerSuspendedError:
              $ref: '#/components/examples/IssuerSuspendedError'
            IssuerTerminatedError:
              $ref: '#/components/examples/IssuerTerminatedError'
    DashboardNotFoundError:
      description: This response code is returned when a user or Issuer is not present.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            UserNotFoundError:
              $ref: '#/components/examples/UserNotFoundError'
            IssuerNotFoundError:
              $ref: '#/components/examples/IssuerNotFoundError'
    IssuerNotFoundError:
      description: This response code is returned when the server cannot find the account which has been used to call the API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorWrapper'
          examples:
            IssuerNotFoundError:
              $ref: '#/components/examples/IssuerNotFoundError'
    UserReference:
      description: The response object contains Payment Card information after a successful registration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserReference'
  examples:
    IssuerInactiveError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_INACTIVE
            Description: Your account is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
            Recoverable: false
            Details: Your account is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
    FraudAdditionRejectExample:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:40-06:00'
        responseCode: '100'
        responseMessage: Failure
        errorDetails:
          Errors:
            Error:
            - ReasonCode: '60004'
              Description: 'CardNumber attribute value length not in range. Minimum Length:12 and Maximum Length: 19.'
    RateLimitExceededExample:
      value:
        Errors:
          Error:
          - Source: fld
            ReasonCode: RATE_LIMIT_EXCEEDED
            Description: You have exceeded the service rate limit. Maximum allowed 10 TPS.
            Recoverable: true
            details: null
    IssuerNotFoundError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: SERVICE_PROVIDER_NOT_FOUND
            Description: Service provider clientId is not Identified
            Recoverable: false
            Details: Client not found.
    UserTerminatedError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: USER_TERMINATE_IN_PROGRESS
            Description: User termination is in progress, kindly contact your Mastercard associate to activate it again. Until then you won't be able to access any service.
            Recoverable: false
            Details: 'User termination is in progress, kindly contact your Mastercard associate to activate it again. Until then you won''t be able to access any service. '
    UserCountError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: true
            Details: Request body should have at least 1 or not more than 500 userIds
    IssuerEmptyRequestBodyError:
      value:
        Errors:
          Error:
          - Source: Carbon-Calculator
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: Required request body is missing
    BadRequestError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: 'Email must be in the format: xyz@mail.com'
    ForbiddenExample:
      value:
        Errors:
          Error:
          - Source: fld
            ReasonCode: CONSENT_NOT_GIVEN
            Description: User Consent Not Given
            Recoverable: false
    FraudIssuerAdditionSuspendExample:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:40-06:00'
        responseCode: '201'
        responseMessage: Failure
        icaNumber: '1076'
        auditControlNumber: '123111111000025'
        matchLevelIndicator: I
        currentStatus: CONFIRMED-SUSPENDED
        duplicateAuditControlNumbers:
        - 000222520077829
        - 000222520077830
        - 000222520077831
        - 000222520077832
        - 000222520077833
        errorDetails:
          Errors:
            Error:
            - ReasonCode: '30100'
              Description: Potential Duplicate Data Found, Record is suspended.
    InvalidUserIdError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: UserId should be of size 36
    AggregateCarbonScore:
      value:
        carbonEmissionInGrams: '32.45'
        aggregateDate: november-2020
    BadRequestRefIdMissing:
      value:
        Errors:
          Error:
          - Source: fld
            ReasonCode: VALIDATION_ERROR
            Description: Reference Id is not provided
            Recoverable: false
    InvalidUserNameError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: Username must only contain alphanumeric (A-Z, a-z, 0-9) and the characters ('), (,) and (')
    IssuerInvalidAccountRangeLengthError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: Each value in supportedAccountRange must be numeric and size should be between 4 and 8
    IssuerNullFontError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: The font type in request cannot be null.
    FraudIssuerDataChanged:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:40-06:00'
        responseCode: '000'
        responseMessage: Success
        icaNumber: '1076'
        auditControlNumber: '123111111000025'
        previousStatus: CONFIRMED-REJECTED
        currentStatus: CONFIRMED-SUCCESS
        matchLevelIndicator: I
        financialTransactionIndicator: APPROVED
    UserInactiveError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: USER_INACTIVE
            Description: The user is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
            Recoverable: false
            Details: The user is inactive, kindly contact your Mastercard associate to activate it. Until then you won't be able to access any service.
    InvalidCardHolderNameError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: CardholderName must only contain alphanumeric (A-Z, a-z, 0-9), whitespace, and the characters ('), (,) and (')
    IssuerInvalidHexCodeError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: The hex code supplied for color preference is invalid
    IssuerDetails:
      value:
        clientId: fjl2fxzsYl1OpvxkBItC9nVw1PSQc_b-eQMcmQFg011ab4b5
        customerId: '45678'
        issuerName: ABC Bank
        supportedAccountRange: 534403,518145,518152,5403,5424
        status: ACTIVE
        email: xyz@abc.com
        currencyCode: USD
        countryCode: USA
        countryName: United States of America
        termsAndConditionURL: https://www.issuer.term-and-conditions.html
        privacyNoticeURL: https://www.issuer.privacy-policy-url.html
        optOutURL: https://www.issuer.opt-out-url.html
        preferredTheme:
          backgroundColor: '#FFFFFF'
          widgetBackgroundColor: '#FFFFFF'
          fontColor: '#000000'
          barGraphColor: '#111111'
          buttonColor: '#999999'
          buttonTextColor: '#FFFFFF'
          titleFontType: Mark Offc For MC
          titleFontSize: 28px
          subTitleFontType: Mark Offc For MC
          subTitleFontSize: 20px
          paragraphFontType: Mark Offc For MC
          paragraphFontSize: 15px
          buttonTextFontType: Mark Offc For MC
          buttonTextFontSize: 15px
          linkFontType: Mark Offc For MC
          linkFontSize: 15px
    IssuerInvalidFontFormatError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: The font size should be in pixel format. For example, 15px.
    UserIDs:
      value:
      - 4ba581a55-bcea-4c3e-8e0f-9b4726e5e6d3
      - c5d88571-ac15-465a-a0d8-1ad1327b9a06
    UpdateIssuerDetails:
      value:
        clientId: fjl2fxzsYl1OpvxkBItC9nVw1PSQc_b-eQMcmQFg011ab4b5
        customerId: '12345'
        supportedAccountRange: 534403,518145,518152,5403,5424
        status: ACTIVE
        termsAndConditionURL: https://www.issuer.term-and-conditions.html
        privacyNoticeURL: https://www.issuer.privacy-policy-url.html
        optOutURL: https://www.issuer.opt-out-url.html
        preferredTheme:
          backgroundColor: '#FFFFFF'
          widgetBackgroundColor: '#FFFFFF'
          fontColor: '#000000'
          barGraphColor: '#111111'
          buttonColor: '#999999'
          buttonTextColor: '#FFFFFF'
          titleFontType: Mark Offc For MC
          titleFontSize: 28px
          subTitleFontType: Mark Offc For MC
          subTitleFontSize: 20px
          paragraphFontType: Mark Offc For MC
          paragraphFontSize: 15px
          buttonTextFontType: Mark Offc For MC
          buttonTextFontSize: 15px
          linkFontType: Mark Offc For MC
          linkFontSize: 15px
    InvalidUserIdLengthError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: userId must match "^[0-9A-Fa-f\-]{36}"
    EncryptedDataLengthError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: INVALID_REQUEST_PARAMETER
            Description: One of the request parameters is invalid, try again with correct request.
            Recoverable: false
            Details: encryptedData size must be between 128 and 54000
    UnauthorizedExample:
      value:
        Errors:
          Error:
          - Source: fld
            ReasonCode: UNAUTHORIZED_REQUEST
            Description: Unauthorized request
            Recoverable: false
    IssuerFraudExample:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:37-06:00'
        icaNumber: '1076'
        transactionIdentifiers:
        - cfcKey: ARN
          cfcValue: 01111114320000000032087
        - cfcKey: BRN
          cfcValue: 543REF
        cardNumber: '5587450000000008074'
        acquirerId: '2742'
        fraudTypeCode: '01'
        fraudSubTypeCode: U
        cardProductCode: CIR
        transactionDate: '20200215'
        settlementDate: '20200216'
        fraudPostedDate: '20210316'
        cardholderReportedDate: '20210314'
        transactionAmount: '56823'
        transactionCurrencyCode: '840'
        billingAmount: '56823'
        billingCurrencyCode: '840'
        merchantId: '6698696'
        merchantName: BANKNEWPORT
        merchantCity: Phoenix
        merchantStateProvinceCode: AZ
        merchantCountryCode: USA
        merchantPostalCode: '85001'
        merchantCategoryCode: '6011'
        terminalAttendanceIndicator: '0'
        terminalId: 5055D305
        terminalOperatingEnvironment: '1'
        cardholderPresenceIndicator: '0'
        cardPresenceIndicator: '1'
        cardInPossession: Y
        catLevelIndicator: '2'
        terminalCapabilityIndicator: '0'
        posEntryMode: '00'
        cvcInvalidIndicator: M
        avsResponseCode: U
        authResponseCode: '00'
        secureCode: '9'
        accountDeviceType: A
        transactionIndicator: M101
        memo: This is a sample FDA complete request.
        issuerSCAExemption: 09
    RequestDecryptionError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: CRYPTO_ERROR
            Description: We are unable to decipher your request, kindly verify your request before trying again. If the problem persists then reach out to your Mastercard associate.
            Recoverable: false
            Details: ''
    FraudDataChangedError:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:40-06:00'
        responseCode: '100'
        responseMessage: Failure
        errorDetails:
          Errors:
            Error:
            - ReasonCode: '60003'
              Description: icaNumber incorrect datatype of attribute value.
    UserNotFoundError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: USER_NOT_FOUND
            Description: We cannot find user details for provided userId. Kindly register the user through the enrollment process.
            Recoverable: false
            Details: Make sure the user is enrolled through /issuers/users API endpoint.
    IssuerTerminatedError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_TERMINATED
            Description: Your account has been terminated, you won't be able to access any service. Kindly register yourself again.
            Recoverable: false
            Details: Your account has been terminated, you won't be able to access any service. Kindly register yourself again.
    FraudIssuerChangeExample:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:37-06:00'
        icaNumber: '1076'
        auditControlNumber: '123111111000025'
        acquirerId: '2742'
        cardNumber: '5587450000000008074'
        fraudTypeCode: '01'
        fraudSubTypeCode: U
        cardProductCode: CIR
        transactionDate: '20200215'
        settlementDate: '20200216'
        fraudPostedDate: '20210316'
        cardholderReportedDate: '20210314'
        transactionAmount: '56823'
        transactionCurrencyCode: '840'
        billingAmount: '56823'
        billingCurrencyCode: '840'
        merchantId: '6698696'
        merchantName: BANKNEWPORT
        merchantCity: Phoenix
        merchantStateProvinceCode: AZ
        merchantCountryCode: USA
        merchantPostalCode: '85001'
        merchantCategoryCode: '6011'
        terminalAttendanceIndicator: '0'
        terminalId: 5055D305
        terminalOperatingEnvironment: '1'
        cardholderPresenceIndicator: '0'
        cardPresenceIndicator: '1'
        cardInPossession: Y
        catLevelIndicator: '2'
        terminalCapabilityIndicator: '0'
        posEntryMode: '00'
        cvcInvalidIndicator: M
        avsResponseCode: U
        authResponseCode: '00'
        secureCode: '9'
        accountDeviceType: A
        transactionIndicator: M205
        memo: This is a sample FDC complete request.
        issuerSCAExemption: 09
    FraudIssuerAdditionExample:
      value:
        refId: ecb2d942-eabd-42b6-87fd-69c19692bdc6
        timestamp: '2021-03-16T20:34:40-06:00'
        responseCode: '000'
        responseMessage: Success
        icaNumber: '1076'
        auditControlNumber: '123111111000025'
        currentStatus: CONFIRMED-SUCCESS
        matchLevelIndicator: I
        financialTransactionIndicator: APPROVED
    UnsupportedMediaTypeError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: UNSUPPORTED_MEDIA_TYPE
            Description: The requested media type is not supported, try again with supported media type.
            Recoverable: false
            Details: ''
    IssuerSuspendedError:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: ACCOUNT_SUSPENDED
            Description: Your account has been suspended temporarily, kindly contact your Mastercard associate to activate it again. Until then you won't be able to access any service.
            Recoverable: false
            Details: Your account has been suspended temporarily, kindly contact your Mastercard associate to activate it again. Until then you won't be able to access any service.
    UpdateUserNotAccessible:
      value:
        Errors:
          Error:
          - Source: CARBON CALCULATOR EXPERIENCE
            ReasonCode: UPDATE_USER_NOT_ACCESSIBLE
            Description: You do not have permission to access this API. The Donate feature for your bank is disabled.
            Recoverable: false
            Details: You do not have permission to access this API. The Donate feature for your bank is disabled.
  parameters:
    Lang:
      in: query
      name: lang
      description: Language preference (en-US - English, es-cr - Spanish (Costa Rica), es-cl - Spanish (Chile), sv - Swedish, pl-PL - Polish (Poland))
      required: false
      example: en-US
      schema:
        $ref: '#/components/schemas/Lang'
    UserID:
      in: path
      name: userid
      description: Unique identifier for a user enrolled into Carbon Calculator Experience platform.
      required: true
      example: f5d88571-ac15-465a-a0d8-1ad1327b9a06
      schema:
        $ref: '#/components/schemas/UserID'
  requestBodies:
    FraudIssuerRequest:
      description: Add a new fraud record using complete input parameters for both Mastercard and Issuer built transactions. This endpoint uses [payload encryption](https://developer.mastercard.com/platform/documentation/security-and-authentication/securing-sensitive-data-using-payload-encryption/). Please refer to the [reference application](https://developer.mastercard.com/fld-fraud-submission/documentation/api-reference/) page for implementation details.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssuerFraud'
          examples:
            IssuerFraudExample:
              $ref: '#/components/examples/IssuerFraudExample'
    IssuerConfiguration:
      description: Configuration details for Issuer which need to be updated. It should contain only those parameters which you want to update.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IssuerConfiguration'
    UpdateUserProfile:
      description: The request object for updating a enrolled user onto Carbon Calculator Experience platform. This endpoint uses the Mastercard payload encryption. Refer to the **[Payload Encryption](https://developer.mastercard.com/platform/documentation/security-and-authentication/securing-sensitive-data-using-payload-encryption/#mastercard-encryption)** page for implementation details.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateUserProfile'
    UserProfile:
      description: User's Personal and Card information needs to be registered to the Carbon Calculator Experience API.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserProfile'
    UserIDs:
      description: List of user ids
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UserID'
            minItems: 1
            maxItems: 500
          examples:
            UserIDs:
              $ref: '#/components/examples/UserIDs'
    FraudIssuerRequestChange:
      description: Change an existing fraud record using complete input parameters for both Mastercard and Issuer built transactions. [Mastercard payload encryption](https://developer.mastercard.com/platform/documentation/security-and-authentication/securing-sensitive-data-using-payload-encryption/). Please refer to the [reference application](https://developer.mastercard.com/fld-fraud-submission/documentation/api-reference/) page for implementation details.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatedIssuerFraud'
          examples:
            FraudIssuerChangeExample:
              $ref: '#/components/examples/FraudIssuerChangeExample'
