openapi: 3.2.0
info:
  title: Mastercard Categories API
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: https://developer.mastercard.com/support
  version: '1.0'
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: mastercard-doconomy-aland-index-openapi.yml, mastercard-merchant-locations-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.api.mastercard.com/doconomy
  description: Sandbox
- url: https://api.mastercard.com/doconomy
  description: Production
- url: https://api.mastercard.com/locations/merchants
  description: Production server
- url: https://sandbox.api.mastercard.com/locations/merchants
  description: Sandbox server
tags:
- name: Categories
paths:
  /supported-merchant-categories:
    get:
      tags:
      - Categories
      summary: Mastercard Provide Supported Mccs
      description: This service provides list of merchant category codes supported by the application. While sending a transaction data in Transaction object, 'mcc' should be from one of the supported merchant categories. It is recommended to cache this list and use it for checking before sending transactions for footprint calculation.<br><br>Generally this list doesn't change that often but it is recommended to refresh this data every 24-hours.
      operationId: GetSupportedMerchantCategories
      responses:
        '200':
          $ref: '#/components/responses/MCSupportedMerchantCategories'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://sandbox.api.mastercard.com/doconomy
      description: Sandbox
    - url: https://api.mastercard.com/doconomy
      description: Production
  /categories:
    get:
      tags:
      - Categories
      summary: Mastercard Get a List of Merchant Categories
      description: Returns a list of merchant categories
      operationId: getMerchantCategories
      responses:
        '200':
          $ref: '#/components/responses/Categories'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.mastercard.com/locations/merchants
      description: Production server
    - url: https://sandbox.api.mastercard.com/locations/merchants
      description: Sandbox server
components:
  responses:
    MCSupportedMerchantCategories:
      description: This response code is returned when a request is accepted and successfuly processed. A corresponding response will be returned for the API caller.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCSupportedMerchantCategories'
          examples:
            MCSupportedMerchantCategories:
              $ref: '#/components/examples/MCSupportedMerchantCategories'
    ForbiddenError:
      description: Insufficient permissions for interacting with the resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: PERMISSION_DENIED
                Description: You don't seem authorized to do that
                Recoverable: false
                Details: Reading merchant information requires read-only permissions
    Categories:
      description: List of Merchant Categories
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Categories'
    UnauthorizedError:
      description: Authentication information was missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            Errors:
            - Error:
                Source: locations-merchants-api
                ReasonCode: UNAUTHORIZED
                Description: We couldn't recognize you
                Recoverable: false
                Details: Full authentication is required to access this resource
  schemas:
    MCMerchantCategory:
      title: MerchantCategory
      type: object
      description: This object represents one merchant category information.
      required:
      - mcc
      properties:
        mcc:
          type: string
          maxLength: 4
          minLength: 1
          pattern: ^\d{1,4}
          description: Merchant category code of a payment transaction that uniquely defines a merchant business.
          example: 3997
    MCSupportedMerchantCategories:
      title: SupportedMerchantCategories
      type: object
      description: The response object that contains a list of supported merchant categories.
      required:
      - merchantCategories
      properties:
        merchantCategories:
          minItems: 1
          maxItems: 5000
          type: array
          items:
            $ref: '#/components/schemas/MCMerchantCategory'
          example: []
    Error:
      description: Details of the error condition such as the source of the error, reason code for the error, if the error is recoverable, and details about the error
      required:
      - Description
      - ReasonCode
      - Recoverable
      - Source
      type: object
      properties:
        Source:
          description: The application that generated this error
          type: string
          minLength: 0
          maxLength: 150
          example: latitude
        ReasonCode:
          description: A unique constant identifying the error case encountered during transaction processing
          type: string
          minLength: 0
          maxLength: 150
          example: INVALID_INPUT_VALUE
        Description:
          description: Short description of the ReasonCode field
          type: string
          minLength: 0
          maxLength: 150
          example: Latitude is missing, invalid, or could not be determined from address fields.
        Recoverable:
          description: Indicates whether this error will always be returned for this request, or retrying could change the outcome
          type: boolean
          example: 'false'
        Details:
          description: Description of the issue
          example: Latitude is missing, invalid, or could not be determined from address fields.
          type:
          - string
          - 'null'
          minLength: 0
          maxLength: 150
    ErrorResponse:
      description: Only returned in the event of an error condition
      required:
      - Errors
      type: object
      properties:
        Errors:
          $ref: '#/components/schemas/Errors'
    Errors:
      description: Only returned in the event of an error condition
      required:
      - Error
      type: object
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: An error object
          example:
          - Error:
              Source: latitude
              ReasonCode: INVALID_INPUT_VALUE
              Description: Latitude is missing, invalid, or could not be determined from address fields.
              Recoverable: false
              Details: null
      example:
        Errors:
        - Error:
            Source: latitude
            ReasonCode: INVALID_INPUT_VALUE
            Description: Latitude is missing, invalid, or could not be determined from address fields.
            Recoverable: false
            Details: null
    Categories:
      description: List of merchant categories
      type: object
      properties:
        categories:
          type: array
          description: categories
          items:
            $ref: '#/components/schemas/Category'
          example:
          - categoryName: Apparel
            categoryId: 1
    Category:
      description: Merchant Category Name and id
      type: object
      properties:
        categoryId:
          type: string
          minLength: 1
          maxLength: 2
          description: ' The Merchant Category Id'
          example: '1'
        categoryName:
          type: string
          description: Name of the category
          example: Apparel
      example:
        Category:
          categoryName: Apparel
          categoryId: '1'
  examples:
    MCSupportedMerchantCategories:
      value:
        merchantCategories:
        - mcc: 3860
        - mcc: 3861
        - mcc: 3620
        - mcc: 3862
        - mcc: 3621
        - mcc: 3863
        - mcc: 5800
externalDocs:
  description: ISO 4217 - Currency Code
  url: https://en.wikipedia.org/wiki/ISO_4217
x-refined-from:
- mastercard-doconomy-aland-index-openapi.yml
- mastercard-merchant-locations-openapi.yml
